Packs/soc-framework-nist-ir/Playbooks/SOC_Recovery_V3.yml
adopted: true
fromversion: 5.0.0
id: SOC Recovery_V3
version: 11
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework Unified
    itemVersion: 3.1.4
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Recovery_V3
description: 'Remove the root cause of the alert, eliminate the attacker’s foothold, and ensure no additional malicious components
  remain in the environment.


  What this phase includes:


  Identifying and removing malware, malicious code, unauthorized user accounts, persistence mechanisms, and compromised artifacts.


  Disabling or removing compromised services, processes, or software.


  Applying patches, hotfixes, configuration changes, or control improvements that eliminate the vulnerability or weakness
  exploited.


  Hardening systems to prevent reinfection (e.g., secure configuration, MFA enforcement, disabling unnecessary services).


  Validating that no traces of the attacker’s presence remain (malware scans, script-based checks, log analysis).


  Outcome:

  The environment is clean, the attack vector is neutralized, and systems are prepared for restoration and safe reintroduction
  into production.'
tags:
- SOC
- SOC_Framework_Unified
- NIST 800-61
- Recovery
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
    type: start
    task:
      id: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '40'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1287.5,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: f5595193-56e9-4d58-9d66-89dd87158953
    type: playbook
    task:
      id: f5595193-56e9-4d58-9d66-89dd87158953
      version: -1
      name: SOC Data Recovery_V3
      description: 'Primary owners: IT Ops, IR leads.


        Analyst role: Verify that systems are restored, monitor for recurrence, and close out alert documentation.'
      playbookName: SOC Data Recovery_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments: {}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 950,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: 79235290-0e3c-41ff-a6b9-8be6c3ca5e03
    type: playbook
    task:
      id: 79235290-0e3c-41ff-a6b9-8be6c3ca5e03
      version: -1
      name: SOC Email Recovery_V3
      description: 'Primary owners: IT Ops, IR leads.


        Analyst role: Verify that systems are restored, monitor for recurrence, and close out alert documentation.'
      playbookName: SOC Email Recovery_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments:
      EradicationAttempted:
        simple: ${Eradication.attempted}
      EradicationSuccess:
        simple: ${Eradication.success}
      Verdict:
        simple: ${Analysis.Email.verdict}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: 11a4f94c-6a34-4ea2-a690-e3adefc9b73e
    type: playbook
    task:
      id: 11a4f94c-6a34-4ea2-a690-e3adefc9b73e
      version: -1
      name: SOC EndPoint Recovery_V3
      description: 'Primary owners: IT Ops, IR leads.


        Analyst role: Verify that systems are restored, monitor for recurrence, and close out alert documentation.'
      playbookName: SOC EndPoint Recovery_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments:
      compromise_decision:
        simple: ${Analysis.compromise_decision}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 686c3503-0f53-4454-9e5e-40f4cd42bcc6
    type: playbook
    task:
      id: 686c3503-0f53-4454-9e5e-40f4cd42bcc6
      version: -1
      name: SOC Identity Recovery_V3
      description: 'Primary owners: IT Ops, IR leads.


        Analyst role: Verify that systems are restored, monitor for recurrence, and close out alert documentation.'
      playbookName: SOC Identity Recovery_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments: {}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 1400,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: f9d3b7ce-cd00-4df3-b496-b56abd99f041
    type: playbook
    task:
      id: f9d3b7ce-cd00-4df3-b496-b56abd99f041
      version: -1
      name: SOC Network Recovery_V3
      description: 'Primary owners: IT Ops, IR leads.


        Analyst role: Verify that systems are restored, monitor for recurrence, and close out alert documentation.'
      playbookName: SOC Network Recovery_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments: {}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 1850,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: 94dd94bc-c494-42b1-9249-416231394a53
    type: playbook
    task:
      id: 94dd94bc-c494-42b1-9249-416231394a53
      version: -1
      name: SOC SaaS Recovery_V3
      description: 'Primary owners: IT Ops, IR leads.


        Analyst role: Verify that systems are restored, monitor for recurrence, and close out alert documentation.'
      playbookName: SOC SaaS Recovery_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments: {}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 2300,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: 0fc96bf1-ac4c-43ef-9b4e-751e3d404ce0
    type: playbook
    task:
      id: 0fc96bf1-ac4c-43ef-9b4e-751e3d404ce0
      version: -1
      name: SOC Workload Recovery_V3
      description: 'Primary owners: IT Ops, IR leads.


        Analyst role: Verify that systems are restored, monitor for recurrence, and close out alert documentation.'
      playbookName: SOC Workload Recovery_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments: {}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 2750,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '8':
    id: '8'
    taskid: 8c548e35-c05e-416f-8320-1e18de46e19e
    type: title
    task:
      id: 8c548e35-c05e-416f-8320-1e18de46e19e
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1400,\n    \"y\": 775\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: 5a8ef854-e078-4922-ae0e-203e548c55cc
    type: condition
    task:
      id: 5a8ef854-e078-4922-ae0e-203e548c55cc
      version: -1
      name: Product Category
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '8'
      Data:
      - '12'
      Email:
      - '11'
      Endpoint:
      - '10'
      Identity:
      - '13'
      Network:
      - '14'
      SaaS:
      - '15'
      Workload:
      - '16'
    separatecontext: false
    conditions:
    - label: Network
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Network
    - label: Identity
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Identity
    - label: Email
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Email
    - label: Endpoint
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Endpoint
    - label: SaaS
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: SaaS
    - label: Workload
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Workload
    - label: Data
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Data
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1287.5,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 3b74682b-fc13-4a09-b1c9-749580ebb550
    type: condition
    task:
      id: 3b74682b-fc13-4a09-b1c9-749580ebb550
      version: -1
      name: Endpoint Recovery Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '8'
      Default:
      - '3'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Endpoint Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Endpoint Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: b9ec6a86-5f9c-422e-8064-0610aedc6e2e
    type: condition
    task:
      id: b9ec6a86-5f9c-422e-8064-0610aedc6e2e
      version: -1
      name: Email Recovery Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '8'
      Default:
      - '2'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Email Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Email Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 612.5,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: ae94a5f3-4dac-4086-b05b-16c9b05ba100
    type: condition
    task:
      id: ae94a5f3-4dac-4086-b05b-16c9b05ba100
      version: -1
      name: Data Recovery Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '8'
      Default:
      - '1'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Data Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Data Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1062.5,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: bbbb702b-2f92-4575-93b7-55d23e76e52e
    type: condition
    task:
      id: bbbb702b-2f92-4575-93b7-55d23e76e52e
      version: -1
      name: Identity Recovery Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '8'
      Default:
      - '4'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Identity Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Identity Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1512.5,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: 940419aa-fdf8-412a-9a35-aa20d850ec9e
    type: condition
    task:
      id: 940419aa-fdf8-412a-9a35-aa20d850ec9e
      version: -1
      name: Network Recovery Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '8'
      Default:
      - '5'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Network Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Network Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1962.5,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: 8491618d-1e65-4749-94c3-7c6ea164795d
    type: condition
    task:
      id: 8491618d-1e65-4749-94c3-7c6ea164795d
      version: -1
      name: SaaS Recovery Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '8'
      Default:
      - '6'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC SaaS Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC SaaS Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 2412.5,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: 8f4d0df8-b56f-4ac6-945c-1e80326d86f8
    type: condition
    task:
      id: 8f4d0df8-b56f-4ac6-945c-1e80326d86f8
      version: -1
      name: Workload Recovery Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '8'
      Default:
      - '7'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Workload Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Workload Recovery_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 2862.5,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '40':
    id: '40'
    taskid: 89984bb2-ebdb-464a-ac3a-0cce8c216f1d
    type: title
    task:
      id: fd75571a-60fe-40ce-b7cf-297238b6e982
      version: -1
      name: Set Recovery Defaults
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '41'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 195\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '41':
    id: '41'
    taskid: 94bc5ce4-41c9-4cb1-b7df-2dfbef2bf216
    type: regular
    task:
      id: 7386796a-33dc-4acd-b9a6-02d20efd0977
      version: -1
      name: Default — Recovery Status Not Required
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '42'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.status
      value:
        simple: not_required
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 365\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '42':
    id: '42'
    taskid: b52b3906-012e-4146-96d6-fde904e234a1
    type: regular
    task:
      id: a15d2ecb-f202-4076-a136-22c78315fbc3
      version: -1
      name: Default — Recovery Monitoring Not Required
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '43'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.monitoring_required
      value:
        simple: 'false'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 535\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '43':
    id: '43'
    taskid: f12768fd-407b-4354-9f70-69d785c2ef63
    type: regular
    task:
      id: c7721789-2eae-4e55-ad52-167a921c4b10
      version: -1
      name: Default — Recovery Story
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.story
      value:
        simple: Recovery not attempted. Default — overwritten by category Workflow if executed.
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 705\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: "{\n  \"linkLabelsPosition\": {\n    \"14_5_Default\": 0.13,\n    \"9_10_Endpoint\": 0.9,\n    \"9_11_Email\": 0.9,\n\
  \    \"9_13_Identity\": 0.88,\n    \"9_14_Network\": 0.76,\n    \"9_15_SaaS\": 0.9\n  },\n  \"paper\": {\n    \"dimensions\"\
  : {\n      \"height\": 785,\n      \"width\": 3192.5,\n      \"x\": 50,\n      \"y\": 50\n    }\n  }\n}"
inputs:
- key: ProductCategory
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: 'Get the Product Category '
  playbookInputQuery: null
- key: ExecutionBranch
  value:
    simple: ${lists.SOCExecutionList_V3}
  required: false
  description: ''
  playbookInputQuery: null
inputSections:
- inputs:
  - ProductCategory
  - ExecutionBranch
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - Recovery.status
  - Recovery.story
  - Recovery.monitoring_required
  - Recovery.monitoring_scope
  - Recovery.restore_required
  - Recovery.restore_method
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Recovery.status
  type: unknown
- contextPath: Recovery.story
  type: unknown
- contextPath: Recovery.monitoring_required
  type: unknown
- contextPath: Recovery.monitoring_scope
  type: unknown
- contextPath: Recovery.restore_required
  type: unknown
- contextPath: Recovery.restore_method
  type: unknown
sourceplaybookid: SOC Containment_V3
dirtyInputs: true
