Packs/soc-framework-nist-ir/Playbooks/SOC_Email_Verdict_Resolution_V3.yml
id: SOC Email Verdict Resolution_V3
name: SOC Email Verdict Resolution_V3
version: -1
fromversion: 6.10.0
description: "Purpose\nDetermine the verdict, confidence, and category for an email\
  \ threat.\n\nThis playbook answers: is this malicious, how confident are we, and\
  \ what type of threat is it?\nIt does NOT answer: who was impacted or what action\
  \ to take at scale — that is SOC Email Exposure Evaluation_V3.\n\nPrimary signal:\
  \ Proofpoint TAP ThreatStatus (inputs.ThreatStatus)\n  malicious  → verdict=malicious,\
  \ confidence=high\n  suspicious → verdict=malicious, confidence=medium\n  default\
  \    → verdict=benign,    confidence=low\n\nSecondary signal: Analysis.Email.source_verdict\
  \ from DBot (set by Signal Characterization)\n  If DBot=malicious AND ThreatStatus\
  \ returned benign → elevate to suspicious/medium\n\nAdvisory recommendation is set\
  \ here as a non-executing signal to guide Containment.\nPriority order: escalate_IR\
  \ > search_and_purge > retract_message > quarantine > no_action"
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- Email
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 07f29d81-563e-4897-bdea-a928d0c4ef1f
    type: start
    task:
      id: 071bb8d9-024b-42d4-8116-b8479b28f9ae
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 50ed0103-b968-4d23-98bb-961c81036dcf
    type: title
    task:
      id: 8cba6360-f1a3-48ec-9521-77870a812fc6
      version: -1
      name: Set Defaults
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '2'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 195\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: 17746e80-c446-4800-b733-29c0eefc328f
    type: regular
    task:
      id: aa4e1995-ecbc-419f-80cb-3886a273387d
      version: -1
      name: Initialize Verdict Defaults
      description: Set multiple keys/values to the context.
      scriptName: SetMultipleValues
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '3'
    scriptarguments:
      keys:
        simple: Email.verdict,Email.confidence,Email.category,Email.response_recommended
      values:
        simple: benign,low,unknown,no_action
      parent:
        simple: Analysis
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 365\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: 1cabeeb4-b905-4a4c-bc17-3ad596723bea
    type: title
    task:
      id: e11eabe5-4bdf-4d5a-8541-5616a2c2d838
      version: -1
      name: Determine Verdict from ThreatStatus
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 555\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: b7671af2-d127-4dc7-a3a9-e17557c5438f
    type: condition
    task:
      id: 4712d16c-7269-4bcf-bf33-63a3f8f12edf
      version: -1
      name: ThreatStatus?
      type: condition
      description: Routes on Proofpoint TAP ThreatStatus. Malicious → high confidence.
        Suspicious → medium confidence. Default → benign, low confidence (defaults
        already set).
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '7'
      Malicious:
      - '5'
      Suspicious:
      - '6'
    conditions:
    - label: Malicious
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ThreatStatus
            iscontext: true
          right:
            value:
              simple: malicious
          ignorecase: true
    - label: Suspicious
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ThreatStatus
            iscontext: true
          right:
            value:
              simple: suspicious
          ignorecase: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 725\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: 0d04996f-7538-417d-b77e-e72e2839e5b9
    type: regular
    task:
      id: a269790a-cb14-4af9-86f8-ccdefcf0516b
      version: -1
      name: Set Verdict Malicious — High Confidence
      description: Set multiple keys/values to the context.
      scriptName: SetMultipleValues
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments:
      keys:
        simple: Email.verdict,Email.confidence
      values:
        simple: malicious,high
      parent:
        simple: Analysis
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 920\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: 008d7e79-659d-42b6-8e65-e4cf79174976
    type: regular
    task:
      id: ab0bff08-b052-4509-96e0-3e886751fe52
      version: -1
      name: Set Verdict Malicious — Medium Confidence
      description: Set multiple keys/values to the context.
      scriptName: SetMultipleValues
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments:
      keys:
        simple: Email.verdict,Email.confidence
      values:
        simple: malicious,medium
      parent:
        simple: Analysis
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 920\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: 5e10954a-20c2-4b3f-ba36-a43e30985ceb
    type: regular
    task:
      id: 43dd9b27-d78c-4337-9680-d11bc5fe5cfc
      version: -1
      name: Set Verdict Benign — Low Confidence
      description: Set multiple keys/values to the context.
      scriptName: SetMultipleValues
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments:
      keys:
        simple: Email.verdict,Email.confidence
      values:
        simple: benign,low
      parent:
        simple: Analysis
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 985,\n    \"y\": 920\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '8':
    id: '8'
    taskid: c73a4a81-48bf-4885-a9fd-0b64c1b7225f
    type: title
    task:
      id: bdf97c3b-3dd8-481f-af7e-a6a4415cb6a5
      version: -1
      name: Cross-check DBot Source Verdict
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 1105\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: 19185dcc-890b-488f-bdd5-7d4da5041fa3
    type: condition
    task:
      id: 34c7fcfe-5878-463b-aa6b-e1528b36c7f4
      version: -1
      name: DBot Confirms Malicious?
      type: condition
      description: If DBot independently rates the indicator as malicious but ThreatStatus
        returned benign, elevate to suspicious/medium as a secondary signal. Prevents
        missed verdicts on stale TAP status.
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '10'
      'yes':
      - '11'
    conditions:
    - label: 'yes'
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Email.source_verdict
            iscontext: true
          right:
            value:
              simple: malicious
          ignorecase: true
        - operator: isEqualString
          left:
            value:
              simple: Analysis.Email.verdict
            iscontext: true
          right:
            value:
              simple: benign
          ignorecase: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 1270\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: ef2adb10-2835-472d-97cf-8fd981d1cdf1
    type: title
    task:
      id: 7ab3fe3d-9859-4be0-b8c6-61249c0704b0
      version: -1
      name: Set Category
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 1450\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: 373da371-d397-4164-b50c-fd74a5d7debe
    type: regular
    task:
      id: a3c523be-cd91-4656-b7c4-fdc5c266a776
      version: -1
      name: Elevate to Suspicious — DBot Override
      description: Set multiple keys/values to the context.
      scriptName: SetMultipleValues
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      keys:
        simple: Email.verdict,Email.confidence
      values:
        simple: suspicious,medium
      parent:
        simple: Analysis
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 985,\n    \"y\": 1450\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 4eae74d6-3466-4729-8084-47b407dd7b8c
    type: regular
    task:
      id: 6f78dfb0-6b45-4e74-988f-227df2edc1cb
      version: -1
      name: Set Email Category
      description: Maps Proofpoint TAP Classification to Analysis.Email.category.
        Appends unknown as fallback so FirstArrayElement always resolves.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: Analysis.Email.category
      value:
        complex:
          root: inputs.Classification
          transformers:
          - operator: append
            args:
              item:
                value:
                  simple: unknown
          - operator: FirstArrayElement
          - operator: toLowerCase
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 1620\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: 72dc6f3b-a2de-4318-b265-b76778ca62da
    type: title
    task:
      id: 0a6c0a13-385b-4935-abac-3055d0bbdc9f
      version: -1
      name: Set Response Recommendation
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 1805\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: 6c0d33c6-65dd-4119-b333-bed4718c1ba5
    type: condition
    task:
      id: 3cb07623-d8b8-4fba-b073-78f6b6099280
      version: -1
      name: Recommend Action?
      type: condition
      description: 'Advisory recommendation only — no execution. Consumed by Containment
        phase. Priority: escalate_IR (VIP) > search_and_purge (clicked) > retract_message
        (delivered) > quarantine (blocked/at-rest) > no_action (benign/low).'
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '19'
      escalate_IR:
      - '15'
      search_and_purge:
      - '16'
      retract_message:
      - '17'
      quarantine:
      - '18'
    conditions:
    - label: escalate_IR
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Email.verdict
            iscontext: true
          right:
            value:
              simple: malicious
          ignorecase: true
        - operator: isEqualString
          left:
            value:
              simple: inputs.HighValueUserInvolved
            iscontext: true
          right:
            value:
              simple: 'True'
          ignorecase: true
    - label: search_and_purge
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Email.verdict
            iscontext: true
          right:
            value:
              simple: malicious
          ignorecase: true
        - operator: greaterThan
          left:
            value:
              simple: inputs.ClickCount
            iscontext: true
          right:
            value:
              simple: '0'
    - label: retract_message
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Email.verdict
            iscontext: true
          right:
            value:
              simple: malicious
          ignorecase: true
        - operator: greaterThan
          left:
            value:
              simple: inputs.DeliveredCount
            iscontext: true
          right:
            value:
              simple: '0'
        - operator: isEqualNumber
          left:
            value:
              simple: inputs.ClickCount
            iscontext: true
          right:
            value:
              simple: '0'
    - label: quarantine
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Email.verdict
            iscontext: true
          right:
            value:
              simple: malicious
          ignorecase: true
        - operator: isEqualNumber
          left:
            value:
              simple: inputs.DeliveredCount
            iscontext: true
          right:
            value:
              simple: '0'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 1975\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: 6cad217c-89c4-4cd6-8131-9f2718cdce88
    type: regular
    task:
      id: 905322ed-e4da-4585-98c1-20cb3d6df570
      version: -1
      name: Set Recommendation — escalate_IR
      description: Set a value in context under the key you entered.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: Analysis.Email.response_recommended
      value:
        simple: escalate_IR
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 2165\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: e421fefe-d092-452b-98b7-1de9521b6f04
    type: regular
    task:
      id: ab36c920-a3c0-4131-8fc5-aaa9fefbfd4c
      version: -1
      name: Set Recommendation — search_and_purge
      description: Set a value in context under the key you entered.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: Analysis.Email.response_recommended
      value:
        simple: search_and_purge
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 330,\n    \"y\": 2165\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: b63c49ef-6d6f-49d9-9dea-54d7f6ae8b86
    type: regular
    task:
      id: f0e2cf7d-bd96-43df-8893-0086e4282bf2
      version: -1
      name: Set Recommendation — retract_message
      description: Set a value in context under the key you entered.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: Analysis.Email.response_recommended
      value:
        simple: retract_message
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 2165\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: b47c514c-3607-41f1-8144-38c40c31c408
    type: regular
    task:
      id: 9edb9b6d-300a-45c4-a0fd-f52f2dfce92f
      version: -1
      name: Set Recommendation — quarantine
      description: Set a value in context under the key you entered.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: Analysis.Email.response_recommended
      value:
        simple: quarantine
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 855,\n    \"y\": 2165\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: fa831c53-7086-4950-8dac-85cabbafae47
    type: regular
    task:
      id: d1405584-4366-4101-ad93-fb84ba26f82d
      version: -1
      name: Set Recommendation — no_action
      description: Set a value in context under the key you entered.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: Analysis.Email.response_recommended
      value:
        simple: no_action
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1120,\n    \"y\": 2165\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: b778069c-7613-458c-864e-6a16b190730a
    type: title
    task:
      id: 5d912ad1-b862-4ca8-bdac-42d99f9f601b
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks: {}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592,\n    \"y\": 2360\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: a0547d63-5e2a-49b3-9bff-7c1649cef270
    type: condition
    task:
      id: 2c16dc04-8d9a-4d6e-8166-5653efc1f7fc
      version: -1
      name: Internal Lateral Risk?
      description: "Flags internal lateral spread risk.\n\nTrue when ALL of:\n  verdict\
        \ = malicious\n  category = phish or malware\n  ExposureLevel = clicked\n\
        \  RecipientScope = multi_user OR tenant_wide\n\nTwo label branches both route\
        \ to true — OR logic across scope values.\ntenant_wide is the worst case and\
        \ must not be excluded.\nMatches original SOC_Proofpoint_Analysis task 34\
        \ logic."
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '23'
      multi_user:
      - '22'
      tenant_wide:
      - '22'
    conditions:
    - label: multi_user
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Email.verdict
            iscontext: true
          right:
            value:
              simple: malicious
          ignorecase: true
      - - operator: containsGeneral
          left:
            value:
              simple: Analysis.Email.category
            iscontext: true
          right:
            value:
              simple: phish
          ignorecase: true
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Email.ExposureLevel
            iscontext: true
          right:
            value:
              simple: clicked
          ignorecase: true
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Email.RecipientScope
            iscontext: true
          right:
            value:
              simple: multi_user
          ignorecase: true
    - label: tenant_wide
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Email.verdict
            iscontext: true
          right:
            value:
              simple: malicious
          ignorecase: true
      - - operator: containsGeneral
          left:
            value:
              simple: Analysis.Email.category
            iscontext: true
          right:
            value:
              simple: phish
          ignorecase: true
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Email.ExposureLevel
            iscontext: true
          right:
            value:
              simple: clicked
          ignorecase: true
      - - operator: isEqualString
          left:
            value:
              simple: Analysis.Email.RecipientScope
            iscontext: true
          right:
            value:
              simple: tenant_wide
          ignorecase: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1985\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '22':
    id: '22'
    taskid: 5ad4c7df-c470-4b60-a068-25783e132a45
    type: regular
    task:
      id: 4723fb50-50cc-4aa5-beb5-c9c6c3cc49c2
      version: -1
      name: Set Internal Lateral Risk — True
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.internal_lateral_risk
      value:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 2155\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '23':
    id: '23'
    taskid: a93dc00f-e957-4346-a3b1-d7c9767cbc98
    type: regular
    task:
      id: 7b1923eb-ef05-4097-8da1-071cef091496
      version: -1
      name: Set Internal Lateral Risk — False
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.internal_lateral_risk
      value:
        simple: 'false'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 800,\n    \"y\": 2155\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
inputs:
- key: ThreatStatus
  value:
    complex:
      root: alert.proofpointtapthreatinfomap
      accessor: threatStatus
      transformers:
      - operator: FirstArrayElement
      - operator: toLowerCase
  required: false
  description: 'Proofpoint TAP threat verdict: malicious / suspicious / cleared /
    falsePositive. Primary verdict driver. Source: alert.proofpointtapthreatinfomap.threatStatus'
  playbookInputQuery: null
- key: Classification
  value:
    simple: ${SOCFramework.Email.TAP.Classification}
  required: false
  description: 'Proofpoint TAP threat classification: phish / malware / spam / impostor.
    Set by Enrichment. Maps to Analysis.Email.category.'
  playbookInputQuery: null
- key: HighValueUserInvolved
  value:
    simple: ${SOCFramework.Email.HighValueUserInvolved}
  required: false
  description: True/False — set by Enrichment VIP check. Escalates recommendation
    to escalate_IR.
  playbookInputQuery: null
- key: ClickCount
  value:
    simple: ${SOCFramework.Email.TAP.ClickCount}
  required: false
  description: Number of URL clicks from Proofpoint TAP event query. Used in recommendation
    routing.
  playbookInputQuery: null
- key: DeliveredCount
  value:
    simple: ${SOCFramework.Email.TAP.DeliveredCount}
  required: false
  description: Number of delivered messages from Proofpoint TAP event query. Used
    in recommendation routing.
  playbookInputQuery: null
inputSections:
- inputs:
  - ThreatStatus
  - Classification
  name: Verdict Drivers
  description: Primary and secondary verdict signals
- inputs:
  - HighValueUserInvolved
  - ClickCount
  - DeliveredCount
  name: Recommendation Inputs
  description: Used only for advisory recommendation routing — not verdict determination
outputs:
- contextPath: Analysis.Email.verdict
  description: malicious / benign
  type: string
- contextPath: Analysis.Email.confidence
  description: high / medium / low
  type: string
- contextPath: Analysis.Email.category
  description: phish / malware / bec / spam / unknown
  type: string
- contextPath: Analysis.Email.response_recommended
  description: escalate_IR / search_and_purge / retract_message / quarantine / no_action
  type: string
- contextPath: Analysis.Email.internal_lateral_risk
  description: true if verdict=malicious, category=phish/malware, ExposureLevel=clicked,
    and RecipientScope=multi_user or tenant_wide
  type: boolean
outputSections:
- outputs:
  - Analysis.Email.verdict
  - Analysis.Email.confidence
  - Analysis.Email.category
  - Analysis.Email.response_recommended
  name: Verdict Contract
  description: Consumed by SOC Email Analysis_V3 orchestrator and passed to Containment
    phase
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n \
  \     \"height\": 2380,\n      \"width\": 1350,\n      \"x\": 50,\n      \"y\":\
  \ 50\n    }\n  }\n}"
contentitemexportablefields:
  contentitemfields:
    definitionid: ''
    fromServerVersion: 6.10.0
    isoverridable: false
    itemVersion: 3.0.0
    packID: soc-framework-nist-ir
    packName: SOC Framework Unified
    prevname: ''
    supportedModules: []
    toServerVersion: ''
dirtyInputs: true
adopted: true
