Packs/soc-framework-nist-ir/Playbooks/SOC_Email_Exposure_Evaluation_V3.yml
adopted: true
id: SOC Email Exposure Evaluation_V3
name: SOC Email Exposure Evaluation_V3
version: -1
fromversion: 6.10.0
description: "NIST IR 800-61 — Detection & Analysis — Email Exposure Evaluation\n\nAnswers: how far did this threat get, how\
  \ many users were affected, and does this involve a high-value target?\n\nValue Driver: VD1 (Reduce Risk) — blast radius\
  \ determines MTTC urgency.\nValue Driver: VD3 (Efficiency) — automated scope assessment replaces manual log review.\n\n\
  Execution:\n  1. XQL query — proofpoint_tap_v2_generic_alert_raw — 7-day window, filter by ThreatURL or ThreatID\n  2. Fan-out\
  \ extract: ClickCount, DeliveredCount, MessageID, MailboxCount\n  3. Classification — issue.proofpointtapclassification\n\
  \  4. ExposureLevel — clicked / delivered / blocked\n  5. RecipientScope — single / multi / tenant_wide (MapRangeValues\
  \ on MailboxCount)\n  6. High Value User check — against SOCFramework VIP Users list\n\nContext keys produced (consumed\
  \ by Containment and SOC Analysis Evaluation_V3):\n  SOCFramework.Email.TAP.ClickCount\n  SOCFramework.Email.TAP.DeliveredCount\n\
  \  SOCFramework.Email.TAP.MailboxCount\n  SOCFramework.Email.TAP.Classification\n  SOCFramework.Artifacts.Email.MessageID\n\
  \  SOCFramework.Email.HighValueUserInvolved\n  Analysis.Email.ExposureLevel\n  Analysis.Email.RecipientScope"
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- Email
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 5bf92436-0255-43c5-95b0-56d02b381267
    type: start
    task:
      id: 40710707-3cf8-4174-b83f-76ab8a5a811e
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 700564aa-e23f-401f-a873-2ec3f9274ac1
    type: title
    task:
      id: 240769a1-033d-42f9-af38-ece10abafd10
      version: -1
      name: Query Delivery & Click Events
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '2'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 195\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: b84acd4e-bc4b-48d9-82a8-881c7065411f
    type: regular
    task:
      id: b84acd4e-bc4b-48d9-82a8-881c7065411f
      version: -1
      name: XQL — Proofpoint TAP Delivery & Click Events
      description: 'Query proofpoint_tap_v2_generic_alert_raw for all click and delivery events matching this alert''s ThreatURL
        or ThreatID within a 7-day window.


        Returns: type (messages delivered / clicks permitted), threatID, recipient.

        Results fan-out to parallel set tasks for ClickCount, DeliveredCount, MessageID, and MailboxCount.'
      script: '|||xdr-xql-generic-query'
      type: regular
      iscommand: true
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '3'
      - '4'
      - '5'
      - '6'
    scriptarguments:
      query:
        simple: 'dataset = proofpoint_tap_v2_generic_alert_raw

          | filter type = "messages delivered" or type = "clicks permitted"

          | alter threatURL = threatsInfoMap -> [0].threatUrl

          | fields threatURL, type, messageID, threatID, recipient

          | filter threatURL = "${inputs.ThreatURL}" or threatID = "${inputs.ThreatID}"'
      query_name:
        simple: SOC Email Exposure Query
      time_frame:
        simple: 7 days
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 365\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: 4fa53006-42a2-4fb8-b622-f0633cbff648
    type: regular
    task:
      id: 4ad692bb-5bb1-4611-8308-51678de7212e
      version: -1
      name: Set Click Count
      description: Count of click events from XQL results. Drives ExposureLevel and response_recommended routing in Verdict
        Resolution.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '7'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.TAP.ClickCount
      value:
        complex:
          root: PaloAltoNetworksXQL.GenericQuery.results
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: PaloAltoNetworksXQL.GenericQuery.results.type
                iscontext: true
              right:
                value:
                  simple: clicks permitted
              ignorecase: true
          transformers:
          - operator: count
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 580\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 4c1250b8-0d96-44ff-9b77-1c67d610e4cc
    type: regular
    task:
      id: 61f238d3-8a0b-4a17-a817-10bc276838fd
      version: -1
      name: Set Delivered Count
      description: Count of delivered message events from XQL results. Drives ExposureLevel routing.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '7'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.TAP.DeliveredCount
      value:
        complex:
          root: PaloAltoNetworksXQL.GenericQuery.results
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: PaloAltoNetworksXQL.GenericQuery.results.type
                iscontext: true
              right:
                value:
                  simple: messages delivered
              ignorecase: true
          transformers:
          - operator: count
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 310,\n    \"y\": 580\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: 488c025a-c55c-46f3-be74-89f39b392e45
    type: regular
    task:
      id: e8b9c76b-27d5-46c6-9197-371fe750a7fd
      version: -1
      name: Set Message ID
      description: Message ID extracted from XQL results. Required by soc-retract-email and soc-quarantine-email UCs in Containment.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '7'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.Email.MessageID
      value:
        complex:
          root: PaloAltoNetworksXQL.GenericQuery.results
          accessor: messageID
          transformers:
          - operator: uniq
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 690,\n    \"y\": 580\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: 2b3591ef-bb39-4747-b2c7-ae9411c32c62
    type: regular
    task:
      id: e1d36c08-9dc1-4554-9faa-2956612a6993
      version: -1
      name: Set Mailbox Count
      description: Unique recipient count from XQL results. Drives RecipientScope mapping (single / multi / tenant_wide).
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '7'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.TAP.MailboxCount
      value:
        complex:
          root: PaloAltoNetworksXQL.GenericQuery.results
          accessor: recipient
          transformers:
          - operator: uniq
          - operator: count
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 950,\n    \"y\": 580\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: 224d809f-f140-41dd-88ff-d66a5c246920
    type: title
    task:
      id: 4cb9d726-a964-42d4-8dbd-2500fa71caab
      version: -1
      name: Set Classification
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 770\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '8':
    id: '8'
    taskid: dbbbd3a9-dd70-49ba-baf3-017995bbbaad
    type: regular
    task:
      id: 30d6b99e-724e-4d97-a9c3-36e468265e1e
      version: -1
      name: Set Email Classification
      description: 'Proofpoint TAP classification (phish / malware / spam / impostor). Source: issue.proofpointtapclassification.
        Consumed by Verdict Resolution to set Analysis.Email.category.'
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.TAP.Classification
      value:
        complex:
          root: issue
          accessor: proofpointtapclassification
          transformers:
          - operator: FirstArrayElement
          - operator: toLowerCase
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 940\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: 5925558c-1291-4c48-aec7-6ef4be405279
    type: title
    task:
      id: 545df3aa-5b35-4177-8d90-d0e47d544dca
      version: -1
      name: Determine Exposure Level
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1120\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 4731b7ca-680f-4005-a8f2-d13426d3dcaf
    type: condition
    task:
      id: c0374e1b-9dfc-495c-8a71-9bce9193d3e0
      version: -1
      name: Exposure Level?
      type: condition
      description: 'clicked: URL was clicked by recipient.

        delivered: message landed in inbox, no click recorded.

        default: message was blocked before delivery (at SEG).'
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '13'
      clicked:
      - '11'
      delivered:
      - '12'
    conditions:
    - label: clicked
      condition:
      - - operator: greaterThan
          left:
            value:
              simple: SOCFramework.Email.TAP.ClickCount
            iscontext: true
          right:
            value:
              simple: '0'
    - label: delivered
      condition:
      - - operator: greaterThan
          left:
            value:
              simple: SOCFramework.Email.TAP.DeliveredCount
            iscontext: true
          right:
            value:
              simple: '0'
        - operator: isEqualNumber
          left:
            value:
              simple: SOCFramework.Email.TAP.ClickCount
            iscontext: true
          right:
            value:
              simple: '0'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1290\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: 00e40da2-cf5a-4867-824b-37f94a49f770
    type: regular
    task:
      id: 0af85e14-f402-409d-88e0-4a3ff9d6d71c
      version: -1
      name: Set Exposure Level — clicked
      description: URL was clicked. Highest risk — soc-get-email-events confirmed click events.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: Analysis.Email.ExposureLevel
      value:
        simple: clicked
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 1480\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 4e085ee0-86cf-4822-8337-c151b3461344
    type: regular
    task:
      id: ffd553e2-f08e-4835-add9-06d17b674aa5
      version: -1
      name: Set Exposure Level — delivered
      description: Message delivered to inbox, no click recorded. Retraction recommended before user interaction.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: Analysis.Email.ExposureLevel
      value:
        simple: delivered_no_click
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1480\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: 3e3a8328-1e1c-4ef0-b292-b591affa676b
    type: regular
    task:
      id: d80f1cc2-a7a4-43b6-b749-9fe22352e0de
      version: -1
      name: Set Exposure Level — blocked
      description: Message blocked at SEG — no delivery, no click. Quarantine action applicable.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: Analysis.Email.ExposureLevel
      value:
        simple: blocked
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 800,\n    \"y\": 1480\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: fde23b6a-3b3e-4c7d-ac6b-512c9ad86389
    type: title
    task:
      id: d578db25-edc5-4c05-a400-e5412b0e9c38
      version: -1
      name: Determine Recipient Scope
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1665\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: 329128ef-ac93-4d0c-a948-6923394be707
    type: regular
    task:
      id: 054938d0-099a-4b77-a358-862af39287ba
      version: -1
      name: Set Recipient Scope
      description: 'Maps MailboxCount to scope tier.

        single (0-1): isolated targeting.

        multi (2-10): targeted campaign.

        tenant_wide (11+): broad delivery — escalate consideration.'
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '16'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: Analysis.Email.RecipientScope
      value:
        complex:
          root: SOCFramework.Email.TAP.MailboxCount
          transformers:
          - operator: MapRangeValues
            args:
              map_from:
                value:
                  simple: 0-1,2-10,10-999999999
              map_to:
                value:
                  simple: single_user,multi_user,tenant_wide
              sep: {}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1835\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: 535e021b-778d-461a-84c5-c4287d73ca11
    type: title
    task:
      id: d5e33e10-5dab-4ba9-b93e-a4245c4c8b23
      version: -1
      name: High Value User Check
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '17'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 2015\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: 439b817a-0c96-48ce-880e-56e1f9bd157c
    type: condition
    task:
      id: 5ffe2f36-6be5-47c8-bc90-dcbc44034327
      version: -1
      name: Is Recipient a High Value User?
      type: condition
      description: 'Checks recipient against the SOCFramework VIP Users list.

        Customer-managed list — PS populates with VIP/exec mailboxes during onboarding.

        Positive match sets HighValueUserInvolved=True, which routes Verdict Resolution to escalate_IR recommendation.'
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '19'
      'yes':
      - '18'
    conditions:
    - label: 'yes'
      condition:
      - - operator: inList
          left:
            value:
              simple: SOCFramework.Artifacts.Email.To
            iscontext: true
          right:
            value:
              simple: lists.SOCFramework VIP Users
            iscontext: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 2185\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: ccd9f6c9-d66d-4b32-824b-d078c4b3045e
    type: regular
    task:
      id: 642b8f45-61d0-4822-a4a8-40d04a80bf35
      version: -1
      name: Set High Value User Involved
      description: Recipient is in the VIP list. Consumed by Verdict Resolution to route response_recommended to escalate_IR.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '19'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.HighValueUserInvolved
      value:
        simple: 'True'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 2375\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: d9a5bf6d-0e7b-478e-a461-b7e420e8ac98
    type: title
    task:
      id: 122596ca-7335-406f-b8d5-d275a6f712ac
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks: {}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 2560\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
inputs:
- key: ThreatURL
  value:
    simple: ${SOCFramework.Artifacts.Email.ThreatURL}
  required: false
  description: 'Proofpoint threat URL — primary XQL filter. Source: SOCFramework.Artifacts.Email.ThreatURL (set by Foundation
    Normalize Artifacts).'
  playbookInputQuery: null
- key: ThreatID
  value:
    simple: ${SOCFramework.Email.TAP.ThreatID}
  required: false
  description: 'Proofpoint threat ID — secondary XQL filter. Source: SOCFramework.Email.TAP.ThreatID (set by Forensics Evaluation).'
  playbookInputQuery: null
inputSections:
- inputs:
  - ThreatURL
  - ThreatID
  name: XQL Query Filters
  description: At least one must be non-empty for the query to return results. ThreatURL is always available from Foundation;
    ThreatID available after Forensics Eval runs.
outputs:
- contextPath: SOCFramework.Email.TAP.ClickCount
  description: Number of URL click events in the 7-day window
  type: number
- contextPath: SOCFramework.Email.TAP.DeliveredCount
  description: Number of message delivery events in the 7-day window
  type: number
- contextPath: SOCFramework.Email.TAP.MailboxCount
  description: Count of unique recipient mailboxes
  type: number
- contextPath: SOCFramework.Email.TAP.Classification
  description: 'Proofpoint threat classification: phish / malware / spam / impostor'
  type: string
- contextPath: SOCFramework.Artifacts.Email.MessageID
  description: Email message ID — required by soc-retract-email and soc-quarantine-email
  type: string
- contextPath: SOCFramework.Email.HighValueUserInvolved
  description: True if recipient is in SOCFramework VIP Users list
  type: boolean
- contextPath: Analysis.Email.ExposureLevel
  description: clicked / delivered / blocked
  type: string
- contextPath: Analysis.Email.RecipientScope
  description: single_user / multi_user / tenant_wide
  type: string
outputSections:
- outputs:
  - SOCFramework.Email.TAP.ClickCount
  - SOCFramework.Email.TAP.DeliveredCount
  - SOCFramework.Email.TAP.MailboxCount
  - SOCFramework.Email.TAP.Classification
  - SOCFramework.Artifacts.Email.MessageID
  - SOCFramework.Email.HighValueUserInvolved
  name: TAP Event Data
  description: Raw counts and metadata from XQL query — consumed by Verdict Resolution and Containment
- outputs:
  - Analysis.Email.ExposureLevel
  - Analysis.Email.RecipientScope
  name: Exposure Contract
  description: Passed to SOC Analysis Evaluation_V3 and Containment phase
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n      \"height\": 2610,\n      \"width\":\
  \ 1200,\n      \"x\": 50,\n      \"y\": 50\n    }\n  }\n}"
contentitemexportablefields:
  contentitemfields:
    definitionid: ''
    fromServerVersion: 6.10.0
    isoverridable: false
    itemVersion: 3.0.0
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR
    prevname: ''
    supportedModules: []
    toServerVersion: ''
dirtyInputs: false
