Packs/soc-framework-nist-ir/Playbooks/SOC_Email_Eradication_V3.yml
id: SOC Email Eradication_V3
name: SOC Email Eradication_V3
version: -1
fromversion: 6.10.0
description: "NIST IR 800-61 — Eradication Phase — Email / SEG\n\nRemoves the threat\
  \ source by blocking the sender domain/address to prevent future delivery of the\
  \ same campaign.\n\nValue Driver: VD1 (Reduce Risk) — attack surface reduction;\
  \ sender blocked before next campaign wave.\nValue Driver: VD4 (Secure Growth) —\
  \ persistent sender block closes the delivery vector at the SEG layer.\n\nGate:\
  \ Containment.required=true (malicious verdict was confirmed and actioned).\nAll\
  \ actions run through SOCCommandWrapper — shadow_mode read from SOCExecutionList_V3.\n\
  \nRouting:\n  Containment not required  → Eradication.attempted=false, no action\n\
  \  escalate_IR               → skip automated block, story for analyst\n  all other\
  \ containment actions → soc-block-sender via SOCCommandWrapper\n\nUC: soc-block-sender\n\
  Vendors: Mimecast / Microsoft Defender ATP / Proofpoint TAP v2\noutput_map: UC.Email.BlockSender.*\
  \ (pending SOCCommandWrapper.py update)\n\nContext keys produced:\n  Eradication.attempted\n\
  \  Eradication.success\n  Eradication.story\n  Eradication.Execution"
tags:
- SOC
- SOC_Framework_Unified
- Eradication
- NIST 800-61
- Email
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: f632c83b-dd7a-4e79-9e74-08e647df57a0
    type: start
    task:
      id: 47cb54ec-1127-4920-8906-68a25e15a801
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 1ad14409-7082-419d-b6a8-10ec989772e5
    type: title
    task:
      id: 7c2adee8-98e2-4abe-9d53-3cc9da81775e
      version: -1
      name: Evaluate for Eradication
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '2'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 195\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: cd6ec559-0b6f-489c-be75-405e6bbd144e
    type: condition
    task:
      id: 5d5a6073-f1d4-48f4-9754-dd8050781171
      version: -1
      name: Containment Was Required?
      type: condition
      description: 'Gate: only proceed to eradication if Containment.required=true.

        Ensures eradication only runs when a malicious verdict was confirmed and a
        containment action was taken (or escalate_IR was set).'
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '3'
      'yes':
      - '4'
    conditions:
    - label: 'yes'
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ContainmentRequired
            iscontext: true
          right:
            value:
              simple: 'true'
          ignorecase: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 365\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: 11da06ea-89df-41ca-9331-64a7cc75bcba
    type: regular
    task:
      id: e183e162-a7e5-4fcc-8673-9d6573d4cb3f
      version: -1
      name: Set Eradication Not Attempted
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Eradication.attempted
      value:
        simple: 'false'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 950,\n    \"y\": 555\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 9fdaa4cd-f9c4-4d61-83f1-027d724373f3
    type: title
    task:
      id: 8ef1c333-2a6b-4e3f-867f-f4da10a2b8c7
      version: -1
      name: Check Escalation Status
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '5'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 555\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: 38d32017-d4e6-4c38-a735-78e9a92566db
    type: condition
    task:
      id: 0d5ebb39-df36-4be9-91ef-2844e5894836
      version: -1
      name: Escalate IR? (Skip Automated Eradication)
      type: condition
      description: 'If response_recommended=escalate_IR, the IR team owns this case.

        Skip automated sender block — analyst will determine eradication scope.

        Set attempted=false and story accordingly.'
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '6'
      'yes':
      - '9'
    conditions:
    - label: 'yes'
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ResponseRecommended
            iscontext: true
          right:
            value:
              simple: escalate_IR
          ignorecase: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 725\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: e8795e85-eaf1-4686-a65a-c1d6c1889a4e
    type: title
    task:
      id: e503b8a6-0d55-4a94-b4d4-d8165b0f3d23
      version: -1
      name: Block Sender
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '7'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 920\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: cbe56bd6-0263-46a9-8cb3-ed497240813a
    type: regular
    task:
      id: b72d34d9-0fa6-4fe5-bd43-2f7cdf6c99ca
      version: -1
      name: Block Sender — Universal Command
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments:
      Action_Actor:
        simple: automation
      Phase:
        simple: Eradication
      action:
        simple: soc-block-sender
      output_key:
        simple: Eradication.Execution
      shadow_mode:
        simple: ${inputs.ShadowMode}
      tags:
        complex:
          root: inputs.ShadowMode
          transformers:
          - operator: If-Then-Else
            args:
              condition: {}
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: Eradication
              equals:
                value:
                  simple: inputs.ShadowMode
                iscontext: true
              lhs: {}
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: Shadow Mode,Eradication
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1090\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '8':
    id: '8'
    taskid: e1d3ae4b-1b0d-44b5-86cc-76b62c7cfc75
    type: regular
    task:
      id: 6cd4e5ac-52b7-46f8-b72c-90ef77f514b3
      version: -1
      name: Set Eradication Attempted
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Eradication.attempted
      value:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1280\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 5e03d05c-5b7d-4b94-b88b-434e646fe7aa
    type: regular
    task:
      id: 4f6ffc9f-882d-427f-afc9-1565f3ded161
      version: -1
      name: Set Eradication Success
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Eradication.success
      value:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1450\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: c055fe0c-816e-47e6-8ca2-a96804a2e37f
    type: regular
    task:
      id: a100330f-e2ac-46b8-b3c0-b2277a14f110
      version: -1
      name: Set Eradication Story
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Eradication.story
      value:
        simple: 'Email eradication executed — sender blocked.


          Sender: ${SOCFramework.Artifacts.Email.From}

          Recipient: ${SOCFramework.Artifacts.Email.To}

          Subject: ${SOCFramework.Artifacts.Email.Subject}

          Threat URL: ${SOCFramework.Artifacts.Email.ThreatURL}

          Threat Type: ${SOCFramework.Artifacts.Email.ThreatType}

          Classification: ${SOCFramework.Email.TAP.Classification}

          Exposure: ${Analysis.Email.ExposureLevel} | Scope: ${Analysis.Email.RecipientScope}

          Containment action: ${Containment.action}

          Shadow Mode: ${inputs.ShadowMode}'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1620\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: 8ead2cbd-3060-4909-b44f-eb545265c72a
    type: regular
    task:
      id: 8d70459d-6a29-4957-b550-e8ef5ef664f0
      version: -1
      name: Set Eradication Not Attempted — Escalate IR
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Eradication.attempted
      value:
        simple: 'false'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 920\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: 47610236-7e00-48bd-b251-a5c42262ad6d
    type: regular
    task:
      id: 141edab4-5419-43ad-8c3e-9d00edc129d6
      version: -1
      name: Set No Eradication Story — Escalate IR
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Eradication.story
      value:
        simple: 'Eradication deferred — escalate_IR recommendation.


          Automated sender block skipped. IR analyst owns eradication scope.

          Sender: ${SOCFramework.Artifacts.Email.From}

          Threat Classification: ${SOCFramework.Email.TAP.Classification}'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 1090\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: 5c708d57-a9d5-4c6c-a921-2f3c2392a3ac
    type: regular
    task:
      id: aae3838a-6309-46c1-86f2-6859626678a7
      version: -1
      name: Set Eradication Success False
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Eradication.success
      value:
        simple: 'false'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 950,\n    \"y\": 725\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: 21a84839-c98e-428e-8e3d-e9eb35dfdcc7
    type: regular
    task:
      id: b8f8435d-bc91-4e8a-a1b8-15600a989429
      version: -1
      name: Set No Eradication Story
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Eradication.story
      value:
        simple: 'No eradication required. Verdict did not meet containment threshold.

          Containment.required: ${Containment.required}'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 950,\n    \"y\": 895\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 1cf3f0b8-54f4-491b-8232-5a63e80ae696
    type: title
    task:
      id: 34854d98-d3f7-4549-9372-ad5634912193
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks: {}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1810\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
inputs:
- key: ContainmentRequired
  value:
    simple: ${Containment.required}
  required: false
  description: Containment.required from Containment phase. true = malicious verdict
    confirmed, action taken.
  playbookInputQuery: null
- key: ResponseRecommended
  value:
    simple: ${Analysis.Email.response_recommended}
  required: false
  description: Advisory from Verdict Resolution. escalate_IR skips automated block.
  playbookInputQuery: null
- key: ShadowMode
  value:
    complex:
      root: lists
      accessor: SOCExecutionList_V3
      transformers:
      - operator: getField
        args:
          field:
            value:
              simple: SOC Email Eradication_V3
      - operator: getField
        args:
          field:
            value:
              simple: shadow_mode
  required: false
  description: 'Shadow mode flag from SOCExecutionList_V3. true = log only. Default:
    true in all PoV deployments.'
  playbookInputQuery: null
inputSections:
- inputs:
  - ContainmentRequired
  - ResponseRecommended
  name: Containment Contract
  description: Gate and routing inputs from Containment phase
- inputs:
  - ShadowMode
  name: Execution Context
  description: Shadow mode from SOCExecutionList_V3
outputs:
- contextPath: Eradication.attempted
  description: true if eradication action was attempted
  type: boolean
- contextPath: Eradication.success
  description: true if eradication action succeeded
  type: boolean
- contextPath: Eradication.story
  description: War room narrative summarizing eradication result
  type: string
- contextPath: Eradication.Execution
  description: SOCCommandWrapper execution record — written to xsiam_socfw_ir_execution_raw
  type: unknown
outputSections:
- outputs:
  - Eradication.attempted
  - Eradication.success
  - Eradication.story
  - Eradication.Execution
  name: Eradication Contract
  description: Consumed by Recovery phase and Value Metrics dashboard
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n \
  \     \"height\": 1870,\n      \"width\": 1200,\n      \"x\": 50,\n      \"y\":\
  \ 50\n    }\n  }\n}"
contentitemexportablefields:
  contentitemfields:
    definitionid: ''
    fromServerVersion: 6.10.0
    isoverridable: false
    itemVersion: 3.0.0
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR
    prevname: ''
    supportedModules: []
    toServerVersion: ''
dirtyInputs: false
adopted: true
