Packs/soc-framework-nist-ir/Playbooks/SOC_Email_Recovery_V3.yml
fromversion: 5.0.0
id: SOC Email Recovery_V3
version: 19
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 1.4.5
    fromServerVersion: 6.10.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Email Recovery_V3
description: |-
  NIST IR 800-61 — Recovery Phase — Email / SEG

  Validates eradication outcomes and handles false positive correction.

  Value Driver: VD1 (Reduce Risk) — confirms threat is neutralised before closing.
  Value Driver: VD3 (Efficiency) — automated recovery validation and FP correction eliminates manual post-alert cleanup steps.

  Gate: Eradication.attempted=true.
  All actions run through SOCCommandWrapper — shadow_mode read from SOCExecutionList_V3.

  Routing:
    Eradication not attempted → Recovery.status=not_required
    Eradication failed        → Recovery.status=eradication_failed, analyst flag
    False positive (verdict=benign) → soc-unblock-sender via SOCCommandWrapper
    Confirmed malicious       → Recovery.status=contained, monitoring_required=true

  UC: soc-unblock-sender (false positive path only)
  Note: soc-unblock-sender is not yet in SOCFrameworkActions_V3 — add to Email action group alongside soc-block-sender.

  Context keys produced:
    Recovery.status
    Recovery.monitoring_required
    Recovery.story
    Recovery.Execution
tags:
- SOC
- SOC_Framework_Unified
- Recovery
- NIST 800-61
- Email
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 4dbb466a-9df6-406f-9755-37aca3afcb90
    type: start
    task:
      id: 4dbb466a-9df6-406f-9755-37aca3afcb90
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 83248196-9682-496b-8c01-320d85fc1b75
    type: title
    task:
      id: 83248196-9682-496b-8c01-320d85fc1b75
      version: -1
      name: Evaluate Recovery Requirements
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 81c93d73-7e3e-4a79-b5cc-ea2fc1d8449f
    type: condition
    task:
      id: 81c93d73-7e3e-4a79-b5cc-ea2fc1d8449f
      version: -1
      name: Eradication Was Attempted?
      description: |-
        Gate: only run recovery actions if eradication was attempted.
        If eradication was skipped (no containment, or escalate_IR), set status=not_required and exit.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "5"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.EradicationAttempted
            iscontext: true
          right:
            value:
              simple: "true"
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 3d3fcd56-a89e-45a4-8a91-fb5355fb0c46
    type: regular
    task:
      id: 3d3fcd56-a89e-45a4-8a91-fb5355fb0c46
      version: -1
      name: Set Recovery Status — Not Required
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Recovery.status
      value:
        simple: not_required
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 930
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 8484031c-b16e-4194-a25c-d6403c40c5ef
    type: regular
    task:
      id: 8484031c-b16e-4194-a25c-d6403c40c5ef
      version: -1
      name: Set Recovery Story — Not Required
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Recovery.story
      value:
        simple: |-
          Recovery not required. Eradication was not attempted.

          Containment required: ${Containment.required}
          Eradication attempted: ${Eradication.attempted}
          Response recommended: ${Analysis.Email.response_recommended}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1115
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 59bc7ca9-332a-44fa-9f5e-32ba9e33dc91
    type: title
    task:
      id: 59bc7ca9-332a-44fa-9f5e-32ba9e33dc91
      version: -1
      name: Check Eradication Success
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 1937a2f5-e996-4b54-8ad8-a96e9f8d6934
    type: condition
    task:
      id: 1937a2f5-e996-4b54-8ad8-a96e9f8d6934
      version: -1
      name: Eradication Succeeded?
      description: |-
        If eradication succeeded (sender blocked), validate and set monitoring.
        If eradication failed, flag for analyst review — do not unblock.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "7"
      "yes":
      - "9"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.EradicationSuccess
            iscontext: true
          right:
            value:
              simple: "true"
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 745
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 3022bb30-b24f-4c3c-9830-42ac49e44046
    type: regular
    task:
      id: 3022bb30-b24f-4c3c-9830-42ac49e44046
      version: -1
      name: Set Recovery Status — Eradication Failed
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Recovery.status
      value:
        simple: eradication_failed
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 930
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 6636b5f8-45a7-4ac8-9df9-70d819c8c40a
    type: regular
    task:
      id: 6636b5f8-45a7-4ac8-9df9-70d819c8c40a
      version: -1
      name: Set Recovery Story — Eradication Failed
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Recovery.story
      value:
        simple: |-
          Recovery flagged — eradication did not complete successfully.

          Sender block was not confirmed. Analyst review required.

          Sender: ${SOCFramework.Artifacts.Email.From}
          Threat Classification: ${SOCFramework.Email.TAP.Classification}
          Eradication story: ${Eradication.story}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1115
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 35fe1808-92af-4491-9a91-03c15715b440
    type: title
    task:
      id: 35fe1808-92af-4491-9a91-03c15715b440
      version: -1
      name: Check for False Positive
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 937.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 60286f5b-6081-40b1-8143-d3b7c8683906
    type: condition
    task:
      id: 60286f5b-6081-40b1-8143-d3b7c8683906
      version: -1
      name: False Positive? (Unblock Sender)
      description: |-
        If a re-evaluation determined the verdict was benign (false positive),
        unblock the sender via soc-unblock-sender.
        Default: verdict=malicious confirmed, no unblock needed.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "12"
      "yes":
      - "11"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.Verdict
            iscontext: true
          right:
            value:
              simple: benign
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1115
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 1749786d-145c-4618-b36d-dead5677f857
    type: regular
    task:
      id: 1749786d-145c-4618-b36d-dead5677f857
      version: -1
      name: Unblock Sender — Universal Command
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      Action_Actor:
        simple: automation
      LifeCycle:
        simple: NIST_IR
      Phase:
        simple: Recovery
      action:
        simple: soc-unblock-sender
      output_key:
        simple: Recovery.Execution
      tags:
        complex:
          root: inputs.ShadowMode
          transformers:
          - operator: If-Then-Else
            args:
              condition: {}
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: Recovery
              equals:
                value:
                  simple: inputs.ShadowMode
                iscontext: true
              lhs: {}
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: Shadow Mode,Recovery
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 867a5fe0-ef2e-4291-b863-6ec9fddc8fb2
    type: regular
    task:
      id: 867a5fe0-ef2e-4291-b863-6ec9fddc8fb2
      version: -1
      name: Set Recovery Status — Contained
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Recovery.status
      value:
        simple: contained
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 6a3e4464-ebd0-47c2-8cc8-ac9fc5011283
    type: regular
    task:
      id: 6a3e4464-ebd0-47c2-8cc8-ac9fc5011283
      version: -1
      name: Set Recovery Monitoring Required
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Recovery.monitoring_required
      value:
        simple: "true"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1485
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 971107c4-7541-4dc3-b01b-264ce22b5e08
    type: regular
    task:
      id: 971107c4-7541-4dc3-b01b-264ce22b5e08
      version: -1
      name: Set Recovery Status — False Positive Cleared
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Recovery.status
      value:
        simple: false_positive_cleared
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1485
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 9adefd3c-5a00-49ed-915c-540110b82c28
    type: title
    task:
      id: 9adefd3c-5a00-49ed-915c-540110b82c28
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 1307.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: cad412ee-8c05-4b36-a37d-033d89427e39
    type: regular
    task:
      id: cad412ee-8c05-4b36-a37d-033d89427e39
      version: -1
      name: Set Recovery Story
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Recovery.story
      value:
        simple: |-
          Recovery Assessment

          Eradication: ${Eradication.attempted} | Success: ${Eradication.success}
          Recovery status: ${Recovery.status}

          Sender: ${SOCFramework.Artifacts.Email.From}
          Recipient: ${SOCFramework.Artifacts.Email.To}
          Subject: ${SOCFramework.Artifacts.Email.Subject}
          Threat Classification: ${SOCFramework.Email.TAP.Classification}
          Exposure: ${Analysis.Email.ExposureLevel} | Scope: ${Analysis.Email.RecipientScope}
          Forensics available: ${Analysis.Email.forensics_available}
          Shadow Mode: ${inputs.ShadowMode}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 1670
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    nexttasks:
      '#none#':
      - "15"
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1695,
        "width": 1670,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: EradicationAttempted
  value:
    simple: ${Eradication.attempted}
  required: false
  description: Eradication.attempted from Eradication phase. true = eradication action
    was executed.
  playbookInputQuery: null
- key: EradicationSuccess
  value:
    simple: ${Eradication.success}
  required: false
  description: Eradication.success from Eradication phase. true = sender block was
    confirmed.
  playbookInputQuery: null
- key: Verdict
  value:
    simple: ${Analysis.Email.verdict}
  required: false
  description: Analysis.Email.verdict — used to detect false positive (benign = unblock).
  playbookInputQuery: null
inputSections:
- inputs:
  - EradicationAttempted
  - EradicationSuccess
  - Verdict
  name: Eradication Contract
  description: Gate and routing inputs from Eradication phase
- inputs: []
  name: Execution Context
  description: Shadow mode from SOCExecutionList_V3
outputSections:
- outputs:
  - Recovery.status
  - Recovery.monitoring_required
  - Recovery.story
  - Recovery.Execution
  name: Recovery Contract
  description: Consumed by Value Metrics dashboard and post-incident review
outputs:
- contextPath: Recovery.status
  description: contained / not_required / eradication_failed / false_positive_cleared
  type: string
- contextPath: Recovery.monitoring_required
  description: true if ongoing monitoring is recommended post-recovery
  type: boolean
- contextPath: Recovery.story
  description: War room narrative summarizing recovery assessment
  type: string
- contextPath: Recovery.Execution
  description: SOCCommandWrapper execution record (false positive path only)
  type: unknown
adopted: true
