Packs/soc-framework-nist-ir/Playbooks/SOC_Analysis_V3.yml
fromversion: 5.0.0
id: SOC Analysis_V3
version: 5
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework Unified
    itemVersion: 3.1.4
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Analysis_V3
description: 'Identify potential security events, determine whether they represent true alerts, understand their scope and
  impact, and establish the actionable context needed to respond effectively.


  What this phase includes:


  Monitoring security telemetry from logs, alerts, sensors, EDR, SIEM/XSIAM analytics, threat intel, and user reports.


  Triaging events to distinguish benign activity, false positives, and true security alerts.


  Enriching indicators and artifacts (e.g., IPs, hashes, domains, user accounts, processes, network connections) using internal
  data and external threat intelligence.


  Correlating events across systems to understand the timeline, root cause, attack vector, and potential lateral movement.


  Assigning alert classification, severity, priority, and category for consistent response.


  Documenting findings, evidence, and hypotheses while preserving forensic integrity.


  Determining the initial scope and business impact to decide how aggressive containment must be.


  Outcome:

  A validated and well-understood security alert with clear context, severity, indicators, and scope—enabling the organization
  to transition into Containment with confidence and accuracy.'
tags:
- SOC
- SOC_Framework_Unified
- NIST 800-61
- Analysis
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
    type: start
    task:
      id: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1175,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 57a5da65-400a-4cd5-826c-3436a01618f8
    type: playbook
    task:
      id: 57a5da65-400a-4cd5-826c-3436a01618f8
      version: -1
      name: SOC Data Analysis_V3
      playbookName: SOC Data Analysis_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    separatecontext: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: 8789348a-ffb7-44b8-bf30-a449ccd3b55d
    type: playbook
    task:
      id: 8789348a-ffb7-44b8-bf30-a449ccd3b55d
      version: -1
      name: SOC EndPoint Analysis_V3
      description: 'This is the analyst’s core domain.


        Key tasks:


        Investigate alerts and anomalies.


        Validate true/false positives.


        Perform triage, correlation, and root cause analysis.


        Classify the alert (category, severity, impact).


        Document findings and escalate confirmed alerts.


        Outcome: Determine whether an event is a legitimate alert and assess its scope.


        This phase measures alert fidelity, investigation efficiency, and time to validate — all analyst performance metrics.'
      playbookName: SOC EndPoint Analysis_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    scriptarguments:
      Alert_Subtype:
        simple: ${SOCFramework.Product.category}
      Command_Line_Patterns:
        simple: ${SOCFramework.Artifacts.CommandLine}
      Featured_Host:
        simple: ${SOCFramework.Artifacts.FeaturedHost}
      File_Hashes256:
        simple: ${SOCFramework.Artifacts.File}
      Linked_Count:
        simple: ${SOCFramework.Investigation.LinkedCount}
      MITRE_Tactic:
        simple: ${SOCFramework.Mitre.Tactic.ID}
      MITRE_Technique:
        simple: ${SOCFramework.Mitre.Technique.ID}
      Network_Artifacts:
        simple: ${SOCFramework.Artifacts.NetworkArtifacts}
      Process_Names:
        simple: ${SOCFramework.Artifacts.ProcessNames}
      XSIAM_RiskScore:
        simple: ${SOCFramework.Investigation.RiskScore}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 1062.5,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: d7385c3a-2283-4938-81b3-58ea63cc75f2
    type: playbook
    task:
      id: d7385c3a-2283-4938-81b3-58ea63cc75f2
      version: -1
      name: SOC Identity Analysis_V3
      playbookName: SOC Identity Analysis_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    separatecontext: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1512.5,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: e2089744-16e7-4227-8a13-0c65f8278895
    type: playbook
    task:
      id: e2089744-16e7-4227-8a13-0c65f8278895
      version: -1
      name: SOC Network Analysis_V3
      playbookName: SOC Network Analysis_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    separatecontext: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1962.5,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: 4b7573be-bd91-4fe6-8959-2bc5d4aaa78c
    type: playbook
    task:
      id: 4b7573be-bd91-4fe6-8959-2bc5d4aaa78c
      version: -1
      name: SOC SaaS Analysis_V3
      playbookName: SOC SaaS Analysis_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    separatecontext: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 2412.5,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '8':
    id: '8'
    taskid: 3d8bf25e-863c-4ee5-8a18-47d621adbc11
    type: playbook
    task:
      id: 3d8bf25e-863c-4ee5-8a18-47d621adbc11
      version: -1
      name: SOC Workload Analysis_V3
      playbookName: SOC Workload Analysis_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    separatecontext: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 2862.5,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: 8ceb5aed-c39b-452d-8fd8-f5f2ed8eb896
    type: title
    task:
      id: 8ceb5aed-c39b-452d-8fd8-f5f2ed8eb896
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1287.5,\n    \"y\": 775\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 92178e4d-7444-47c9-8229-cca9ce09d331
    type: condition
    task:
      id: 92178e4d-7444-47c9-8229-cca9ce09d331
      version: -1
      name: Product Category
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '9'
      Data:
      - '13'
      Email:
      - '18'
      Endpoint:
      - '12'
      Identity:
      - '14'
      Network:
      - '15'
      SaaS:
      - '16'
      Workload:
      - '17'
    separatecontext: false
    conditions:
    - label: Data
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Data
    - label: Workload
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Workload
    - label: Identity
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Identity
    - label: SaaS
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: SaaS
    - label: Endpoint
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Endpoint
    - label: Email
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Email
    - label: Network
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductCategory
            iscontext: true
          right:
            value:
              simple: Network
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1175,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 51a32d2e-ec43-4029-8faa-f5c1ab7f7799
    type: condition
    task:
      id: 51a32d2e-ec43-4029-8faa-f5c1ab7f7799
      version: -1
      name: Endpoint Analysis Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '9'
      Default:
      - '3'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Endpoint Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Endpoint Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 950,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: bdabddaf-0b19-4e96-971a-d3f85479805e
    type: condition
    task:
      id: bdabddaf-0b19-4e96-971a-d3f85479805e
      version: -1
      name: Data Analysis Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '9'
      Default:
      - '1'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Data Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Data Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: 1333bc58-8ac4-4522-b913-52c76f5cc116
    type: condition
    task:
      id: 1333bc58-8ac4-4522-b913-52c76f5cc116
      version: -1
      name: Identity Analysis Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '9'
      Default:
      - '5'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Identity Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Identity Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1400,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: dca31f2e-7363-4767-bfdd-42af9b9a5066
    type: condition
    task:
      id: dca31f2e-7363-4767-bfdd-42af9b9a5066
      version: -1
      name: Network Analysis Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '9'
      Default:
      - '6'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Network Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Network Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1850,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: 419f92e1-5c35-47f4-ae4e-8b75acf42e57
    type: condition
    task:
      id: 419f92e1-5c35-47f4-ae4e-8b75acf42e57
      version: -1
      name: SaaS Analysis Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '9'
      Default:
      - '7'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC SaaS Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC SaaS Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 2300,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: 866225a9-2ae1-434f-b042-8907793f102f
    type: condition
    task:
      id: 866225a9-2ae1-434f-b042-8907793f102f
      version: -1
      name: Workload Analysis Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '9'
      Default:
      - '8'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Workload Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Workload Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 2750,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: e96a6c41-f225-4ae6-9939-0bb1639cdecb
    type: condition
    task:
      id: e96a6c41-f225-4ae6-9939-0bb1639cdecb
      version: -1
      name: Email Analysis Execution Branch
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '9'
      Default:
      - '19'
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Email Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Email Analysis_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: 8d429896-10a1-417b-8289-dbaeb060bcce
    type: playbook
    task:
      id: 8d429896-10a1-417b-8289-dbaeb060bcce
      version: -1
      name: SOC Email Analysis_V3
      description: 'This is the analyst’s core domain.


        Key tasks:


        Investigate alerts and anomalies.


        Validate true/false positives.


        Perform triage, correlation, and root cause analysis.


        Classify the alert (category, severity, impact).


        Document findings and escalate confirmed alerts.


        Outcome: Determine whether an event is a legitimate alert and assess its scope.


        This phase measures alert fidelity, investigation efficiency, and time to validate — all analyst performance metrics.'
      playbookName: SOC Email Analysis_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    separatecontext: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 612.5,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: "{\n  \"linkLabelsPosition\": {\n    \"10_14_Identity\": 0.88,\n    \"10_16_SaaS\": 0.82,\n    \"10_17_Workload\": 0.9,\n\
  \    \"18_19_Default\": 0.8\n  },\n  \"paper\": {\n    \"dimensions\": {\n      \"height\": 785,\n      \"width\": 3192.5,\n\
  \      \"x\": 50,\n      \"y\": 50\n    }\n  }\n}"
inputs:
- key: ExecutionBranch
  value:
    simple: ${lists.SOCExecutionList_V3}
  required: false
  description: ''
  playbookInputQuery: null
- key: ProductCategory
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: Get The Product Category
  playbookInputQuery: null
inputSections:
- inputs:
  - ExecutionBranch
  - ProductCategory
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - Analysis.verdict
  - Analysis.confidence
  - Analysis.response_recommended
  - Analysis.compromise_level
  - Analysis.compromise_decision
  - Analysis.spread_level
  - Analysis.persistence_type
  - Analysis.primary_entity_id
  - Analysis.primary_entity_name
  - Analysis.primary_entity_type
  - Analysis.primary_entity_user
  - Analysis.case_category
  - Analysis.mitre_tactic
  - Analysis.mitre_tactic_id
  - Analysis.mitre_technique
  - Analysis.mitre_technique_id
  - Analysis.story
  - Analysis.case_score
  - Analysis.global_hash_prevalence_count
  - Analysis.case_host_count
  - Analysis.case_issue_count
  - Analysis.case_user_count
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Analysis.verdict
  type: unknown
- contextPath: Analysis.confidence
  type: unknown
- contextPath: Analysis.response_recommended
  type: unknown
- contextPath: Analysis.compromise_level
  type: unknown
- contextPath: Analysis.compromise_decision
  type: unknown
- contextPath: Analysis.spread_level
  type: unknown
- contextPath: Analysis.persistence_type
  type: unknown
- contextPath: Analysis.primary_entity_id
  type: unknown
- contextPath: Analysis.primary_entity_name
  type: unknown
- contextPath: Analysis.primary_entity_type
  type: unknown
- contextPath: Analysis.primary_entity_user
  type: unknown
- contextPath: Analysis.case_category
  type: unknown
- contextPath: Analysis.mitre_tactic
  type: unknown
- contextPath: Analysis.mitre_tactic_id
  type: unknown
- contextPath: Analysis.mitre_technique
  type: unknown
- contextPath: Analysis.mitre_technique_id
  type: unknown
- contextPath: Analysis.story
  type: unknown
- contextPath: Analysis.case_score
  type: unknown
- contextPath: Analysis.global_hash_prevalence_count
  type: unknown
- contextPath: Analysis.case_host_count
  type: unknown
- contextPath: Analysis.case_issue_count
  type: unknown
- contextPath: Analysis.case_user_count
  type: unknown
sourceplaybookid: SOC Containment_V3
dirtyInputs: false
adopted: true
