Packs/soc-framework-nist-ir/Playbooks/SOC_Email_Spread_Evaluation_V3.yml
adopted: true
id: SOC Email Spread Evaluation_V3
name: SOC Email Spread Evaluation_V3
version: -1
fromversion: 6.10.0
description: "NIST IR 800-61 — Analysis Phase — Email Spread & Persistence Evaluation\n\nEvaluates the blast radius and post-delivery\
  \ persistence footprint of an email\nthreat. Two concerns are addressed:\n\n1. Spread Level — maps Analysis.Email.RecipientScope\
  \ (produced by Exposure\n   Evaluation) to the canonical spread_level vocabulary (single_entity /\n   limited_entity / multi_entity)\
  \ so downstream phases consume the same\n   contract as Endpoint.\n\n2. Inbox Rule Audit — queries ms_o365_audit_raw for\
  \ New-InboxRule events\n   tied to the primary recipient within 24 hours of the alert. A forwarding\n   or auto-delete rule\
  \ created after delivery is a known persistence indicator\n   (see Turla / Carbon playbook). Sets Analysis.Email.persistence_type.\n\
  \nInputs consumed (produced by Exposure Evaluation):\n  Analysis.Email.RecipientScope  — single_user / multi_user / tenant_wide\n\
  \  SOCFramework.Email.TAP.MailboxCount — numeric recipient count\n\nContext key contract produced:\n  Analysis.Email.spread_level\
  \     — single_entity / limited_entity / multi_entity\n  Analysis.Email.persistence_type — inbox_rule_persistence / no_persistence_detected"
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- Email
starttaskid: '0'
inputs:
- key: RecipientScope
  value:
    simple: ${Analysis.Email.RecipientScope}
  required: false
  description: 'Recipient scope produced by SOC Email Exposure Evaluation_V3. Values: single_user / multi_user / tenant_wide'
  playbookInputQuery: null
- key: MailboxCount
  value:
    simple: ${SOCFramework.Email.TAP.MailboxCount}
  required: false
  description: Unique recipient mailbox count from TAP delivery query.
  playbookInputQuery: null
- key: Recipient
  value:
    simple: ${SOCFramework.Artifacts.Email.To}
  required: false
  description: Primary recipient UPN — used as the UserId filter in the O365 inbox rule audit XQL query.
  playbookInputQuery: null
- key: multi_user_threshold
  value:
    simple: '3'
  required: false
  description: MailboxCount at or above this value promotes spread_level to multi_entity. Default 3 — aligns with Endpoint
    high_host_count_per_case default.
  playbookInputQuery: null
inputSections:
- inputs:
  - RecipientScope
  - MailboxCount
  - Recipient
  - multi_user_threshold
  name: Spread Evaluation Inputs
  description: Inputs derived from Exposure Evaluation and TAP artifact context.
tasks:
  '0':
    id: '0'
    taskid: a1b2c3d4-e5f6-7890-abcd-ef1234567890
    type: start
    task:
      id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: b2c3d4e5-f6a7-8901-bcde-f12345678901
    type: title
    task:
      id: b2c3d4e5-f6a7-8901-bcde-f12345678901
      version: -1
      name: Evaluate Spread Level
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '2'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 195\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: c3d4e5f6-a7b8-9012-cdef-123456789012
    type: condition
    task:
      id: c3d4e5f6-a7b8-9012-cdef-123456789012
      version: -1
      name: Map Recipient Scope to Spread Level
      description: Maps the email-specific RecipientScope vocabulary to the canonical spread_level values used across all
        product categories. tenant_wide always becomes multi_entity. multi_user is promoted to multi_entity when MailboxCount
        >= multi_user_threshold, otherwise limited_entity. single_user defaults to single_entity.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '5'
      multi_entity:
      - '3'
      limited_entity:
      - '4'
    conditions:
    - label: multi_entity
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.RecipientScope
            iscontext: true
          right:
            value:
              simple: tenant_wide
        - operator: greaterThanOrEqual
          left:
            value:
              simple: inputs.MailboxCount
            iscontext: true
          right:
            value:
              simple: inputs.multi_user_threshold
            iscontext: true
    - label: limited_entity
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.RecipientScope
            iscontext: true
          right:
            value:
              simple: multi_user
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 370\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: d4e5f6a7-b8c9-0123-defa-234567890123
    type: regular
    task:
      id: d4e5f6a7-b8c9-0123-defa-234567890123
      version: -1
      name: Set Spread Level — multi_entity
      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '6'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.spread_level
      value:
        simple: multi_entity
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 570\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: e5f6a7b8-c9d0-1234-efab-345678901234
    type: regular
    task:
      id: e5f6a7b8-c9d0-1234-efab-345678901234
      version: -1
      name: Set Spread Level — limited_entity
      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '6'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.spread_level
      value:
        simple: limited_entity
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 570\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: f6a7b8c9-d0e1-2345-fabc-456789012345
    type: regular
    task:
      id: f6a7b8c9-d0e1-2345-fabc-456789012345
      version: -1
      name: Set Spread Level — single_entity
      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '6'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.spread_level
      value:
        simple: single_entity
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 570\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: a7b8c9d0-e1f2-3456-abcd-567890123456
    type: title
    task:
      id: a7b8c9d0-e1f2-3456-abcd-567890123456
      version: -1
      name: Inbox Rule Audit
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '7'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 760\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: b8c9d0e1-f2a3-4567-bcde-678901234567
    type: condition
    message:
      bcc: null
      body:
        simple: '## Inbox Rule Audit — Manual Check Required


          Check the recipient mailbox **${inputs.Recipient}** for inbox rules created within the last 24 hours.


          **Steps:**

          1. Open Exchange Admin Center or M365 Defender → Mailbox

          2. Review Rules for forwarding, auto-delete, or move-to-folder rules

          3. Cross-reference creation time against alert delivery time


          **Turla Carbon indicator:** Rules that forward to external addresses or auto-delete replies are a known C2 persistence
          technique.


          Was a suspicious inbox rule detected?'
      cc: null
      format: ''
      methods: []
      replyOptions:
      - 'Yes'
      - 'No'
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: true
        retriescount: 2
        retriesinterval: 360
      to: null
    task:
      id: b8c9d0e1-f2a3-4567-bcde-678901234567
      version: -1
      name: Inbox Rule Detected?
      description: Manual analyst check — no MS Graph integration required. Analyst reviews recipient mailbox for suspicious
        inbox rules created post-delivery. Yes routes to inbox_rule_persistence, No routes to no_persistence_detected.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      'Yes':
      - '9'
      'No':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 930}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: d0e1f2a3-b4c5-6789-defa-890123456789
    type: regular
    task:
      id: d0e1f2a3-b4c5-6789-defa-890123456789
      version: -1
      name: Set Persistence — inbox_rule_persistence
      description: 'Set a value in context under the key you entered. If no value is entered, the script doesn''t do anything.

        Inbox rule creation detected post-delivery. This maps to the persistence_type contract parallel to Analysis.Endpoint.persistence_type,
        and should be evaluated by Eradication for inbox rule removal via soc-remove-inbox-rule (SOCFrameworkActions_V3).'
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.persistence_type
      value:
        simple: inbox_rule_persistence
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 760,\n    \"y\": 1310\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: e1f2a3b4-c5d6-7890-efab-901234567890
    type: regular
    task:
      id: e1f2a3b4-c5d6-7890-efab-901234567890
      version: -1
      name: Set Persistence — no_persistence_detected
      description: Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.persistence_type
      value:
        simple: no_persistence_detected
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 1310\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: f2a3b4c5-d6e7-8901-fabc-012345678901
    type: title
    task:
      id: f2a3b4c5-d6e7-8901-fabc-012345678901
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks: {}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 1510\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
outputs:
- contextPath: Analysis.Email.spread_level
  description: 'Canonical spread level for the email threat. Values: single_entity / limited_entity / multi_entity. Maps from
    Analysis.Email.RecipientScope — parallel to Analysis.Endpoint.spread_level so downstream phases share the same contract.'
  type: string
- contextPath: Analysis.Email.persistence_type
  description: Post-delivery persistence indicator. inbox_rule_persistence — New-InboxRule detected in ms_o365_audit_raw for
    the primary recipient within 24h of delivery. Requires Eradication via soc-remove-inbox-rule. no_persistence_detected
    — no inbox rule evidence found.
  type: string
outputSections:
- outputs:
  - Analysis.Email.spread_level
  - Analysis.Email.persistence_type
  name: Spread Evaluation Contract
  description: Passed to Analysis Evaluation and Containment phase. spread_level drives Containment scope (single mailbox
    vs. tenant-wide purge). persistence_type gates Eradication inbox rule removal task.
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n      \"height\": 1520,\n      \"width\":\
  \ 1240,\n      \"x\": 50,\n      \"y\": 50\n    }\n  }\n}"
contentitemexportablefields:
  contentitemfields:
    definitionid: ''
    fromServerVersion: 6.10.0
    isoverridable: false
    itemVersion: 3.0.0
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR
    prevname: ''
    supportedModules: []
    toServerVersion: ''
dirtyInputs: false
