Packs/soc-framework-nist-ir/Playbooks/SOC_Email_IOC_Enrichment_V3.yml
fromversion: 5.0.0
id: SOC Email IOC Enrichment_V3
version: 41
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 1.1.0
    fromServerVersion: 6.10.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Email IOC Enrichment_V3
description: "NIST IR 800-61 — Detection & Analysis — Email IOC Enrichment\n\nCreates indicators in XSIAM TIM, assigns Proofpoint\
  \ DBot scores, and checks sender prevalence before Signal Characterization runs.\n\nMUST run before SOC Email Signal Characterization_V3\
  \ — Signal Characterization reads DBotScore.Score via GetIndicatorDBotScoreFromCache. If no indicator exists with a score,\
  \ source_verdict defaults to benign.\n\nValue Driver: VD1 (Reduce Risk) — accurate DBot scoring feeds Signal Characterization\
  \ source_verdict, which cross-checks ThreatStatus in Verdict Resolution.\nValue Driver: VD3 (Efficiency) — automated IOC\
  \ creation and prevalence tagging replaces manual analyst TIM lookups.\n\nExecution:\n  1. Fan-out: URL threat? / Attachment\
  \ threat? (parallel)\n     URL path:        createNewIndicator(URL) → AddDBotScoreToContext(score=2, vendor=Proofpoint TAP)\n\
  \     Attachment path: createNewIndicator(File) → AddDBotScoreToContext(score=2, vendor=Proofpoint TAP)\n  2. Tag all threat\
  \ indicators: ProofpointTAPThreat\n  3. Sender prevalence: domain + IP parallel checks\n     Non-prevalent → tag Uncommon\n\
  \  4. Set Analysis.Email.ioc_enriched = true\n\nDBot score 2 = suspicious baseline per original SOC_Proofpoint_Preparation\
  \ logic.\nVerdict Resolution cross-checks this against ThreatStatus for final confidence.\n\nNote: rasterize URL (screenshot)\
  \ intentionally excluded — operationally low priority, adds latency with minimal SOC value.\n\nContext keys produced:\n\
  \  Analysis.Email.ioc_enriched\n  DBotScore.* (via AddDBotScoreToContext — consumed by Signal Characterization)"
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- Email
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 51b4a7c9-3f34-480b-a0f8-bf48cbe81ca5
    type: start
    task:
      id: 51b4a7c9-3f34-480b-a0f8-bf48cbe81ca5
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
      - '2'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 275,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 3ef80573-d0c0-4812-b210-a6ba459d5df7
    type: condition
    task:
      id: 3ef80573-d0c0-4812-b210-a6ba459d5df7
      version: -1
      name: Is URL Threat?
      description: 'Routes to URL IOC creation if threatType contains "url".

        Source: alert.proofpointtapthreatinfomap.threatType'
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '10'
      'yes':
      - '3'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: alert.proofpointtapthreatinfomap.threatType
            iscontext: true
          right:
            value:
              simple: url
          ignorecase: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: 84eb463d-e7c3-44e4-b860-264f5ed4c2b0
    type: condition
    task:
      id: 84eb463d-e7c3-44e4-b860-264f5ed4c2b0
      version: -1
      name: Is Attachment Threat?
      description: 'Routes to File IOC creation if threatType contains "attachment".

        Source: alert.proofpointtapthreatinfomap.threatType'
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '10'
      'yes':
      - '6'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: alert.proofpointtapthreatinfomap.threatType
            iscontext: true
          right:
            value:
              simple: attachment
          ignorecase: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: 7374b5c1-3696-4a0d-905b-7219add8b604
    type: title
    task:
      id: 7374b5c1-3696-4a0d-905b-7219add8b604
      version: -1
      name: URL IOC Path
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: d0a414b4-2386-452a-8845-3d8f093d97c1
    type: regular
    task:
      id: d0a414b4-2386-452a-8845-3d8f093d97c1
      version: -1
      name: Create URL Indicator
      description: commands.local.cmd.new.indicator
      script: Builtin|||createNewIndicator
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '5'
    scriptarguments:
      proofpointtaplink:
        simple: ${inputs.ThreatURL}
      type:
        simple: URL
      value:
        simple: ${inputs.ThreatURL}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 575\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: 3442ffab-32ee-4a8a-bcb0-199f1d213433
    type: regular
    task:
      id: 3442ffab-32ee-4a8a-bcb0-199f1d213433
      version: -1
      name: Assign DBot Score — URL
      description: 'Assigns DBot score 2 (suspicious) to the URL indicator.

        Score 2 = suspicious baseline — Verdict Resolution cross-checks this against ThreatStatus for final verdict confidence.

        Matches original Preparation task 9 logic.'
      scriptName: AddDBotScoreToContext
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    scriptarguments:
      indicator:
        complex:
          root: alert.proofpointtapthreatinfomap
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: alert.proofpointtapthreatinfomap.threatType
                iscontext: true
              right:
                value:
                  simple: url
              ignorecase: true
          accessor: threat
      indicatorType:
        simple: URL
      reliability:
        simple: C - Fairly reliable
      score:
        simple: '2'
      vendor:
        simple: Proofpoint TAP
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 760\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: 75fc0a2c-1eee-45aa-9c18-4dcd9930b090
    type: title
    task:
      id: 75fc0a2c-1eee-45aa-9c18-4dcd9930b090
      version: -1
      name: Attachment / File IOC Path
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '7'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 612.5,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: 6eb0b22e-c455-4017-909b-fcac0dcadef9
    type: regular
    task:
      id: 6eb0b22e-c455-4017-909b-fcac0dcadef9
      version: -1
      name: Create File Indicator
      description: commands.local.cmd.new.indicator
      script: Builtin|||createNewIndicator
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments:
      proofpointtaplink:
        simple: ${inputs.ThreatURL}
      type:
        simple: File
      value:
        complex:
          root: alert.proofpointtapthreatinfomap
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: alert.proofpointtapthreatinfomap.threattype
                iscontext: true
              right:
                value:
                  simple: attachment
          accessor: threat
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 612.5,\n    \"y\": 575\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '8':
    id: '8'
    taskid: 3fcdac81-a1ab-40a5-a7c3-db7d4c938146
    type: regular
    task:
      id: 3fcdac81-a1ab-40a5-a7c3-db7d4c938146
      version: -1
      name: Assign DBot Score — File
      description: 'Assigns DBot score 2 (suspicious) to the File/hash indicator.

        Matches original Preparation task 13 logic.'
      scriptName: AddDBotScoreToContext
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    scriptarguments:
      indicator:
        complex:
          root: alert.proofpointtapthreatinfomap
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: alert.proofpointtapthreatinfomap.threatType
                iscontext: true
              right:
                value:
                  simple: attachment
              ignorecase: true
          accessor: threat
      indicatorType:
        simple: File
      reliability:
        simple: C - Fairly reliable
      score:
        simple: '2'
      vendor:
        simple: Proofpoint TAP
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 612.5,\n    \"y\": 760\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 5836d8b7-0139-4593-9591-6f76ecd5e12c
    type: title
    task:
      id: 5836d8b7-0139-4593-9591-6f76ecd5e12c
      version: -1
      name: Tag Threat Indicators
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 275,\n    \"y\": 945\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: 909e7a45-863f-4386-9512-f2b74b6e3394
    type: regular
    task:
      id: 909e7a45-863f-4386-9512-f2b74b6e3394
      version: -1
      name: Tag Indicators — ProofpointTAPThreat
      description: commands.local.cmd.set.indicators
      script: Builtin|||setIndicators
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      indicatorsValues:
        complex:
          root: alert.proofpointtapthreatinfomap
          accessor: threat
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ','
      tags:
        simple: ProofpointTAPThreat
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 275,\n    \"y\": 1115\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: d69488a6-e95c-4093-9ef3-42a309a558de
    type: title
    task:
      id: d69488a6-e95c-4093-9ef3-42a309a558de
      version: -1
      name: Sender Prevalence Checks
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - g13
      - g14i
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 275,\n    \"y\": 1300\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: 8b0aa331-6462-474b-a197-794408e55a53
    type: regular
    task:
      id: 8b0aa331-6462-474b-a197-794408e55a53
      version: -1
      name: Sender Domain Prevalence Check
      description: 'Checks sender domain prevalence in the environment.

        Low prevalence → tag Uncommon → stronger signal for analyst.'
      script: '|||core-get-domain-analytics-prevalence'
      type: regular
      iscommand: true
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    scriptarguments:
      domain_name:
        complex:
          root: alert
          accessor: proofpointtapsmtpsender
          transformers:
          - operator: ExtractEmailAddresses
          - operator: getField
            args:
              field:
                value:
                  simple: domain
      extend-context:
        simple: Core=.
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 1655\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: a5c33cc5-43e6-4fb4-9c45-7edd74671856
    type: regular
    task:
      id: a5c33cc5-43e6-4fb4-9c45-7edd74671856
      version: -1
      name: Sender IP Prevalence Check
      description: 'Checks sender IP prevalence in the environment.

        Low prevalence → tag Uncommon.'
      script: '|||core-get-IP-analytics-prevalence'
      type: regular
      iscommand: true
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '16'
    scriptarguments:
      extend-context:
        simple: Core=.
      ip_address:
        simple: ${alert.localip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: "{\n  \"position\": {\n    \"x\": 612.5,\n    \"y\": 1655\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: 3d5dfa1e-914d-4a49-8646-35a649e78e59
    type: condition
    task:
      id: 3d5dfa1e-914d-4a49-8646-35a649e78e59
      version: -1
      name: Non-Prevalent Domain?
      description: isFalse = prevalence returned 0 or false — domain is uncommon in environment.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '18'
      'yes':
      - '17'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isFalse
          left:
            value:
              simple: Core.prevalence
            iscontext: true
          right:
            value: {}
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1840\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: 15c6b46c-d16a-4d18-928c-f6c9fbf7573a
    type: condition
    task:
      id: 15c6b46c-d16a-4d18-928c-f6c9fbf7573a
      version: -1
      name: Non-Prevalent IP?
      description: isFalse = prevalence returned 0 or false — IP is uncommon in environment.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '18'
      'yes':
      - '17'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isFalse
          left:
            value:
              simple: Core.prevalence
            iscontext: true
          right:
            value: {}
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1840\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: 477cd42f-a96c-4fdc-bf00-bca587ca6d5c
    type: regular
    task:
      id: 477cd42f-a96c-4fdc-bf00-bca587ca6d5c
      version: -1
      name: Tag Indicators — Uncommon
      description: commands.local.cmd.set.indicators
      script: Builtin|||setIndicators
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '18'
    scriptarguments:
      indicatorsValues:
        complex:
          root: Core.value
          filters:
          - - operator: isExists
              left:
                value:
                  simple: Core.value
                iscontext: true
            - operator: isFalse
              left:
                value:
                  simple: Core.value
                iscontext: true
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ','
      tags:
        simple: Uncommon
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 2025\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: 76fe7d6f-983f-4e02-a951-b4486c6df70e
    type: title
    task:
      id: 76fe7d6f-983f-4e02-a951-b4486c6df70e
      version: -1
      name: Set Enrichment Flag
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '19'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 2210\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: c8d44496-0e09-4142-a02e-d26e5f35efaa
    type: regular
    task:
      id: c8d44496-0e09-4142-a02e-d26e5f35efaa
      version: -1
      name: Set IOC Enriched Flag
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.ioc_enriched
      value:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 2380\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: 86d7087c-5dad-4030-8568-d9de9c2025d0
    type: title
    task:
      id: 86d7087c-5dad-4030-8568-d9de9c2025d0
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 2565\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  g13:
    id: g13
    taskid: 058bc382-11ec-5a21-8a2f-69ad191b87d7
    type: condition
    task:
      id: 058bc382-11ec-5a21-8a2f-69ad191b87d7
      version: -1
      name: Sender Domain Available?
      description: Skip Sender Domain prevalence check if value is empty — continueonerror fallback.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '15'
      'yes':
      - '13'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: alert.proofpointtapsmtpsender
            iscontext: true
          right:
            value: {}
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1470\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  g14i:
    id: g14i
    taskid: e83f74d6-846e-5f27-a381-27a791b2b82c
    type: condition
    task:
      id: e83f74d6-846e-5f27-a381-27a791b2b82c
      version: -1
      name: Sender IP Available?
      description: Skip Sender IP prevalence check if value is empty — continueonerror fallback.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '16'
      'yes':
      - '14'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: alert.localip
            iscontext: true
          right:
            value: {}
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1470\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n      \"height\": 2575,\n      \"width\":\
  \ 942.5,\n      \"x\": 50,\n      \"y\": 50\n    }\n  }\n}"
inputs:
- key: ThreatURL
  value:
    simple: ${SOCFramework.Artifacts.Email.ThreatURL}
  required: false
  description: Threat URL from parent context — used for URL indicator creation.
  playbookInputQuery: null
inputSections:
- inputs:
  - ThreatURL
  name: IOC Enrichment Inputs
  description: Inputs passed from SOC Email Analysis_V3.
outputSections:
- outputs:
  - Analysis.Email.ioc_enriched
  name: Enrichment Contract
  description: Flag consumed by Analysis Evaluation story. DBotScore.* written to context and consumed by Signal Characterization
    GetIndicatorDBotScoreFromCache.
outputs:
- contextPath: Analysis.Email.ioc_enriched
  description: true when IOC creation and DBot score assignment completed
  type: boolean
adopted: true
