Packs/soc-framework-nist-ir/Playbooks/SOC_Email_Forensics_Evaluation_V3.yml
adopted: true
id: SOC Email Forensics Evaluation_V3
name: SOC Email Forensics Evaluation_V3
version: -1
fromversion: 6.10.0
description: "NIST IR 800-61 — Detection & Analysis — Email Forensics Evaluation\n\nAnswers: what did this threat actually\
  \ do, and what forensic evidence exists?\n\nValue Driver: VD1 (Reduce Risk) — forensic data drives accurate verdict confidence\
  \ and informs eradication scope.\nValue Driver: VD3 (Efficiency) — automated forensics retrieval replaces manual Proofpoint\
  \ TAP portal investigation.\n\nExecution:\n  1. Extract CampaignID and ThreatID from alert fields\n  2. Route forensics\
  \ request based on available IDs:\n       Campaign + Threat → proofpoint-get-forensics (threatId + includeCampaignForensics)\n\
  \       Campaign Only     → proofpoint-get-forensics (campaignId)\n       Threat Only       → proofpoint-get-forensics (threatId,\
  \ no campaign)\n       Neither           → skip, set forensics_available = False\n  3. Check if Proofpoint.Report.Behavior\
  \ is populated\n  4. Summarize forensics sections as markdown tables (war room display)\n  5. Set Analysis.Email.forensics_available\
  \ flag\n\nNOTE — Option B build: reads Proofpoint.Report.* vendor paths directly.\noutput_map is defined in soc-get-email-forensics\
  \ (SOCFrameworkActions_V3) documenting the future UC.Email.Forensics.* contract.\nWhen SOCCommandWrapper.py output_map support\
  \ is implemented, swap read paths in this playbook from Proofpoint.Report.* to UC.Email.Forensics.*.\n\nContext keys produced:\n\
  \  SOCFramework.Email.TAP.CampaignID\n  SOCFramework.Email.TAP.ThreatID\n  Analysis.Email.forensics_available\n  Proofpoint.Report.*\
  \ (Behavior, DNS, Network, File, Attachment) — war room only"
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- Email
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 8ee1fe1d-e767-491c-b669-2a96023346d2
    type: start
    task:
      id: 58238c60-26f4-4a51-a449-354a86a91458
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 52d84739-32bb-489c-ad29-026452a6a423
    type: title
    task:
      id: 23698d40-5318-4874-a3fc-2df29e48818f
      version: -1
      name: Extract Campaign ID & Threat ID
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '2'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 195\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: 7975a7ce-95f4-4b76-b968-473048a9785f
    type: regular
    task:
      id: a9ab15d4-5b0f-417b-972d-f99222f79469
      version: -1
      name: Set Campaign ID
      description: 'Extract Proofpoint campaign ID from alert field. Used for campaign-level forensics retrieval. Source:
        alert.proofpointtapcampaignid.'
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '3'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.TAP.CampaignID
      value:
        complex:
          root: alert
          accessor: proofpointtapcampaignid
          transformers:
          - operator: uniq
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 365\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: db3bd46e-1001-462f-9d6d-615c972b644a
    type: regular
    task:
      id: 34c83a91-5113-49ec-9467-a2e512f9c36e
      version: -1
      name: Set Threat ID
      description: 'Extract Proofpoint threat ID from alert field. Used as primary forensics retrieval key when CampaignID
        is absent. Source: alert.proofpointtapthreatid.'
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.TAP.ThreatID
      value:
        complex:
          root: alert
          accessor: proofpointtapthreatid
          transformers:
          - operator: uniq
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 800,\n    \"y\": 365\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 54b447d0-4e39-4700-af82-e3bf1b19c76c
    type: title
    task:
      id: e3ab0dcd-c048-455d-a693-92dbc2b1b1c8
      version: -1
      name: Route Forensics Request
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '5'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 555\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: 051c11cd-2a92-4159-a8c5-ebe6d41f6514
    type: condition
    task:
      id: 26c1fc39-ddc3-4489-b62d-b236d88025c0
      version: -1
      name: IDs Available?
      type: condition
      description: 'Routes forensics retrieval based on which IDs are present.

        Campaign+Threat: fetch by threat ID with campaign forensics included.

        Campaign Only: fetch by campaign ID.

        Threat Only: fetch by threat ID.

        Default (neither): skip forensics, proceed to summarize.'
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '9'
      Campaign + Threat:
      - '6'
      Campaign Only:
      - '6'
      Threat Only:
      - '6'
    conditions:
    - label: Campaign + Threat
      condition:
      - - operator: isExists
          left:
            value:
              simple: SOCFramework.Email.TAP.CampaignID
            iscontext: true
        - operator: isNotEqualString
          left:
            value:
              simple: SOCFramework.Email.TAP.CampaignID
            iscontext: true
          right:
            value:
              simple: 'null'
      - - operator: isExists
          left:
            value:
              simple: SOCFramework.Email.TAP.ThreatID
            iscontext: true
    - label: Campaign Only
      condition:
      - - operator: isExists
          left:
            value:
              simple: SOCFramework.Email.TAP.CampaignID
            iscontext: true
        - operator: isNotEqualString
          left:
            value:
              simple: SOCFramework.Email.TAP.CampaignID
            iscontext: true
          right:
            value:
              simple: 'null'
    - label: Threat Only
      condition:
      - - operator: isExists
          left:
            value:
              simple: SOCFramework.Email.TAP.ThreatID
            iscontext: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 725\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: fc11dd22-ee33-ff44-aa55-bb6677889900
    type: regular
    task:
      id: fc11dd22-ee33-ff44-aa55-bb6677889900
      version: -1
      name: Get Email Forensics — Universal Command
      description: Retrieves Proofpoint TAP forensics via SOCCommandWrapper. In Shadow Mode logs the intended call to warroom
        and dataset without requiring the Proofpoint TAP integration to be present. Continues on error so absence of integration
        does not stop the playbook.
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    scriptarguments:
      action:
        simple: soc-get-email-forensics
      shadow_mode:
        simple: ${inputs.ShadowMode}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: '{"position": {"x": 480, "y": 560}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: 2dfa82e2-c0a3-4257-b8fa-465d2995be0e
    type: title
    task:
      id: ad9b27bc-08eb-4964-a077-276fd21c6806
      version: -1
      name: Check Forensics Data
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1100,\n    \"y\": 920\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 20ee7e5a-788b-41c0-8555-0f06b388d496
    type: title
    task:
      id: 3a59d92c-4751-4a3a-8c8d-14216a33dea6
      version: -1
      name: Process Forensics Results
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1110\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: 9f0ddb17-9f95-4cb7-b17f-fd4ed9d9d056
    type: condition
    task:
      id: 4922ac4e-dbc1-443e-ad10-d6fb584a0cf7
      version: -1
      name: Forensics Data Exists?
      type: condition
      description: 'Checks for Proofpoint.Report.Behavior as the presence signal for forensics data.

        Behavior is always populated when forensics are returned.

        Future: swap to UC.Email.Forensics.behavior when SOCCommandWrapper output_map is implemented.'
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '13'
      'yes':
      - '12'
    conditions:
    - label: 'yes'
      condition:
      - - operator: isExists
          left:
            value:
              simple: Proofpoint.Report.Behavior
            iscontext: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1280\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 6a1304af-0509-49c1-b087-4eba3e2fd23d
    type: regular
    task:
      id: d04043ad-70d5-49d8-8f48-974eea15cd6b
      version: -1
      name: Summarize Forensic Data
      description: Write forensics summary to warroom.
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
      script: Builtin|||setIssue
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      forensicattachment:
        complex:
          root: Proofpoint.Report.Attachment
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: Proofpoint.Report.Attachment
                iscontext: true
          transformers:
          - operator: JsonToTable
            args:
              headers: {}
              is_auto_json_transform: {}
              json_transform_properties: {}
              title: {}
              url_keys: {}
      forensicdnsmarkdown:
        complex:
          root: Proofpoint.Report
          accessor: DNS
          transformers:
          - operator: JsonToTable
            args:
              headers: {}
              is_auto_json_transform: {}
              json_transform_properties: {}
              title: {}
      forensicfilemarkdown:
        complex:
          root: Proofpoint.Report
          accessor: File
          transformers:
          - operator: JsonToTable
            args:
              headers: {}
              is_auto_json_transform: {}
              json_transform_properties: {}
              title: {}
      forensicnetworkmarkdown:
        complex:
          root: Proofpoint.Report
          accessor: Network
          transformers:
          - operator: JsonToTable
            args:
              headers: {}
              is_auto_json_transform: {}
              json_transform_properties: {}
              title: {}
      forensicsummarymarkdown:
        complex:
          root: Proofpoint.Report
          accessor: Behavior
          transformers:
          - operator: JsonToTable
            args:
              headers: {}
              is_auto_json_transform: {}
              json_transform_properties: {}
              title: {}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 1465\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: 92681567-a6a3-4f7c-ab37-be78ea3e7c10
    type: regular
    task:
      id: 56453e3b-ec35-42a6-8bcd-bff24e97838c
      version: -1
      name: Set Forensics Available Flag
      description: 'Sets Analysis.Email.forensics_available = True/False.

        Consumed by SOC Analysis Evaluation_V3 story field to indicate whether forensic detail is available in the war room.'
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: Analysis.Email.forensics_available
      value:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1655\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: a1ed723f-c2b6-4c76-b98c-012287bf2fe8
    type: title
    task:
      id: de4bb3fe-9e59-4e52-af23-e84c194c80ab
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks: {}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1835\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
inputs:
- key: ShadowMode
  value:
    complex:
      root: lists
      accessor: SOCExecutionList_V3
      transformers:
      - operator: getField
        args:
          field:
            value:
              simple: SOC Email Forensics Evaluation_V3
      - operator: getField
        args:
          field:
            value:
              simple: shadow_mode
  required: false
  description: Shadow mode flag from SOCExecutionList_V3.
  playbookInputQuery: null
inputSections: []
outputs:
- contextPath: SOCFramework.Email.TAP.CampaignID
  description: Proofpoint TAP campaign ID — extracted from alert.proofpointtapcampaignid
  type: string
- contextPath: SOCFramework.Email.TAP.ThreatID
  description: Proofpoint TAP threat ID — extracted from alert.proofpointtapthreatid. Also consumed by Exposure Evaluation
    XQL query as secondary filter.
  type: string
- contextPath: Analysis.Email.forensics_available
  description: True if Proofpoint.Report.Behavior was populated by forensics retrieval
  type: boolean
outputSections:
- outputs:
  - SOCFramework.Email.TAP.CampaignID
  - SOCFramework.Email.TAP.ThreatID
  - Analysis.Email.forensics_available
  name: Forensics Contract
  description: CampaignID and ThreatID consumed by Exposure Evaluation XQL filter. forensics_available consumed by Analysis
    Evaluation narrative.
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n      \"height\": 1890,\n      \"width\":\
  \ 1350,\n      \"x\": 50,\n      \"y\": 50\n    }\n  }\n}"
contentitemexportablefields:
  contentitemfields:
    definitionid: ''
    fromServerVersion: 6.10.0
    isoverridable: false
    itemVersion: 3.0.0
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR
    prevname: ''
    supportedModules: []
    toServerVersion: ''
dirtyInputs: false
