Packs/soc-framework-nist-ir/Playbooks/SOC_Email_IOC_Enrichment_V3.yml
adopted: true
id: SOC Email IOC Enrichment_V3
version: -1
fromversion: 5.0.0
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 1.5.27
    fromServerVersion: 6.10.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
name: SOC Email IOC Enrichment_V3
description: |-
  NIST IR 800-61 — Detection & Analysis — Email IOC Enrichment

  Creates indicators in XSIAM TIM, assigns Proofpoint DBot scores, and checks sender prevalence before Signal Characterization runs.

  MUST run before SOC Email Signal Characterization_V3 — Signal Characterization reads DBotScore.Score via GetIndicatorDBotScoreFromCache. If no indicator exists with a score, source_verdict defaults to benign.

  Value Driver: VD1 (Reduce Risk) — accurate DBot scoring feeds Signal Characterization source_verdict, which cross-checks ThreatStatus in Verdict Resolution.
  Value Driver: VD3 (Efficiency) — automated IOC creation and prevalence tagging replaces manual analyst TIM lookups.

  Execution:
    1. Fan-out: URL threat? / Attachment threat? (parallel)
       URL path:        createNewIndicator(URL) → AddDBotScoreToContext(score=2, vendor=Email SEG)
       Attachment path: createNewIndicator(File) → AddDBotScoreToContext(score=2, vendor=Email SEG)
    2. Tag all threat indicators: EmailThreat
    3. Sender prevalence: domain + IP parallel checks
       Non-prevalent → tag Uncommon
    4. Set Analysis.Email.ioc_enriched = true

  DBot score 2 = suspicious baseline per original SOC_Proofpoint_Preparation logic.
  Verdict Resolution cross-checks this against ThreatStatus for final confidence.

  Note: rasterize URL (screenshot) intentionally excluded — operationally low priority, adds latency with minimal SOC value.

  Context keys produced:
    Analysis.Email.ioc_enriched
    DBotScore.* (via AddDBotScoreToContext — consumed by Signal Characterization)
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- Email
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 51b4a7c9-3f34-480b-a0f8-bf48cbe81ca5
    type: start
    task:
      id: 51b4a7c9-3f34-480b-a0f8-bf48cbe81ca5
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "1"
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 275,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 3ef80573-d0c0-4812-b210-a6ba459d5df7
    type: condition
    task:
      id: 3ef80573-d0c0-4812-b210-a6ba459d5df7
      version: -1
      name: Is URL Threat?
      description: |-
        Routes to URL IOC creation if threatType contains "url".
        Source: SOCFramework.Email.threat_type
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "3"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: SOCFramework.Email.threat_type
            iscontext: true
          right:
            value:
              simple: url
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 84eb463d-e7c3-44e4-b860-264f5ed4c2b0
    type: condition
    task:
      id: 84eb463d-e7c3-44e4-b860-264f5ed4c2b0
      version: -1
      name: Is Attachment Threat?
      description: |-
        Routes to File IOC creation if threatType contains "attachment".
        Source: SOCFramework.Email.threat_type
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "10"
      "yes":
      - "6"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: SOCFramework.Email.threat_type
            iscontext: true
          right:
            value:
              simple: attachment
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 500,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 7374b5c1-3696-4a0d-905b-7219add8b604
    type: title
    task:
      id: 7374b5c1-3696-4a0d-905b-7219add8b604
      version: -1
      name: URL IOC Path
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: d0a414b4-2386-452a-8845-3d8f093d97c1
    type: regular
    task:
      id: d0a414b4-2386-452a-8845-3d8f093d97c1
      version: -1
      name: Create URL Indicator
      description: commands.local.cmd.new.indicator
      script: Builtin|||createNewIndicator
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      emailsourcethreatlink:
        simple: ${inputs.ThreatURL}
      type:
        simple: URL
      value:
        simple: ${inputs.ThreatURL}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 3442ffab-32ee-4a8a-bcb0-199f1d213433
    type: regular
    task:
      id: 3442ffab-32ee-4a8a-bcb0-199f1d213433
      version: -1
      name: Assign DBot Score — URL
      description: |-
        Assigns DBot score 2 (suspicious) to the URL indicator.
        Score 2 = suspicious baseline — Verdict Resolution cross-checks this against ThreatStatus for final verdict confidence.
        Matches original Preparation task 9 logic.
      script: AddDBotScoreToContext
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      indicator:
        simple: ${SOCFramework.Email.threat_url}
      indicatorType:
        simple: URL
      reliability:
        simple: C - Fairly reliable
      score:
        simple: "2"
      vendor:
        simple: Email SEG
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 75fc0a2c-1eee-45aa-9c18-4dcd9930b090
    type: title
    task:
      id: 75fc0a2c-1eee-45aa-9c18-4dcd9930b090
      version: -1
      name: Attachment / File IOC Path
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 612.5,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 6eb0b22e-c455-4017-909b-fcac0dcadef9
    type: regular
    task:
      id: 6eb0b22e-c455-4017-909b-fcac0dcadef9
      version: -1
      name: Create File Indicator
      description: commands.local.cmd.new.indicator
      script: Builtin|||createNewIndicator
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      type:
        simple: File
      value:
        simple: ${SOCFramework.Email.attachment_sha256}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 612.5,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 3fcdac81-a1ab-40a5-a7c3-db7d4c938146
    type: regular
    task:
      id: 3fcdac81-a1ab-40a5-a7c3-db7d4c938146
      version: -1
      name: Assign DBot Score — File
      description: |-
        Assigns DBot score 2 (suspicious) to the File/hash indicator.
        Matches original Preparation task 13 logic.
      script: AddDBotScoreToContext
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      indicator:
        simple: ${SOCFramework.Email.attachment_sha256}
      indicatorType:
        simple: File
      reliability:
        simple: C - Fairly reliable
      score:
        simple: "2"
      vendor:
        simple: Email SEG
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 612.5,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 5836d8b7-0139-4593-9591-6f76ecd5e12c
    type: title
    task:
      id: 5836d8b7-0139-4593-9591-6f76ecd5e12c
      version: -1
      name: Tag Threat Indicators
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 275,
          "y": 945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 909e7a45-863f-4386-9512-f2b74b6e3394
    type: regular
    task:
      id: 909e7a45-863f-4386-9512-f2b74b6e3394
      version: -1
      name: Tag Threat Indicators
      description: commands.local.cmd.set.indicators
      script: Builtin|||setIndicators
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      indicatorsValues:
        simple: ${SOCFramework.Email.threat_url}
      tags:
        simple: EmailThreat
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1115
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: d69488a6-e95c-4093-9ef3-42a309a558de
    type: title
    task:
      id: d69488a6-e95c-4093-9ef3-42a309a558de
      version: -1
      name: Sender Prevalence Checks
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "29"
      - "30"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 275,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: bd852fb8-a3f6-4e6d-95cd-9ae62f7bfc93
    type: regular
    task:
      id: bd852fb8-a3f6-4e6d-95cd-9ae62f7bfc93
      version: -1
      name: Sender Domain Prevalence Check
      description: |-
        Checks sender domain prevalence in the environment.
        Low prevalence → tag Uncommon → stronger signal for analyst.
      script: '|||core-get-domain-analytics-prevalence'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      domain_name:
        complex:
          root: SOCFramework.Email.sender
          transformers:
          - operator: substringFrom
            args:
              from:
                value:
                  simple: '@'
      extend-context:
        simple: Core=.
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1655
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 454aaea5-cc4f-4aa8-aa21-b6d592e3dea2
    type: regular
    task:
      id: 454aaea5-cc4f-4aa8-aa21-b6d592e3dea2
      version: -1
      name: Sender IP Prevalence Check
      description: |-
        Checks sender IP prevalence in the environment.
        Low prevalence → tag Uncommon.
      script: '|||core-get-IP-analytics-prevalence'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      extend-context:
        simple: Core=.
      ip_address:
        simple: ${issue.emailsenderip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 612.5,
          "y": 1655
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 3d5dfa1e-914d-4a49-8646-35a649e78e59
    type: condition
    task:
      id: 3d5dfa1e-914d-4a49-8646-35a649e78e59
      version: -1
      name: Non-Prevalent Domain?
      description: isFalse = prevalence returned 0 or false — domain is uncommon in
        environment.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "17"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isFalse
          left:
            value:
              simple: Core.prevalence
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1840
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 15c6b46c-d16a-4d18-928c-f6c9fbf7573a
    type: condition
    task:
      id: 15c6b46c-d16a-4d18-928c-f6c9fbf7573a
      version: -1
      name: Non-Prevalent IP?
      description: isFalse = prevalence returned 0 or false — IP is uncommon in environment.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "17"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isFalse
          left:
            value:
              simple: Core.prevalence
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1840
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 477cd42f-a96c-4fdc-bf00-bca587ca6d5c
    type: regular
    task:
      id: 477cd42f-a96c-4fdc-bf00-bca587ca6d5c
      version: -1
      name: Tag Indicators — Uncommon
      description: commands.local.cmd.set.indicators
      script: Builtin|||setIndicators
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      indicatorsValues:
        complex:
          root: Core.value
          filters:
          - - operator: isExists
              left:
                value:
                  simple: Core.value
                iscontext: true
            - operator: isFalse
              left:
                value:
                  simple: Core.value
                iscontext: true
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ','
      tags:
        simple: Uncommon
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 2025
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 76fe7d6f-983f-4e02-a951-b4486c6df70e
    type: title
    task:
      id: 76fe7d6f-983f-4e02-a951-b4486c6df70e
      version: -1
      name: Set Enrichment Flag
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "19"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 2210
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: c8d44496-0e09-4142-a02e-d26e5f35efaa
    type: regular
    task:
      id: c8d44496-0e09-4142-a02e-d26e5f35efaa
      version: -1
      name: Set IOC Enriched Flag
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Email.ioc_enriched
      value:
        simple: "true"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 2380
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: 86d7087c-5dad-4030-8568-d9de9c2025d0
    type: title
    task:
      id: 86d7087c-5dad-4030-8568-d9de9c2025d0
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 3290
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 08cae8e3-610f-4fb3-ae30-9ace2fb9dd44
    type: title
    task:
      id: 08cae8e3-610f-4fb3-ae30-9ace2fb9dd44
      version: -1
      name: Entity Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "26"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 2565
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: 4f7203c8-f518-4413-9e66-01e24e00b7c8
    type: playbook
    task:
      id: 4f7203c8-f518-4413-9e66-01e24e00b7c8
      version: -1
      name: Entity Enrichment - Phishing v2
      playbookName: Entity Enrichment - Phishing v2
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      Domain:
        complex:
          root: Domain
          accessor: Name
          transformers:
          - operator: uniq
      Email:
        complex:
          root: Account.Email.Address
          transformers:
          - operator: uniq
      IP:
        complex:
          root: IP
          accessor: Address
          transformers:
          - operator: uniq
      MD5:
        complex:
          root: File
          accessor: MD5
          transformers:
          - operator: uniq
      ResolveIP:
        simple: "False"
      SHA256:
        complex:
          root: File
          accessor: SHA256
          transformers:
          - operator: uniq
      URL:
        complex:
          root: URL
          accessor: Data
          transformers:
          - operator: uniq
    separatecontext: true
    continueonerror: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 2735
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: 69b55b49-4617-4e6b-8208-476ee412f720
    type: condition
    task:
      id: 69b55b49-4617-4e6b-8208-476ee412f720
      version: -1
      name: Hunt Email Indicators?
      description: 'Gate: run Phishing - Indicators Hunting if HuntEmailIndicators
        = true. Queries Defender 365 etc. for alert IOCs. Expensive — disabled by
        default. Source: Phishing - Generic v3 task 211.'
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "28"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.HuntEmailIndicators
            iscontext: true
          right:
            value:
              simple: "true"
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 2920
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: 46d290d4-d8f4-4d07-9007-fb5f6ed83584
    type: playbook
    task:
      id: 46d290d4-d8f4-4d07-9007-fb5f6ed83584
      version: -1
      name: Phishing - Indicators Hunting
      playbookName: Phishing - Indicators Hunting
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      DBotScore:
        complex:
          root: DBotScore
          filters:
          - - operator: greaterThanOrEqual
              left:
                value:
                  simple: DBotScore.Score
                iscontext: true
              right:
                value:
                  simple: "2"
      EmailHuntingCreateNewIncidents:
        simple: "false"
      ListenerMailbox:
        simple: ${inputs.ListenerMailbox}
    separatecontext: true
    continueonerror: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 377.5,
          "y": 3105
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: be8f7bc1-f1fe-412c-abd1-13719a7ad0a1
    type: condition
    task:
      id: be8f7bc1-f1fe-412c-abd1-13719a7ad0a1
      version: -1
      name: Sender Domain Available?
      description: Skip Sender Domain prevalence check if value is empty — continueonerror
        fallback.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "15"
      "yes":
      - "13"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: SOCFramework.Email.sender
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: 56c0e4a5-f158-4b16-b447-df49800ec5f8
    type: condition
    task:
      id: 56c0e4a5-f158-4b16-b447-df49800ec5f8
      version: -1
      name: Sender IP Available?
      description: Skip Sender IP prevalence check if value is empty — continueonerror
        fallback.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "14"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: issue.emailsenderip
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 500,
          "y": 1470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3300,
        "width": 942.5,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: ThreatURL
  value:
    simple: ${SOCFramework.Artifacts.Email.ThreatURL}
  required: false
  description: Threat URL from parent context — used for URL indicator creation.
  playbookInputQuery: null
- key: HuntEmailIndicators
  value:
    simple: "false"
  required: false
  description: 'Set true to run Phishing - Indicators Hunting. Queries Defender 365
    and other connected sources for the IOCs from this alert. Expensive operation
    — leave false unless hunting explicitly enabled. Source: Phishing - Generic v3
    task 211.'
  playbookInputQuery: null
- key: ListenerMailbox
  value: {}
  required: false
  description: Mailbox address used as the listener for Phishing - Indicators Hunting.
    Required when HuntEmailIndicators = true.
  playbookInputQuery: null
outputs:
- contextPath: Analysis.Email.ioc_enriched
  description: true when IOC creation and DBot score assignment completed
  type: boolean
