Packs/soc-framework-nist-ir/Playbooks/SOC_Containment_Evaluation_V3.yml
fromversion: 5.0.0
id: SOC Containment Evaluation_V3
version: 13
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework Unified
    itemVersion: 3.1.4
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Containment Evaluation_V3
tags:
- SOC
- SOC_Framework_Unified
- Containment
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 7e6a701e-667b-4a70-8a74-14564da75fc7
    type: start
    task:
      id: 7e6a701e-667b-4a70-8a74-14564da75fc7
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '31'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: 6944e944-2ade-4f6d-b6e0-0f6b8e2c3253
    type: title
    task:
      id: 6944e944-2ade-4f6d-b6e0-0f6b8e2c3253
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 960\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '31':
    id: '31'
    taskid: ccfd4d07-3d48-4610-bf9d-9ed0f49551eb
    type: regular
    task:
      id: ccfd4d07-3d48-4610-bf9d-9ed0f49551eb
      version: -1
      name: Set Containment Status
      description: "Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\
        \nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\nFor more\
        \ information, see the section about permissions here:\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '32'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Containment.status
      value:
        simple: ${inputs.status}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '32':
    id: '32'
    taskid: 7ba489bd-a62b-47f4-a5d4-2a157d7dd7fe
    type: regular
    task:
      id: 7ba489bd-a62b-47f4-a5d4-2a157d7dd7fe
      version: -1
      name: Set Containment Isolated Hosts
      description: "Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\
        \nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\nFor more\
        \ information, see the section about permissions here:\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '44'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Containment.isolate_hosts
      value:
        simple: ${inputs.isolated_hosts}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '43':
    id: '43'
    taskid: fde09d0c-93d8-423c-926d-5f0562365364
    type: regular
    task:
      id: fde09d0c-93d8-423c-926d-5f0562365364
      version: -1
      name: Set Story
      description: "Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\
        \nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\nFor more\
        \ information, see the section about permissions here:\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '201'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Containment.story
      value:
        simple: ${inputs.story}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 775\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '44':
    id: '44'
    taskid: db106c52-f407-4794-bfab-6545966cb9c1
    type: regular
    task:
      id: db106c52-f407-4794-bfab-6545966cb9c1
      version: -1
      name: Set Containment Action
      description: "Set a value in context under the key you entered. If no value is entered, the script doesn't do anything.\n\
        \nThis automation runs using the default Limited User role, unless you explicitly change the permissions.\nFor more\
        \ information, see the section about permissions here:\n- For Cortex XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '43'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Containment.action
      value:
        simple: ${inputs.action}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n      \"height\": 970,\n      \"width\": 380,\n\
  \      \"x\": 50,\n      \"y\": 50\n    }\n  }\n}"
inputs:
- key: status
  value: {}
  required: false
  description: ''
  playbookInputQuery: null
- key: isolated_hosts
  value: {}
  required: false
  description: ''
  playbookInputQuery: null
- key: story
  value:
    simple: 'Malware execution confirmed on ${Analysis.case_host_count} host(s).

      Spread level assessed as ${Analysis.spread_level}.

      Compromise level: ${Analysis.compromise_level}.

      Case risk score: ${Analysis.case_score}.

      Containment action taken: ${Containment.action}.

      Hosts isolated: ${Containment.isolated_hosts}.

      Users disabled: ${Containment.disabled_users}.'
  required: false
  description: ''
  playbookInputQuery: null
- key: action
  value:
    simple: isolate_host
  required: false
  description: ''
  playbookInputQuery: null
inputSections:
- inputs:
  - status
  - isolated_hosts
  - story
  - action
  name: General (Inputs group)
  description: Generic group for inputs
  '200':
    id: '200'
    taskid: ecd065d4-fc4c-4106-838d-96040ffe19c8
    type: regular
    task:
      id: ecd065d4-fc4c-4106-838d-96040ffe19c8
      version: -1
      name: Write containmentstory to incident field
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '2'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: incident.containmentstory
      value:
        simple: ${Containment.story}
    separatecontext: false
    continueonerrortype: ''
    view: "{
  \"position\": {
    \"x\": 50,
    \"y\": 3515
  }
}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

  '201':
    id: '201'
    taskid: b62f8b90-1af3-4fa2-bd40-40286d80ded8
    type: regular
    task:
      id: b62f8b90-1af3-4fa2-bd40-40286d80ded8
      version: -1
      name: Write containmentstory to issue field
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '2'
    scriptarguments:
      containmentstory:
        simple: ${Containment.story}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{
  \"position\": {
    \"x\": 50,
    \"y\": 3515
  }
}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

outputSections:
- outputs:
  - Containment.status
  - Containment.isolate_hosts
  - Containment.story
  - Containment.action
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Containment.status
  type: string
- contextPath: Containment.isolate_hosts
  type: unknown
- contextPath: Containment.story
  type: unknown
- contextPath: Containment.action
  type: unknown
sourceplaybookid: SOC Data Analysis_V3
dirtyInputs: false
adopted: true
