Packs/soc-framework-nist-ir/Playbooks/SOC_Email_Analysis_V3.yml
adopted: true
id: SOC Email Analysis_V3
name: SOC Email Analysis_V3
version: -1
fromversion: 6.10.0
description: "NIST IR 800-61 — Analysis Phase Orchestrator — Email / SEG\n\nExecution\
  \ order:\n  1. Initialize Investigation Context\n  2. IOC Enrichment\n  3. Signal\
  \ Characterization\n  4. Exposure Evaluation\n  5. Verdict Resolution\n  6. Forensics\
  \ Evaluation\n  7. Spread Evaluation — map RecipientScope → spread_level; inbox\
  \ rule audit\n  8. Analysis Evaluation\n\nContext key contract produced:\n  Analysis.Email.verdict,\
  \ confidence, category, signal_type,\n  source_verdict, response_recommended,\n\
  \  Analysis.Email.spread_level, Analysis.Email.persistence_type"
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- Email
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 4344b438-5961-4633-bf23-7349531f006c
    type: start
    task:
      id: 4344b438-5961-4633-bf23-7349531f006c
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 220587fb-12a0-4164-88f9-6aa5acb8fcd7
    type: title
    task:
      id: 220587fb-12a0-4164-88f9-6aa5acb8fcd7
      version: -1
      name: Preparation
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '2'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: 9cf4dd47-ec3f-4331-bf82-30c1822af4f7
    type: playbook
    task:
      id: 9cf4dd47-ec3f-4331-bf82-30c1822af4f7
      version: -1
      name: SOC Initialize Investigation Context
      description: Reset context keys and load case-level metadata.
      playbookName: SOC Initialize Investigation Context_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    scriptarguments:
      case_host_count:
        simple: ${parentIncidentFields.host_count}
      case_issue_count:
        simple: ${parentIncidentFields.alert_count}
      case_score:
        simple: ${parentIncidentFields.predicted_score}
      case_user_count:
        simple: ${parentIncidentFields.user_count}
      reset_issue_keys:
        simple: Investigation, Analysis, Containment, Eradication, Recovery
    separatecontext: false
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 390\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: 3b201387-c29d-4131-970a-13d98c00e0ca
    type: title
    task:
      id: 3b201387-c29d-4131-970a-13d98c00e0ca
      version: -1
      name: Signal Characterization
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 930\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 79222ee9-74e8-4fb9-8ef1-93f9e7fc7287
    type: playbook
    task:
      id: 79222ee9-74e8-4fb9-8ef1-93f9e7fc7287
      version: -1
      name: SOC Email Signal Characterization_V3
      description: 'Characterize the email threat signal type and derive a source-level
        verdict from DBot indicator scoring. Outputs: Analysis.Email.signal_type,
        Analysis.Email.source_verdict.'
      playbookName: SOC Email Signal Characterization_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '5'
    scriptarguments:
      SenderDomain:
        simple: ${SOCFramework.Artifacts.Email.From}
      SenderIP:
        simple: ${alert.localip}
      ThreatIndicator:
        simple: ${SOCFramework.Email.threat_id}
      ThreatType:
        simple: ${SOCFramework.Artifacts.Email.ThreatType}
      ThreatURL:
        complex:
          root: SOCFramework.Artifacts.Email
          accessor: ThreatURL
          transformers:
          - operator: FirstArrayElement
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1100\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: 5b3a9f09-8b54-4ffe-9f24-44df9aec36cf
    type: title
    task:
      id: 5b3a9f09-8b54-4ffe-9f24-44df9aec36cf
      version: -1
      name: Exposure Evaluation
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '6'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1285\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: 924efb48-b875-453c-84a0-4479c863ba54
    type: playbook
    task:
      id: 924efb48-b875-453c-84a0-4479c863ba54
      version: -1
      name: SOC Email Exposure Evaluation_V3
      description: Determine exposure level, recipient scope, VIP involvement, and
        extract MessageID.
      playbookName: SOC Email Exposure Evaluation_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '7'
    scriptarguments:
      ThreatURL:
        complex:
          root: SOCFramework.Artifacts.Email
          accessor: ThreatURL
          transformers:
          - operator: FirstArrayElement
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1455\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: 470ecc5b-2146-46ff-b663-942e4244a43f
    type: title
    task:
      id: 470ecc5b-2146-46ff-b663-942e4244a43f
      version: -1
      name: Verdict Resolution
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1640\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '8':
    id: '8'
    taskid: 70d7a938-e8af-405b-9657-ee8775d015fe
    type: playbook
    task:
      id: 70d7a938-e8af-405b-9657-ee8775d015fe
      version: -1
      name: SOC Email Verdict Resolution_V3
      description: Determine final verdict, confidence, category, and advisory recommendation.
        ClickCount and DeliveredCount now populated by prior Exposure Evaluation.
      playbookName: SOC Email Verdict Resolution_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    scriptarguments:
      Classification:
        simple: ${Email.Classification}
      ClickCount:
        simple: ${Email.Exposure.click_count}
      DeliveredCount:
        simple: ${Email.Exposure.delivered_count}
      HighValueUserInvolved:
        simple: ${SOCFramework.Email.HighValueUserInvolved}
      ThreatStatus:
        simple: ${SOCFramework.Email.threat_status}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1810\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: 6e2e674d-648a-4ef7-b978-61c6b5ee52c4
    type: title
    task:
      id: 6e2e674d-648a-4ef7-b978-61c6b5ee52c4
      version: -1
      name: Forensics Evaluation
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1995\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 4eeaaf71-e891-42d5-b62e-e31b970d3804
    type: playbook
    task:
      id: 4eeaaf71-e891-42d5-b62e-e31b970d3804
      version: -1
      name: SOC Email Forensics Evaluation_V3
      description: Retrieve campaign and threat forensics. Sets CampaignID, ThreatID,
        forensics_available.
      playbookName: SOC Email Forensics Evaluation_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 2165\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    scriptarguments:
      GetOriginalEmail:
        simple: 'false'
  '11':
    id: '11'
    taskid: 655ebc87-9b92-4eda-bbaf-4396f45a14de
    type: title
    task:
      id: 655ebc87-9b92-4eda-bbaf-4396f45a14de
      version: -1
      name: Analysis Evaluation
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 2705\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: da0ded1a-c3fb-449f-922c-860f37dba782
    type: playbook
    task:
      id: da0ded1a-c3fb-449f-922c-860f37dba782
      version: -1
      name: SOC Analysis Evaluation_V3
      description: 'Evaluate final analysis outputs and write case-level fields. Email-specific:
        primary_entity_id/name=From, primary_entity_user=To, spread_level=RecipientScope.
        Compromise fields not applicable for Email.'
      playbookName: SOC Analysis Evaluation_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '23'
    scriptarguments:
      case_category:
        simple: ${Analysis.Email.category}
      case_host_count:
        simple: ${Analysis.Endpoint.host_count}
      case_issue_count:
        simple: ${Analysis.Endpoint.issue_count}
      case_score:
        simple: ${parentIncidentFields.predicted_score}
      case_user_count:
        simple: ${Analysis.Endpoint.user_count}
      confidence:
        simple: ${Analysis.Email.confidence}
      mitre_tactic:
        simple: ${SOCFramework.Mitre.Tactic}
      mitre_tactic_id:
        simple: ${SOCFramework.Mitre.Tactic.ID}
      mitre_technique:
        simple: ${SOCFramework.Mitre.Technique}
      mitre_technique_id:
        simple: ${SOCFramework.Mitre.Technique.ID}
      primary_entity_id:
        simple: ${SOCFramework.Artifacts.Email.From}
      primary_entity_name:
        simple: ${SOCFramework.Artifacts.Email.From}
      primary_entity_type:
        simple: ${SOCFramework.Product.category}
      primary_entity_user:
        simple: ${SOCFramework.Artifacts.Email.To}
      response_recommended:
        simple: ${Analysis.Email.response_recommended}
      spread_level:
        simple: ${Analysis.Email.spread_level}
      story:
        simple: 'Email Analysis Summary


          A ${SOCFramework.Artifacts.Email.ThreatType} threat was detected via ${SOCFramework.Product.key}
          for recipient ${SOCFramework.Artifacts.Email.To}.


          Signal: ${Analysis.Email.signal_type}

          Verdict: ${Analysis.Email.verdict} (${Analysis.Email.confidence} confidence)

          Category: ${Analysis.Email.category}


          Sender: ${SOCFramework.Artifacts.Email.From}

          Subject: ${SOCFramework.Artifacts.Email.Subject}

          Threat URL: ${SOCFramework.Artifacts.Email.ThreatURL}


          Recipient scope: ${Analysis.Email.RecipientScope}


          Response recommendation: ${Analysis.Email.response_recommended}.'
      verdict:
        simple: ${Analysis.Email.verdict}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 2875\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: e2d94592-b6ba-4726-bc56-78b69fa16952
    type: title
    task:
      id: e2d94592-b6ba-4726-bc56-78b69fa16952
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 3415\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: ae10fb92-c3d4-4e5f-b6a7-89012345abcd
    type: title
    task:
      id: ae10fb92-c3d4-4e5f-b6a7-89012345abcd
      version: -1
      name: Spread Evaluation
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 2350\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: c125bb93-7ce0-5b63-bfcb-48c6c5a37642
    type: playbook
    task:
      id: c125bb93-7ce0-5b63-bfcb-48c6c5a37642
      version: -1
      name: SOC Email Spread Evaluation_V3
      description: Maps RecipientScope to canonical spread_level (single_entity /
        limited_entity / multi_entity) and audits ms_o365_audit_raw for New-InboxRule
        persistence events tied to the primary recipient. Sets Analysis.Email.spread_level
        and Analysis.Email.persistence_type.
      playbookName: SOC Email Spread Evaluation_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      MailboxCount:
        simple: ${Email.Exposure.mailbox_count}
      Recipient:
        simple: ${SOCFramework.Artifacts.Email.To}
      RecipientScope:
        simple: ${Analysis.Email.RecipientScope}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 2520\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: 214371ea-c471-4eaa-af10-c7238f13b893
    type: title
    task:
      id: 214371ea-c471-4eaa-af10-c7238f13b893
      version: -1
      name: IOC Enrichment
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '22'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 575\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '22':
    id: '22'
    taskid: 20fbe298-6ec4-40ba-b137-8b024ce6a7f8
    type: playbook
    task:
      id: 20fbe298-6ec4-40ba-b137-8b024ce6a7f8
      version: -1
      name: SOC Email IOC Enrichment_V3
      description: Create indicators, assign DBot scores, check sender prevalence.
        Must run before Signal Characterization.
      playbookName: SOC Email IOC Enrichment_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '3'
    scriptarguments:
      ThreatURL:
        simple: ${SOCFramework.Artifacts.Email.ThreatURL}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 745\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '23':
    id: '23'
    taskid: bf77c88f-a6d8-45c0-8ee8-550dd220f4f9
    type: title
    task:
      id: bf77c88f-a6d8-45c0-8ee8-550dd220f4f9
      version: -1
      name: Comms
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '24'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 3060\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '24':
    id: '24'
    taskid: d547e397-9634-4d31-8be4-c4c5ce0a56ef
    type: playbook
    task:
      id: d547e397-9634-4d31-8be4-c4c5ce0a56ef
      version: -1
      name: SOC Comms Email_V3
      description: Notify affected recipient of verdict. Routes to safe, malicious,
        or campaign branch.
      playbookName: SOC Comms Email_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      Verdict:
        simple: ${Analysis.Email.verdict}
      ReporterEmail:
        simple: ${SOCFramework.Email.reported_by}
      PartOfCampaign:
        simple: ${Analysis.Email.CampaignID}
      UserEngagement:
        simple: 'true'
      AlertName:
        simple: ${alert.name}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 3230\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
inputs: []
outputs:
- contextPath: Analysis.Email.verdict
  description: malicious / benign
  type: string
- contextPath: Analysis.Email.confidence
  description: high / medium / low
  type: string
- contextPath: Analysis.Email.category
  description: phish / malware / bec / spam / unknown
  type: string
- contextPath: Analysis.Email.signal_type
  description: url_phish / file_malware / unknown
  type: string
- contextPath: Analysis.Email.source_verdict
  description: malicious / suspicious / benign
  type: string
- contextPath: Analysis.Email.response_recommended
  description: escalate_IR / search_and_purge / retract_message / quarantine / no_action
  type: string
- contextPath: Analysis.Email.spread_level
  description: single_entity / limited_entity / multi_entity — canonical spread level
    for Containment scope
  type: string
- contextPath: Analysis.Email.persistence_type
  description: inbox_rule_persistence / no_persistence_detected — drives Eradication
    inbox rule removal
  type: string
outputSections:
- outputs:
  - Analysis.Email.verdict
  - Analysis.Email.confidence
  - Analysis.Email.category
  - Analysis.Email.signal_type
  - Analysis.Email.source_verdict
  - Analysis.Email.response_recommended
  - Analysis.Email.spread_level
  - Analysis.Email.persistence_type
  name: Analysis Contract
  description: Passed to Containment phase via SOCExecutionList context
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n \
  \     \"height\": 3425,\n      \"width\": 380,\n      \"x\": 50,\n      \"y\": 50\n\
  \    }\n  }\n}"
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 1.2.0
    fromServerVersion: 6.10.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
