Packs/soc-framework-nist-ir/Playbooks/SOC_Endpoint_Containment_V3.yml
adopted: true
fromversion: 5.0.0
id: SOC Endpoint Containment_V3
version: 3
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 1.0.0
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Endpoint Containment_V3
description: 'Primary owners: Alert responders, automation, endpoint/network teams.


  Analyst role: May initiate or recommend containment actions (isolate host, disable
  account, block IP), often via playbook automation or escalation.'
tags:
- SOC
- SOC_Framework_Unified
- Containment
- NIST 800-61
- EndPoint
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 8b859cdc-d653-40d8-88b5-856b497221a5
    type: start
    task:
      id: 8b859cdc-d653-40d8-88b5-856b497221a5
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '147'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 582.5,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '48':
    id: '48'
    taskid: 8045b57e-2682-498b-a1a2-a0d9834b52a2
    type: title
    task:
      id: 8045b57e-2682-498b-a1a2-a0d9834b52a2
      version: -1
      name: Immediate Isolation
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '172'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 745\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '50':
    id: '50'
    taskid: 1cc8a082-9506-43d3-86ed-50836d2be721
    type: title
    task:
      id: 1cc8a082-9506-43d3-86ed-50836d2be721
      version: -1
      name: Quarantine File
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 367.5,\n    \"y\": 390\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '147':
    id: '147'
    taskid: 2650e088-8043-49d8-8db8-4d7e66d31ce9
    type: title
    task:
      id: 2650e088-8043-49d8-8db8-4d7e66d31ce9
      version: -1
      name: Prepare
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '50'
      - '184'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 582.5,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '148':
    id: '148'
    taskid: 48ad472b-5301-4524-899a-41e29d38151d
    type: title
    task:
      id: 48ad472b-5301-4524-899a-41e29d38151d
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 620,\n    \"y\": 3010\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '171':
    id: '171'
    taskid: 7089d969-7dfa-45b2-9ef6-6cb4efd4d61f
    type: condition
    task:
      id: 7089d969-7dfa-45b2-9ef6-6cb4efd4d61f
      version: -1
      name: Should we Contain (Verdict + Confidence)?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '300'
      Potentially Contain:
      - '48'
    separatecontext: false
    conditions:
    - label: Potentially Contain
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.Verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: malicious
        - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.Verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: suspicious
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: high
        - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: medium
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 797.5,\n    \"y\": 560\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '172':
    id: '172'
    taskid: 315caf83-ff56-4690-8f3d-fd69dc886af1
    type: condition
    task:
      id: 315caf83-ff56-4690-8f3d-fd69dc886af1
      version: -1
      name: Should This Be Isolated Immediately?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '174'
      Isolate Now:
      - '185'
    separatecontext: false
    conditions:
    - label: Isolate Now
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.Verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: malicious
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: high
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionConfirmed
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: malicious_and_executed
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 915\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '174':
    id: '174'
    taskid: f3bdafbd-f638-4fd7-8a33-f09a43af388c
    type: title
    task:
      id: f3bdafbd-f638-4fd7-8a33-f09a43af388c
      version: -1
      name: Isolate (High Confidence Compromise)
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '175'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 1100\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '175':
    id: '175'
    taskid: 1bf1230a-4efc-4b7c-b398-deddc4cc105e
    type: condition
    task:
      id: 1bf1230a-4efc-4b7c-b398-deddc4cc105e
      version: -1
      name: Isolate (high confidence compromise)?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '177'
      Isolate:
      - '190'
    separatecontext: false
    conditions:
    - label: Isolate
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.CompromiseLevel
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: likely_compromised
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: high
        - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: medium
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 1270\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '177':
    id: '177'
    taskid: 803d08f5-8bcf-45e7-8885-78d6b4b06645
    type: title
    task:
      id: 803d08f5-8bcf-45e7-8885-78d6b4b06645
      version: -1
      name: Escalate Containment
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '178'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 1455\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '178':
    id: '178'
    taskid: eddf5636-2d53-48cb-9ef6-caa8e7e0cad0
    type: condition
    task:
      id: eddf5636-2d53-48cb-9ef6-caa8e7e0cad0
      version: -1
      name: Escalate containment due to blast radius?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '180'
      Isolate:
      - '189'
    separatecontext: false
    conditions:
    - label: Isolate
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: '70'
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: high
        - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: medium
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.CompromiseLevel
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: not_compromised
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 1625\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '180':
    id: '180'
    taskid: c13c1384-d52b-4c2c-ac76-b62aebc866a3
    type: condition
    task:
      id: c13c1384-d52b-4c2c-ac76-b62aebc866a3
      version: -1
      name: Soft containment / monitor?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '182'
      Isolate:
      - '191'
    separatecontext: false
    conditions:
    - label: Isolate
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: medium
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.CompromiseLevel
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: suspicious
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 270,\n    \"y\": 1810\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '182':
    id: '182'
    taskid: b810b967-a2e1-46d5-a23a-236ff88632f6
    type: condition
    task:
      id: b810b967-a2e1-46d5-a23a-236ff88632f6
      version: -1
      name: No containment?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '300'
      No Containment:
      - '193'
    separatecontext: false
    conditions:
    - label: No Containment
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: low
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.CompromiseLevel
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: not_compromised
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1995\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '184':
    id: '184'
    taskid: d8369b56-d30c-4849-ba6b-be5f853a3cba
    type: title
    task:
      id: d8369b56-d30c-4849-ba6b-be5f853a3cba
      version: -1
      name: Isolate EndPoint
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '171'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 797.5,\n    \"y\": 390\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '185':
    id: '185'
    taskid: 56aa4ab0-147d-49a6-8b6f-5b66ea80b607
    type: regular
    task:
      id: 56aa4ab0-147d-49a6-8b6f-5b66ea80b607
      version: -1
      name: Isolate Endpoint - Universal Command
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '192'
    scriptarguments:
      Action_Actor:
        simple: automation
      Phase:
        simple: Containment
      action:
        simple: soc-isolate-endpoint
      output_key:
        simple: Containment.Execution
      tags:
        complex:
          root: inputs.ShadowMode
          transformers:
          - operator: If-Then-Else
            args:
              condition: {}
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: Containment
              equals:
                value:
                  simple: inputs.ShadowMode
                iscontext: true
              lhs: {}
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: Shadow Mode,Containment
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1890,\n    \"y\": 2180\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '189':
    id: '189'
    taskid: d19cc347-0c1b-4b4a-82a6-6302c518c1e2
    type: regular
    task:
      id: d19cc347-0c1b-4b4a-82a6-6302c518c1e2
      version: -1
      name: Isolate Endpoint - Universal Command
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '192'
    scriptarguments:
      Action_Actor:
        simple: automation
      Phase:
        simple: Containment
      action:
        simple: soc-isolate-endpoint
      output_key:
        simple: Containment.Execution
      tags:
        complex:
          root: inputs.ShadowMode
          transformers:
          - operator: If-Then-Else
            args:
              condition: {}
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: Containment
              equals:
                value:
                  simple: inputs.ShadowMode
                iscontext: true
              lhs: {}
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: Shadow Mode,Containment
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1010,\n    \"y\": 2180\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '190':
    id: '190'
    taskid: 0c9a585b-1c06-4586-b5c7-ed18c77c24ef
    type: regular
    task:
      id: 0c9a585b-1c06-4586-b5c7-ed18c77c24ef
      version: -1
      name: Isolate Endpoint - Universal Command
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '192'
      - '148'
    scriptarguments:
      Action_Actor:
        simple: automation
      Phase:
        simple: Containment
      action:
        simple: soc-isolate-endpoint
      output_key:
        simple: Containment.Execution
      tags:
        complex:
          root: inputs.ShadowMode
          transformers:
          - operator: If-Then-Else
            args:
              condition: {}
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: Containment
              equals:
                value:
                  simple: inputs.ShadowMode
                iscontext: true
              lhs: {}
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: Shadow Mode,Containment
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1460,\n    \"y\": 2180\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '191':
    id: '191'
    taskid: 7f8f1c22-edff-4874-aca1-d3bd453f3e71
    type: regular
    task:
      id: 7f8f1c22-edff-4874-aca1-d3bd453f3e71
      version: -1
      name: Isolate Endpoint - Universal Command
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '192'
    scriptarguments:
      Action_Actor:
        simple: automation
      Phase:
        simple: Containment
      action:
        simple: soc-isolate-endpoint
      output_key:
        simple: Containment.Execution
      tags:
        complex:
          root: inputs.ShadowMode
          transformers:
          - operator: If-Then-Else
            args:
              condition: {}
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: Containment
              equals:
                value:
                  simple: inputs.ShadowMode
                iscontext: true
              lhs: {}
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: Shadow Mode,Containment
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 592.5,\n    \"y\": 2180\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '192':
    id: '192'
    taskid: ae0d80ff-3974-400e-a29f-ed2aea4847be
    type: regular
    task:
      id: ae0d80ff-3974-400e-a29f-ed2aea4847be
      version: -1
      name: Set Containment Required
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '194'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Containment.required
      value:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1010,\n    \"y\": 2395\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '193':
    id: '193'
    taskid: fe0cd24b-6b6a-482e-b8aa-2e5a983417cd
    type: regular
    task:
      id: fe0cd24b-6b6a-482e-b8aa-2e5a983417cd
      version: -1
      name: Set Containment Not Required
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '300'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Containment.required
      value:
        simple: 'false'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 2395\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '194':
    id: '194'
    taskid: 7b68e91e-7e96-4260-9ae5-d7688698baa3
    type: regular
    task:
      id: 7b68e91e-7e96-4260-9ae5-d7688698baa3
      version: -1
      name: Set Containment Isolate Host
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '195'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Containment.action
      value:
        simple: isolate_host
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1010,\n    \"y\": 2540\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '195':
    id: '195'
    taskid: 5a68e886-d0c5-4149-a220-1c91f7cbfa1f
    type: regular
    task:
      id: 5a68e886-d0c5-4149-a220-1c91f7cbfa1f
      version: -1
      name: Set Containment Story
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '148'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Containment.action
      value:
        simple: 'Malware execution confirmed on ${Analysis.host_count} host(s).

          Spread level assessed as ${Analysis.spread_level}.

          Compromise level: ${Analysis.compromised_host_level}.

          Case risk score: ${Analysis.case_risk_score}.

          Containment action taken: ${Containment.action}.

          Hosts isolated: ${Containment.isolated_hosts}.

          Users disabled: ${Containment.disabled_users}.'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1010,\n    \"y\": 2690\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '196':
    id: '196'
    taskid: 54143dd2-b70d-4c4d-bdcd-e9cc04308df6
    type: regular
    task:
      id: 54143dd2-b70d-4c4d-bdcd-e9cc04308df6
      version: -1
      name: Set Containment Story
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '148'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Containment.action
      value:
        simple: 'No Containment: Low confidence and No Compromise detected.

          Malware execution confirmed on ${Analysis.host_count} host(s).

          Spread level assessed as ${Analysis.spread_level}.

          Compromise level: ${Analysis.compromised_host_level}.

          Case risk score: ${Analysis.case_risk_score}.

          Containment action taken: ${Containment.action}.

          Hosts isolated: ${Containment.isolated_hosts}.

          Users disabled: ${Containment.disabled_users}.'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 2690\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '197':
    id: '197'
    taskid: 95263603-82c6-49c2-9fd6-edc327f55415
    type: regular
    task:
      id: 95263603-82c6-49c2-9fd6-edc327f55415
      version: -1
      name: Set Containment Isolate Host
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '196'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Containment.action
      value:
        simple: monitor
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 162.5,\n    \"y\": 2540\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '300':
    id: '300'
    taskid: ec4d4a33-d161-4e56-b072-b7d5829e09b2
    type: condition
    task:
      id: ec4d4a33-d161-4e56-b072-b7d5829e09b2
      version: -1
      name: Signal Type — Behavioral or Process Execution?
      description: Routes behavioral/process_execution signals to targeted containment
        actions (block hash, kill process) rather than full host isolation. Preserves
        isolation path for file_malware.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '148'
      Behavioral:
      - '301'
      Process Execution:
      - '303'
    conditions:
    - label: Behavioral
      condition:
      - - operator: isEqualString
          left:
            iscontext: true
            value:
              simple: Analysis.Endpoint.signal_type
          right:
            value:
              simple: behavior_memory
    - label: Process Execution
      condition:
      - - operator: isEqualString
          left:
            iscontext: true
            value:
              simple: Analysis.Endpoint.signal_type
          right:
            value:
              simple: process_execution
    separatecontext: false
    continueonerror: false
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 200}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '301':
    id: '301'
    taskid: 57be8324-f21f-4835-a377-34867d726a4e
    type: regular
    task:
      id: 57be8324-f21f-4835-a377-34867d726a4e
      version: -1
      name: Block Initiator Hash — Universal Command
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
      scriptName: SOCCommandWrapper
    nexttasks:
      '#none#':
      - '302'
    scriptarguments:
      action:
        simple: soc-block-indicators
      entity:
        simple: ${SOCFramework.Artifacts.File}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 350}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '302':
    id: '302'
    taskid: 4f48ef56-d101-4f2e-b4e4-233ac777639b
    type: regular
    task:
      id: 4f48ef56-d101-4f2e-b4e4-233ac777639b
      version: -1
      name: Set Behavioral Containment Story
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
      scriptName: SetAndHandleEmpty
    nexttasks:
      '#none#':
      - '148'
    scriptarguments:
      key:
        simple: Containment.story
      value:
        simple: 'Behavioral containment: initiator hash blocked via EDR policy. Host
          isolation not required — signal is memory/injection based with no dropped
          file persistence detected. Credential access tactics detected — Identity
          Containment recommended.'
      append:
        simple: 'false'
      force:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 500}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '303':
    id: '303'
    taskid: 7102a0ab-44d2-4caf-b051-2a2ce069cc0d
    type: regular
    task:
      id: 7102a0ab-44d2-4caf-b051-2a2ce069cc0d
      version: -1
      name: Kill Malicious Process — Universal Command
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
      scriptName: SOCCommandWrapper
    nexttasks:
      '#none#':
      - '304'
    scriptarguments:
      action:
        simple: soc-kill-process
      entity:
        simple: ${SOCFramework.Artifacts.ProcessName}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 1100, "y": 350}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '304':
    id: '304'
    taskid: cd2fb3d5-c8a6-4840-9647-5be014a62c69
    type: regular
    task:
      id: cd2fb3d5-c8a6-4840-9647-5be014a62c69
      version: -1
      name: Set Process Execution Containment Story
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
      scriptName: SetAndHandleEmpty
    nexttasks:
      '#none#':
      - '148'
    scriptarguments:
      key:
        simple: Containment.story
      value:
        simple: 'Process execution containment: malicious process killed. Initiator
          command blocked. Host isolation deferred pending spread evaluation.'
      append:
        simple: 'false'
      force:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 1100, "y": 500}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: "{\n  \"linkLabelsPosition\": {\n    \"178_189_Isolate\": 0.81,\n    \"182_193_No\
  \ Containment\": 0.9\n  },\n  \"paper\": {\n    \"dimensions\": {\n      \"height\"\
  : 3020,\n      \"width\": 2220,\n      \"x\": 50,\n      \"y\": 50\n    }\n  }\n\
  }"
inputs:
- key: AutoContainment
  value:
    simple: 'False'
  required: false
  description: 'Whether to execute containment plan (except isolation) automatically.

    The specific containment playbook inputs should also be set to ''True''.'
  playbookInputQuery: null
- key: FileRemediation
  value:
    simple: Quarantine
  required: false
  description: "Choose 'Quarantine' or 'Delete'  to avoid file remediation conflicts.\
    \ \nFor example, choosing 'Quarantine' ignores the 'Delete file' task under the\
    \ eradication playbook and will execute only file quarantine."
  playbookInputQuery: null
- key: FeaturedHost
  value:
    simple: 'False'
  required: false
  description: Is this a Featured Host?
  playbookInputQuery: null
- key: Verdict
  value:
    complex:
      root: ${Analysis
      accessor: verdict}
      transformers:
      - operator: toLowerCase
  required: false
  description: File Verdict from Enrichment
  playbookInputQuery: null
- key: SourceBrand
  value:
    simple: ${SOCFramework.Product.response}
  required: false
  description: This is the Source Brand for the Integration.  Set in the SOCProductCategoryMap_V3
    List.
  playbookInputQuery: null
- key: Confidence
  value:
    simple: ${Analysis.confidence}
  required: false
  description: ''
  playbookInputQuery: null
- key: ExecutionConfirmed
  value:
    simple: ${Analysis.compromise_decision.[0]}
  required: false
  description: ''
  playbookInputQuery: null
- key: CompromiseLevel
  value:
    complex:
      root: ${Analysis
      accessor: compromise_level}
      transformers:
      - operator: toLowerCase
  required: false
  description: ''
  playbookInputQuery: null
- key: CaseScore
  value:
    simple: ${Analysis.incident_score}
  required: false
  description: ''
  playbookInputQuery: null
inputSections:
- inputs:
  - AutoContainment
  - FileRemediation
  - FeaturedHost
  - Verdict
  - SourceBrand
  - Confidence
  - ExecutionConfirmed
  - CompromiseLevel
  - CaseScore
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - Containment.status
  - Containment.isolated_hosts
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Containment.status
  description: What was the outcome of Containment
  type: unknown
- contextPath: Containment.isolated_hosts
  type: unknown
sourceplaybookid: Containment Plan
dirtyInputs: false
