Packs/soc-framework-nist-ir/Playbooks/SOC_Identity_Recovery_V3.yml
adopted: true
fromversion: 5.0.0
id: SOC Identity Recovery_V3
version: -1
name: SOC Identity Recovery_V3
description: "Identity-specific recovery playbook. Runs inside SOC Recovery_V3 when\nSOCFramework.Product.category = \"Identity\".\n\nFlow:\n  1. Eradication gate - only proceeds if Eradication.attempted\
  \ = true\n  2. Universal Command: soc-enable-user (task 200, Shadow Mode by default)\n  3. Set Recovery context keys and story\n\nShadow Mode: All vendor commands suppressed until PS flips SOCExecutionList_V3.\n\
  Universal Command reads shadow_mode directly from lists.SOCExecutionList_V3.\n\nContext keys set:\n  Recovery.attempted, Recovery.account_restored, Recovery.monitoring_required,\n  Recovery.restore_method,\
  \ Recovery.story"
tags:
- SOC
- SOC_Framework_Unified
- Recovery
- NIST 800-61
- Identity
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 2cf144a5-06d4-5eeb-9e6e-c705782ad551
    type: start
    task:
      id: 2cf144a5-06d4-5eeb-9e6e-c705782ad551
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 50 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 5fbbe322-6516-5073-aea4-e23d1dbcd481
    type: condition
    task:
      id: 5fbbe322-6516-5073-aea4-e23d1dbcd481
      version: -1
      name: Did Eradication Happen?
      description: 'Only proceed with recovery if eradication was attempted.

        This prevents re-enabling accounts before credentials were reset.'
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - '10'
      'true':
      - '2'
    separatecontext: false
    conditions:
    - label: true
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${Eradication.attempted}
            iscontext: true
          right:
            value:
              simple: 'true'
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 190 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: 2739bf0e-4810-5302-840f-5fad677896db
    type: title
    task:
      id: 2739bf0e-4810-5302-840f-5fad677896db
      version: -1
      name: Identity Recovery Actions
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '200'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 370 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '200':
    id: '200'
    taskid: 0c8201d0-dfbb-5adc-83a7-df14f680ff60
    type: regular
    task:
      id: 0c8201d0-dfbb-5adc-83a7-df14f680ff60
      version: -1
      name: Re-enable User Account - Universal Command
      script: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '3'
    scriptarguments:
      Action_Actor:
        simple: automation
      Phase:
        simple: Recovery
      action:
        simple: soc-enable-user
      LifeCycle:
        simple: NIST_IR
      list_name:
        simple: SOCFrameworkActions_V3
      output_key:
        simple: Recovery.Execution
      tags:
        complex:
          root: inputs.ShadowMode
          transformers:
          - operator: If-Then-Else
            args:
              condition: {}
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: Recovery
              equals:
                value:
                  simple: inputs.ShadowMode
                iscontext: true
              lhs: {}
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: Shadow Mode,Recovery
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 520 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: a1bd3e77-3bef-5929-95cd-b2322fdad3fd
    type: regular
    task:
      id: a1bd3e77-3bef-5929-95cd-b2322fdad3fd
      version: -1
      name: Set Recovery Attempted
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '4'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.attempted
      value:
        simple: 'true'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 690 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 48e962e5-864f-503b-be8e-987e6c89c964
    type: regular
    task:
      id: 48e962e5-864f-503b-be8e-987e6c89c964
      version: -1
      name: Set Account Restored
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '5'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.account_restored
      value:
        simple: 'true'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 840 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: a3bdd25b-00bd-5a38-935d-f037f3b47f20
    type: regular
    task:
      id: a3bdd25b-00bd-5a38-935d-f037f3b47f20
      version: -1
      name: Set Monitoring Required
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '6'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.monitoring_required
      value:
        simple: 'true'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 990 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: e1c9a288-02dd-50c9-a003-a8474fb84777
    type: regular
    task:
      id: e1c9a288-02dd-50c9-a003-a8474fb84777
      version: -1
      name: Set Restore Method
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '7'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.restore_method
      value:
        simple: account_re-enable
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 1140 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: 4c55b721-438a-59ec-8f4c-923dd8493647
    type: regular
    task:
      id: 4c55b721-438a-59ec-8f4c-923dd8493647
      version: -1
      name: Set Recovery Story
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '99'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.story
      value:
        simple: 'Recovery Assessment


          Analysis confirmed identity compromise: ${Analysis.verdict}

          Compromise level: ${Analysis.compromise_level}


          Recovery actions taken (Shadow Mode: ${inputs.ShadowMode}):

          • Account re-enabled: ${Recovery.account_restored}

          • Restore method: ${Recovery.restore_method}

          • Ongoing monitoring required: ${Recovery.monitoring_required}


          Credentials were reset and tokens revoked during Eradication before this account was re-enabled.

          In Shadow Mode all actions were logged to warroom and dataset.

          Flip SOCExecutionList_V3 shadow_mode to false to enable live execution.'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 1290 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 48642fd6-397d-5841-86a9-71ec0ebd2930
    type: regular
    task:
      id: 48642fd6-397d-5841-86a9-71ec0ebd2930
      version: -1
      name: Set Recovery Not Attempted
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.attempted
      value:
        simple: 'false'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 900, \"y\": 370 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: 6c10f89f-3e71-5310-86c7-7314b4d28e1c
    type: regular
    task:
      id: 6c10f89f-3e71-5310-86c7-7314b4d28e1c
      version: -1
      name: Set No Recovery Story
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '202'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.story
      value:
        simple: 'Recovery Not Required


          User: ${Analysis.primary_entity_user}

          Eradication attempted: ${Eradication.attempted}


          Recovery skipped — eradication did not occur. Account was not disabled so

          no re-enable action was needed.'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 900, \"y\": 520 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '99':
    id: '99'
    taskid: a4a8a958-69c5-5907-b6db-fafba8f327ee
    type: title
    task:
      id: a4a8a958-69c5-5907-b6db-fafba8f327ee
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 1490 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '201':
    id: '201'
    taskid: 4bf7d319-56e4-4339-b04c-6abd2c448aa7
    type: regular
    task:
      id: 4bf7d319-56e4-4339-b04c-6abd2c448aa7
      version: -1
      name: Write recoverystory to incident field
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '99'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: incident.recoverystory
      value:
        simple: ${Recovery.story}
    separatecontext: false
    continueonerrortype: ''
    view: '{ "position": { "x": 50, "y": 3515 } }'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '202':
    id: '202'
    taskid: 22cb8d5f-7e04-4008-be4c-33eb4bfd938e
    type: regular
    task:
      id: 22cb8d5f-7e04-4008-be4c-33eb4bfd938e
      version: -1
      name: Set Recovery Story
      description: Write phase narrative to Recovery.story. Foundation mirrors phase-namespace keys to case fields at phase boundaries; Workflow playbooks must not call setIncident directly.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '99'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.story
      value:
        simple: ${Recovery.story}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{ "position": { "x": 50, "y": 3515 } }'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
inputs:
- key: compromise_decision
  value:
    simple: ${Analysis.compromise_decision}
  required: false
  description: ''
  playbookInputQuery: null
outputs:
- contextPath: Recovery.attempted
  type: unknown
- contextPath: Recovery.account_restored
  type: unknown
- contextPath: Recovery.monitoring_required
  type: unknown
- contextPath: Recovery.restore_method
  type: unknown
- contextPath: Recovery.story
  type: unknown
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n      \"height\": 1500,\n      \"width\": 1100,\n      \"x\": 0,\n      \"y\": 50\n    }\n  }\n}"
