Packs/soc-framework-nist-ir/Playbooks/SOC_Email_Containment_V3.yml
fromversion: 5.0.0
id: SOC Email Containment_V3
version: 60
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 1.2.0
    fromServerVersion: 6.10.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Email Containment_V3
description: |-
  NIST IR 800-61 — Containment Phase — Email / SEG

  Executes the appropriate containment action for a confirmed malicious email threat.

  Value Driver: VD1 (Reduce Risk) — automated containment drives MTTC.
  Value Driver: VD2 (Simplify Ops) — Universal Command abstracts retract/quarantine across Microsoft Graph, Gmail, Trend Micro, Mimecast.

  Gate: verdict=malicious AND confidence=high or medium.
  All actions run through SOCCommandWrapper — shadow_mode read from SOCExecutionList_V3.

  Routing by Analysis.Email.response_recommended:
    escalate_IR     → no automated action, story set for analyst engagement
    search_and_purge → soc-retract-email (URL clicked by recipient)
    retract_message  → soc-retract-email (delivered, no click yet)
    quarantine       → soc-quarantine-email (blocked at SEG / pre-delivery)
    no_action        → Containment.required = false

  Context keys produced:
    Containment.required  — true/false
    Containment.action    — action taken (mirrors response_recommended)
    Containment.story     — narrative for war room
    Containment.Execution — SOCCommandWrapper execution record
tags:
- SOC
- SOC_Framework_Unified
- Containment
- NIST 800-61
- Email
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 95a87d7e-6a7e-496c-8b76-5fa3d70a0eaf
    type: start
    task:
      id: 95a87d7e-6a7e-496c-8b76-5fa3d70a0eaf
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 3c66fd61-b87f-4e9a-ad0d-b44e0a0229e1
    type: title
    task:
      id: 3c66fd61-b87f-4e9a-ad0d-b44e0a0229e1
      version: -1
      name: Evaluate Verdict for Containment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: ca666ed4-de94-4931-9f33-ccb6a24451d8
    type: condition
    task:
      id: ca666ed4-de94-4931-9f33-ccb6a24451d8
      version: -1
      name: Verdict Warrants Containment?
      description: |-
        Gate: only proceed to containment actions if verdict=malicious AND confidence is high or medium.
        Benign or low-confidence verdicts skip all actions → Done.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "4"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.Verdict
            iscontext: true
          right:
            value:
              simple: malicious
          ignorecase: true
      - - operator: isEqualString
          left:
            value:
              simple: inputs.Confidence
            iscontext: true
          right:
            value:
              simple: high
          ignorecase: true
        - operator: isEqualString
          left:
            value:
              simple: inputs.Confidence
            iscontext: true
          right:
            value:
              simple: medium
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 3db2aba1-420b-44c0-be79-0dd85f0150e4
    type: regular
    task:
      id: 3db2aba1-420b-44c0-be79-0dd85f0150e4
      version: -1
      name: Set Containment Not Required
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Containment.required
      value:
        simple: "false"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 930
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 299c25db-5a6c-40fd-8808-de2cc9af3ab0
    type: title
    task:
      id: 299c25db-5a6c-40fd-8808-de2cc9af3ab0
      version: -1
      name: Route by Response Recommendation
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: e125f6e5-d011-4c3b-af26-68ee3e0939dd
    type: condition
    task:
      id: e125f6e5-d011-4c3b-af26-68ee3e0939dd
      version: -1
      name: Response Recommended?
      description: |-
        Routes to the appropriate containment action based on advisory recommendation set by Verdict Resolution.
        escalate_IR    → no automated action, set story for analyst
        search_and_purge → retract (clicked, high blast radius)
        retract_message  → retract (delivered, no click)
        quarantine       → quarantine at SEG
        default (no_action) → not required
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "3"
      escalate_IR:
      - "6"
      quarantine:
      - "12"
      retract_message:
      - "10"
      search_and_purge:
      - "8"
    separatecontext: false
    conditions:
    - label: escalate_IR
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ResponseRecommended
            iscontext: true
          right:
            value:
              simple: escalate_IR
          ignorecase: true
    - label: search_and_purge
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ResponseRecommended
            iscontext: true
          right:
            value:
              simple: search_and_purge
          ignorecase: true
    - label: retract_message
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ResponseRecommended
            iscontext: true
          right:
            value:
              simple: retract_message
          ignorecase: true
    - label: quarantine
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ResponseRecommended
            iscontext: true
          right:
            value:
              simple: quarantine
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 745
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 7898e71b-0b59-481c-b92b-039e6ce21c02
    type: title
    task:
      id: 7898e71b-0b59-481c-b92b-039e6ce21c02
      version: -1
      name: Escalate IR — No Automated Containment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1122.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 970501a2-3af8-400f-8655-0f2111fe13d9
    type: regular
    task:
      id: 970501a2-3af8-400f-8655-0f2111fe13d9
      version: -1
      name: Set Containment Not Required — Escalate IR
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Containment.required
      value:
        simple: "false"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 01cdd9dc-898f-457a-8e8e-efe0e8d0dbb2
    type: title
    task:
      id: 01cdd9dc-898f-457a-8e8e-efe0e8d0dbb2
      version: -1
      name: Search and Purge — Retract Email
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "9"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 937.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 6db28e2d-3375-43d7-ae54-d6b27314ee58
    type: regular
    task:
      id: 6db28e2d-3375-43d7-ae54-d6b27314ee58
      version: -1
      name: Retract Email — Universal Command
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      Action_Actor:
        simple: automation
      Phase:
        simple: Containment
      action:
        simple: soc-retract-email
      LifeCycle:
        simple: NIST_IR
      output_key:
        simple: Containment.Execution
      tags:
        complex:
          root: inputs.ShadowMode
          transformers:
          - operator: If-Then-Else
            args:
              condition: {}
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: Containment
              equals:
                value:
                  simple: inputs.ShadowMode
                iscontext: true
              lhs: {}
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: Shadow Mode,Containment
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 1115
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 943462ec-c23e-435f-8fb0-5343a63aa8be
    type: title
    task:
      id: 943462ec-c23e-435f-8fb0-5343a63aa8be
      version: -1
      name: Retract Delivered Message
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "11"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 937.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 5f265b66-46e4-4bf7-8409-d4a427b3641b
    type: regular
    task:
      id: 5f265b66-46e4-4bf7-8409-d4a427b3641b
      version: -1
      name: Retract Email — Universal Command
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      Action_Actor:
        simple: automation
      Phase:
        simple: Containment
      action:
        simple: soc-retract-email
      LifeCycle:
        simple: NIST_IR
      output_key:
        simple: Containment.Execution
      tags:
        complex:
          root: inputs.ShadowMode
          transformers:
          - operator: If-Then-Else
            args:
              condition: {}
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: Containment
              equals:
                value:
                  simple: inputs.ShadowMode
                iscontext: true
              lhs: {}
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: Shadow Mode,Containment
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1115
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 684a5679-f244-4bb9-ab0d-bb5183af8165
    type: title
    task:
      id: 684a5679-f244-4bb9-ab0d-bb5183af8165
      version: -1
      name: Quarantine at SEG
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "15"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 937.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: c17b52fe-4587-4e23-9d39-450afd9bd091
    type: regular
    task:
      id: c17b52fe-4587-4e23-9d39-450afd9bd091
      version: -1
      name: Set Containment Required
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Containment.required
      value:
        simple: "true"
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 305b1f41-39b7-4881-bce5-90168b65e0d2
    type: title
    task:
      id: 305b1f41-39b7-4881-bce5-90168b65e0d2
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1855
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 82018a77-d0c5-4f8c-b25d-54ae9477f376
    type: regular
    task:
      id: 82018a77-d0c5-4f8c-b25d-54ae9477f376
      version: -1
      name: Quarantine Email — Universal Command
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      Action_Actor:
        simple: automation
      Phase:
        simple: Containment
      action:
        simple: soc-quarantine-email
      LifeCycle:
        simple: NIST_IR
      output_key:
        simple: Containment.Execution
      tags:
        complex:
          root: inputs.ShadowMode
          transformers:
          - operator: If-Then-Else
            args:
              condition: {}
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: Containment
              equals:
                value:
                  simple: inputs.ShadowMode
                iscontext: true
              lhs: {}
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: Shadow Mode,Containment
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1115
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 38b3928b-e9db-4a74-b8b8-48fb8a988e75
    type: regular
    task:
      id: 38b3928b-e9db-4a74-b8b8-48fb8a988e75
      version: -1
      name: Set Containment Action
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Containment.action
      value:
        simple: ${inputs.ResponseRecommended}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1485
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: efd8e9e4-141c-4b69-9d51-07ca0f8d99cf
    type: regular
    task:
      id: efd8e9e4-141c-4b69-9d51-07ca0f8d99cf
      version: -1
      name: Set Containment Story
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Containment.story
      value:
        simple: |-
          Email containment executed.

          Verdict: ${inputs.Verdict} (${inputs.Confidence} confidence)
          Action: ${inputs.ResponseRecommended}
          Sender: ${SOCFramework.Artifacts.Email.From}
          Recipient: ${SOCFramework.Artifacts.Email.To}
          Subject: ${SOCFramework.Artifacts.Email.Subject}
          Message ID: ${SOCFramework.Artifacts.Email.MessageID}
          Exposure: ${Analysis.Email.ExposureLevel} | Scope: ${Analysis.Email.RecipientScope}
          Shadow Mode: ${inputs.ShadowMode}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 1670
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 56a43d44-75d9-46ac-ac8e-f50e64f2e9e5
    type: regular
    task:
      id: 56a43d44-75d9-46ac-ac8e-f50e64f2e9e5
      version: -1
      name: Set Containment Action — None
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Containment.action
      value:
        simple: none
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1115
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: b877b478-ec75-4931-9e5d-3f32d004f88b
    type: regular
    task:
      id: b877b478-ec75-4931-9e5d-3f32d004f88b
      version: -1
      name: Set Containment Story — No Action
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Containment.story
      value:
        simple: |-
          No containment action taken. Verdict did not meet threshold.

          Verdict: ${inputs.Verdict} | Confidence: ${inputs.Confidence}
          Required: malicious + high or medium confidence.
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1300
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: ea1dbefb-f04a-4d3f-ae9a-9e49aec84259
    type: regular
    task:
      id: ea1dbefb-f04a-4d3f-ae9a-9e49aec84259
      version: -1
      name: Set Containment Action — Escalate IR
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Containment.action
      value:
        simple: escalate_IR
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1485
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 379e878d-66ec-4501-8e07-3fa77e769dfc
    type: regular
    task:
      id: 379e878d-66ec-4501-8e07-3fa77e769dfc
      version: -1
      name: Set Containment Story — Escalate IR
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '201'
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Containment.story
      value:
        simple: |-
          VIP recipient involved. Threat verdict: ${inputs.Verdict} (${inputs.Confidence} confidence).
          Recommendation: escalate_IR — manual IR engagement required.
          Email: ${SOCFramework.Artifacts.Email.From} → ${SOCFramework.Artifacts.Email.To}
          Subject: ${SOCFramework.Artifacts.Email.Subject}
          Exposure: ${Analysis.Email.ExposureLevel} | Scope: ${Analysis.Email.RecipientScope}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1670
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1865,
        "width": 2100,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: Verdict
  value:
    simple: ${Analysis.Email.verdict}
  required: false
  description: Analysis.Email.verdict — malicious / benign
  playbookInputQuery: null
- key: Confidence
  value:
    simple: ${Analysis.Email.confidence}
  required: false
  description: Analysis.Email.confidence — high / medium / low
  playbookInputQuery: null
- key: ResponseRecommended
  value:
    simple: ${Analysis.Email.response_recommended}
  required: false
  description: Advisory action from Verdict Resolution — escalate_IR / search_and_purge
    / retract_message / quarantine / no_action
  playbookInputQuery: null
- key: ExposureLevel
  value:
    simple: ${Analysis.Email.ExposureLevel}
  required: false
  description: clicked / delivered / blocked — informational, used in story
  playbookInputQuery: null
inputSections:
- inputs:
  - Verdict
  - Confidence
  - ResponseRecommended
  name: Analysis Contract
  description: Outputs from SOC Email Analysis_V3 — drive gate and routing
- inputs:
  - ExposureLevel
  name: Execution Context
  description: Exposure context for story; ShadowMode from SOCExecutionList_V3
  '200':
    id: '200'
    taskid: 71d91d33-8911-4ab8-8ab7-041f40eed1f4
    type: regular
    task:
      id: 71d91d33-8911-4ab8-8ab7-041f40eed1f4
      version: -1
      name: Write containmentstory to incident field
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: incident.containmentstory
      value:
        simple: ${Containment.story}
    separatecontext: false
    continueonerrortype: ''
    view: "{
  \"position\": {
    \"x\": 50,
    \"y\": 3515
  }
}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

  '201':
    id: '201'
    taskid: 11ad9dd0-24ab-445e-a632-5c1163c7f401
    type: regular
    task:
      id: 11ad9dd0-24ab-445e-a632-5c1163c7f401
      version: -1
      name: Write containmentstory to issue field
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      containmentstory:
        simple: ${Containment.story}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{
  \"position\": {
    \"x\": 50,
    \"y\": 3515
  }
}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

outputSections:
- outputs:
  - Containment.required
  - Containment.action
  - Containment.story
  - Containment.Execution
  name: Containment Contract
  description: Consumed by SOC Eradication_V3 and Value Metrics dashboard
outputs:
- contextPath: Containment.required
  description: true if a containment action was taken
  type: boolean
- contextPath: Containment.action
  description: 'Action executed: retract_message / search_and_purge / quarantine /
    escalate_IR'
  type: string
- contextPath: Containment.story
  description: War room narrative summarizing containment result
  type: string
- contextPath: Containment.Execution
  description: SOCCommandWrapper execution record — written to xsiam_socfw_ir_execution_raw
  type: unknown
adopted: true
