Packs/soc-framework-nist-ir/Playbooks/SOC_EndPoint_Recovery_V3.yml
adopted: true
fromversion: 5.0.0
id: SOC EndPoint Recovery_V3
version: 29
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework Unified
    itemVersion: 3.1.5
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC EndPoint Recovery_V3
description: 'Primary owners: IT Ops, IR leads.


  Analyst role: Verify that systems are restored, monitor for recurrence, and close
  out alert documentation.'
tags:
- SOC
- SOC_Framework_Unified
- NIST 800-61
- Recovery
- EndPoint
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 7e6a701e-667b-4a70-8a74-14564da75fc7
    type: start
    task:
      id: 7e6a701e-667b-4a70-8a74-14564da75fc7
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '3'
      - '2'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 582.5,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: 6944e944-2ade-4f6d-b6e0-0f6b8e2c3253
    type: title
    task:
      id: 6944e944-2ade-4f6d-b6e0-0f6b8e2c3253
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 1890\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: a6658784-01e1-4c77-bf18-e7f97b8fa11d
    type: condition
    task:
      id: a6658784-01e1-4c77-bf18-e7f97b8fa11d
      version: -1
      name: Did Execution Happen?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '4'
      'Yes':
      - '7'
    separatecontext: false
    conditions:
    - label: 'Yes'
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${inputs.compromise_decision}
            iscontext: true
          right:
            value:
              simple: malicious_and_executed
        - operator: isEqualString
          left:
            value:
              simple: ${inputs.compromise_decision}
            iscontext: true
          right:
            value:
              simple: execution_strong_tactics
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 46b355fd-2cd0-47b4-8724-b349a3060f09
    type: regular
    task:
      id: 46b355fd-2cd0-47b4-8724-b349a3060f09
      version: -1
      name: Set Recovery Status
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '5'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.status
      value:
        simple: blocked
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1145\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: 8bb6d5b2-5a0a-437e-bccb-1766b2183b43
    type: regular
    task:
      id: 8bb6d5b2-5a0a-437e-bccb-1766b2183b43
      version: -1
      name: Set Recovery Monitoring Required
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '6'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.monitoring_required
      value:
        simple: 'false'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1330\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: e19f5d21-5116-425f-9842-42875ba312ce
    type: regular
    task:
      id: e19f5d21-5116-425f-9842-42875ba312ce
      version: -1
      name: Set Recovery Restore Required
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '18'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.restore_required
      value:
        simple: 'false'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1515\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: 4f76b011-89a1-4446-b128-b9de418d66cf
    type: condition
    task:
      id: 4f76b011-89a1-4446-b128-b9de418d66cf
      version: -1
      name: Was Eradication Complete?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '8'
      'yes':
      - '11'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isTrue
          left:
            value:
              simple: ${Eradication.status}
            iscontext: true
          right:
            value: {}
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '8':
    id: '8'
    taskid: 5a4b6571-e25c-4074-85d5-f205c4214004
    type: regular
    task:
      id: 5a4b6571-e25c-4074-85d5-f205c4214004
      version: -1
      name: Set Recovery Status
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.status
      value:
        simple: not_required
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 1145\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: 9be348fa-b54e-43a7-97a7-76181b3e1d68
    type: regular
    task:
      id: 9be348fa-b54e-43a7-97a7-76181b3e1d68
      version: -1
      name: Set Recovery Monitoring Required
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.monitoring_required
      value:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 1330\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: d5b1f619-fcb5-4201-9b8f-9338807d17c3
    type: regular
    task:
      id: d5b1f619-fcb5-4201-9b8f-9338807d17c3
      version: -1
      name: Set Recovery Restore Required
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '18'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.restore_required
      value:
        simple: 'false'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 1515\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: b53bc5a1-e6bb-478f-bae7-4526ee517cc6
    type: condition
    task:
      id: b53bc5a1-e6bb-478f-bae7-4526ee517cc6
      version: -1
      name: Was Re-Imaging Complete?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '17'
      'yes':
      - '12'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isTrue
          left:
            value:
              simple: ${Eradication.reimage_required}
            iscontext: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1125,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: c118273c-b429-40c0-ad70-2d55b398460d
    type: regular
    task:
      id: c118273c-b429-40c0-ad70-2d55b398460d
      version: -1
      name: Set Rebuild Required
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.status
      value:
        simple: rebuild_required
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 775\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: 6b264695-e239-481b-be92-cc7310f3976f
    type: regular
    task:
      id: 6b264695-e239-481b-be92-cc7310f3976f
      version: -1
      name: Set Recovery Monitoring Required
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.monitoring_required
      value:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 960\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: 3041962f-5f21-463d-a8bf-ab51de9e0a7f
    type: regular
    task:
      id: 3041962f-5f21-463d-a8bf-ab51de9e0a7f
      version: -1
      name: Set Recovery Restore Required
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.restore_required
      value:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 1145\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: 03c15a0b-54f8-4ac9-84eb-785c291f7b36
    type: regular
    task:
      id: 03c15a0b-54f8-4ac9-84eb-785c291f7b36
      version: -1
      name: Set  Restore Method
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '16'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.restore_method
      value:
        simple: reimage
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 1330\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: ae49e53f-6129-44ce-a854-7c2bea90250d
    type: regular
    task:
      id: ae49e53f-6129-44ce-a854-7c2bea90250d
      version: -1
      name: Set  Monitoring Scope
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '18'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.monitoring_scope
      value:
        simple: host
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 1515\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: cbf22085-cf15-43b3-b8f9-ce6ae9b7f806
    type: condition
    task:
      id: cbf22085-cf15-43b3-b8f9-ce6ae9b7f806
      version: -1
      name: Malware Removed Without Reimage?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isTrue
          left:
            value:
              simple: ${Eradication.malware_removed}
            iscontext: true
          right:
            value: {}
      - - operator: isFalse
          left:
            value:
              simple: ${Eradication.reimage_required}
            iscontext: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1340,\n    \"y\": 775\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: b18d83fe-999b-4b8f-8f31-2004d2ad38c2
    type: regular
    task:
      id: b18d83fe-999b-4b8f-8f31-2004d2ad38c2
      version: -1
      name: Set  Recovery Story
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '500'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Recovery.story
      value:
        simple: 'Recovery Assessment


          Analysis confirmed malicious activity: ${Analysis.compromise_decision}.


          Eradication status: ${Eradication.status}.

          Malware removed: ${Eradication.malware_removed}.

          System rebuild required: ${Eradication.reimage_required}.

          Accounts secured: ${Eradication.accounts_secured}.


          Recovery status: ${Recovery.status}.


          System restoration method: ${Recovery.restore_method}.

          Monitoring required: ${Recovery.monitoring_required}.

          Monitoring scope: ${Recovery.monitoring_scope}.


          If restoration actions are required, systems should be validated before
          returning to normal operations. Continued monitoring is recommended to ensure
          no further malicious activity occurs.

          '
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 1720\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '200':
    id: '200'
    taskid: d03e6f9a-11f9-4aa0-8f21-9eb1ed3d5651
    type: regular
    task:
      id: d03e6f9a-11f9-4aa0-8f21-9eb1ed3d5651
      version: -1
      name: De-isolate Endpoint — Universal Command
      description: 'Universal Command: soc-deisolate-endpoint'
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '2'
    scriptarguments:
      Action_Actor:
        simple: automation
      Phase:
        simple: Recovery
      action:
        simple: soc-deisolate-endpoint
      LifeCycle:
        simple: NIST_IR
      list_name:
        simple: SOCFrameworkActions_V3
      output_key:
        simple: Recovery.Execution
      tags:
        complex:
          root: inputs.ShadowMode
          transformers:
          - operator: If-Then-Else
            args:
              condition: {}
              conditionB: {}
              conditionInBetween: {}
              else:
                value:
                  simple: Recovery
              equals:
                value:
                  simple: inputs.ShadowMode
                iscontext: true
              lhs: {}
              lhsB: {}
              options: {}
              optionsB: {}
              rhs: {}
              rhsB: {}
              then:
                value:
                  simple: Shadow Mode,Recovery
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 580,\n    \"y\": 1100\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '500':
    id: '500'
    taskid: 656acfa1-f453-4ace-aa32-f03cd7aae373
    type: condition
    task:
      id: 656acfa1-f453-4ace-aa32-f03cd7aae373
      version: -1
      name: Signal Type — Recovery Path?
      description: Behavioral and process_execution signals do not need deisolation
        (host was never isolated). Instead validate credentials and re-enable user
        accounts that were disabled during containment.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '200'
      Behavioral:
      - '501'
      Process Execution:
      - '504'
    conditions:
    - label: Behavioral
      condition:
      - - operator: isEqualString
          left:
            iscontext: true
            value:
              simple: Analysis.Endpoint.signal_type
          right:
            value:
              simple: behavior_memory
    - label: Process Execution
      condition:
      - - operator: isEqualString
          left:
            iscontext: true
            value:
              simple: Analysis.Endpoint.signal_type
          right:
            value:
              simple: process_execution
    separatecontext: false
    continueonerror: false
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 200}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '501':
    id: '501'
    taskid: 0417baed-4fef-411d-9c72-ead8889ac84d
    type: regular
    task:
      id: 0417baed-4fef-411d-9c72-ead8889ac84d
      version: -1
      name: Re-enable User — Universal Command
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
      scriptName: SOCCommandWrapper
    nexttasks:
      '#none#':
      - '502'
    scriptarguments:
      action:
        simple: soc-enable-user
      Phase:
        simple: Recovery
      LifeCycle:
        simple: NIST_IR
      entity:
        simple: ${SOCFramework.Primary.EntityValue}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 400}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '502':
    id: '502'
    taskid: 84983d51-abe1-41bb-8618-21388f8e2df1
    type: regular
    task:
      id: 84983d51-abe1-41bb-8618-21388f8e2df1
      version: -1
      name: Set Behavioral Recovery Monitoring Scope
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
      scriptName: SetAndHandleEmpty
    nexttasks:
      '#none#':
      - '503'
    scriptarguments:
      key:
        simple: Recovery.monitoring_scope
      value:
        simple: 'Monitor for re-compromise: watch for lateral movement re-attempts,
          new Kerberos ticket requests from affected user, and EDR behavioral alerts
          on same host for 72 hours post-recovery.'
      append:
        simple: 'false'
      force:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 550}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '503':
    id: '503'
    taskid: dead778a-112f-412b-8cbc-8fbfe493de3e
    type: regular
    task:
      id: dead778a-112f-412b-8cbc-8fbfe493de3e
      version: -1
      name: Set Behavioral Recovery Story
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
      scriptName: SetAndHandleEmpty
    nexttasks:
      '#none#':
      - '2'
    scriptarguments:
      key:
        simple: Recovery.story
      value:
        simple: 'Behavioral recovery complete. User account re-enabled after credential
          rotation confirmed. Host was not isolated (behavioral signal — no dropped
          malware). Continued monitoring enabled for 72 hours. Validate: no new C2
          callbacks, no new lateral movement attempts.'
      append:
        simple: 'false'
      force:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 900, "y": 700}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '504':
    id: '504'
    taskid: d6b7177c-d9e9-45fd-974a-d611f1180bf9
    type: regular
    task:
      id: d6b7177c-d9e9-45fd-974a-d611f1180bf9
      version: -1
      name: Validate Process Artifacts Removed — Universal Command
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
      scriptName: SOCCommandWrapper
    nexttasks:
      '#none#':
      - '505'
    scriptarguments:
      action:
        simple: soc-file-exists
      Phase:
        simple: Recovery
      LifeCycle:
        simple: NIST_IR
      entity:
        simple: ${SOCFramework.Artifacts.FilePath}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 1100, "y": 400}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '505':
    id: '505'
    taskid: 860c0ce5-5b98-49ab-8d13-78699ba440e0
    type: regular
    task:
      id: 860c0ce5-5b98-49ab-8d13-78699ba440e0
      version: -1
      name: Set Process Execution Recovery Story
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
      scriptName: SetAndHandleEmpty
    nexttasks:
      '#none#':
      - '2'
    scriptarguments:
      key:
        simple: Recovery.story
      value:
        simple: 'Process execution recovery: process artifacts validated as removed.
          Parent process tree clean. Host deisolation not required (host was not isolated
          for this signal type). Monitor for re-execution of same process lineage.'
      append:
        simple: 'false'
      force:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 1100, "y": 600}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n \
  \     \"height\": 1900,\n      \"width\": 1670,\n      \"x\": 50,\n      \"y\":\
  \ 50\n    }\n  }\n}"
inputs:
- key: compromise_decision
  value:
    simple: ${Analysis.compromise_decision}
  required: false
  description: ''
  playbookInputQuery: null
inputSections:
- inputs:
  - compromise_decision
  name: General (Inputs group)
  description: Generic group for inputs
  '201':
    id: '201'
    taskid: a2c016a5-7a82-445b-83b5-d5460cf617b1
    type: regular
    task:
      id: a2c016a5-7a82-445b-83b5-d5460cf617b1
      version: -1
      name: Write recoverystory to incident field
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '200'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: incident.recoverystory
      value:
        simple: ${Recovery.story}
    separatecontext: false
    continueonerrortype: ''
    view: '{ "position": { "x": 50, "y": 3515 } }'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '202':
    id: '202'
    taskid: 130687d5-5f90-4d92-b7d0-d8eb811fc3f2
    type: regular
    task:
      id: 130687d5-5f90-4d92-b7d0-d8eb811fc3f2
      version: -1
      name: Write recoverystory to issue field
      description: commands.local.cmd.set.incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '200'
    scriptarguments:
      recoverystory:
        simple: ${Recovery.story}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{ "position": { "x": 50, "y": 3515 } }'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
outputSections:
- outputs:
  - Recovery.status
  - Recovery.story
  - Recovery.monitoring_required
  - Recovery.monitoring_scope
  - Recovery.restore_required
  - Recovery.restore_method
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Recovery.status
  type: unknown
- contextPath: Recovery.story
  type: unknown
- contextPath: Recovery.monitoring_required
  type: unknown
- contextPath: Recovery.monitoring_scope
  type: unknown
- contextPath: Recovery.restore_required
  type: unknown
- contextPath: Recovery.restore_method
  type: unknown
sourceplaybookid: SOC Data Analysis_V3
dirtyInputs: false
