Packs/soc-framework-nist-ir/Playbooks/SOC_Email_Forensics_Evaluation_V3.yml
adopted: true
id: SOC Email Forensics Evaluation_V3
name: SOC Email Forensics Evaluation_V3
version: -1
fromversion: 6.10.0
description: "NIST IR 800-61 — Forensics Evaluation — Email\n\nTwo optional paths,\
  \ independently gated:\n\n1. Email Content Extraction — gate: SOCFWFeatureFlags.email_process_original\
  \ = true\n   Runs Process Email - Generic v2 for user-reported phishing mailbox\
  \ flow.\n   Provides email body, headers, attachments for auth and ML analysis.\n\
  \n2. Source Forensics API — gate: campaign_id or threat_id available in context\n\
  \   Runs soc-get-email-forensics Universal Command.\n   Sets Analysis.Email.CampaignID\
  \ and Analysis.Email.ThreatID for downstream.\n\nCampaign detection note: XSIAM\
  \ native case grouping handles cross-alert campaign\nclustering. Analysis.Email.CampaignID\
  \ is sourced from SOCFramework.Email.campaign_id\nset by Foundation - Normalize\
  \ Email — available for any SEG that provides a campaign ID.\n\nValue Driver: VD1,\
  \ VD3"
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- Email
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 7cc68bf3-4522-4add-b0ef-7ea8df537fd8
    type: start
    task:
      id: 7cc68bf3-4522-4add-b0ef-7ea8df537fd8
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 690,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: ff17af67-904a-4123-9d9a-5f6253762bb3
    type: title
    task:
      id: ff17af67-904a-4123-9d9a-5f6253762bb3
      version: -1
      name: Email Content Extraction
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 690,\n    \"y\": 195\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: a01cbb44-e283-4805-8100-2fdd2cb4f847
    type: condition
    task:
      id: a01cbb44-e283-4805-8100-2fdd2cb4f847
      version: -1
      name: Retrieve Original Email?
      type: condition
      description: 'Gate: run Process Email - Generic v2 if GetOriginalEmail = true.
        User-reported phishing path — reporter forwarded suspicious email as EML/MSG.
        For TAP-sourced alerts leave false — TAP provides all metadata natively.'
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '1'
      'yes':
      - '22'
    conditions:
    - label: 'yes'
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.GetOriginalEmail
            iscontext: true
          right:
            value:
              simple: 'true'
          ignorecase: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 690,\n    \"y\": 365\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '22':
    id: '22'
    taskid: 62627bbc-b671-4237-8c5f-10e834b722f2
    type: playbook
    task:
      id: 62627bbc-b671-4237-8c5f-10e834b722f2
      version: -1
      name: Process Email - Generic v2
      playbookName: Process Email - Generic v2
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    scriptarguments:
      EmailFrom:
        simple: ${SOCFramework.Artifacts.Email.From}
      EmailSubject:
        simple: ${SOCFramework.Artifacts.Email.Subject}
      EmailHtml:
        simple: ${alert.emailhtml}
      EmailText:
        simple: ${alert.emailbody}
      EmailHeaders:
        simple: ${alert.phishingreportedemailheaders}
      GetOriginalEmail:
        simple: 'true'
      MessageID:
        simple: ${SOCFramework.Artifacts.Email.MessageID}
      UserID:
        simple: ${SOCFramework.Artifacts.Email.To}
      EmailFileToExtract:
        simple: All
    separatecontext: true
    continueonerror: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": {\n    \"x\": 240,\n    \"y\": 555\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 27926735-5a91-4def-94cd-ea7e3ec41316
    type: title
    task:
      id: 27926735-5a91-4def-94cd-ea7e3ec41316
      version: -1
      name: Extract Campaign ID & Threat ID
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '2'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 690,\n    \"y\": 730\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: f5496a1a-ca74-4f33-b923-ef02d748b928
    type: regular
    task:
      id: f5496a1a-ca74-4f33-b923-ef02d748b928
      version: -1
      name: Set Campaign ID
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '3'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.CampaignID
      value:
        simple: ${SOCFramework.Email.campaign_id}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 690,\n    \"y\": 900\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: 4b0e62d8-b78d-452d-8721-a5d8c5766c1a
    type: regular
    task:
      id: 4b0e62d8-b78d-452d-8721-a5d8c5766c1a
      version: -1
      name: Set Threat ID
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.ThreatID
      value:
        simple: ${SOCFramework.Email.threat_id}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 690,\n    \"y\": 1070\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 1deb4b62-56c0-4df1-a38d-886503b5c031
    type: title
    task:
      id: 1deb4b62-56c0-4df1-a38d-886503b5c031
      version: -1
      name: Route Forensics Request
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '5'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 690,\n    \"y\": 1240\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: 34f8d6f1-08ed-4bd5-8176-ee8905c4f1af
    type: condition
    task:
      id: 34f8d6f1-08ed-4bd5-8176-ee8905c4f1af
      version: -1
      name: IDs Available?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '14'
      'yes':
      - '6'
    conditions:
    - label: 'yes'
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Analysis.Email.CampaignID
            iscontext: true
        - operator: isNotEmpty
          left:
            value:
              simple: Analysis.Email.ThreatID
            iscontext: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 690,\n    \"y\": 1410\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: 35f67f22-3c40-4623-a956-69dc5609c7aa
    type: regular
    task:
      id: 35f67f22-3c40-4623-a956-69dc5609c7aa
      version: -1
      name: Get Email Forensics — Universal Command
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    scriptarguments:
      Action_Actor:
        simple: automation
      Phase:
        simple: Analysis
      action:
        simple: soc-get-email-forensics
      output_key:
        simple: Analysis.Email.Forensics
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 370,\n    \"y\": 1600\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: 487f5718-3fb6-44d2-ac4b-76c16cf6d14e
    type: title
    task:
      id: 487f5718-3fb6-44d2-ac4b-76c16cf6d14e
      version: -1
      name: Check Forensics Data
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 370,\n    \"y\": 1790\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 69a63378-1d10-4574-ad31-e83a18eee681
    type: title
    task:
      id: 69a63378-1d10-4574-ad31-e83a18eee681
      version: -1
      name: Process Forensics Results
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 370,\n    \"y\": 1960\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: 3619cb06-a729-4843-b03c-4cc18cf49eaf
    type: condition
    task:
      id: 3619cb06-a729-4843-b03c-4cc18cf49eaf
      version: -1
      name: Forensics Data Exists?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '14'
      'yes':
      - '12'
    conditions:
    - label: 'yes'
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: Analysis.Email.Forensics
            iscontext: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 370,\n    \"y\": 2130\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 26fc7568-a669-4ada-8e22-92143df09a68
    type: regular
    task:
      id: 26fc7568-a669-4ada-8e22-92143df09a68
      version: -1
      name: Summarize Forensic Data
      script: Builtin|||setIssue
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      emailforensicsdata:
        complex:
          root: Analysis.Email.Forensics
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 370,\n    \"y\": 2300\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: b0ad1317-a944-4816-baa9-c06bdf3308f5
    type: regular
    task:
      id: b0ad1317-a944-4816-baa9-c06bdf3308f5
      version: -1
      name: Set Forensics Available Flag
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.forensics_available
      value:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 370,\n    \"y\": 2470\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: b772bdba-bc0b-4984-9bfe-af3e302aa68d
    type: title
    task:
      id: b772bdba-bc0b-4984-9bfe-af3e302aa68d
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks: {}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 690,\n    \"y\": 3060\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
inputs:
- key: GetOriginalEmail
  value:
    simple: 'false'
  required: false
  description: 'Set true to run Process Email - Generic v2 (user-reported phishing
    path). Leave false for TAP-sourced alerts. Source: Phishing - Generic v3.'
  playbookInputQuery: null
inputSections:
- inputs:
  - GetOriginalEmail
  name: Email Artifact Extraction
  description: Process Email - Generic v2 path for user-reported phishing
- inputs:
  - DetectCampaign
  name: Campaign Detection
  description: Detect & Manage Phishing Campaigns integration
outputs:
- contextPath: Analysis.Email.CampaignID
  description: Email source campaign ID — set by Foundation - Normalize Email_V3
  type: string
- contextPath: Analysis.Email.ThreatID
  description: Email source threat ID — set by Foundation - Normalize Email_V3
  type: string
- contextPath: Analysis.Email.forensics_available
  description: true if email source forensics data was retrieved via soc-get-email-forensics
  type: boolean
outputSections:
- outputs:
  - Analysis.Email.CampaignID
  - Analysis.Email.ThreatID
  - Analysis.Email.forensics_available
  - PartOfCampaign
  name: Forensics Contract
  description: Consumed by Spread Evaluation and Comms
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n \
  \     \"height\": 3120,\n      \"width\": 1200,\n      \"x\": 50,\n      \"y\":\
  \ 50\n    }\n  }\n}"
contentitemexportablefields:
  contentitemfields:
    definitionid: ''
    fromServerVersion: 6.10.0
    isoverridable: false
    itemVersion: 1.2.0
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR
    prevname: ''
    supportedModules: []
    toServerVersion: ''
dirtyInputs: false
