Packs/soc-framework-nist-ir/Playbooks/SOC_Identity_Analysis_V3.yml
adopted: true
fromversion: 5.0.0
id: SOC Identity Analysis_V3
version: -1
name: SOC Identity Analysis_V3
description: "Identity-specific analysis playbook. Runs inside SOC Analysis_V3 when\nSOCFramework.Product.category = \"Identity\"\
  .\n\nFollows the standard analysis pattern:\n  1. SOC Initialize Investigation Context_V3 - clean keys, load case counts\n\
  \  2. Signal Characterization - evaluate MITRE tactics and identity threat type\n  3. Compromise Evaluation - set compromise_level\
  \ and compromise_decision\n  4. Spread Evaluation - set spread_level based on user/host scope\n  5. Recommendations - set\
  \ confidence and response_recommended\n  6. SOC Analysis Evaluation_V3 - publish canonical Analysis.* context keys\n\nIntermediate\
  \ keys: Analysis.Identity.*\nPublished keys: canonical Analysis.* consumed by SOC NIST IR (800-61)_V3\n\nValue Driver: VD1\
  \ (MTTD), VD3 (analyst efficiency - automated assessment)\nSOC Challenges: Repetitive Workflows, Analyst Fatigue, Too Many\
  \ Manual Investigations"
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- Identity
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 84141e91-8042-5fa8-af29-04659ee420f0
    type: start
    task:
      id: 84141e91-8042-5fa8-af29-04659ee420f0
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 50 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 4a5e020d-8b0e-589f-ac7d-4ef6a4b625aa
    type: title
    task:
      id: 4a5e020d-8b0e-589f-ac7d-4ef6a4b625aa
      version: -1
      name: Preparation
      description: Clean context keys and load case counts from incident fields.
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '2'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 185 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: 22d64792-9228-5a41-b01c-7bf4cd620e63
    type: playbook
    task:
      id: 22d64792-9228-5a41-b01c-7bf4cd620e63
      version: -1
      name: SOC Initialize Investigation Context
      description: Clean up the data context and prepare to perform the investigation.
      playbookName: SOC Initialize Investigation Context_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '3'
    scriptarguments:
      case_host_count:
        simple: ${parentIncidentFields.host_count}
      case_issue_count:
        simple: ${parentIncidentFields.alert_count}
      case_score:
        simple: ${parentIncidentFields.predicted_score}
      case_user_count:
        simple: ${parentIncidentFields.user_count}
      reset_issue_keys:
        simple: Investigation, Analysis, Containment, Eradication, Recovery
    separatecontext: false
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": { \"x\": 480, \"y\": 330 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: 425b0e53-ab75-59fc-8a5a-621e17279ecc
    type: title
    task:
      id: 425b0e53-ab75-59fc-8a5a-621e17279ecc
      version: -1
      name: Signal Characterization
      description: Evaluate MITRE tactics and classify the identity threat type.
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '4'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 500 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 96b14199-3610-55d2-9f29-0108fc6752f4
    type: condition
    task:
      id: 96b14199-3610-55d2-9f29-0108fc6752f4
      version: -1
      name: Identity Threat Signal Type
      description: Classifies the primary identity threat from MITRE tactics in the case.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - '5'
      Credential Access:
      - '10'
      Privilege Escalation:
      - '11'
      Persistence:
      - '12'
      Lateral Movement:
      - '13'
    separatecontext: false
    conditions:
    - label: Privilege Escalation
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: ${parentIncidentFields.mitre_tactics_ids_and_names}
            iscontext: true
          right:
            value:
              simple: TA0004
    - label: Persistence
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: ${parentIncidentFields.mitre_tactics_ids_and_names}
            iscontext: true
          right:
            value:
              simple: TA0003
    - label: Lateral Movement
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: ${parentIncidentFields.mitre_tactics_ids_and_names}
            iscontext: true
          right:
            value:
              simple: TA0008
    - label: Credential Access
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: ${parentIncidentFields.mitre_tactics_ids_and_names}
            iscontext: true
          right:
            value:
              simple: TA0006
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 640 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: 6751050a-dbd9-511b-b640-7ac6c9cc7bea
    type: regular
    task:
      id: 6751050a-dbd9-511b-b640-7ac6c9cc7bea
      version: -1
      name: Set Signal Type - Identity Anomaly
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.signal_type
      value:
        simple: identity_anomaly
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 830 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: cc760965-e609-59ed-bf68-a29be2048037
    type: regular
    task:
      id: cc760965-e609-59ed-bf68-a29be2048037
      version: -1
      name: Set Signal Type - Credential Access
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.signal_type
      value:
        simple: credential_access
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 0, \"y\": 830 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: a17e0f64-917f-5557-9cd7-2464f293872d
    type: regular
    task:
      id: a17e0f64-917f-5557-9cd7-2464f293872d
      version: -1
      name: Set Signal Type - Privilege Escalation
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.signal_type
      value:
        simple: privilege_escalation
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 240, \"y\": 830 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: cec1a43d-e86c-5912-9f0f-a56a95ed6639
    type: regular
    task:
      id: cec1a43d-e86c-5912-9f0f-a56a95ed6639
      version: -1
      name: Set Signal Type - Persistence
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.signal_type
      value:
        simple: identity_persistence
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 720, \"y\": 830 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: f9f68f79-e221-5e5e-bb1b-4f2f7175d42d
    type: regular
    task:
      id: f9f68f79-e221-5e5e-bb1b-4f2f7175d42d
      version: -1
      name: Set Signal Type - Lateral Movement
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.signal_type
      value:
        simple: lateral_movement
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 960, \"y\": 830 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: 991c4c11-13b6-5a95-a217-4967662c41cc
    type: title
    task:
      id: 991c4c11-13b6-5a95-a217-4967662c41cc
      version: -1
      name: Compromise Evaluation
      description: Evaluate compromise level based on XSIAM risk score and signal type.
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '21'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 1020 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: 771a5d10-c92a-5de0-bc10-104bbe2a2ffe
    type: condition
    task:
      id: 771a5d10-c92a-5de0-bc10-104bbe2a2ffe
      version: -1
      name: Risk Score - High?
      description: Score >= 70 OR privilege_escalation/persistence signal drives likely_compromised.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - '23'
      high:
      - '22'
    separatecontext: false
    conditions:
    - label: high
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: ${parentIncidentFields.predicted_score}
            iscontext: true
          right:
            value:
              simple: '70'
        - operator: isEqualString
          left:
            value:
              simple: ${Analysis.Identity.signal_type}
            iscontext: true
          right:
            value:
              simple: privilege_escalation
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: ${parentIncidentFields.predicted_score}
            iscontext: true
          right:
            value:
              simple: '70'
        - operator: isEqualString
          left:
            value:
              simple: ${Analysis.Identity.signal_type}
            iscontext: true
          right:
            value:
              simple: identity_persistence
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: ${parentIncidentFields.predicted_score}
            iscontext: true
          right:
            value:
              simple: '85'
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 1165 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '22':
    id: '22'
    taskid: e27ea7e7-477c-59bd-8497-0f5ffe33900f
    type: regular
    task:
      id: e27ea7e7-477c-59bd-8497-0f5ffe33900f
      version: -1
      name: Set Compromise Level - likely_compromised
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '24'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.compromise_level
      value:
        simple: likely_compromised
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 240, \"y\": 1350 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '23':
    id: '23'
    taskid: fb404fe4-f0d0-577e-a8b7-c86533ebdc09
    type: regular
    task:
      id: fb404fe4-f0d0-577e-a8b7-c86533ebdc09
      version: -1
      name: Set Compromise Level - suspicious
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '25'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.compromise_level
      value:
        simple: suspicious
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 720, \"y\": 1350 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '24':
    id: '24'
    taskid: 8352879c-c557-5ffc-8a00-1aabb1445b5e
    type: regular
    task:
      id: 8352879c-c557-5ffc-8a00-1aabb1445b5e
      version: -1
      name: Set Compromise Decision - malicious
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '30'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.compromise_decision
      value:
        simple: malicious
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 240, \"y\": 1530 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '25':
    id: '25'
    taskid: e5a4b347-5185-531b-9115-ff079ad4e4e6
    type: regular
    task:
      id: e5a4b347-5185-531b-9115-ff079ad4e4e6
      version: -1
      name: Set Compromise Decision - suspicious_activity
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '30'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.compromise_decision
      value:
        simple: suspicious_activity
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 720, \"y\": 1530 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '30':
    id: '30'
    taskid: b75bd97e-5b31-5eef-abdd-21e2c6213597
    type: title
    task:
      id: b75bd97e-5b31-5eef-abdd-21e2c6213597
      version: -1
      name: Evaluate Spread Level
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '31'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 1710 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '31':
    id: '31'
    taskid: 301d93ad-f4a3-5baf-8f11-c244c4ada62b
    type: condition
    task:
      id: 301d93ad-f4a3-5baf-8f11-c244c4ada62b
      version: -1
      name: Spread Level - Multi-User?
      description: multi_entity if 3+ users or lateral movement signal.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - '33'
      multi_entity:
      - '32'
    separatecontext: false
    conditions:
    - label: multi_entity
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: ${parentIncidentFields.user_count}
            iscontext: true
          right:
            value:
              simple: '3'
      - - operator: isEqualString
          left:
            value:
              simple: ${Analysis.Identity.signal_type}
            iscontext: true
          right:
            value:
              simple: lateral_movement
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 1850 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '32':
    id: '32'
    taskid: 03a40676-0aa9-503e-99bf-633e0f7c743f
    type: regular
    task:
      id: 03a40676-0aa9-503e-99bf-633e0f7c743f
      version: -1
      name: Set Spread Level - multi_entity
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '40'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.spread_level
      value:
        simple: multi_entity
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 240, \"y\": 2030 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '33':
    id: '33'
    taskid: f74499c8-44cd-5e83-a527-0479bea99002
    type: regular
    task:
      id: f74499c8-44cd-5e83-a527-0479bea99002
      version: -1
      name: Set Spread Level - single_entity
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '40'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.spread_level
      value:
        simple: single_entity
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 720, \"y\": 2030 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '40':
    id: '40'
    taskid: 9651a4fc-9db6-525e-9ee6-c765e893d9c3
    type: title
    task:
      id: 9651a4fc-9db6-525e-9ee6-c765e893d9c3
      version: -1
      name: Make Recommendations
      description: Set confidence and response_recommended based on compromise evaluation.
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '41'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 2215 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '41':
    id: '41'
    taskid: 739f4119-7867-5359-ae11-327553d967cd
    type: condition
    task:
      id: 739f4119-7867-5359-ae11-327553d967cd
      version: -1
      name: Analysis Confidence
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#default#':
      - '44'
      high:
      - '42'
      medium:
      - '43'
    separatecontext: false
    conditions:
    - label: high
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${Analysis.Identity.compromise_level}
            iscontext: true
          right:
            value:
              simple: likely_compromised
        - operator: isEqualString
          left:
            value:
              simple: ${Analysis.Identity.spread_level}
            iscontext: true
          right:
            value:
              simple: multi_entity
      - - operator: isEqualString
          left:
            value:
              simple: ${Analysis.Identity.compromise_level}
            iscontext: true
          right:
            value:
              simple: likely_compromised
        - operator: isEqualString
          left:
            value:
              simple: ${Analysis.Identity.signal_type}
            iscontext: true
          right:
            value:
              simple: privilege_escalation
      - - operator: isEqualString
          left:
            value:
              simple: ${Analysis.Identity.compromise_level}
            iscontext: true
          right:
            value:
              simple: likely_compromised
        - operator: isEqualString
          left:
            value:
              simple: ${Analysis.Identity.signal_type}
            iscontext: true
          right:
            value:
              simple: identity_persistence
    - label: medium
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${Analysis.Identity.compromise_level}
            iscontext: true
          right:
            value:
              simple: likely_compromised
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 2370 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '42':
    id: '42'
    taskid: 614781f6-0256-5015-9570-e411a06eac70
    type: regular
    task:
      id: 614781f6-0256-5015-9570-e411a06eac70
      version: -1
      name: Investigation Confidence High
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '45'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.confidence
      value:
        simple: high
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 240, \"y\": 2560 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '43':
    id: '43'
    taskid: 28d71874-9c02-5ba6-afb8-bc32f156d4b9
    type: regular
    task:
      id: 28d71874-9c02-5ba6-afb8-bc32f156d4b9
      version: -1
      name: Investigation Confidence Medium
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '45'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.confidence
      value:
        simple: medium
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 720, \"y\": 2560 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '44':
    id: '44'
    taskid: cfe7c506-7d41-5e61-b97f-21c749812fa3
    type: regular
    task:
      id: cfe7c506-7d41-5e61-b97f-21c749812fa3
      version: -1
      name: Investigation Confidence Low
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '46'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.confidence
      value:
        simple: low
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 2560 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '45':
    id: '45'
    taskid: e101470d-c24a-58c7-a37e-780938269ce8
    type: regular
    task:
      id: e101470d-c24a-58c7-a37e-780938269ce8
      version: -1
      name: Analysis Response Recommended
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '50'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.response_recommended
      value:
        simple: 'true'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 2745 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '46':
    id: '46'
    taskid: 0d1d268c-9a7a-5e96-9af9-b150c955733b
    type: regular
    task:
      id: 0d1d268c-9a7a-5e96-9af9-b150c955733b
      version: -1
      name: Analysis Response NOT Recommended
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '50'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Identity.response_recommended
      value:
        simple: 'false'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 2745 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '50':
    id: '50'
    taskid: 698089f4-af29-5db4-abe4-acd405c24f21
    type: playbook
    task:
      id: 698089f4-af29-5db4-abe4-acd405c24f21
      version: -1
      name: SOC Analysis Evaluation_V3
      description: Publishes Analysis.Identity.* to canonical Analysis.* keys consumed by SOC NIST IR.
      playbookName: SOC Analysis Evaluation_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '99'
    scriptarguments:
      case_category:
        simple: ${Analysis.Identity.signal_type}
      case_host_count:
        simple: ${parentIncidentFields.host_count}
      case_issue_count:
        simple: ${parentIncidentFields.alert_count}
      case_score:
        simple: ${parentIncidentFields.predicted_score}
      case_user_count:
        simple: ${parentIncidentFields.user_count}
      compromise_decision:
        simple: ${Analysis.Identity.compromise_decision}
      compromise_level:
        simple: ${Analysis.Identity.compromise_level}
      confidence:
        simple: ${Analysis.Identity.confidence}
      mitre_tactic:
        simple: ${SOCFramework.Mitre.Tactic}
      mitre_tactic_id:
        simple: ${SOCFramework.Mitre.Tactic.ID}
      mitre_technique:
        simple: ${SOCFramework.Mitre.Technique}
      mitre_technique_id:
        simple: ${SOCFramework.Mitre.Technique.ID}
      primary_entity_id:
        simple: ${SOCFramework.Artifacts.UserName}
      primary_entity_name:
        simple: ${SOCFramework.Artifacts.UserName}
      primary_entity_type:
        simple: Identity
      primary_entity_user:
        simple: ${SOCFramework.Artifacts.UserName}
      response_recommended:
        simple: ${Analysis.Identity.response_recommended}
      spread_level:
        simple: ${Analysis.Identity.spread_level}
      story:
        simple: 'Identity Analysis Summary


          The primary identity under investigation is "${SOCFramework.Artifacts.UserName}".


          The identity threat signal has been classified as "${Analysis.Identity.signal_type}" with a compromise level of
          "${Analysis.Identity.compromise_level}", based on MITRE ATT&CK tactic correlation and XSIAM risk scoring.


          Activity scope:

          • Users involved: ${parentIncidentFields.user_count}

          • Hosts involved: ${parentIncidentFields.host_count}

          • Alerts in case: ${parentIncidentFields.alert_count}

          • Spread level: ${Analysis.Identity.spread_level}


          Investigation confidence is "${Analysis.Identity.confidence}".

          Response recommendation: ${Analysis.Identity.response_recommended}.'
      verdict:
        simple: ${Analysis.Identity.compromise_decision}
    separatecontext: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: "{\n  \"position\": { \"x\": 480, \"y\": 2930 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '99':
    id: '99'
    taskid: 96a551b1-7b03-5f98-88a5-593448331d8b
    type: title
    task:
      id: 96a551b1-7b03-5f98-88a5-593448331d8b
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": { \"x\": 480, \"y\": 3120 }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
inputs:
- key: entity_id
  value:
    simple: ${SOCFramework.Artifacts.UserName}
  required: false
  description: Primary user under investigation
  playbookInputQuery: null
- key: case_category
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: ''
  playbookInputQuery: null
- key: entity_type
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: ''
  playbookInputQuery: null
outputs:
- contextPath: Analysis.verdict
  type: unknown
- contextPath: Analysis.confidence
  type: unknown
- contextPath: Analysis.response_recommended
  type: unknown
- contextPath: Analysis.compromise_level
  type: unknown
- contextPath: Analysis.compromise_decision
  type: unknown
- contextPath: Analysis.spread_level
  type: unknown
- contextPath: Analysis.primary_entity_id
  type: unknown
- contextPath: Analysis.primary_entity_name
  type: unknown
- contextPath: Analysis.primary_entity_user
  type: unknown
- contextPath: Analysis.primary_entity_type
  type: unknown
- contextPath: Analysis.case_category
  type: unknown
- contextPath: Analysis.mitre_tactic
  type: unknown
- contextPath: Analysis.mitre_tactic_id
  type: unknown
- contextPath: Analysis.mitre_technique
  type: unknown
- contextPath: Analysis.mitre_technique_id
  type: unknown
- contextPath: Analysis.story
  type: unknown
- contextPath: Analysis.case_score
  type: unknown
- contextPath: Analysis.case_host_count
  type: unknown
- contextPath: Analysis.case_issue_count
  type: unknown
- contextPath: Analysis.case_user_count
  type: unknown
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n      \"height\": 3130,\n      \"width\":\
  \ 1340,\n      \"x\": 0,\n      \"y\": 50\n    }\n  }\n}"
