Packs/soc-framework-nist-ir/Playbooks/SOC_Email_IOC_Enrichment_V3.yml
id: SOC Email IOC Enrichment_V3
name: SOC Email IOC Enrichment_V3
version: -1
fromversion: 6.10.0
description: "NIST IR 800-61 — Detection & Analysis — Email IOC Enrichment\n\nCreates\
  \ indicators in XSIAM TIM, assigns Proofpoint DBot scores, and checks sender prevalence\
  \ before Signal Characterization runs.\n\nMUST run before SOC Email Signal Characterization_V3\
  \ — Signal Characterization reads DBotScore.Score via GetIndicatorDBotScoreFromCache.\
  \ If no indicator exists with a score, source_verdict defaults to benign.\n\nValue\
  \ Driver: VD1 (Reduce Risk) — accurate DBot scoring feeds Signal Characterization\
  \ source_verdict, which cross-checks ThreatStatus in Verdict Resolution.\nValue\
  \ Driver: VD3 (Efficiency) — automated IOC creation and prevalence tagging replaces\
  \ manual analyst TIM lookups.\n\nExecution:\n  1. Fan-out: URL threat? / Attachment\
  \ threat? (parallel)\n     URL path:        createNewIndicator(URL) → AddDBotScoreToContext(score=2,\
  \ vendor=Proofpoint TAP)\n     Attachment path: createNewIndicator(File) → AddDBotScoreToContext(score=2,\
  \ vendor=Proofpoint TAP)\n  2. Tag all threat indicators: ProofpointTAPThreat\n\
  \  3. Sender prevalence: domain + IP parallel checks\n     Non-prevalent → tag Uncommon\n\
  \  4. Set Analysis.Email.ioc_enriched = true\n\nDBot score 2 = suspicious baseline\
  \ per original SOC_Proofpoint_Preparation logic.\nVerdict Resolution cross-checks\
  \ this against ThreatStatus for final confidence.\n\nNote: rasterize URL (screenshot)\
  \ intentionally excluded — operationally low priority, adds latency with minimal\
  \ SOC value.\n\nContext keys produced:\n  Analysis.Email.ioc_enriched\n  DBotScore.*\
  \ (via AddDBotScoreToContext — consumed by Signal Characterization)"
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- Email
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 4dbf16a9-878a-4f02-81f8-bbc7d84ab027
    type: start
    task:
      id: 51b4a7c9-3f34-480b-a0f8-bf48cbe81ca5
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
      - '2'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: b9e71c8d-a4ee-40ef-9e10-4be78fba8eea
    type: condition
    task:
      id: 3ef80573-d0c0-4812-b210-a6ba459d5df7
      version: -1
      name: Is URL Threat?
      type: condition
      description: 'Routes to URL IOC creation if threatType contains "url".

        Source: alert.proofpointtapthreatinfomap.threatType'
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '10'
      'yes':
      - '3'
    conditions:
    - label: 'yes'
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: alert.proofpointtapthreatinfomap.threatType
            iscontext: true
          right:
            value:
              simple: url
          ignorecase: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: 445d06e5-1448-45a2-ad49-ae786bb96b17
    type: condition
    task:
      id: 84eb463d-e7c3-44e4-b860-264f5ed4c2b0
      version: -1
      name: Is Attachment Threat?
      type: condition
      description: 'Routes to File IOC creation if threatType contains "attachment".

        Source: alert.proofpointtapthreatinfomap.threatType'
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '10'
      'yes':
      - '6'
    conditions:
    - label: 'yes'
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: alert.proofpointtapthreatinfomap.threatType
            iscontext: true
          right:
            value:
              simple: attachment
          ignorecase: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 800,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: 5d24be2e-ef81-45de-a428-6f74f9eb1edc
    type: title
    task:
      id: 7374b5c1-3696-4a0d-905b-7219add8b604
      version: -1
      name: URL IOC Path
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 410\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 4bddec58-29a6-499a-9294-fd8197baf0aa
    type: regular
    task:
      id: d0a414b4-2386-452a-8845-3d8f093d97c1
      version: -1
      name: Create URL Indicator
      description: 'Creates a URL indicator in XSIAM TIM for the Proofpoint threat
        URL.

        Required so GetIndicatorDBotScoreFromCache in Signal Characterization can
        retrieve the score.'
      scriptName: createNewIndicator
      type: regular
      iscommand: false
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '5'
    scriptarguments:
      type:
        simple: URL
      value:
        simple: ${SOCFramework.Artifacts.Email.ThreatURL}
      proofpointtaplink:
        simple: ${SOCFramework.Artifacts.Email.ThreatURL}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 580\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: 4ee8414d-6347-4af9-8405-2adf07865451
    type: regular
    task:
      id: 3442ffab-32ee-4a8a-bcb0-199f1d213433
      version: -1
      name: Assign DBot Score — URL
      description: 'Assigns DBot score 2 (suspicious) to the URL indicator.

        Score 2 = suspicious baseline — Verdict Resolution cross-checks this against
        ThreatStatus for final verdict confidence.

        Matches original Preparation task 9 logic.'
      scriptName: AddDBotScoreToContext
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    scriptarguments:
      indicator:
        complex:
          root: alert.proofpointtapthreatinfomap
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: alert.proofpointtapthreatinfomap.threatType
                iscontext: true
              right:
                value:
                  simple: url
              ignorecase: true
          accessor: threat
      indicatorType:
        simple: URL
      score:
        simple: '2'
      reliability:
        simple: C - Fairly reliable
      vendor:
        simple: Proofpoint TAP
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 750\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: a067fb55-ca99-4d8c-b30d-f223279a8873
    type: title
    task:
      id: 75fc0a2c-1eee-45aa-9c18-4dcd9930b090
      version: -1
      name: Attachment / File IOC Path
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '7'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 800,\n    \"y\": 410\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: d23dba56-3b32-40e5-a5cf-b074dc0ee249
    type: regular
    task:
      id: 6eb0b22e-c455-4017-909b-fcac0dcadef9
      version: -1
      name: Create File Indicator
      description: 'Creates a File indicator in XSIAM TIM for the Proofpoint threat
        hash.

        Required for DBot score retrieval in Signal Characterization.'
      scriptName: createNewIndicator
      type: regular
      iscommand: false
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments:
      type:
        simple: File
      value:
        complex:
          root: alert.proofpointtapthreatinfomap
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: alert.proofpointtapthreatinfomap.threatType
                iscontext: true
              right:
                value:
                  simple: attachment
              ignorecase: true
          accessor: threat
      proofpointtaplink:
        simple: ${SOCFramework.Artifacts.Email.ThreatURL}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 800,\n    \"y\": 580\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '8':
    id: '8'
    taskid: ce5967db-a458-4f65-9604-1f236f5e6880
    type: regular
    task:
      id: 3fcdac81-a1ab-40a5-a7c3-db7d4c938146
      version: -1
      name: Assign DBot Score — File
      description: 'Assigns DBot score 2 (suspicious) to the File/hash indicator.

        Matches original Preparation task 13 logic.'
      scriptName: AddDBotScoreToContext
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    scriptarguments:
      indicator:
        complex:
          root: alert.proofpointtapthreatinfomap
          filters:
          - - operator: isEqualString
              left:
                value:
                  simple: alert.proofpointtapthreatinfomap.threatType
                iscontext: true
              right:
                value:
                  simple: attachment
              ignorecase: true
          accessor: threat
      indicatorType:
        simple: File
      score:
        simple: '2'
      reliability:
        simple: C - Fairly reliable
      vendor:
        simple: Proofpoint TAP
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 800,\n    \"y\": 750\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 8f826b03-587b-403f-8510-e53142377b3a
    type: title
    task:
      id: 5836d8b7-0139-4593-9591-6f76ecd5e12c
      version: -1
      name: Tag Threat Indicators
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 940\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: dc1fd8e1-fa0d-49f0-803b-c7f29039c258
    type: regular
    task:
      id: 909e7a45-863f-4386-9512-f2b74b6e3394
      version: -1
      name: Tag Indicators — ProofpointTAPThreat
      description: 'Tags all threat indicators with ProofpointTAPThreat for TIM visibility.

        Matches original Preparation task 16.'
      scriptName: setIndicators
      type: regular
      iscommand: false
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      indicatorsValues:
        complex:
          root: alert.proofpointtapthreatinfomap
          accessor: threat
          transformers:
          - operator: uniq
      tags:
        simple: ProofpointTAPThreat
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1110\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: bfb1f0b3-d369-464b-b168-8676f0644f44
    type: title
    task:
      id: d69488a6-e95c-4093-9ef3-42a309a558de
      version: -1
      name: Sender Prevalence Checks
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
      - '14'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1295\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: 09c034a7-8cce-4f8d-857c-b6c07b6e7c8e
    type: regular
    task:
      id: 8b0aa331-6462-474b-a197-794408e55a53
      version: -1
      name: Sender Domain Prevalence Check
      description: 'Checks sender domain prevalence in the environment.

        Low prevalence → tag Uncommon → stronger signal for analyst.'
      script: '|||core-get-domain-analytics-prevalence'
      type: regular
      iscommand: true
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    scriptarguments:
      domain_name:
        complex:
          root: alert
          accessor: proofpointtapsmtpsender
          transformers:
          - operator: ExtractEmailAddresses
          - operator: getField
            args:
              field:
                value:
                  simple: domain
      extend-context:
        simple: Core=.
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 1465\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: 28c03dbd-1d0e-40b6-a826-38fc076f6296
    type: regular
    task:
      id: a5c33cc5-43e6-4fb4-9c45-7edd74671856
      version: -1
      name: Sender IP Prevalence Check
      description: 'Checks sender IP prevalence in the environment.

        Low prevalence → tag Uncommon.'
      script: '|||core-get-IP-analytics-prevalence'
      type: regular
      iscommand: true
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '16'
    scriptarguments:
      ip_address:
        simple: ${alert.localip}
      extend-context:
        simple: Core=.
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 800,\n    \"y\": 1465\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: b24c7af1-db37-46d4-bc6d-34a7cd382c91
    type: condition
    task:
      id: 3d5dfa1e-914d-4a49-8646-35a649e78e59
      version: -1
      name: Non-Prevalent Domain?
      type: condition
      description: isFalse = prevalence returned 0 or false — domain is uncommon in
        environment.
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '18'
      'yes':
      - '17'
    conditions:
    - label: 'yes'
      condition:
      - - operator: isFalse
          left:
            value:
              simple: Core.prevalence
            iscontext: true
          right:
            value: {}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 200,\n    \"y\": 1640\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: 153c3a70-ff56-4947-a785-35ead26c8401
    type: condition
    task:
      id: 15c6b46c-d16a-4d18-928c-f6c9fbf7573a
      version: -1
      name: Non-Prevalent IP?
      type: condition
      description: isFalse = prevalence returned 0 or false — IP is uncommon in environment.
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '18'
      'yes':
      - '17'
    conditions:
    - label: 'yes'
      condition:
      - - operator: isFalse
          left:
            value:
              simple: Core.prevalence
            iscontext: true
          right:
            value: {}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 800,\n    \"y\": 1640\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: 639b7a40-749a-42fe-bd3b-710988a06fd9
    type: regular
    task:
      id: 477cd42f-a96c-4fdc-bf00-bca587ca6d5c
      version: -1
      name: Tag Indicators — Uncommon
      description: 'Tags low-prevalence sender domain or IP as Uncommon in TIM.

        Surfaces as enrichment context for analyst review.'
      scriptName: setIndicators
      type: regular
      iscommand: false
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '18'
    scriptarguments:
      indicatorsValues:
        complex:
          root: Core.value
          filters:
          - - operator: isExists
              left:
                value:
                  simple: Core.value
                iscontext: true
              right:
                value: {}
      tags:
        simple: Uncommon
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 1830\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: ed1fa2dc-a6ee-4dc0-b466-d8b9c677f8b5
    type: title
    task:
      id: 76fe7d6f-983f-4e02-a951-b4486c6df70e
      version: -1
      name: Set Enrichment Flag
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '19'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 2015\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: f84b5358-1d0b-4ba6-b023-c55718879d50
    type: regular
    task:
      id: c8d44496-0e09-4142-a02e-d26e5f35efaa
      version: -1
      name: Set IOC Enriched Flag
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.ioc_enriched
      value:
        simple: 'true'
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 2185\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: a761892d-3a24-44a2-9c01-7c123ba38b3f
    type: title
    task:
      id: 86d7087c-5dad-4030-8568-d9de9c2025d0
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks: {}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 500,\n    \"y\": 2355\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
inputs: []
inputSections: []
outputs:
- contextPath: Analysis.Email.ioc_enriched
  description: true when IOC creation and DBot score assignment completed
  type: boolean
outputSections:
- outputs:
  - Analysis.Email.ioc_enriched
  name: Enrichment Contract
  description: Flag consumed by Analysis Evaluation story. DBotScore.* written to
    context and consumed by Signal Characterization GetIndicatorDBotScoreFromCache.
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n \
  \     \"height\": 2410,\n      \"width\": 1200,\n      \"x\": 50,\n      \"y\":\
  \ 50\n    }\n  }\n}"
contentitemexportablefields:
  contentitemfields:
    definitionid: ''
    fromServerVersion: 6.10.0
    isoverridable: false
    itemVersion: 3.0.0
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR
    prevname: ''
    supportedModules: []
    toServerVersion: ''
dirtyInputs: false
adopted: true
