Packs/soc-framework-nist-ir/Playbooks/SOC_EndPoint_Eradication_V3.yml
adopted: true
fromversion: 5.0.0
id: SOC EndPoint Eradication_V3
version: -1
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 4.0.0
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
name: SOC EndPoint Eradication_V3
description: |
  Endpoint category Eradication playbook (NIST IR 800-61 Phase 3: Eradication).

  Design:
    1. Phase Entry Gate. Reads CompromiseLevel via inputs. Skips the entire
       phase if the alert was evaluated as not_compromised or empty, writing
       a skip-story to Eradication.story.
    2. Three gated actions: remove-file, quarantine-files, remove-persistence.
       File-based actions artifact-gate on Target.* first (the malicious
       object), falling back to Process.* (the initiator process) when Target
       is empty. Each action is approval-gated via SOC_Approval_Gate_V3
       sub-playbook.
    3. SOCCommandWrapper handles Shadow Mode and writes Eradication.Execution[]
       per action.
    4. One Eradication.story write at the end.

  Reads (via inputs):
    - Analysis.Endpoint.compromise_level / .confidence / .signal_type
    - SOCFramework.Artifacts.Endpoint.AgentID / .Hostname
    - SOCFramework.Artifacts.Target.SHA256 / Target.Path (primary)
    - SOCFramework.Artifacts.Process.SHA256 / Process.Path (fallback)
    - SOCFramework.Artifacts.Process.Name

  Writes:
    - Approval.decision(per-call, via gate sub-playbook)
    - Eradication.Execution[] (per-action, via SOCCommandWrapper)
    - Eradication.story (single summary at phase end)

  Caller: SOC Eradication_V3 parent orchestrator routes to this playbook when
  inputs.ProductCategory = "Endpoint".
tags:
- SOC
- SOC_Framework_NIST_IR
- Eradication
- Endpoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: c3333333-0000-0000-0000-000000000000
    type: start
    task:
      id: c3333333-0000-0000-0000-000000000000
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: c3333333-0000-0000-0000-000000000001
    type: condition
    task:
      id: c3333333-0000-0000-0000-000000000001
      version: -1
      name: Phase Entry Gate - compromise level warrants eradication?
      description: |
        Reads inputs.CompromiseLevel (defaults to
        ${Analysis.Endpoint.compromise_level}). If not likely_compromised or
        suspicious, skip the entire Eradication phase.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "90"
      Proceed:
      - "10"
    separatecontext: false
    conditions:
    - label: Proceed
      condition:
      - - operator: inList
          left:
            value:
              complex:
                root: inputs.CompromiseLevel
            iscontext: true
          right:
            value:
              simple: likely_compromised,suspicious
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: c3333333-0000-0000-0000-000000000010
    type: condition
    task:
      id: c3333333-0000-0000-0000-000000000010
      version: -1
      name: Action 1 - File path present (Target OR Process)?
      description: |
        Skip soc-remove-file if no file path is in context. Check Target.Path
        first (the declared target of the action); fall back to Process.Path
        (the initiator process's file path) when Target is empty.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "20"
      Present:
      - "11"
    separatecontext: false
    conditions:
    - label: Present
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: inputs.TargetPath
            iscontext: true
        - operator: isNotEmpty
          left:
            value:
              complex:
                root: inputs.ProcessPath
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: c3333333-0000-0000-0000-000000000011
    type: playbook
    task:
      id: c3333333-0000-0000-0000-000000000011
      version: -1
      name: Gate - soc-remove-file
      description: |
        Call SOC Approval Gate_V3 for soc-remove-file.
      playbookName: SOC Approval Gate_V3
      playbookId: SOC Approval Gate_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      action_name:
        simple: soc-remove-file
      phase:
        simple: Eradication
      artifact_summary:
        simple: "File path: ${inputs.TargetPath}${inputs.ProcessPath} on ${inputs.Hostname}"
      context_summary:
        simple: "Compromise: ${inputs.CompromiseLevel}, Confidence: ${inputs.Confidence}, Signal: ${inputs.SignalType}"
    separatecontext: false
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 520
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: c3333333-0000-0000-0000-000000000012
    type: condition
    task:
      id: c3333333-0000-0000-0000-000000000012
      version: -1
      name: Action 1 - Approved?
      description: |
        Route to wrapper only if approved or auto-approved.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "20"
      Allow:
      - "13"
    separatecontext: false
    conditions:
    - label: Allow
      condition:
      - - operator: inList
          left:
            value:
              complex:
                root: Approval.decision
            iscontext: true
          right:
            value:
              simple: approved,auto-approved
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 680
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: c3333333-0000-0000-0000-000000000013
    type: regular
    task:
      id: c3333333-0000-0000-0000-000000000013
      version: -1
      name: Wrapper - soc-remove-file
      description: |
        Call SOCCommandWrapper for soc-remove-file.
      script: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      action:
        simple: soc-remove-file
      phase:
        simple: Eradication
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 840
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: c3333333-0000-0000-0000-000000000020
    type: condition
    task:
      id: c3333333-0000-0000-0000-000000000020
      version: -1
      name: Action 2 - File hash present (Target OR Process)?
      description: |
        Skip soc-quarantine-files if no SHA256 is in context. Check
        Target.SHA256 first; fall back to Process.SHA256.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "30"
      Present:
      - "21"
    separatecontext: false
    conditions:
    - label: Present
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: inputs.TargetHash
            iscontext: true
        - operator: isNotEmpty
          left:
            value:
              complex:
                root: inputs.ProcessHash
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1000
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: c3333333-0000-0000-0000-000000000021
    type: playbook
    task:
      id: c3333333-0000-0000-0000-000000000021
      version: -1
      name: Gate - soc-quarantine-files
      description: |
        Call SOC Approval Gate_V3 for soc-quarantine-files.
      playbookName: SOC Approval Gate_V3
      playbookId: SOC Approval Gate_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      action_name:
        simple: soc-quarantine-files
      phase:
        simple: Eradication
      artifact_summary:
        simple: "Hash: ${inputs.TargetHash}${inputs.ProcessHash} on ${inputs.Hostname}"
      context_summary:
        simple: "Compromise: ${inputs.CompromiseLevel}, Confidence: ${inputs.Confidence}, Signal: ${inputs.SignalType}"
    separatecontext: false
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: c3333333-0000-0000-0000-000000000022
    type: condition
    task:
      id: c3333333-0000-0000-0000-000000000022
      version: -1
      name: Action 2 - Approved?
      type: condition
      iscommand: false
      brand: ""
      description: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "30"
      Allow:
      - "23"
    separatecontext: false
    conditions:
    - label: Allow
      condition:
      - - operator: inList
          left:
            value:
              complex:
                root: Approval.decision
            iscontext: true
          right:
            value:
              simple: approved,auto-approved
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1320
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: c3333333-0000-0000-0000-000000000023
    type: regular
    task:
      id: c3333333-0000-0000-0000-000000000023
      version: -1
      name: Wrapper - soc-quarantine-files
      description: |
        Call SOCCommandWrapper for soc-quarantine-files.
      script: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      action:
        simple: soc-quarantine-files
      phase:
        simple: Eradication
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1480
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: c3333333-0000-0000-0000-000000000030
    type: condition
    task:
      id: c3333333-0000-0000-0000-000000000030
      version: -1
      name: Action 3 - AgentID present?
      description: |
        Skip soc-remove-persistence if no Endpoint.AgentID is in context.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "80"
      Present:
      - "31"
    separatecontext: false
    conditions:
    - label: Present
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: inputs.AgentID
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: c3333333-0000-0000-0000-000000000031
    type: playbook
    task:
      id: c3333333-0000-0000-0000-000000000031
      version: -1
      name: Gate - soc-remove-persistence
      description: |
        Call SOC Approval Gate_V3 for soc-remove-persistence.
      playbookName: SOC Approval Gate_V3
      playbookId: SOC Approval Gate_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      action_name:
        simple: soc-remove-persistence
      phase:
        simple: Eradication
      artifact_summary:
        simple: "Persistence cleanup on ${inputs.Hostname} targeting ${inputs.ProcessName}"
      context_summary:
        simple: "Compromise: ${inputs.CompromiseLevel}, Confidence: ${inputs.Confidence}, Signal: ${inputs.SignalType}"
    separatecontext: false
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1800
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: c3333333-0000-0000-0000-000000000032
    type: condition
    task:
      id: c3333333-0000-0000-0000-000000000032
      version: -1
      name: Action 3 - Approved?
      type: condition
      iscommand: false
      brand: ""
      description: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "80"
      Allow:
      - "33"
    separatecontext: false
    conditions:
    - label: Allow
      condition:
      - - operator: inList
          left:
            value:
              complex:
                root: Approval.decision
            iscontext: true
          right:
            value:
              simple: approved,auto-approved
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: c3333333-0000-0000-0000-000000000033
    type: regular
    task:
      id: c3333333-0000-0000-0000-000000000033
      version: -1
      name: Wrapper - soc-remove-persistence
      description: |
        Call SOCCommandWrapper for soc-remove-persistence.
      script: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "80"
    scriptarguments:
      action:
        simple: soc-remove-persistence
      phase:
        simple: Eradication
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "80":
    id: "80"
    taskid: c3333333-0000-0000-0000-000000000080
    type: regular
    task:
      id: c3333333-0000-0000-0000-000000000080
      version: -1
      name: Write Eradication.story (executed)
      description: |
        Write a single Eradication.story summarizing that the phase ran.
        Per-action detail lives in Eradication.Execution[] (written by the
        wrapper) and in the XSIAM case audit log.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "99"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Eradication.story
      value:
        simple: "Eradication phase executed for ${inputs.CompromiseLevel} alert. See Eradication.Execution[] for per-action outcomes and the case audit log for analyst approval decisions."
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "90":
    id: "90"
    taskid: c3333333-0000-0000-0000-000000000090
    type: regular
    task:
      id: c3333333-0000-0000-0000-000000000090
      version: -1
      name: Write Eradication.story (skipped)
      description: |
        Phase entry gate closed. Write a skip-story so downstream consumers
        (Recovery, dashboard, case layout) can tell the phase was
        deliberately skipped versus errored out.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "99"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Eradication.story
      value:
        simple: "Eradication skipped. CompromiseLevel = ${inputs.CompromiseLevel} did not warrant eradication actions."
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 150,
          "y": 360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "99":
    id: "99"
    taskid: c3333333-0000-0000-0000-000000000099
    type: title
    task:
      id: c3333333-0000-0000-0000-000000000099
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2450,
        "width": 600,
        "x": 150,
        "y": 50
      }
    }
  }
inputs:
- key: ProductCategory
  value:
    simple: Endpoint
  required: false
  description: |
    Product category passed by SOC Eradication_V3 parent orchestrator.
  playbookInputQuery: null
- key: CompromiseLevel
  value:
    complex:
      root: Analysis.Endpoint.compromise_level
  required: false
  description: |
    Endpoint compromise level. Drives the phase-entry gate.
  playbookInputQuery: null
- key: Confidence
  value:
    complex:
      root: Analysis.Endpoint.confidence
  required: false
  description: |
    Analysis confidence score. Shown in the approval prompt context.
  playbookInputQuery: null
- key: SignalType
  value:
    complex:
      root: Analysis.Endpoint.signal_type
  required: false
  description: |
    Endpoint signal classification. Shown in the approval prompt.
  playbookInputQuery: null
- key: AgentID
  value:
    complex:
      root: SOCFramework.Artifacts.Endpoint.AgentID
  required: false
  description: |
    EDR agent identifier for the affected host. Required for
    soc-remove-persistence. If empty, that action is skipped.
  playbookInputQuery: null
- key: Hostname
  value:
    complex:
      root: SOCFramework.Artifacts.Endpoint.Hostname
  required: false
  description: |
    Hostname of the affected endpoint. Used in approval prompts.
  playbookInputQuery: null
- key: TargetHash
  value:
    complex:
      root: SOCFramework.Artifacts.Target.SHA256
  required: false
  description: |
    SHA256 hash of the malicious file target (primary). Resolves from
    ${SOCFramework.Artifacts.Target.SHA256}. Checked first; if empty,
    ProcessHash is used as fallback for soc-quarantine-files.
  playbookInputQuery: null
- key: ProcessHash
  value:
    complex:
      root: SOCFramework.Artifacts.Process.SHA256
  required: false
  description: |
    SHA256 hash of the initiator process (fallback). Resolves from
    ${SOCFramework.Artifacts.Process.SHA256}. Used when Target.SHA256 is
    not populated.
  playbookInputQuery: null
- key: TargetPath
  value:
    complex:
      root: SOCFramework.Artifacts.Target.Path
  required: false
  description: |
    File path of the malicious target (primary). Resolves from
    ${SOCFramework.Artifacts.Target.Path}. Checked first for soc-remove-file.
  playbookInputQuery: null
- key: ProcessPath
  value:
    complex:
      root: SOCFramework.Artifacts.Process.Path
  required: false
  description: |
    File path of the initiator process (fallback). Resolves from
    ${SOCFramework.Artifacts.Process.Path}. Used when Target.Path is empty.
  playbookInputQuery: null
- key: ProcessName
  value:
    complex:
      root: SOCFramework.Artifacts.Process.Name
  required: false
  description: |
    Process name for approval-prompt context and persistence cleanup
    parameters.
  playbookInputQuery: null
outputs:
- contextPath: Eradication.story
  description: One-line summary of what this phase did (or why it was skipped)
  type: string
- contextPath: Eradication.Execution
  description: Per-action execution records written by SOCCommandWrapper
  type: unknown
