Packs/soc-framework-nist-ir/Playbooks/SOC_Analysis_Evaluation_V3.yml
fromversion: 5.0.0
id: SOC Analysis Evaluation_V3
version: 22
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework Unified
    itemVersion: 3.1.4
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Analysis Evaluation_V3
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 7e6a701e-667b-4a70-8a74-14564da75fc7
    type: start
    task:
      id: 7e6a701e-667b-4a70-8a74-14564da75fc7
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "31"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 6944e944-2ade-4f6d-b6e0-0f6b8e2c3253
    type: title
    task:
      id: 6944e944-2ade-4f6d-b6e0-0f6b8e2c3253
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 60,
          "y": 4240
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: da61ef8d-7840-4b48-9dcc-aa88221204b7
    type: regular
    task:
      id: da61ef8d-7840-4b48-9dcc-aa88221204b7
      version: -1
      name: Set Case Risk Score
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.case_score
      value:
        simple: ${inputs.case_score}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: 70bb5690-7d22-4b90-9db6-5ea5b648fa19
    type: regular
    task:
      id: 70bb5690-7d22-4b90-9db6-5ea5b648fa19
      version: -1
      name: Set Compromise Suspicious
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "44"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.compromise_level
      value:
        simple: ${inputs.compromise_level}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: d728a61c-7878-4595-96ff-4f232562b11f
    type: regular
    task:
      id: d728a61c-7878-4595-96ff-4f232562b11f
      version: -1
      name: Set Verdict
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "36"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.verdict
      value:
        simple: ${inputs.verdict}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 775
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: 28c28837-feb4-4488-a1e8-4ed377d2b172
    type: regular
    task:
      id: 28c28837-feb4-4488-a1e8-4ed377d2b172
      version: -1
      name: Set Confidence
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "37"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.confidence
      value:
        simple: ${inputs.confidence}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "37":
    id: "37"
    taskid: a7faa095-dc8c-46a9-92fa-e3724e99ee18
    type: regular
    task:
      id: a7faa095-dc8c-46a9-92fa-e3724e99ee18
      version: -1
      name: Set Response Recommendation
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "38"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.response_recommended
      value:
        simple: ${inputs.response_recommended}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1145
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "38":
    id: "38"
    taskid: 5b48fa18-6d81-467c-83e5-3c0982ec5cc1
    type: regular
    task:
      id: 5b48fa18-6d81-467c-83e5-3c0982ec5cc1
      version: -1
      name: Set Case Category
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.case_category
      value:
        simple: ${inputs.case_category}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "39":
    id: "39"
    taskid: d5f28fc2-d810-4113-9f1e-073ff60df0c3
    type: regular
    task:
      id: d5f28fc2-d810-4113-9f1e-073ff60df0c3
      version: -1
      name: Set Primary Entity Type
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "50"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.primary_entity_type
      value:
        simple: ${inputs.primary_entity_type}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: 719b7f9d-c386-4f2f-8ebb-dc083820eb7e
    type: regular
    task:
      id: 719b7f9d-c386-4f2f-8ebb-dc083820eb7e
      version: -1
      name: Set Persistence Types
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "41"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.persistence_type
      value:
        simple: ${inputs.persistence_type}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "41":
    id: "41"
    taskid: 4297d1f6-862f-4fa6-bcfb-a0d33a48eb3e
    type: regular
    task:
      id: 4297d1f6-862f-4fa6-bcfb-a0d33a48eb3e
      version: -1
      name: Set Spread Level
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "42"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.spread_level
      value:
        simple: ${inputs.spread_level}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "42":
    id: "42"
    taskid: 30a3e2af-9499-4f3e-ad97-54dfa893bcaf
    type: regular
    task:
      id: 30a3e2af-9499-4f3e-ad97-54dfa893bcaf
      version: -1
      name: Set User Count
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.case_user_count
      value:
        simple: ${inputs.case_user_count}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2255
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "43":
    id: "43"
    taskid: 2dfca0ab-5915-40a5-becd-4e4d45dbefa5
    type: regular
    task:
      id: 2dfca0ab-5915-40a5-becd-4e4d45dbefa5
      version: -1
      name: Set Story
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.story
      value:
        simple: ${inputs.story}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3365
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: 80711a69-e679-4322-aa8d-db3dd12f47ca
    type: regular
    task:
      id: 80711a69-e679-4322-aa8d-db3dd12f47ca
      version: -1
      name: Set Compromise Decision
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "35"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.compromise_decision
      value:
        simple: ${inputs.compromise_decision}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "45":
    id: "45"
    taskid: b023b41f-1a96-4c2f-8f48-05994a0759e9
    type: regular
    task:
      id: b023b41f-1a96-4c2f-8f48-05994a0759e9
      version: -1
      name: Set Hash Prevalence Count
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "46"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.global_hash_prevalence_count
      value:
        simple: ${inputs.global_hash_prevalence_count}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "46":
    id: "46"
    taskid: 2af6504f-a21c-4e90-9d6e-64eb7cb41214
    type: regular
    task:
      id: 2af6504f-a21c-4e90-9d6e-64eb7cb41214
      version: -1
      name: Set Case Issue Count
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "47"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.case_issue_count
      value:
        simple: ${inputs.case_issue_count}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2625
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "47":
    id: "47"
    taskid: 1e0f8dd0-c124-4a4f-b611-305a6a2c3fb0
    type: regular
    task:
      id: 1e0f8dd0-c124-4a4f-b611-305a6a2c3fb0
      version: -1
      name: Set Case Host Count
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "48"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.case_host_count
      value:
        simple: ${inputs.case_host_count}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2810
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "48":
    id: "48"
    taskid: 9e7d5761-ff0a-45a4-bd8a-7ad2d887b9c4
    type: regular
    task:
      id: 9e7d5761-ff0a-45a4-bd8a-7ad2d887b9c4
      version: -1
      name: Set Case Entity User
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "49"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.primary_entity_user
      value:
        simple: ${inputs.primary_entity_user}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2995
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "49":
    id: "49"
    taskid: e8e79b5c-465b-4b3c-8d3f-e4dc956cfb14
    type: regular
    task:
      id: e8e79b5c-465b-4b3c-8d3f-e4dc956cfb14
      version: -1
      name: Set Case Entity Name
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "51"
      - "43"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.primary_entity_name
      value:
        simple: ${inputs.primary_entity_name}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3180
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "50":
    id: "50"
    taskid: 8742c793-705c-427f-89ab-ce5177e715b4
    type: regular
    task:
      id: 8742c793-705c-427f-89ab-ce5177e715b4
      version: -1
      name: Set Primary Entity  ID
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "40"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.primary_entity_id
      value:
        simple: ${inputs.primary_entity_id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "51":
    id: "51"
    taskid: a8565059-98e8-419d-be67-4537cc738b13
    type: title
    task:
      id: a8565059-98e8-419d-be67-4537cc738b13
      version: -1
      name: MITRE Techniques & Tactics
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "52"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 500,
          "y": 3290
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: d355f6d4-194d-4711-8496-e4feb6773661
    type: regular
    task:
      id: d355f6d4-194d-4711-8496-e4feb6773661
      version: -1
      name: Set MITRE Tactic
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "53"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.mitre_tactic
      value:
        simple: ${inputs.mitre_tactic}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 500,
          "y": 3410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: f7129588-7d49-43f6-bee8-6a6e0beb92b7
    type: regular
    task:
      id: f7129588-7d49-43f6-bee8-6a6e0beb92b7
      version: -1
      name: Set MITRE Technique
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "56"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.mitre_technique
      value:
        simple: ${inputs.mitre_technique}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 500,
          "y": 3600
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "55":
    id: "55"
    taskid: bbf16a46-d12f-48ed-93a9-7b0d68bd596f
    type: regular
    task:
      id: bbf16a46-d12f-48ed-93a9-7b0d68bd596f
      version: -1
      name: Set MITRE Technique ID
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.mitre_technique_id
      value:
        simple: ${inputs.mitre_technique_id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 500,
          "y": 3990
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "56":
    id: "56"
    taskid: b1e006d4-b723-42e1-a3d5-26362ce639ab
    type: regular
    task:
      id: b1e006d4-b723-42e1-a3d5-26362ce639ab
      version: -1
      name: Set MITRE Tactic ID
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "55"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.mitre_tactic_id
      value:
        simple: ${inputs.mitre_tactic_id}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 500,
          "y": 3790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 4250,
        "width": 830,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: case_score
  value:
    simple: ${parentIncidentFields.predicted_score}
  required: false
  description: ""
  playbookInputQuery: null
- key: compromise_level
  value:
    simple: ${Analysis.Endpoint.compromise_level}
  required: false
  description: ""
  playbookInputQuery: null
- key: verdict
  value:
    simple: ${Analysis.Endpoint.verdict}
  required: false
  description: ""
  playbookInputQuery: null
- key: confidence
  value:
    simple: ${Analysis.Endpoint.confidence}
  required: false
  description: ""
  playbookInputQuery: null
- key: response_recommended
  value:
    simple: ${Analysis.Endpoint.response_recommended}
  required: false
  description: ""
  playbookInputQuery: null
- key: case_category
  value:
    complex:
      root: ${SOCFramework.Artifacts
      accessor: CategoryType}
      transformers:
      - operator: toLowerCase
  required: false
  description: ""
  playbookInputQuery: null
- key: primary_entity_type
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: ""
  playbookInputQuery: null
- key: primary_entity_id
  value:
    simple: ${SOCFramework.Artifacts.EndPointID}
  required: false
  description: ""
  playbookInputQuery: null
- key: spread_level
  value:
    simple: ${Analysis.Endpoint.spread_level}
  required: false
  description: ""
  playbookInputQuery: null
- key: global_hash_prevalence_count
  value:
    simple: ${Core.AnalyticsPrevalence.Hash.[0].data.global_prevalence.value}
  required: false
  description: ""
  playbookInputQuery: null
- key: story
  value:
    simple: "Endpoint Analysis Summary\n\nA file with verdict \"${SOCFramework.Artifacts.Verdict}\"
      was observed in this case.\n\nThe endpoint compromise level has been assessed
      as \"${Analysis.Endpoint.compromise_level}\", based on execution correlation
      and observed MITRE ATT&CK behavioral patterns.\n\nActivity scope:\n• Hosts involved:
      ${Analysis.Endpoint.host_count}\n• Users involved: ${Analysis.Endpoint.user_count}\n•
      Environmental hash prevalence: ${Analysis.Endpoint.hash_prevalence_count}\n•
      Spread level: ${Analysis.Endpoint.spread_level}\n\nInvestigation confidence
      is \"${Analysis.Endpoint.confidence}\". \nResponse recommendation: ${Analysis.Endpoint.response_recommended}."
  required: false
  description: ""
  playbookInputQuery: null
- key: case_host_count
  value:
    simple: ${Analysis.Endpoint.host_count}
  required: false
  description: ""
  playbookInputQuery: null
- key: case_issue_count
  value:
    simple: ${Analysis.Endpoint.issue_count}
  required: false
  description: ""
  playbookInputQuery: null
- key: compromise_decision
  value:
    simple: ${Analysis.Endpoint.compromise_decision}
  required: false
  description: ""
  playbookInputQuery: null
- key: case_user_count
  value:
    simple: ${Analysis.Endpoint.user_count}
  required: false
  description: ""
  playbookInputQuery: null
- key: primary_entity_name
  value:
    simple: ${SOCFramework.Artifacts.HostName}
  required: false
  description: ""
  playbookInputQuery: null
- key: persistence_type
  value:
    simple: ${Analysis.Endpoint.persistence_type}
  required: false
  description: ""
  playbookInputQuery: null
- key: primary_entity_user
  value:
    simple: ${SOCFramework.Artifacts.UserName}
  required: false
  description: ""
  playbookInputQuery: null
- key: mitre_tactic_id
  value:
    simple: ${SOCFramework.Mitre.Tactic.ID}
  required: false
  description: ""
  playbookInputQuery: null
- key: mitre_technique_id
  value:
    simple: ${SOCFramework.Mitre.Technique.ID}
  required: false
  description: ""
  playbookInputQuery: null
- key: mitre_technique
  value:
    simple: ${SOCFramework.Mitre.Technique}
  required: false
  description: ""
  playbookInputQuery: null
- key: mitre_tactic
  value:
    simple: ${SOCFramework.Mitre.Tactic}
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - case_score
  - compromise_level
  - verdict
  - confidence
  - response_recommended
  - case_category
  - primary_entity_type
  - primary_entity_id
  - spread_level
  - global_hash_prevalence_count
  - story
  - case_host_count
  - case_issue_count
  - compromise_decision
  - case_user_count
  - primary_entity_name
  - persistence_type
  - primary_entity_user
  - mitre_tactic_id
  - mitre_technique_id
  - mitre_technique
  - mitre_tactic
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - Analysis.case_score
  - Analysis.compromise_level
  - Analysis.verdict
  - Analysis.confidence
  - Analysis.response_recommended
  - Analysis.case_category
  - Analysis.primary_entity_type
  - Analysis.primary_entity_id
  - Analysis.spread_level
  - Analysis.global_hash_prevalence_count
  - Analysis.story
  - Analysis.compromise_decision
  - Analysis.case_host_count
  - Analysis.case_user_count
  - Analysis.case_issue_count
  - Analysis.primary_entity_name
  - Analysis.persistence_type
  - Analysis.primary_entity_user
  - Analysis.mitre_tactic_id
  - Analysis.mitre_technique_id
  - Analysis.mitre_technique
  - Analysis.mitre_tactic
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Analysis.case_score
  type: string
- contextPath: Analysis.compromise_level
  type: unknown
- contextPath: Analysis.verdict
  type: unknown
- contextPath: Analysis.confidence
  type: unknown
- contextPath: Analysis.response_recommended
  type: unknown
- contextPath: Analysis.case_category
  type: unknown
- contextPath: Analysis.primary_entity_type
  type: unknown
- contextPath: Analysis.primary_entity_id
  type: unknown
- contextPath: Analysis.spread_level
  type: unknown
- contextPath: Analysis.global_hash_prevalence_count
  type: unknown
- contextPath: Analysis.story
  type: unknown
- contextPath: Analysis.compromise_decision
  description: ${Analysis.Endpoint.compromise_decision}
  type: unknown
- contextPath: Analysis.case_host_count
  description: ${Analysis.Endpoint.host_count}
  type: unknown
- contextPath: Analysis.case_user_count
  description: ${Analysis.Endpoint.user_count}
  type: unknown
- contextPath: Analysis.case_issue_count
  description: ${Analysis.Endpoint.issue_count}
  type: unknown
- contextPath: Analysis.primary_entity_name
  type: unknown
- contextPath: Analysis.persistence_type
  type: unknown
- contextPath: Analysis.primary_entity_user
  type: unknown
- contextPath: Analysis.mitre_tactic_id
  type: unknown
- contextPath: Analysis.mitre_technique_id
  type: unknown
- contextPath: Analysis.mitre_technique
  type: unknown
- contextPath: Analysis.mitre_tactic
  type: unknown
sourceplaybookid: SOC Data Analysis_V3
dirtyInputs: true
adopted: true
