Packs/soc-framework-nist-ir/Playbooks/SOC_Email_Signal_Characterization_V3.yml
fromversion: 5.0.0
id: SOC Email Signal Characterization_V3
version: 11
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 1.1.0
    fromServerVersion: 6.10.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Email Signal Characterization_V3
description: "Purpose\nDetermine what kind of email threat this is and build the indicator\
  \ intelligence needed for verdict resolution.\n\nThis is not verdict determination\
  \ — that belongs in SOC Email Verdict Resolution_V3.\nThis playbook answers: what\
  \ is the nature of the threat object?\n\nSignal Types Produced:\n  url_phish   \
  \ — threat type is URL (phishing link, credential harvest, malicious redirect)\n\
  \  file_malware — threat type is attachment (malicious file, hash-based detection)\n\
  \  unknown      — threat type not identified from available artifacts\n\nCurrent\
  \ Tasks:\n  Characterize Threat Type\n  Create IOC (URL or File)\n  Assign DBot\
  \ Score from Proofpoint TAP signal\n  Extract domains from threat URL\n  Rasterize\
  \ URL (best-effort)\n  Sender Domain Prevalence Check\n  Sender IP Prevalence Check\n\
  \  Tag Uncommon indicators\n  Tag threat indicators with detection source\n  Set\
  \ Analysis.Email.signal_type\n  Set Analysis.Email.source_verdict from DBot"
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- Email
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: c62790c4-64da-431e-82c1-a8fa7c470a1a
    type: start
    task:
      id: c62790c4-64da-431e-82c1-a8fa7c470a1a
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 5bdf589d-bd70-4316-b817-34b201a9952c
    type: title
    task:
      id: 5bdf589d-bd70-4316-b817-34b201a9952c
      version: -1
      name: Characterize Threat Type
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '2'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '2':
    id: '2'
    taskid: c2893eed-6d85-4b5a-9564-19e8cec61f2e
    type: condition
    task:
      id: c2893eed-6d85-4b5a-9564-19e8cec61f2e
      version: -1
      name: What is the Threat Type?
      description: Routes on SOCFramework.Artifacts.Email.ThreatType to determine
        IOC creation and enrichment path.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '10'
      Attachment:
      - '7'
      URL:
      - '3'
    separatecontext: false
    conditions:
    - label: URL
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: inputs.ThreatType
            iscontext: true
          right:
            value:
              simple: url
          ignorecase: true
    - label: Attachment
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: inputs.ThreatType
            iscontext: true
          right:
            value:
              simple: attachment
          ignorecase: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 390\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '3':
    id: '3'
    taskid: 88bbf74f-0a0a-4fa3-b8fc-ad62b38a7eeb
    type: regular
    task:
      id: 88bbf74f-0a0a-4fa3-b8fc-ad62b38a7eeb
      version: -1
      name: Create URL Indicator
      description: Creates a URL indicator from the threat URL extracted at entry
        point.
      script: Builtin|||createNewIndicator
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    scriptarguments:
      proofpointtaplink:
        simple: ${inputs.ThreatURL}
      type:
        simple: URL
      value:
        simple: ${inputs.ThreatURL}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 575\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 0e891e39-9645-463f-86d0-b0ec9101f706
    type: regular
    task:
      id: 0e891e39-9645-463f-86d0-b0ec9101f706
      version: -1
      name: Assign DBot Score — URL
      description: Seeds DBot score for the threat URL from Proofpoint TAP signal.
      scriptName: AddDBotScoreToContext
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '5'
      - '6'
    scriptarguments:
      indicator:
        simple: ${inputs.ThreatURL}
      indicatorType:
        simple: URL
      reliability:
        simple: C - Fairly reliable
      score:
        simple: '2'
      vendor:
        simple: Proofpoint TAP
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 760\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  '5':
    id: '5'
    taskid: 3b410dc5-8726-46bb-a70e-159b99fb1bd8
    type: regular
    task:
      id: 3b410dc5-8726-46bb-a70e-159b99fb1bd8
      version: -1
      name: Extract Domains from URL Threat
      description: Extracts domain indicators from the threat URL for prevalence analysis.
      script: Builtin|||extractIndicators
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      text:
        simple: ${inputs.ThreatURL}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 945\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '6':
    id: '6'
    taskid: b4161365-b353-4eba-9886-5051c8909f3d
    type: regular
    task:
      id: b4161365-b353-4eba-9886-5051c8909f3d
      version: -1
      name: Rasterize URL
      description: Captures a screenshot of the threat URL for analyst review. Best-effort
        — continues on error.
      script: '|||rasterize'
      type: regular
      iscommand: true
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      url:
        simple: ${inputs.ThreatURL}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 945\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  '7':
    id: '7'
    taskid: 0b69ca12-08ef-4b3e-afaf-3862617168dd
    type: regular
    task:
      id: 0b69ca12-08ef-4b3e-afaf-3862617168dd
      version: -1
      name: Create File Indicator
      description: Creates a File indicator from the attachment hash extracted at
        entry point.
      script: Builtin|||createNewIndicator
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '8'
    scriptarguments:
      proofpointtaplink:
        simple: ${inputs.ThreatURL}
      type:
        simple: File
      value:
        simple: ${inputs.ThreatIndicator}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 760\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '8':
    id: '8'
    taskid: e0106919-475c-4d4a-af74-2b7e3ca023c5
    type: regular
    task:
      id: e0106919-475c-4d4a-af74-2b7e3ca023c5
      version: -1
      name: Assign DBot Score — File
      description: Seeds DBot score for the attachment hash from Proofpoint TAP signal.
      scriptName: AddDBotScoreToContext
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      indicator:
        simple: ${inputs.ThreatIndicator}
      indicatorType:
        simple: File
      reliability:
        simple: C - Fairly reliable
      score:
        simple: '2'
      vendor:
        simple: Proofpoint TAP
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 945\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 597e2d1e-b058-462b-b10a-ca9c460a07dd
    type: title
    task:
      id: 597e2d1e-b058-462b-b10a-ca9c460a07dd
      version: -1
      name: Unknown Threat Type
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1340,\n    \"y\": 952.5\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: a6a7a4c2-216f-4453-bdfe-2e5329a49f79
    type: title
    task:
      id: a6a7a4c2-216f-4453-bdfe-2e5329a49f79
      version: -1
      name: Sender Prevalence Checks
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - g12
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 1130\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 7d6781b0-a2be-4d00-8d74-6911e25d1c04
    type: regular
    task:
      id: 7d6781b0-a2be-4d00-8d74-6911e25d1c04
      version: -1
      name: Sender Domain Prevalence Check
      description: Checks whether the sender domain has been seen before in the environment.
        Low prevalence is an indicator of a first-seen phishing domain.
      script: '|||core-get-domain-analytics-prevalence'
      type: regular
      iscommand: true
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      domain_name:
        complex:
          root: inputs.SenderDomain
          transformers:
          - operator: substringFrom
            args:
              from:
                value:
                  simple: '@'
      extend-context:
        simple: Core=.
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 582.5,\n    \"y\": 1485\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: 0205ceb1-4015-4b2d-ab0b-07157927e28a
    type: condition
    task:
      id: 0205ceb1-4015-4b2d-ab0b-07157927e28a
      version: -1
      name: Non-Prevalent Domain?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - g14
      'yes':
      - '15'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isFalse
          left:
            value:
              complex:
                root: Core
                filters:
                - - operator: isExists
                    left:
                      value:
                        simple: Core.domain_name
                      iscontext: true
                accessor: value
            iscontext: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 1670\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: a0e1cb99-bb2f-4beb-b72d-8a1ac9a371b2
    type: regular
    task:
      id: a0e1cb99-bb2f-4beb-b72d-8a1ac9a371b2
      version: -1
      name: Sender IP Prevalence Check
      description: Checks sender IP prevalence. Low prevalence may indicate a new
        sending infrastructure.
      script: '|||core-get-IP-analytics-prevalence'
      type: regular
      iscommand: true
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '16'
    scriptarguments:
      extend-context:
        simple: Core=.
      ip_address:
        simple: ${inputs.SenderIP}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: "{\n  \"position\": {\n    \"x\": 582.5,\n    \"y\": 2225\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: 171e6204-bb58-431f-9307-f4f3e202097f
    type: regular
    task:
      id: 171e6204-bb58-431f-9307-f4f3e202097f
      version: -1
      name: Tag Domain — Uncommon
      script: Builtin|||setIndicators
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - g14
    scriptarguments:
      indicatorsValues:
        complex:
          root: Core.value
          filters:
          - - operator: isExists
              left:
                value:
                  simple: Core.domain_name
                iscontext: true
            - operator: isFalse
              left:
                value:
                  simple: Core.value
                iscontext: true
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ','
      tags:
        simple: Uncommon
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 807.5,\n    \"y\": 1855\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: 8369ebbf-da84-4ec0-8472-83ee1cbb7b8f
    type: condition
    task:
      id: 8369ebbf-da84-4ec0-8472-83ee1cbb7b8f
      version: -1
      name: Non-Prevalent IP?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '17'
      'yes':
      - '18'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isFalse
          left:
            value:
              complex:
                root: Core
                filters:
                - - operator: isExists
                    left:
                      value:
                        simple: Core.ip_address
                      iscontext: true
                accessor: value
            iscontext: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 2410\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: 5a8cc61c-8e3e-47bd-9fad-755db1711b87
    type: title
    task:
      id: 5a8cc61c-8e3e-47bd-9fad-755db1711b87
      version: -1
      name: Tag Indicators
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '19'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 2780\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: 5a9b09d2-5d6e-47d9-8f15-506fb793be98
    type: regular
    task:
      id: 5a9b09d2-5d6e-47d9-8f15-506fb793be98
      version: -1
      name: Tag IP — Uncommon
      script: Builtin|||setIndicators
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '17'
    scriptarguments:
      indicatorsValues:
        complex:
          root: Core.value
          filters:
          - - operator: isExists
              left:
                value:
                  simple: Core.ip_address
                iscontext: true
            - operator: isFalse
              left:
                value:
                  simple: Core.value
                iscontext: true
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ','
      tags:
        simple: Uncommon
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 807.5,\n    \"y\": 2595\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: d63ac3d3-a6ca-41dc-88f8-ea9309fe1450
    type: regular
    task:
      id: d63ac3d3-a6ca-41dc-88f8-ea9309fe1450
      version: -1
      name: Tag Threat Indicators
      description: Tags all threat indicators with the detection source for downstream
        filtering and reporting.
      script: Builtin|||setIndicators
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      indicatorsValues:
        complex:
          root: inputs.ThreatIndicator
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ','
      tags:
        simple: ProofpointTAPThreat
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 2950\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: c22b6d6c-cb2a-4870-98e8-75d350a5d666
    type: condition
    task:
      id: c22b6d6c-cb2a-4870-98e8-75d350a5d666
      version: -1
      name: Threat Indicator Defined?
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '23'
      'yes':
      - '21'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.ThreatIndicator
            iscontext: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 3135\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: 160fc4ae-0779-4852-89e5-9c6b80fd678a
    type: regular
    task:
      id: 160fc4ae-0779-4852-89e5-9c6b80fd678a
      version: -1
      name: Get Indicator DBot Score
      description: Retrieves the cached DBot score for the threat indicator to use
        in verdict resolution.
      scriptName: GetIndicatorDBotScoreFromCache
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '22'
    scriptarguments:
      value:
        simple: ${inputs.ThreatIndicator}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 807.5,\n    \"y\": 3320\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '22':
    id: '22'
    taskid: 97d2885d-b15b-4b36-b1c0-40e01db2fbbe
    type: regular
    task:
      id: 97d2885d-b15b-4b36-b1c0-40e01db2fbbe
      version: -1
      name: Set Email Source Verdict from DBot
      description: Maps the numeric DBot score to the standard source_verdict string
        used in Analysis. Used as a secondary signal — primary verdict comes from
        Proofpoint ThreatStatus.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '23'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.source_verdict
      value:
        complex:
          root: DBotScore
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: DBotScore.Score
                iscontext: true
          accessor: Score
          transformers:
          - operator: MapRangeValues
            args:
              map_from:
                value:
                  simple: 0-1,2-2,3-3
              map_to:
                value:
                  simple: benign,suspicious,malicious
              sep: {}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 807.5,\n    \"y\": 3505\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    continueonerror: true
  '23':
    id: '23'
    taskid: 779d977b-7cd8-4322-8045-cbab913210e0
    type: title
    task:
      id: 779d977b-7cd8-4322-8045-cbab913210e0
      version: -1
      name: Set Signal Type
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '24'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 3690\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '24':
    id: '24'
    taskid: c91af9b6-2a49-4585-a96f-8e94b1572c1c
    type: condition
    task:
      id: c91af9b6-2a49-4585-a96f-8e94b1572c1c
      version: -1
      name: Classify Signal Type
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '27'
      File Malware:
      - '26'
      URL Phish:
      - '25'
    separatecontext: false
    conditions:
    - label: URL Phish
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: inputs.ThreatType
            iscontext: true
          right:
            value:
              simple: url
          ignorecase: true
    - label: File Malware
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: inputs.ThreatType
            iscontext: true
          right:
            value:
              simple: attachment
          ignorecase: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 3860\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '25':
    id: '25'
    taskid: 2b8c2bd5-c608-4083-bf1b-d598cfa93e97
    type: regular
    task:
      id: 2b8c2bd5-c608-4083-bf1b-d598cfa93e97
      version: -1
      name: Set Signal Type — url_phish
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '28'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.signal_type
      value:
        simple: url_phish
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 265,\n    \"y\": 4045\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    continueonerror: true
  '26':
    id: '26'
    taskid: ace0321d-e7e3-4fea-a901-583b475a9687
    type: regular
    task:
      id: ace0321d-e7e3-4fea-a901-583b475a9687
      version: -1
      name: Set Signal Type — file_malware
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '28'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.signal_type
      value:
        simple: file_malware
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 4045\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    continueonerror: true
  '27':
    id: '27'
    taskid: 733d359e-2a41-4ce2-bb62-e9bbcebc0234
    type: regular
    task:
      id: 733d359e-2a41-4ce2-bb62-e9bbcebc0234
      version: -1
      name: Set Signal Type — unknown
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '28'
    scriptarguments:
      append:
        simple: 'false'
      force:
        simple: 'true'
      key:
        simple: Analysis.Email.signal_type
      value:
        simple: unknown
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1125,\n    \"y\": 4045\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    continueonerror: true
  '28':
    id: '28'
    taskid: dfd77dbc-f8ca-44c3-b95d-63f4f3bb028f
    type: title
    task:
      id: dfd77dbc-f8ca-44c3-b95d-63f4f3bb028f
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 4230\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  g12:
    id: g12
    taskid: 3f7e2d1c-4b5a-4987-b8c9-d0e1f2a3b4c5
    type: condition
    task:
      id: 3f7e2d1c-4b5a-4987-b8c9-d0e1f2a3b4c5
      version: -1
      name: Sender Domain Available?
      description: Skip Sender Domain prevalence check if value is empty — continueonerror
        fallback.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '13'
      'yes':
      - '12'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.SenderDomain
            iscontext: true
          right:
            value: {}
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 1300\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  g14:
    id: g14
    taskid: 4e8f3d2c-5c6b-4098-c9da-e1f2a3b4c5d6
    type: condition
    task:
      id: 4e8f3d2c-5c6b-4098-c9da-e1f2a3b4c5d6
      version: -1
      name: Sender IP Available?
      description: Skip Sender IP prevalence check if value is empty — continueonerror
        fallback.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '16'
      'yes':
      - '14'
    separatecontext: false
    conditions:
    - label: 'yes'
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.SenderIP
            iscontext: true
          right:
            value: {}
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 2040\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n \
  \     \"height\": 4240,\n      \"width\": 1670,\n      \"x\": 50,\n      \"y\":\
  \ 50\n    }\n  }\n}"
inputs:
- key: ThreatType
  value:
    simple: ${SOCFramework.Artifacts.Email.ThreatType}
  required: false
  description: url / attachment — from SOCFramework.Artifacts.Email.ThreatType set
    by Foundation Normalize Artifacts
  playbookInputQuery: null
- key: ThreatURL
  value:
    simple: ${SOCFramework.Artifacts.Email.ThreatURL}
  required: false
  description: Threat URL from Proofpoint TAP alert
  playbookInputQuery: null
- key: ThreatIndicator
  value:
    complex:
      root: alert.proofpointtapthreatinfomap
      accessor: threat
      transformers:
      - operator: uniq
  required: false
  description: The threat indicator value — URL string or file hash depending on ThreatType
  playbookInputQuery: null
- key: SenderDomain
  value:
    simple: ${SOCFramework.Artifacts.Email.From}
  required: false
  description: Sender email address — domain extracted via @ substring for prevalence
    check
  playbookInputQuery: null
- key: SenderIP
  value:
    simple: ${alert.localip}
  required: false
  description: Sender IP address for prevalence check
  playbookInputQuery: null
inputSections:
- inputs:
  - ThreatType
  - ThreatURL
  - ThreatIndicator
  name: Threat Artifact
  description: Threat object inputs — populated from SOCFramework.Artifacts.Email.*
    set by Foundation Normalize Artifacts
- inputs:
  - SenderDomain
  - SenderIP
  name: Sender
  description: Sender identity inputs for prevalence analysis
outputSections:
- outputs:
  - Analysis.Email.signal_type
  - Analysis.Email.source_verdict
  name: Signal Characterization
  description: ''
outputs:
- contextPath: Analysis.Email.signal_type
  description: 'Behavioral classification of the email threat: url_phish / file_malware
    / unknown'
  type: string
- contextPath: Analysis.Email.source_verdict
  description: 'DBot-derived indicator verdict: malicious / suspicious / benign. Secondary
    signal — primary verdict comes from ThreatStatus in SOC Email Verdict Resolution_V3.'
  type: string
adopted: true
