Packs/soc-framework-nist-ir/Playbooks/SOC_Email_Signal_Characterization_V3_copy.yml
id: 2a01ed33-91c2-4cc5-8934-f130a5bcd31d
version: 4
contentitemexportablefields:
  contentitemfields:
    packID: ""
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 1.5.27
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
aclrelations: []
aclowner:
  id: ""
  type: ""
  name: ""
name: SOC Email Signal Characterization_V3_copy
description: |-
  Purpose
  Determine what kind of email threat this is and build the indicator intelligence needed for verdict resolution.

  This is not verdict determination — that belongs in SOC Email Verdict Resolution_V3.
  This playbook answers: what is the nature of the threat object?

  Signal Types Produced:
    url_phish    — threat type is URL (phishing link, credential harvest, malicious redirect)
    file_malware — threat type is attachment (malicious file, hash-based detection)
    unknown      — threat type not identified from available artifacts

  Current Tasks:
    Characterize Threat Type
    Create IOC (URL or File)
    Assign DBot Score from Proofpoint TAP signal
    Extract domains from threat URL
    Rasterize URL (best-effort)
    Sender Domain Prevalence Check
    Sender IP Prevalence Check
    Tag Uncommon indicators
    Tag threat indicators with detection source
    Set Analysis.Email.signal_type
    Set Analysis.Email.source_verdict from DBot
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- Email
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: c62790c4-64da-431e-82c1-a8fa7c470a1a
    type: start
    task:
      id: c62790c4-64da-431e-82c1-a8fa7c470a1a
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 5bdf589d-bd70-4316-b817-34b201a9952c
    type: title
    task:
      id: 5bdf589d-bd70-4316-b817-34b201a9952c
      version: -1
      name: Characterize Threat Type
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 1c36716e-1a89-429c-b4c4-b0912d1c5f87
    type: condition
    task:
      id: 1c36716e-1a89-429c-b4c4-b0912d1c5f87
      version: -1
      name: Threat Type URL?
      description: Routes on SOCFramework.Artifacts.Email.ThreatType to determine
        IOC creation and enrichment path.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "19"
      "Yes":
      - "5"
    separatecontext: false
    conditions:
    - label: "Yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: inputs.ThreatType
            iscontext: true
          right:
            value:
              simple: url
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: 3b410dc5-8726-46bb-a70e-159b99fb1bd8
    type: regular
    task:
      id: 3b410dc5-8726-46bb-a70e-159b99fb1bd8
      version: -1
      name: Extract Domains from URL Threat
      description: Extracts domain indicators from the threat URL for prevalence analysis.
      script: Builtin|||extractIndicators
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      text:
        simple: ${inputs.ThreatURL}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: b4161365-b353-4eba-9886-5051c8909f3d
    type: regular
    task:
      id: b4161365-b353-4eba-9886-5051c8909f3d
      version: -1
      name: Rasterize URL
      description: Captures a screenshot of the threat URL for analyst review. Best-effort
        — continues on error.
      script: '|||rasterize'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      url:
        simple: ${inputs.ThreatURL}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: true
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: d63ac3d3-a6ca-41dc-88f8-ea9309fe1450
    type: regular
    task:
      id: d63ac3d3-a6ca-41dc-88f8-ea9309fe1450
      version: -1
      name: Tag Threat Indicators
      description: Tags all threat indicators with the detection source for downstream
        filtering and reporting.
      script: Builtin|||setIndicators
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      indicatorsValues:
        complex:
          root: inputs.ThreatIndicator
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: ','
      tags:
        simple: ProofpointTAPThreat
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: 022eac72-ca74-492e-b53c-a5eb31eee00c
    type: condition
    task:
      id: 022eac72-ca74-492e-b53c-a5eb31eee00c
      version: -1
      name: Threat Indicator Available?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "21"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.ThreatIndicator
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 160fc4ae-0779-4852-89e5-9c6b80fd678a
    type: regular
    task:
      id: 160fc4ae-0779-4852-89e5-9c6b80fd678a
      version: -1
      name: Get Indicator DBot Score
      description: Retrieves the cached DBot score for the threat indicator to use
        in verdict resolution.
      scriptName: GetIndicatorDBotScoreFromCache
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      value:
        simple: ${inputs.ThreatIndicator}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 1315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 97d2885d-b15b-4b36-b1c0-40e01db2fbbe
    type: regular
    task:
      id: 97d2885d-b15b-4b36-b1c0-40e01db2fbbe
      version: -1
      name: Set Email Source Verdict from DBot
      description: Maps the numeric DBot score to the standard source_verdict string
        used in Analysis. Used as a secondary signal — primary verdict comes from
        Proofpoint ThreatStatus.
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Email.source_verdict
      value:
        complex:
          root: DBotScore
          filters:
          - - operator: isNotEmpty
              left:
                value:
                  simple: DBotScore.Score
                iscontext: true
          accessor: Score
          transformers:
          - operator: MapRangeValues
            args:
              map_from:
                value:
                  simple: 0-1,2-2,3-3
              map_to:
                value:
                  simple: benign,suspicious,malicious
              sep: {}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 1500
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 779d977b-7cd8-4322-8045-cbab913210e0
    type: title
    task:
      id: 779d977b-7cd8-4322-8045-cbab913210e0
      version: -1
      name: Set Signal Type
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "24"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1685
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: c91af9b6-2a49-4585-a96f-8e94b1572c1c
    type: condition
    task:
      id: c91af9b6-2a49-4585-a96f-8e94b1572c1c
      version: -1
      name: Classify Signal Type
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "27"
      File Malware:
      - "26"
      URL Phish:
      - "25"
    separatecontext: false
    conditions:
    - label: URL Phish
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: inputs.ThreatType
            iscontext: true
          right:
            value:
              simple: url
          ignorecase: true
    - label: File Malware
      condition:
      - - operator: containsGeneral
          left:
            value:
              simple: inputs.ThreatType
            iscontext: true
          right:
            value:
              simple: attachment
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1855
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 2b8c2bd5-c608-4083-bf1b-d598cfa93e97
    type: regular
    task:
      id: 2b8c2bd5-c608-4083-bf1b-d598cfa93e97
      version: -1
      name: Set Signal Type — url_phish
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Email.signal_type
      value:
        simple: url_phish
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: ace0321d-e7e3-4fea-a901-583b475a9687
    type: regular
    task:
      id: ace0321d-e7e3-4fea-a901-583b475a9687
      version: -1
      name: Set Signal Type — file_malware
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Email.signal_type
      value:
        simple: file_malware
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: 733d359e-2a41-4ce2-bb62-e9bbcebc0234
    type: regular
    task:
      id: 733d359e-2a41-4ce2-bb62-e9bbcebc0234
      version: -1
      name: Set Signal Type — unknown
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.Email.signal_type
      value:
        simple: unknown
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: dfd77dbc-f8ca-44c3-b95d-63f4f3bb028f
    type: title
    task:
      id: dfd77dbc-f8ca-44c3-b95d-63f4f3bb028f
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2225
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
outlinetasks: {}
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2235,
        "width": 1240,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: ThreatType
  value:
    simple: ${SOCFramework.Artifacts.Email.ThreatType}
  required: false
  description: url / attachment — from SOCFramework.Artifacts.Email.ThreatType set
    by Foundation Normalize Artifacts
  playbookInputQuery: null
- key: ThreatURL
  value:
    simple: ${SOCFramework.Artifacts.Email.ThreatURL}
  required: false
  description: Threat URL from Proofpoint TAP alert
  playbookInputQuery: null
- key: ThreatIndicator
  value:
    complex:
      root: alert.proofpointtapthreatinfomap
      accessor: threat
      transformers:
      - operator: uniq
  required: false
  description: The threat indicator value — URL string or file hash depending on ThreatType
  playbookInputQuery: null
- key: SenderDomain
  value:
    simple: ${SOCFramework.Artifacts.Email.From}
  required: false
  description: Sender email address — domain extracted via @ substring for prevalence
    check
  playbookInputQuery: null
- key: SenderIP
  value:
    simple: ${issue.emailsenderip}
  required: false
  description: Sender IP address for prevalence check
  playbookInputQuery: null
inputSections:
- inputs:
  - ThreatType
  - ThreatURL
  - ThreatIndicator
  - SenderDomain
  - SenderIP
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - Analysis.Email.signal_type
  - Analysis.Email.source_verdict
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Analysis.Email.signal_type
  description: 'Behavioral classification of the email threat: url_phish / file_malware
    / unknown'
  type: string
- contextPath: Analysis.Email.source_verdict
  description: 'DBot-derived indicator verdict: malicious / suspicious / benign. Secondary
    signal — primary verdict comes from ThreatStatus in SOC Email Verdict Resolution_V3.'
  type: string
sourceplaybookid: SOC Email Signal Characterization_V3
dirtyInputs: true
adopted: true
possibleresponses: []
