Packs/soc-framework-nist-ir/Playbooks/SOC_Endpoint_Containment_V3.yml
adopted: true
fromversion: 5.0.0
id: SOC Endpoint Containment_V3
version: -1
contentitemexportablefields:
  contentitemfields:
    packID: soc-framework-nist-ir
    packName: SOC Framework NIST IR (800-61)
    itemVersion: 4.0.0
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
name: SOC Endpoint Containment_V3
description: |
  Endpoint category Containment playbook (NIST IR 800-61 Phase 3: Containment).

  Design:
    1. Phase Entry Gate. Reads Analysis.Endpoint.compromise_level. Skips the
       entire phase if the alert was evaluated as not_compromised, writing a
       skip-story to Containment.story.
    2. Three gated actions in sequence: isolate endpoint, kill process,
       block file hash. Each action is independently artifact-gated (skip if
       the artifact is absent) and approval-gated via SOC_Approval_Gate_V3
       sub-playbook (skip the wrapper call if the analyst denies).
    3. SOCCommandWrapper handles Shadow Mode and writes Containment.Execution[]
       per action. The playbook never reads or writes shadow_mode state.
    4. One Containment.story write at the end summarizing what happened.

  Reads:
    - SOCFramework.Artifacts.Endpoint.AgentID / .Hostname (host context)
    - SOCFramework.Artifacts.Process.PID / .Name (process-initiator context)
    - SOCFramework.Artifacts.Target.SHA256 (malicious-file context)
    - Analysis.Endpoint.compromise_level / .confidence / .signal_type
    - lists.SOCFrameworkActions_V3 (via SOC_Approval_Gate_V3 sub-playbook)

  Writes:
    - Approval.decision(per-call, via gate sub-playbook)
    - Containment.Execution[] (per-action, via SOCCommandWrapper)
    - Containment.story (single summary at phase end)

  Caller: SOC Containment_V3 parent orchestrator routes to this playbook when
  inputs.ProductCategory = "Endpoint".
tags:
- SOC
- SOC_Framework_NIST_IR
- Containment
- Endpoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: b2222222-0000-0000-0000-000000000000
    type: start
    task:
      id: b2222222-0000-0000-0000-000000000000
      version: -1
      name: ""
      iscommand: false
      brand: ""
      description: ''
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: b2222222-0000-0000-0000-000000000001
    type: condition
    task:
      id: b2222222-0000-0000-0000-000000000001
      version: -1
      name: Phase Entry Gate - compromise level warrants containment?
      description: |
        Reads Analysis.Endpoint.compromise_level. If the alert was evaluated
        as not_compromised (or no value is set), skip the entire Containment
        phase and write a skip-story. Otherwise proceed to the gated action
        chain.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "90"
      Proceed:
      - "10"
    separatecontext: false
    conditions:
    - label: Proceed
      condition:
      - - operator: inList
          left:
            value:
              complex:
                root: inputs.CompromiseLevel
            iscontext: true
          right:
            value:
              simple: likely_compromised,suspicious
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: b2222222-0000-0000-0000-000000000010
    type: condition
    task:
      id: b2222222-0000-0000-0000-000000000010
      version: -1
      name: Action 1 - AgentID present?
      description: |
        Skip soc-isolate-endpoint if no Endpoint.AgentID is in context. No
        artifact means nothing to act on; the action is skipped without
        raising an approval prompt.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "20"
      Present:
      - "11"
    separatecontext: false
    conditions:
    - label: Present
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: inputs.AgentID
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: b2222222-0000-0000-0000-000000000011
    type: playbook
    task:
      id: b2222222-0000-0000-0000-000000000011
      version: -1
      name: Gate - soc-isolate-endpoint
      description: |
        Call SOC Approval Gate_V3 for soc-isolate-endpoint. Reads
        requires_approval from the action entry. If true, raises an analyst
        approval prompt; if false, auto-approves. Writes Approval.decision
        into shared context.
      playbookName: SOC Approval Gate_V3
      playbookId: SOC Approval Gate_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      action_name:
        simple: soc-isolate-endpoint
      phase:
        simple: Containment
      artifact_summary:
        simple: "Endpoint: ${inputs.Hostname} (agent_id: ${inputs.AgentID})"
      context_summary:
        simple: "Compromise: ${inputs.CompromiseLevel}, Confidence: ${inputs.Confidence}, Signal: ${inputs.SignalType}"
    separatecontext: false
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 520
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: b2222222-0000-0000-0000-000000000012
    type: condition
    task:
      id: b2222222-0000-0000-0000-000000000012
      version: -1
      name: Action 1 - Approved?
      description: |
        Read Approval.decision set by the gate sub-playbook. Only call the
        wrapper if the decision is approved or auto-approved. Denied skips
        the action silently (the deny is captured in the case audit log).
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "20"
      Allow:
      - "13"
    separatecontext: false
    conditions:
    - label: Allow
      condition:
      - - operator: inList
          left:
            value:
              complex:
                root: Approval.decision
            iscontext: true
          right:
            value:
              simple: approved,auto-approved
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 680
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: b2222222-0000-0000-0000-000000000013
    type: regular
    task:
      id: b2222222-0000-0000-0000-000000000013
      version: -1
      name: Wrapper - soc-isolate-endpoint
      description: |
        Call SOCCommandWrapper with the canonical action name. Wrapper reads
        the vendor-specific command and args from SOCFrameworkActions_V3,
        applies Shadow Mode per the action entry, writes the execution
        record to Containment.Execution[] and xsiam_socfw_ir_execution_raw.
      script: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      action:
        simple: soc-isolate-endpoint
      phase:
        simple: Containment
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 840
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: b2222222-0000-0000-0000-000000000020
    type: condition
    task:
      id: b2222222-0000-0000-0000-000000000020
      version: -1
      name: Action 2 - Process.PID present?
      description: |
        Skip soc-kill-process if no Process.PID is in context. Kill-process
        only applies when we have an identified initiator process.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "30"
      Present:
      - "21"
    separatecontext: false
    conditions:
    - label: Present
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: inputs.ProcessPID
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1000
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: b2222222-0000-0000-0000-000000000021
    type: playbook
    task:
      id: b2222222-0000-0000-0000-000000000021
      version: -1
      name: Gate - soc-kill-process
      description: |
        Call SOC Approval Gate_V3 for soc-kill-process.
      playbookName: SOC Approval Gate_V3
      playbookId: SOC Approval Gate_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      action_name:
        simple: soc-kill-process
      phase:
        simple: Containment
      artifact_summary:
        simple: "Process: ${inputs.ProcessName} (PID: ${inputs.ProcessPID}) on ${inputs.Hostname}"
      context_summary:
        simple: "Compromise: ${inputs.CompromiseLevel}, Confidence: ${inputs.Confidence}, Signal: ${inputs.SignalType}"
    separatecontext: false
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: b2222222-0000-0000-0000-000000000022
    type: condition
    task:
      id: b2222222-0000-0000-0000-000000000022
      version: -1
      name: Action 2 - Approved?
      type: condition
      iscommand: false
      brand: ""
      description: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "30"
      Allow:
      - "23"
    separatecontext: false
    conditions:
    - label: Allow
      condition:
      - - operator: inList
          left:
            value:
              complex:
                root: Approval.decision
            iscontext: true
          right:
            value:
              simple: approved,auto-approved
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1320
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: b2222222-0000-0000-0000-000000000023
    type: regular
    task:
      id: b2222222-0000-0000-0000-000000000023
      version: -1
      name: Wrapper - soc-kill-process
      description: |
        Call SOCCommandWrapper for soc-kill-process.
      script: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      action:
        simple: soc-kill-process
      phase:
        simple: Containment
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1480
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: b2222222-0000-0000-0000-000000000030
    type: condition
    task:
      id: b2222222-0000-0000-0000-000000000030
      version: -1
      name: Action 3 - Target.SHA256 present?
      description: |
        Skip soc-block-indicators if no Target.SHA256 is in context.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "80"
      Present:
      - "31"
    separatecontext: false
    conditions:
    - label: Present
      condition:
      - - operator: isNotEmpty
          left:
            value:
              complex:
                root: inputs.TargetHash
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: b2222222-0000-0000-0000-000000000031
    type: playbook
    task:
      id: b2222222-0000-0000-0000-000000000031
      version: -1
      name: Gate - soc-block-indicators
      description: |
        Call SOC Approval Gate_V3 for soc-block-indicators.
      playbookName: SOC Approval Gate_V3
      playbookId: SOC Approval Gate_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      action_name:
        simple: soc-block-indicators
      phase:
        simple: Containment
      artifact_summary:
        simple: "Hash: ${inputs.TargetHash}"
      context_summary:
        simple: "Compromise: ${inputs.CompromiseLevel}, Confidence: ${inputs.Confidence}, Signal: ${inputs.SignalType}"
    separatecontext: false
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1800
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: b2222222-0000-0000-0000-000000000032
    type: condition
    task:
      id: b2222222-0000-0000-0000-000000000032
      version: -1
      name: Action 3 - Approved?
      type: condition
      iscommand: false
      brand: ""
      description: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "80"
      Allow:
      - "33"
    separatecontext: false
    conditions:
    - label: Allow
      condition:
      - - operator: inList
          left:
            value:
              complex:
                root: Approval.decision
            iscontext: true
          right:
            value:
              simple: approved,auto-approved
          ignorecase: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: b2222222-0000-0000-0000-000000000033
    type: regular
    task:
      id: b2222222-0000-0000-0000-000000000033
      version: -1
      name: Wrapper - soc-block-indicators
      description: |
        Call SOCCommandWrapper for soc-block-indicators.
      script: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "80"
    scriptarguments:
      action:
        simple: soc-block-indicators
      phase:
        simple: Containment
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "80":
    id: "80"
    taskid: b2222222-0000-0000-0000-000000000080
    type: regular
    task:
      id: b2222222-0000-0000-0000-000000000080
      version: -1
      name: Write Containment.story (executed)
      description: |
        Write a single Containment.story summarizing that the phase ran.
        Per-action detail lives in Containment.Execution[] (written by the
        wrapper) and in the XSIAM case audit log (approval decisions).
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "99"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Containment.story
      value:
        simple: "Containment phase executed for ${inputs.CompromiseLevel} alert. See Containment.Execution[] for per-action outcomes and the case audit log for analyst approval decisions."
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "90":
    id: "90"
    taskid: b2222222-0000-0000-0000-000000000090
    type: regular
    task:
      id: b2222222-0000-0000-0000-000000000090
      version: -1
      name: Write Containment.story (skipped)
      description: |
        Phase entry gate closed. Write a skip-story so downstream consumers
        (Recovery, dashboard, case layout) can tell the phase was
        deliberately skipped versus errored out.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "99"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Containment.story
      value:
        simple: "Containment skipped. CompromiseLevel = ${inputs.CompromiseLevel} did not warrant containment actions."
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 150,
          "y": 360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "99":
    id: "99"
    taskid: b2222222-0000-0000-0000-000000000099
    type: title
    task:
      id: b2222222-0000-0000-0000-000000000099
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      description: ''
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2450,
        "width": 600,
        "x": 150,
        "y": 50
      }
    }
  }
inputs:
- key: ProductCategory
  value:
    simple: Endpoint
  required: false
  description: |
    Product category passed by SOC Containment_V3 parent orchestrator. Used
    for routing by the parent; not consumed here.
  playbookInputQuery: null
- key: CompromiseLevel
  value:
    complex:
      root: Analysis.Endpoint.compromise_level
  required: false
  description: |
    Endpoint compromise level from Analysis. Resolves from
    ${Analysis.Endpoint.compromise_level} unless overridden by the parent.
    Drives the phase-entry gate — only "likely_compromised" and "suspicious"
    proceed; everything else skips with a story.
  playbookInputQuery: null
- key: Confidence
  value:
    complex:
      root: Analysis.Endpoint.confidence
  required: false
  description: |
    Analysis confidence score (low / medium / high). Resolves from
    ${Analysis.Endpoint.confidence} unless overridden by the parent. Shown
    in the approval prompt context summary.
  playbookInputQuery: null
- key: SignalType
  value:
    complex:
      root: Analysis.Endpoint.signal_type
  required: false
  description: |
    Endpoint signal classification (file_malware / behavior_memory /
    process_execution). Resolves from ${Analysis.Endpoint.signal_type}
    unless overridden by the parent. Shown in the approval prompt context.
  playbookInputQuery: null
- key: AgentID
  value:
    complex:
      root: SOCFramework.Artifacts.Endpoint.AgentID
  required: false
  description: |
    EDR agent identifier for the affected host. Resolves from
    ${SOCFramework.Artifacts.Endpoint.AgentID} unless overridden. If empty,
    soc-isolate-endpoint is skipped with no approval prompt raised.
  playbookInputQuery: null
- key: Hostname
  value:
    complex:
      root: SOCFramework.Artifacts.Endpoint.Hostname
  required: false
  description: |
    Hostname of the affected endpoint. Resolves from
    ${SOCFramework.Artifacts.Endpoint.Hostname}. Used in approval prompt
    artifact summary only.
  playbookInputQuery: null
- key: ProcessPID
  value:
    complex:
      root: SOCFramework.Artifacts.Process.PID
  required: false
  description: |
    Initiator process PID. Resolves from
    ${SOCFramework.Artifacts.Process.PID} unless overridden. If empty,
    soc-kill-process is skipped with no approval prompt raised.
  playbookInputQuery: null
- key: ProcessName
  value:
    complex:
      root: SOCFramework.Artifacts.Process.Name
  required: false
  description: |
    Initiator process name. Resolves from
    ${SOCFramework.Artifacts.Process.Name}. Used in approval prompt
    artifact summary only.
  playbookInputQuery: null
- key: TargetHash
  value:
    complex:
      root: SOCFramework.Artifacts.Target.SHA256
  required: false
  description: |
    SHA256 hash of the malicious file target. Resolves from
    ${SOCFramework.Artifacts.Target.SHA256} unless overridden. If empty,
    soc-block-indicators is skipped with no approval prompt raised.
  playbookInputQuery: null
outputs:
- contextPath: Containment.story
  description: One-line summary of what this phase did (or why it was skipped)
  type: string
- contextPath: Containment.Execution
  description: Per-action execution records written by SOCCommandWrapper
  type: unknown
