Packs/SocFrameworkOptimizationUnified/Playbooks/Foundation_-_Enrichment_V3.yml
fromversion: 5.0.0
id: Foundation - Enrichment_V3
version: 11
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.1.5
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Enrichment_V3
description: |
  Identifies the core fields present and starts tailored enrichment pipelines
  Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
tags:
- SOC
- SOC_Framework_Unified
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 8492b25a-a19c-4593-8191-9cb60e4d3007
    type: start
    task:
      id: 8492b25a-a19c-4593-8191-9cb60e4d3007
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "33"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1050,
          "y": -130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
    type: title
    task:
      id: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 830
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 1f0c81cc-a8a6-4836-ba9b-9852cbbb38e7
    type: regular
    task:
      id: 1f0c81cc-a8a6-4836-ba9b-9852cbbb38e7
      version: -1
      name: Set Issue Category Type
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "35"
      - "36"
      - "37"
      - "38"
    scriptarguments:
      key:
        simple: SOCFramework.Artifacts.CategoryType
      value:
        complex:
          root: inputs.CategoryType
          transformers:
          - operator: toLowerCase
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1050,
          "y": 60
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: e0aacfff-e692-4d97-af94-e75b3ce5156d
    type: regular
    task:
      id: e0aacfff-e692-4d97-af94-e75b3ce5156d
      version: -1
      name: IP Enrichment
      description: Checks the reputation of an IP address.
      script: '|||ip'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      ip:
        simple: ${inputs.ip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 340,
          "y": 570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: 37628802-8657-4cf7-a814-a3b8bc575aec
    type: title
    task:
      id: 37628802-8657-4cf7-a814-a3b8bc575aec
      version: -1
      name: IP Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "34"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 340,
          "y": 260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: c72e9cd9-c249-4f15-bf89-342db82a1582
    type: title
    task:
      id: c72e9cd9-c249-4f15-bf89-342db82a1582
      version: -1
      name: File Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "39"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 820,
          "y": 260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "37":
    id: "37"
    taskid: b53b1c04-cf3f-4c65-b7d4-106dbac0baa0
    type: title
    task:
      id: b53b1c04-cf3f-4c65-b7d4-106dbac0baa0
      version: -1
      name: Domain Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "40"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "38":
    id: "38"
    taskid: e302e37a-9558-4b02-aaa4-5f24b080ed77
    type: title
    task:
      id: e302e37a-9558-4b02-aaa4-5f24b080ed77
      version: -1
      name: URL Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "41"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1750,
          "y": 260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "39":
    id: "39"
    taskid: 4e24faca-32c9-4bc6-ae94-9ac059961d45
    type: regular
    task:
      id: 4e24faca-32c9-4bc6-ae94-9ac059961d45
      version: -1
      name: File Enrichment
      description: Checks the file reputation of the specified hash.
      script: '|||file'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      file:
        simple: ${inputs.file}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 820,
          "y": 570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: fe701c9e-9a2f-4bf3-a7eb-f26ecf75796e
    type: regular
    task:
      id: fe701c9e-9a2f-4bf3-a7eb-f26ecf75796e
      version: -1
      name: Domain Enrichment
      description: Enrich a domain with Unit 42 threat intelligence context.
      script: '|||domain'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      domain:
        simple: ${inputs.domain}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 570
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "41":
    id: "41"
    taskid: 7cb66474-95b8-46e6-a670-1dadf106f1f1
    type: regular
    task:
      id: 7cb66474-95b8-46e6-a670-1dadf106f1f1
      version: -1
      name: URL Enrichment
      description: Enrich a domain with Unit 42 threat intelligence context.
      script: '|||domain'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      domain:
        simple: ${inputs.url}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1750,
          "y": 560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1020,
        "width": 1790,
        "x": 340,
        "y": -130
      }
    }
  }
inputs:
- key: CategoryType
  value:
    complex:
      root: issue
      accessor: categoryname
      transformers:
      - operator: toLowerCase
  required: false
  description: What Category of Alert is this? (malware, phishing, etc.)
  playbookInputQuery: null
- key: ip
  value:
    simple: ${SOCFramework.Artifacts.IP}
  required: false
  description: ""
  playbookInputQuery: null
- key: file
  value:
    simple: ${SOCFramework.Artifacts.File}
  required: false
  description: ""
  playbookInputQuery: null
- key: url
  value:
    simple: ${SOCFramework.Artifacts.URL}
  required: false
  description: ""
  playbookInputQuery: null
- key: domain
  value:
    simple: ${SOCFramework.Artifacts.Domain}
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - CategoryType
  - ip
  - file
  - url
  - domain
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs: []
  name: General (Outputs group)
  description: Generic group for outputs
outputs: []
sourceplaybookid: Foundation - Enrichment_V3
dirtyInputs: true
adopted: true
