Packs/SocFrameworkOptimizationUnified/Playbooks/Foundation_-_Normalize_Artifacts_V3.yml
fromversion: 5.0.0
id: Foundation - Normalize Artifacts_V3
version: 8
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.3.1
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Normalize Artifacts_V3
description: |2+

tags:
- SOC
- SOC_Framework_Unified
- Analysis
- Foundation
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 8492b25a-a19c-4593-8191-9cb60e4d3007
    type: start
    task:
      id: 8492b25a-a19c-4593-8191-9cb60e4d3007
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "38"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": -30
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
    type: title
    task:
      id: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1855
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 7bfadf59-61ee-41e6-b6db-3fcde1c95727
    type: title
    task:
      id: 7bfadf59-61ee-41e6-b6db-3fcde1c95727
      version: -1
      name: IP Artifacts
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "33"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1492.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 049bb235-0943-4db1-a4d1-d884e1b38460
    type: title
    task:
      id: 049bb235-0943-4db1-a4d1-d884e1b38460
      version: -1
      name: User Findings
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "32"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1492.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: 38b6a1fa-dc59-43ae-8091-ff4c66c459be
    type: title
    task:
      id: 38b6a1fa-dc59-43ae-8091-ff4c66c459be
      version: -1
      name: File Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "29"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1315
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: 7f37bc21-a7aa-402b-bc75-f563fb6d649c
    type: regular
    task:
      id: 7f37bc21-a7aa-402b-bc75-f563fb6d649c
      version: -1
      name: Set File SHA256 SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "31"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.File
      value:
        simple: ${inputs.SHA256}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1485
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: 62ba4236-a536-4eba-a750-e7be723b6e07
    type: regular
    task:
      id: 62ba4236-a536-4eba-a750-e7be723b6e07
      version: -1
      name: Set EndPoint ID SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "18"
      - "9"
      - "34"
      - "41"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.EndPointID
      value:
        simple: ${inputs.EndpointID}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: b9da1344-05bb-40c9-82af-65506a6aad43
    type: regular
    task:
      id: b9da1344-05bb-40c9-82af-65506a6aad43
      version: -1
      name: Unit 42 File Verdict Name SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Verdict
      value:
        complex:
          root: Unit42Intelligence.File
          filters:
          - - operator: in
              left:
                value:
                  simple: Unit42Intelligence.File.Value
                iscontext: true
              right:
                value:
                  simple: inputs.SHA256
                iscontext: true
          accessor: Verdict
          transformers:
          - operator: StringToArray
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1662.5
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: 99ab1535-f684-4457-ad89-1eb430bdd8ed
    type: regular
    task:
      id: 99ab1535-f684-4457-ad89-1eb430bdd8ed
      version: -1
      name: Set User Name SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: SOCFramework.Artifacts.UserName
      value:
        simple: ${inputs.UserName}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1670
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 413a9a1b-01eb-43bb-96b1-b2cc830851b0
    type: regular
    task:
      id: 413a9a1b-01eb-43bb-96b1-b2cc830851b0
      version: -1
      name: Set IP SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.IP
      value:
        simple: ${inputs.SourceIP}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 1670
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: c990cbe2-c1cd-45fe-b3d9-e138e446e074
    type: title
    task:
      id: c990cbe2-c1cd-45fe-b3d9-e138e446e074
      version: -1
      name: Process Enrichment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "40"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: ed82c07b-fb09-4476-955d-f37c46f92c94
    type: regular
    task:
      id: ed82c07b-fb09-4476-955d-f37c46f92c94
      version: -1
      name: Set Process Name SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "36"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.ProcessName
      value:
        simple: ${inputs.ProcessName}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 945
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: 966d8fc9-1c14-46a6-a320-fdfc15141a25
    type: regular
    task:
      id: 966d8fc9-1c14-46a6-a320-fdfc15141a25
      version: -1
      name: Set Process ID SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.PID
      value:
        simple: ${inputs.PID}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "38":
    id: "38"
    taskid: 32bdf524-f0fd-4745-b9d4-603a133d8b3f
    type: regular
    task:
      id: 32bdf524-f0fd-4745-b9d4-603a133d8b3f
      version: -1
      name: Set HostName SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.HostName
      value:
        simple: ${inputs.HostName}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: 4692c930-0d52-42be-b17f-65963c76b28c
    type: regular
    task:
      id: 4692c930-0d52-42be-b17f-65963c76b28c
      version: -1
      name: Set File Path SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "35"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.FilePath
      value:
        simple: ${inputs.FilePath}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "41":
    id: "41"
    taskid: 16bd8e41-05dd-49b8-9b8c-aaca9a35aecf
    type: title
    task:
      id: 16bd8e41-05dd-49b8-9b8c-aaca9a35aecf
      version: -1
      name: MITRE Tacts & Techniques
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "42"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 750
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "42":
    id: "42"
    taskid: a2938fe8-d460-4ee4-b9ff-ced5c501a57d
    type: regular
    task:
      id: a2938fe8-d460-4ee4-b9ff-ced5c501a57d
      version: -1
      name: Set MITRE Tactic ID
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "43"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Mitre.Tactic.ID
      value:
        simple: ${inputs.MitreTacticIDs}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 890
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "43":
    id: "43"
    taskid: 9dbd92cf-8f42-4fd0-9beb-76520475698e
    type: regular
    task:
      id: 9dbd92cf-8f42-4fd0-9beb-76520475698e
      version: -1
      name: Set MITRE Technique IDs
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "44"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Mitre.Technique.ID
      value:
        simple: ${inputs.MitreTechniqueIDs}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: 3395d8c5-fb53-45ee-8cfd-17bf18d37f5d
    type: regular
    task:
      id: 3395d8c5-fb53-45ee-8cfd-17bf18d37f5d
      version: -1
      name: Set MITRE Tactic
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Mitre.Tactic.Name
      value:
        simple: ${inputs.MitreTactics}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 1220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "45":
    id: "45"
    taskid: 7e35a088-67ec-4737-8e7e-20ac0fd1c5fc
    type: regular
    task:
      id: 7e35a088-67ec-4737-8e7e-20ac0fd1c5fc
      version: -1
      name: Set MITRE Technique
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Mitre.Technique.Name
      value:
        simple: ${inputs.MitreTechniques}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 1360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1945,
        "width": 1530,
        "x": 50,
        "y": -30
      }
    }
  }
inputs:
- key: HostName
  value:
    complex:
      root: ${issue
      accessor: xdmsourcehosthostname}
      transformers:
      - operator: SetIfEmpty
        args:
          applyIfEmpty: {}
          defaultValue:
            value:
              simple: ${issue.hostname}
  required: false
  description: ""
  playbookInputQuery: null
- key: EndpointID
  value:
    complex:
      root: ${issue
      accessor: xdmsourceagentidentifier}
      transformers:
      - operator: SetIfEmpty
        args:
          applyIfEmpty: {}
          defaultValue:
            value:
              simple: ${issue.agentid}
  required: false
  description: ""
  playbookInputQuery: null
- key: FilePath
  value:
    complex:
      root: ${issue
      accessor: xdmsourceprocessexecutablepath}
      transformers:
      - operator: SetIfEmpty
        args:
          applyIfEmpty: {}
          defaultValue:
            value:
              simple: ${issue.initiatorpath}
  required: false
  description: ""
  playbookInputQuery: null
- key: ProcessName
  value:
    complex:
      root: ${issue
      accessor: xdmsourceprocessname}
      transformers:
      - operator: SetIfEmpty
        args:
          applyIfEmpty: {}
          defaultValue:
            value:
              simple: ${issue.initiatedby}
  required: false
  description: ""
  playbookInputQuery: null
- key: PID
  value:
    simple: ${issue.initiatorpid}
  required: false
  description: ""
  playbookInputQuery: null
- key: SHA256
  value:
    complex:
      root: ${issue
      accessor: xdmsourceprocessexecutablesha256}
      transformers:
      - operator: SetIfEmpty
        args:
          applyIfEmpty: {}
          defaultValue:
            value:
              simple: ${issue.initiatorsha256}
  required: false
  description: ""
  playbookInputQuery: null
- key: Verdict
  value:
    complex:
      root: Unit42Intelligence.File
      filters:
      - - operator: isEqualString
          left:
            value:
              simple: Unit42Intelligence.File.Value
            iscontext: true
          right:
            value:
              simple: inputs.SHA256
            iscontext: true
      accessor: Verdict
      transformers:
      - operator: StringToArray
  required: false
  description: ""
  playbookInputQuery: null
- key: SourceIP
  value:
    complex:
      root: ${issue
      accessor: xdmsourcehostipv4addresses}
      transformers:
      - operator: SetIfEmpty
        args:
          applyIfEmpty: {}
          defaultValue:
            value:
              simple: ${issue.hostip}
  required: false
  description: ""
  playbookInputQuery: null
- key: UserName
  value:
    complex:
      root: ${issue
      accessor: xdmsourceuserusername}
      transformers:
      - operator: SetIfEmpty
        args:
          applyIfEmpty: {}
          defaultValue:
            value:
              simple: ${issue.username}
  required: false
  description: ""
  playbookInputQuery: null
- key: MitreTacticIDs
  value:
    simple: ${issue.mitretacticid}
  required: false
  description: ""
  playbookInputQuery: null
- key: MitreTechniqueIDs
  value:
    simple: ${issue.mitretechniqueid}
  required: false
  description: ""
  playbookInputQuery: null
- key: MitreTactics
  value:
    simple: ${issue.mitretacticname}
  required: false
  description: ""
  playbookInputQuery: null
- key: MitreTechniques
  value:
    simple: ${issue.mitretechniquename}
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - HostName
  - EndpointID
  - FilePath
  - ProcessName
  - PID
  - SHA256
  - Verdict
  - SourceIP
  - UserName
  - MitreTacticIDs
  - MitreTechniqueIDs
  - MitreTactics
  - MitreTechniques
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - SOCFramework.Artifacts.HostName
  - SOCFramework.Artifacts.EndPointID
  - SOCFramework.Artifacts.FilePath
  - SOCFramework.Artifacts.ProcessName
  - SOCFramework.Artifacts.PID
  - SOCFramework.Artifacts.File
  - SOCFramework.Artifacts.Verdict
  - SOCFramework.Artifacts.UserName
  - SOCFramework.Artifacts.IP
  - SOCFramework.Mitre.Tactic.ID
  - SOCFramework.Mitre.Technique.ID
  - SOCFramework.Mitre.Tactic
  - SOCFramework.Mitre.Technique
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: SOCFramework.Artifacts.HostName
  type: unknown
- contextPath: SOCFramework.Artifacts.EndPointID
  type: unknown
- contextPath: SOCFramework.Artifacts.FilePath
  type: unknown
- contextPath: SOCFramework.Artifacts.ProcessName
  type: unknown
- contextPath: SOCFramework.Artifacts.PID
  type: unknown
- contextPath: SOCFramework.Artifacts.File
  type: unknown
- contextPath: SOCFramework.Artifacts.Verdict
  type: unknown
- contextPath: SOCFramework.Artifacts.UserName
  type: unknown
- contextPath: SOCFramework.Artifacts.IP
  type: unknown
- contextPath: SOCFramework.Mitre.Tactic.ID
  type: unknown
- contextPath: SOCFramework.Mitre.Technique.ID
  type: unknown
- contextPath: SOCFramework.Mitre.Tactic
  type: unknown
- contextPath: SOCFramework.Mitre.Technique
  type: unknown
sourceplaybookid: Foundation - Enrichment_V3
dirtyInputs: true
adopted: true
