Packs/soc-optimization-unified/Playbooks/Foundation_-_Dedup.yml
id: Foundation - Dedup_V3
version: 9
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    _packName: SOC Framework Unified
    itemVersion: 2.1.16
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Dedup_V3
description: |
  Uses our alert fingerprinting - and compares the alert to the alert ledger
  If a duplicate is identified - the parent alert is recorded, and the alert resolves
tags:
  - SOC
  - SOC_Framework_Unified
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 4bb50423-9a1a-4c0e-88ba-c31e26fdf280
    type: start
    task:
      id: 4bb50423-9a1a-4c0e-88ba-c31e26fdf280
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#none#':
        - "19"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 2eb08148-d069-489a-83e1-1ab88016aac3
    type: title
    task:
      id: 2eb08148-d069-489a-83e1-1ab88016aac3
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: fe98508c-87a9-4233-8e42-9418191678b4
    type: regular
    task:
      id: fe98508c-87a9-4233-8e42-9418191678b4
      version: -1
      name: DeDup Alerts from the Last "1 days ago"
      description: |-
        Finds past similar alerts based on alert fields' similarity. Includes an option to also display indicators similarity.
        Note: For the similarity calculation, at least one field must be provided in one of the "similarTextField", "similarCategoricalField", or "similarJsonField" arguments.
      scriptName: DBotFindSimilarAlerts
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#error#':
        - "18"
      '#none#':
        - "16"
    scriptarguments:
      fromDate:
        complex:
          root: inputs.DedupWindow
      minimunIncidentSimilarity:
        simple: "0.8"
      query:
        simple: case_id=${parentIncidentFields.incident_id}
      similarJsonField:
        simple: username,hostip
      similarTextField:
        simple: name,type
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: ddcf8da0-3949-415f-8bbb-6c440ff050ee
    type: regular
    task:
      id: ddcf8da0-3949-415f-8bbb-6c440ff050ee
      version: -1
      name: Close As Duplicates
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent:
    nexttasks:
      '#error#':
        - "18"
      '#none#':
        - "8"
    scriptarguments:
      closeNotes:
        simple: Auto-Close Duplicate
      closeReason:
        simple: Resolved - Duplicate Alert
      id:
        simple: ${DBotFindSimilarIncidents.similarIncident.id}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 2
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 4f2a3250-61d8-4556-aea2-4612ac251ad6
    type: regular
    task:
      id: 4f2a3250-61d8-4556-aea2-4612ac251ad6
      version: -1
      name: Print Duplicate Alerts
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#error#':
        - "18"
      '#none#':
        - "20"
    scriptarguments:
      value:
        simple: "🔁 **Duplicate alert detected** — current alert (${alert.id}) is the latest. Closing older duplicate(s): ${DBotFindSimilarIncidents.similarIncident.id}"
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 275,
          "y": 580
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 7adad498-fc30-4def-818b-a1d7198474c8
    type: condition
    task:
      id: 7adad498-fc30-4def-818b-a1d7198474c8
      version: -1
      name: Are there any similar alerts?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#default#':
        - "8"
      "yes":
        - "15"
    separatecontext: false
    conditions:
      - label: "yes"
        condition:
          - - operator: isTrue
              left:
                value:
                  simple: DBotFindSimilarIncidents.isSimilarIncidentFound
                iscontext: true
              right:
                value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: b7e14f2c-3a8d-4901-bc56-d2f9a3e7c084
    type: regular
    task:
      id: b7e14f2c-3a8d-4901-bc56-d2f9a3e7c084
      version: -1
      name: Print Dedup Skipped Warning
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#none#':
        - "17"
    scriptarguments:
      value:
        simple: "⚠️ **Dedup skipped** — an error occurred during alert fingerprinting or dedup close. This alert was not evaluated for duplicates. Check the error log for details."
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: c9a53716-a57b-4fae-8e00-d3508d482f51
    type: playbook
    task:
      id: c9a53716-a57b-4fae-8e00-d3508d482f51
      version: -1
      name: Foundation - Error Handling_V3
      playbookName: Foundation - Error Handling_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#none#':
        - "8"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 940
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: e2a47b13-5c8d-4f91-a3e0-7d9b2f6c4a08
    type: condition
    task:
      id: e2a47b13-5c8d-4f91-a3e0-7d9b2f6c4a08
      version: -1
      name: Score Bypass?
      description: >-
        If the parent incident's predicted_score meets or exceeds
        DedupScoreThreshold, skip dedup entirely. High-scoring active cases
        should surface new signals independently rather than have them suppressed.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#default#':
        - "10"
      "yes":
        - "8"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: parentIncidentFields.predicted_score
            iscontext: true
          right:
            value:
              complex:
                root: inputs.DedupScoreThreshold
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: f3b58c24-6d9e-4a02-b4f1-8e0c3g7d5b19
    type: condition
    task:
      id: f3b58c24-6d9e-4a02-b4f1-8e0c3g7d5b19
      version: -1
      name: DryRun?
      description: >-
        If DryRun is true, print what would be closed without executing.
        Used for smoke testing post-deploy without closing any issues.
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#default#':
        - "14"
      "yes":
        - "21"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isTrue
          left:
            value:
              complex:
                root: inputs.DryRun
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 580
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: a4c69d35-7e0f-4b13-c5g2-9f1d4h8e6c20
    type: regular
    task:
      id: a4c69d35-7e0f-4b13-c5g2-9f1d4h8e6c20
      version: -1
      name: "[DRY RUN] Print Issues That Would Close"
      description: >-
        Smoke test output. Lists duplicate issue IDs that would have been
        closed by dedup. No issues are modified.
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
    nexttasks:
      '#none#':
        - "8"
    scriptarguments:
      value:
        simple: >-
          [DRY RUN] Dedup would close issue(s): ${DBotFindSimilarIncidents.similarIncident.id}
          Current alert: ${alert.id}
          Dedup window: ${inputs.DedupWindow}
          Score threshold (bypass): ${inputs.DedupScoreThreshold}
          Parent score: ${parentIncidentFields.predicted_score}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 650,
          "y": 760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {
      "19_10_#default#": 0.5,
      "19_8_yes": 0.5,
      "20_14_#default#": 0.5,
      "20_21_yes": 0.5
    },
    "paper": {
      "dimensions": {
        "height": 1400,
        "width": 900,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: DryRun
  value:
    simple: "false"
  required: false
  description: >-
    When true, prints duplicate issues that would be closed without executing
    any close actions. Use for smoke testing after deployment.
  playbookInputQuery:
- key: DedupWindow
  value:
    complex:
      root: lists
      accessor: SOCOptimizationConfig_V3
      transformers:
      - operator: getField
        args:
          field:
            value:
              simple: Dedup
      - operator: getField
        args:
          field:
            value:
              simple: fields
      - operator: getField
        args:
          field:
            value:
              simple: DedupWindow
  required: false
  description: >-
    How far back to search for similar alerts. Read from SOCOptimizationConfig_V3.
    Default: 1 days ago.
  playbookInputQuery:
- key: DedupScoreThreshold
  value:
    complex:
      root: lists
      accessor: SOCOptimizationConfig_V3
      transformers:
      - operator: getField
        args:
          field:
            value:
              simple: Dedup
      - operator: getField
        args:
          field:
            value:
              simple: fields
      - operator: getField
        args:
          field:
            value:
              simple: DedupScoreThreshold
  required: false
  description: >-
    If parent incident predicted_score is at or above this value, dedup is
    bypassed. Read from SOCOptimizationConfig_V3. Default: 70.
  playbookInputQuery:
outputs: []
sourceplaybookid: Foundation - Upon Trigger
dirtyInputs: true
adopted: true
fromversion: 5.0.0
