Packs/soc-optimization-unified/Playbooks/Foundation_-_Normalize_Cloud_V3.yml
adopted: true
fromversion: 5.0.0
id: Foundation - Normalize Cloud_V3
version: 1
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.5.0
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Normalize Cloud_V3
description: Normalizes Cloud alert fields into the SOCFramework.Cloud.* contract.
  Reads issue.* directly. Sequential chain — one connection per task.
tags:
- SOC
- SOC_Framework_Unified
- Foundation
- Cloud
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 153fb4ab-e370-4311-b805-7040d22ad1c7
    type: start
    task:
      id: 6120cc99-27f6-4a26-8d1a-27cb32b4cc3d
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: e8299def-f7ab-4027-ad9a-82e0463d37e8
    type: title
    task:
      id: ee171dbe-58b0-4b50-a7d5-4b284b620a1c
      version: -1
      name: Set SOCFramework.Cloud Fields
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 190}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '25':
    id: '25'
    taskid: c579beda-abde-414b-9701-6adc32059a30
    type: title
    task:
      id: 51612973-d436-4424-a272-ee197de6c0d5
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2800}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 7cab9531-ab46-42d5-9f48-bd2c0a5b7929
    type: regular
    task:
      id: 1f09d88c-b66f-48bf-97e4-e4e94f765d93
      version: -1
      name: Set principal
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.principal
      value:
        simple: ${issue.username}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 360}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: d61ba44c-3cd0-4b25-a29c-51f6ee441165
    type: regular
    task:
      id: 450c55bb-3fff-4efe-8e1b-77387d7229b3
      version: -1
      name: Set principal_id
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.principal_id
      value:
        simple: ${issue.userid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 520}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 7f2d2e5d-fc10-4aec-b675-9a0155194746
    type: regular
    task:
      id: 59f41843-b2ba-4a35-a7e2-87cc4a28afbb
      version: -1
      name: Set principal_type
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.principal_type
      value:
        simple: ${issue.userrole}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 680}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: fd583f15-6964-4ac0-b4ea-ab53533928d4
    type: regular
    task:
      id: 1e5a91fa-e01a-49ba-bb00-e3dfdadd9c69
      version: -1
      name: Set resource
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.resource
      value:
        simple: ${issue.targetresource}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 840}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: 4f69775d-4173-40cb-b0fb-63b8f51a2b5d
    type: regular
    task:
      id: 6b553702-3c6c-4021-ba94-9078415910d5
      version: -1
      name: Set resource_type
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.resource_type
      value:
        simple: ${issue.resourcetype}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1000}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: fe46d515-bd92-4f93-8cb5-2bfc9e6c833d
    type: regular
    task:
      id: 11b379e9-3efa-4480-90fa-c916b869b48d
      version: -1
      name: Set cloud_account
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '16'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.cloud_account
      value:
        simple: ${issue.cloudaccountid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1160}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: 1f643df5-4a21-413d-93bf-bf1544903106
    type: regular
    task:
      id: 9eda8888-8ed2-46f6-8909-a239e01e938e
      version: -1
      name: Set region
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '17'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.region
      value:
        simple: ${issue.cloudregion}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1320}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: 1792676d-42b6-49e5-9922-8bf371c4cd09
    type: regular
    task:
      id: 9e76269f-66bc-48e6-b3d5-b4bc3c6f552f
      version: -1
      name: Set cloud_provider
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '18'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.cloud_provider
      value:
        simple: ${issue.cloudprovider}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1480}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: c42d0299-ec11-40e5-bd48-08ffc7e31e83
    type: regular
    task:
      id: 43ae9e40-a459-45f5-b2f4-d7195d898b1b
      version: -1
      name: Set action
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '19'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.action
      value:
        simple: ${issue.eventtype}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1640}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: 0e178be6-1d51-453c-ae26-300f5bc43e9c
    type: regular
    task:
      id: 17120c5a-0704-449f-821a-0dc604efb2a3
      version: -1
      name: Set action_status
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.action_status
      value:
        simple: ${issue.eventoutcome}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1800}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: 29882cf9-54a4-48fc-b054-725c54c133bc
    type: regular
    task:
      id: b9cf526e-ff12-4321-80e3-7bdd065707bf
      version: -1
      name: Set error_code
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.error_code
      value:
        simple: ${issue.errorcategory}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1960}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: 048cebca-6b67-4085-9822-df002652590a
    type: regular
    task:
      id: c1f57926-44f2-4386-a0ac-56a88f4a0107
      version: -1
      name: Set source_ip
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '22'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.source_ip
      value:
        simple: ${issue.sourceip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2120}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '22':
    id: '22'
    taskid: e4de0603-f455-4cf6-b7cd-46a8ffd28c4b
    type: regular
    task:
      id: dabd7ec9-2696-40f5-a36f-c2c7ca096350
      version: -1
      name: Set user_agent
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '23'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.user_agent
      value:
        simple: ${issue.useragent}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2280}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '23':
    id: '23'
    taskid: 5c2e3769-230a-4dc7-ac0a-74ec1b1dd66b
    type: regular
    task:
      id: 93c02e8d-29e4-4987-a6f5-abfabb07896b
      version: -1
      name: Set risk_score
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '24'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.risk_score
      value:
        simple: ${issue.userrisk}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2440}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '24':
    id: '24'
    taskid: d097616a-e39b-48c0-9ad6-834245444c74
    type: regular
    task:
      id: 80126315-555a-4313-8ec2-045277068d67
      version: -1
      name: Set normalization_source
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '25'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Cloud.normalization_source
      value:
        simple: cloud
    separatecontext: false
    continueonerror: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2600}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 2900, "width":
  380, "x": 280, "y": 50}}}'
inputs: []
inputSections:
- inputs: []
  name: General (Inputs group)
  description: ''
outputSections:
- outputs:
  - SOCFramework.Cloud.principal
  - SOCFramework.Cloud.principal_id
  - SOCFramework.Cloud.principal_type
  - SOCFramework.Cloud.resource
  - SOCFramework.Cloud.resource_type
  - SOCFramework.Cloud.cloud_account
  - SOCFramework.Cloud.region
  - SOCFramework.Cloud.cloud_provider
  - SOCFramework.Cloud.action
  - SOCFramework.Cloud.action_status
  - SOCFramework.Cloud.error_code
  - SOCFramework.Cloud.source_ip
  - SOCFramework.Cloud.user_agent
  - SOCFramework.Cloud.risk_score
  - SOCFramework.Cloud.normalization_source
  name: SOCFramework Cloud Contract
  description: SOCFramework.Cloud.* keys for downstream NIST IR lifecycle
outputs:
- contextPath: SOCFramework.Cloud.principal
  description: A/C/E - IAM principal
  type: String
- contextPath: SOCFramework.Cloud.principal_id
  description: C/E - IAM action target
  type: String
- contextPath: SOCFramework.Cloud.principal_type
  description: A - user/role/service_account
  type: String
- contextPath: SOCFramework.Cloud.resource
  description: A/C/E - what was accessed
  type: String
- contextPath: SOCFramework.Cloud.resource_type
  description: A - bucket/instance/function
  type: String
- contextPath: SOCFramework.Cloud.cloud_account
  description: A - account scoping
  type: String
- contextPath: SOCFramework.Cloud.region
  description: A - blast radius scoping
  type: String
- contextPath: SOCFramework.Cloud.cloud_provider
  description: A - aws/azure/gcp routing
  type: String
- contextPath: SOCFramework.Cloud.action
  description: A - what API call was made
  type: String
- contextPath: SOCFramework.Cloud.action_status
  description: A - success/failure
  type: String
- contextPath: SOCFramework.Cloud.error_code
  description: A - permission denied etc
  type: String
- contextPath: SOCFramework.Cloud.source_ip
  description: A/C - source of API call
  type: String
- contextPath: SOCFramework.Cloud.user_agent
  description: A - SDK/CLI/console fingerprint
  type: String
- contextPath: SOCFramework.Cloud.risk_score
  description: A - feeds Analysis.confidence
  type: String
- contextPath: SOCFramework.Cloud.normalization_source
  description: Always 'cloud'
  type: String
