Packs/soc-optimization-unified/Playbooks/Foundation_-_Normalize_Network_V3.yml
adopted: true
fromversion: 5.0.0
id: Foundation - Normalize Network_V3
version: 1
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.5.0
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Normalize Network_V3
description: Normalizes Network alert fields into the SOCFramework.Network.* contract.
  Reads issue.* directly. Sequential chain — one connection per task.
tags:
- SOC
- SOC_Framework_Unified
- Foundation
- Network
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 754b4432-823c-48ec-94a9-7ae9e01a21c3
    type: start
    task:
      id: e30d2738-b79d-4ddb-86de-6a683983d286
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 407948f9-37f1-40a5-8536-778a7551bc70
    type: title
    task:
      id: 50e5dc55-ea24-427f-9a2d-37a79e335a57
      version: -1
      name: Set SOCFramework.Network Fields
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 190}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '30':
    id: '30'
    taskid: bc2caeea-182e-408f-8741-3a9bba4fcb14
    type: title
    task:
      id: 65fcdc32-8a6d-44be-867b-ba9e4e618ec0
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3600}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 87f6b1f1-4543-4bdd-bbca-34ec3f878919
    type: regular
    task:
      id: 84e04ef4-fe2a-48c6-89da-69df32b63b78
      version: -1
      name: Set src_ip
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.src_ip
      value:
        simple: ${issue.sourceip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 360}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: 7b8cadd5-7018-45fb-92ca-953f920464bb
    type: regular
    task:
      id: 583eb895-afa8-4b23-a555-8777ec51916e
      version: -1
      name: Set src_port
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.src_port
      value:
        simple: ${issue.sourceport}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 520}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 8b4af71c-ef13-4315-aab6-fa869a4e534a
    type: regular
    task:
      id: 71ccbdea-053a-4ca8-867e-af96bd02f18d
      version: -1
      name: Set src_hostname
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.src_hostname
      value:
        simple: ${issue.sourcehostname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 680}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: e681a721-2190-4fd5-9bae-6b6846fb3756
    type: regular
    task:
      id: aaefe5fc-6351-4b19-9720-f317b7044e35
      version: -1
      name: Set src_username
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.src_username
      value:
        simple: ${issue.username}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 840}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: d33fe02c-fc94-475c-9d7b-4f2203f24fe4
    type: regular
    task:
      id: c7c2bfe9-3ebb-411e-9cc0-1242becab148
      version: -1
      name: Set dst_ip
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.dst_ip
      value:
        simple: ${issue.destinationip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1000}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: d58b0844-059d-4fc0-b49c-336691549284
    type: regular
    task:
      id: 039145f4-f3fa-49e5-9c4b-d04e6af20b1f
      version: -1
      name: Set dst_port
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '16'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.dst_port
      value:
        simple: ${issue.destinationport}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1160}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: 74a0cdfe-4ced-42ff-a5de-082db2783cca
    type: regular
    task:
      id: 8656ad01-b41e-4f0c-9f56-e45c136e5218
      version: -1
      name: Set dst_hostname
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '17'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.dst_hostname
      value:
        simple: ${issue.destinationhostname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1320}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: c364e5f5-59d7-4621-9578-d8ccd8eee53f
    type: regular
    task:
      id: 428f6569-7e6b-4b30-8972-48260f328cc5
      version: -1
      name: Set protocol
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '18'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.protocol
      value:
        simple: ${issue.protocol}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1480}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: 45d1ad81-7681-4f9d-a4fa-3941d4db7e55
    type: regular
    task:
      id: e68bd8c7-36d6-491c-b7cf-357b011586fc
      version: -1
      name: Set app
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '19'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.app
      value:
        simple: ${issue.app}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1640}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: ca0e5d66-db73-4fc4-8923-44152a1a9654
    type: regular
    task:
      id: 2715fd33-360f-408b-969a-4d5842621c2f
      version: -1
      name: Set action
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.action
      value:
        simple: ${issue.action}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1800}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: c1b7d80d-c09b-4e8a-8772-fe3acb489590
    type: regular
    task:
      id: 27855cfd-fee7-4428-b66a-cf3a025ecd98
      version: -1
      name: Set direction
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.direction
      value:
        simple: ${issue.networkdirection}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1960}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: 67231012-69bc-4b51-8f3e-11b3b80c0826
    type: regular
    task:
      id: e7145d54-e30b-407a-b365-f08ae0238084
      version: -1
      name: Set url
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '22'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.url
      value:
        simple: ${issue.url}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2120}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '22':
    id: '22'
    taskid: 41994ab3-da84-4d93-9056-ada0710c0849
    type: regular
    task:
      id: fc3e24c2-26fe-4eee-8410-0d8fecfb8d14
      version: -1
      name: Set domain
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '23'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.domain
      value:
        simple: ${issue.domainname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2280}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '23':
    id: '23'
    taskid: db63a404-97ab-42af-9572-6faf41aac33b
    type: regular
    task:
      id: c16436fd-2ae0-4ea7-82ad-48860235169d
      version: -1
      name: Set bytes_sent
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '24'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.bytes_sent
      value:
        simple: ${issue.bytessent}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2440}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '24':
    id: '24'
    taskid: a9b10e73-0f3f-4248-a612-86db07a4da56
    type: regular
    task:
      id: a588cbc0-9559-4272-9d13-a387f8f6971d
      version: -1
      name: Set bytes_received
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '25'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.bytes_received
      value:
        simple: ${issue.bytesreceived}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2600}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '25':
    id: '25'
    taskid: 1edf67be-c89a-43d4-9246-7a3bb5d6c476
    type: regular
    task:
      id: b6690ccf-a735-46e6-ad25-0d9216c96073
      version: -1
      name: Set rule_name
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '26'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.rule_name
      value:
        simple: ${issue.rulename}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2760}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '26':
    id: '26'
    taskid: 26fa327f-8261-41a1-8f9b-fc8ceccfddde
    type: regular
    task:
      id: 1079dfd4-589b-4fda-bd43-4f3eeed83102
      version: -1
      name: Set nat_src_ip
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '27'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.nat_src_ip
      value:
        simple: ${issue.natsourceip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2920}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '27':
    id: '27'
    taskid: 503baf1a-711e-4ee8-bec8-d294ae5377e3
    type: regular
    task:
      id: 98014771-2312-48b1-b21e-cd36a2a9cd71
      version: -1
      name: Set tactic
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '28'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.tactic
      value:
        simple: ${issue.mitretacticname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3080}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '28':
    id: '28'
    taskid: 5334dedb-9909-4c4f-8f56-b560d25468c7
    type: regular
    task:
      id: 579d7aed-b093-4e23-a338-2aa2091d9d50
      version: -1
      name: Set technique
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '29'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.technique
      value:
        simple: ${issue.mitretechniquename}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3240}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '29':
    id: '29'
    taskid: 3de27a5b-b626-4db0-8be5-4fc943eaa676
    type: regular
    task:
      id: 2f2c7954-560e-41ab-ba04-49aa87c208e3
      version: -1
      name: Set normalization_source
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '30'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.normalization_source
      value:
        simple: network
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3400}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 3700, "width":
  380, "x": 280, "y": 50}}}'
inputs: []
inputSections:
- inputs: []
  name: General (Inputs group)
  description: ''
outputSections:
- outputs:
  - SOCFramework.Network.src_ip
  - SOCFramework.Network.src_port
  - SOCFramework.Network.src_hostname
  - SOCFramework.Network.src_username
  - SOCFramework.Network.dst_ip
  - SOCFramework.Network.dst_port
  - SOCFramework.Network.dst_hostname
  - SOCFramework.Network.protocol
  - SOCFramework.Network.app
  - SOCFramework.Network.action
  - SOCFramework.Network.direction
  - SOCFramework.Network.url
  - SOCFramework.Network.domain
  - SOCFramework.Network.bytes_sent
  - SOCFramework.Network.bytes_received
  - SOCFramework.Network.rule_name
  - SOCFramework.Network.nat_src_ip
  - SOCFramework.Network.tactic
  - SOCFramework.Network.technique
  - SOCFramework.Network.normalization_source
  name: SOCFramework Network Contract
  description: SOCFramework.Network.* keys for downstream NIST IR lifecycle
outputs:
- contextPath: SOCFramework.Network.src_ip
  description: A/C/E - block-indicator source
  type: String
- contextPath: SOCFramework.Network.src_port
  description: A - port context
  type: String
- contextPath: SOCFramework.Network.src_hostname
  description: A - source host
  type: String
- contextPath: SOCFramework.Network.src_username
  description: A - identity pivot
  type: String
- contextPath: SOCFramework.Network.dst_ip
  description: A/C - block-indicator dest
  type: String
- contextPath: SOCFramework.Network.dst_port
  description: A - service identification
  type: String
- contextPath: SOCFramework.Network.dst_hostname
  description: A - dest resolution
  type: String
- contextPath: SOCFramework.Network.protocol
  description: A - L4 context
  type: String
- contextPath: SOCFramework.Network.app
  description: A - L7 application
  type: String
- contextPath: SOCFramework.Network.action
  description: A - allow/deny/drop/reset
  type: String
- contextPath: SOCFramework.Network.direction
  description: A - inbound/outbound
  type: String
- contextPath: SOCFramework.Network.url
  description: A/C - soc-block-indicator URL
  type: String
- contextPath: SOCFramework.Network.domain
  description: A/C - soc-block-indicator domain
  type: String
- contextPath: SOCFramework.Network.bytes_sent
  description: A - exfil volume signal
  type: String
- contextPath: SOCFramework.Network.bytes_received
  description: A - download volume signal
  type: String
- contextPath: SOCFramework.Network.rule_name
  description: A - which policy triggered
  type: String
- contextPath: SOCFramework.Network.nat_src_ip
  description: A - pre-NAT source
  type: String
- contextPath: SOCFramework.Network.tactic
  description: A - MITRE tactic
  type: String
- contextPath: SOCFramework.Network.technique
  description: A - MITRE technique
  type: String
- contextPath: SOCFramework.Network.normalization_source
  description: Always 'network'
  type: String
