Packs/soc-optimization-unified/Playbooks/Foundation_-_Normalize_Artifacts_V3.yml
adopted: true
fromversion: 5.0.0
id: Foundation - Normalize Artifacts_V3
version: -1
contentitemexportablefields:
  '17':
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.3.1
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
name: Foundation - Normalize Artifacts_V3
description: Routes to the per-product normalizer based on SOCFramework.Product.category.
  Follows the SOC Analysis_V3 pattern — one condition, one branch fires, all paths
  converge at Done. Generic normalizer is the fallback.
tags:
- SOC
- SOC_Framework_Unified
- Analysis
- Foundation
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 87571fef-30de-4eb7-b425-aefb49745ea9
    type: start
    task:
      id: 87571fef-30de-4eb7-b425-aefb49745ea9
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 0, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 24b303f7-6c51-44cc-849a-1ebb5c97dd1d
    type: title
    task:
      id: 24b303f7-6c51-44cc-849a-1ebb5c97dd1d
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 0, "y": 640}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: f56e7f8f-d9ae-4042-a0e1-9c575880e17c
    type: condition
    task:
      id: f56e7f8f-d9ae-4042-a0e1-9c575880e17c
      version: -1
      name: Product Category
      description: Routes to per-product normalizer based on SOCFramework.Product.category.
      type: condition
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '16'
      Email:
      - '11'
      Endpoint:
      - '12'
      Identity:
      - '13'
      Network:
      - '14'
      Cloud:
      - '15'
    separatecontext: false
    conditions:
    - label: Email
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductKey
            iscontext: true
          right:
            value:
              simple: Email
          ignorecase: true
    - label: Endpoint
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductKey
            iscontext: true
          right:
            value:
              simple: Endpoint
          ignorecase: true
    - label: Identity
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductKey
            iscontext: true
          right:
            value:
              simple: Identity
          ignorecase: true
    - label: Network
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductKey
            iscontext: true
          right:
            value:
              simple: Network
          ignorecase: true
    - label: Cloud
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.ProductKey
            iscontext: true
          right:
            value:
              simple: Cloud
          ignorecase: true
    continueonerrortype: ''
    view: '{"position": {"x": 0, "y": 220}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: b364d42a-5ac8-4b1d-baef-8864b2f0474b
    type: playbook
    task:
      id: b364d42a-5ac8-4b1d-baef-8864b2f0474b
      version: -1
      name: Foundation - Normalize Email
      description: Reads issue.* and writes SOCFramework.Email.* keys.
      playbookName: Foundation - Normalize Email_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    separatecontext: true
    continueonerror: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: '{"position": {"x": -1000, "y": 430}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 1cb74ad7-1eba-4aec-b8a0-00dad4fcdfb2
    type: playbook
    task:
      id: 1cb74ad7-1eba-4aec-b8a0-00dad4fcdfb2
      version: -1
      name: Foundation - Normalize Endpoint
      description: Reads issue.* and writes SOCFramework.Endpoint.* keys.
      playbookName: Foundation - Normalize Endpoint_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    separatecontext: true
    continueonerror: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: '{"position": {"x": -600, "y": 430}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: 9c0be043-05f2-4b6b-a6c4-96cc6b1cdd2b
    type: playbook
    task:
      id: 9c0be043-05f2-4b6b-a6c4-96cc6b1cdd2b
      version: -1
      name: Foundation - Normalize Identity
      description: Reads issue.* and writes SOCFramework.Identity.* keys.
      playbookName: Foundation - Normalize Identity_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    separatecontext: true
    continueonerror: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: '{"position": {"x": -200, "y": 430}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: 7a89d33e-b622-4b52-aeaa-d8746b2c3519
    type: playbook
    task:
      id: 7a89d33e-b622-4b52-aeaa-d8746b2c3519
      version: -1
      name: Foundation - Normalize Network
      description: Reads issue.* and writes SOCFramework.Network.* keys.
      playbookName: Foundation - Normalize Network_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    separatecontext: true
    continueonerror: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: '{"position": {"x": 200, "y": 430}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: e41e64b2-48f4-4893-80ae-07bcbe4bcc2c
    type: playbook
    task:
      id: e41e64b2-48f4-4893-80ae-07bcbe4bcc2c
      version: -1
      name: Foundation - Normalize Cloud
      description: Reads issue.* and writes SOCFramework.Cloud.* keys.
      playbookName: Foundation - Normalize Cloud_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    separatecontext: true
    continueonerror: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: '{"position": {"x": 600, "y": 430}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: 055c73d7-9204-49ba-a802-aa1be55779ac
    type: playbook
    task:
      id: 055c73d7-9204-49ba-a802-aa1be55779ac
      version: -1
      name: Foundation - Normalize Generic
      description: Reads issue.* and writes SOCFramework.Generic.* keys.
      playbookName: Foundation - Normalize Generic_V3
      type: playbook
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '4'
    separatecontext: true
    continueonerror: true
    continueonerrortype: ''
    loop:
      iscommand: false
      exitCondition: ''
      wait: 1
      max: 100
    view: '{"position": {"x": 1000, "y": 430}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 700, "width":
  2400, "x": -1200, "y": 50}}}'
inputs:
- key: ProductKey
  '18':
    simple: ${SOCFramework.Product.category}
  required: false
  description: The product category key used to route to the correct per-product normalizer.
    Defaults to SOCFramework.Product.category set by Foundation - Product Classification_V3.
    Override only when calling this playbook directly with a known category.
  playbookInputQuery: null
outputs: []
