Packs/soc-optimization-unified/Playbooks/Foundation_Common_-_Extract_Indicators_from_alerts.yml
id: Foundation Common - Extract Indicators from alerts_V3
version: 7
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    _packName: SOC Framework Unified
    itemVersion: 2.1.16
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation Common - Extract Indicators from alerts_V3
description: This is a common playbook intended to integrate the Indicator Extraction
  to all automated alerts.
tags:
- SOC
- SOC_Framework_Unified
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 775ef611-299c-4899-87c7-60d32884730a
    type: start
    task:
      id: 775ef611-299c-4899-87c7-60d32884730a
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 50\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 5acfdb6d-b65e-4b7d-896a-8d57c21733cd
    type: regular
    task:
      id: 5acfdb6d-b65e-4b7d-896a-8d57c21733cd
      version: -1
      name: Extract indicators from Issue
      description: Extract all indicators according to server indicators configuration
      script: Builtin|||extractIndicators
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
    nexttasks:
      '#none#':
      - '3'
    scriptarguments:
      text:
        simple: ${issue}
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
    continueonerror: true
  '3':
    id: '3'
    taskid: 0c830526-70e7-4df8-bffc-214c075794ba
    type: title
    task:
      id: 0c830526-70e7-4df8-bffc-214c075794ba
      version: -1
      name: End Playbook
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 400\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n \
  \     \"height\": 410,\n      \"width\": 380,\n      \"x\": 50,\n      \"y\": 50\n\
  \    }\n  }\n}"
inputs: []
outputs: []
sourceplaybookid: Foundation Common - Extract Indicators from alerts_V3
quiet: true
adopted: true
fromversion: 5.0.0
