Packs/soc-optimization-unified/Playbooks/Foundation_-_Normalize_Network_V3.yml
adopted: true
fromversion: 5.0.0
id: Foundation - Normalize Network_V3
version: -1
contentitemexportablefields:
  '31':
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.5.0
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
name: Foundation - Normalize Network_V3
description: Normalizes Network alert fields into the SOCFramework.Network.* contract.
  Reads issue.* directly. Sequential chain — one connection per task.
tags:
- SOC
- SOC_Framework_Unified
- Foundation
- Network
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 754b4432-823c-48ec-94a9-7ae9e01a21c3
    type: start
    task:
      id: 754b4432-823c-48ec-94a9-7ae9e01a21c3
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 407948f9-37f1-40a5-8536-778a7551bc70
    type: title
    task:
      id: 407948f9-37f1-40a5-8536-778a7551bc70
      version: -1
      name: Set SOCFramework.Network Fields
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 190}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '30':
    id: '30'
    taskid: bc2caeea-182e-408f-8741-3a9bba4fcb14
    type: title
    task:
      id: bc2caeea-182e-408f-8741-3a9bba4fcb14
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3600}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 87f6b1f1-4543-4bdd-bbca-34ec3f878919
    type: regular
    task:
      id: 87f6b1f1-4543-4bdd-bbca-34ec3f878919
      version: -1
      name: Set src_ip
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.src_ip
      value:
        simple: ${issue.sourceip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 360}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: 7b8cadd5-7018-45fb-92ca-953f920464bb
    type: regular
    task:
      id: 7b8cadd5-7018-45fb-92ca-953f920464bb
      version: -1
      name: Set src_port
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.src_port
      value:
        simple: ${issue.sourceport}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 520}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 8b4af71c-ef13-4315-aab6-fa869a4e534a
    type: regular
    task:
      id: 8b4af71c-ef13-4315-aab6-fa869a4e534a
      version: -1
      name: Set src_hostname
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.src_hostname
      value:
        simple: ${issue.sourcehostname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 680}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: e681a721-2190-4fd5-9bae-6b6846fb3756
    type: regular
    task:
      id: e681a721-2190-4fd5-9bae-6b6846fb3756
      version: -1
      name: Set src_username
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.src_username
      value:
        simple: ${issue.username}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 840}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: d33fe02c-fc94-475c-9d7b-4f2203f24fe4
    type: regular
    task:
      id: d33fe02c-fc94-475c-9d7b-4f2203f24fe4
      version: -1
      name: Set dst_ip
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.dst_ip
      value:
        simple: ${issue.destinationip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1000}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: d58b0844-059d-4fc0-b49c-336691549284
    type: regular
    task:
      id: d58b0844-059d-4fc0-b49c-336691549284
      version: -1
      name: Set dst_port
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '16'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.dst_port
      value:
        simple: ${issue.destinationport}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1160}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: 74a0cdfe-4ced-42ff-a5de-082db2783cca
    type: regular
    task:
      id: 74a0cdfe-4ced-42ff-a5de-082db2783cca
      version: -1
      name: Set dst_hostname
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '17'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.dst_hostname
      value:
        simple: ${issue.destinationhostname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1320}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: c364e5f5-59d7-4621-9578-d8ccd8eee53f
    type: regular
    task:
      id: c364e5f5-59d7-4621-9578-d8ccd8eee53f
      version: -1
      name: Set protocol
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '18'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.protocol
      value:
        simple: ${issue.protocol}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1480}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: 45d1ad81-7681-4f9d-a4fa-3941d4db7e55
    type: regular
    task:
      id: 45d1ad81-7681-4f9d-a4fa-3941d4db7e55
      version: -1
      name: Set app
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '19'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.app
      value:
        simple: ${issue.app}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1640}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: ca0e5d66-db73-4fc4-8923-44152a1a9654
    type: regular
    task:
      id: ca0e5d66-db73-4fc4-8923-44152a1a9654
      version: -1
      name: Set action
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.action
      value:
        simple: ${issue.action}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1800}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: c1b7d80d-c09b-4e8a-8772-fe3acb489590
    type: regular
    task:
      id: c1b7d80d-c09b-4e8a-8772-fe3acb489590
      version: -1
      name: Set direction
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.direction
      value:
        simple: ${issue.networkdirection}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1960}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: 67231012-69bc-4b51-8f3e-11b3b80c0826
    type: regular
    task:
      id: 67231012-69bc-4b51-8f3e-11b3b80c0826
      version: -1
      name: Set url
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '22'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.url
      value:
        simple: ${issue.url}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2120}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '22':
    id: '22'
    taskid: 41994ab3-da84-4d93-9056-ada0710c0849
    type: regular
    task:
      id: 41994ab3-da84-4d93-9056-ada0710c0849
      version: -1
      name: Set domain
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '23'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.domain
      value:
        simple: ${issue.domainname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2280}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '23':
    id: '23'
    taskid: db63a404-97ab-42af-9572-6faf41aac33b
    type: regular
    task:
      id: db63a404-97ab-42af-9572-6faf41aac33b
      version: -1
      name: Set bytes_sent
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '24'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.bytes_sent
      value:
        simple: ${issue.bytessent}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2440}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '24':
    id: '24'
    taskid: a9b10e73-0f3f-4248-a612-86db07a4da56
    type: regular
    task:
      id: a9b10e73-0f3f-4248-a612-86db07a4da56
      version: -1
      name: Set bytes_received
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '25'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.bytes_received
      value:
        simple: ${issue.bytesreceived}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2600}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '25':
    id: '25'
    taskid: 1edf67be-c89a-43d4-9246-7a3bb5d6c476
    type: regular
    task:
      id: 1edf67be-c89a-43d4-9246-7a3bb5d6c476
      version: -1
      name: Set rule_name
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '26'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.rule_name
      value:
        simple: ${issue.rulename}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2760}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '26':
    id: '26'
    taskid: 26fa327f-8261-41a1-8f9b-fc8ceccfddde
    type: regular
    task:
      id: 26fa327f-8261-41a1-8f9b-fc8ceccfddde
      version: -1
      name: Set nat_src_ip
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '27'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.nat_src_ip
      value:
        simple: ${issue.natsourceip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2920}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '27':
    id: '27'
    taskid: 503baf1a-711e-4ee8-bec8-d294ae5377e3
    type: regular
    task:
      id: 503baf1a-711e-4ee8-bec8-d294ae5377e3
      version: -1
      name: Set tactic
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '28'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.tactic
      value:
        simple: ${issue.mitretacticname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3080}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '28':
    id: '28'
    taskid: 5334dedb-9909-4c4f-8f56-b560d25468c7
    type: regular
    task:
      id: 5334dedb-9909-4c4f-8f56-b560d25468c7
      version: -1
      name: Set technique
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '29'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.technique
      value:
        simple: ${issue.mitretechniquename}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3240}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '29':
    id: '29'
    taskid: 3de27a5b-b626-4db0-8be5-4fc943eaa676
    type: regular
    task:
      id: 3de27a5b-b626-4db0-8be5-4fc943eaa676
      version: -1
      name: Set normalization_source
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '30'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Network.normalization_source
      value:
        simple: network
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3400}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 3700, "width":
  380, "x": 280, "y": 50}}}'
inputs: []
outputs:
- contextPath: SOCFramework.Network.src_ip
  description: A/C/E - block-indicator source
  type: String
- contextPath: SOCFramework.Network.src_port
  description: A - port context
  type: String
- contextPath: SOCFramework.Network.src_hostname
  description: A - source host
  type: String
- contextPath: SOCFramework.Network.src_username
  description: A - identity pivot
  type: String
- contextPath: SOCFramework.Network.dst_ip
  description: A/C - block-indicator dest
  type: String
- contextPath: SOCFramework.Network.dst_port
  description: A - service identification
  type: String
- contextPath: SOCFramework.Network.dst_hostname
  description: A - dest resolution
  type: String
- contextPath: SOCFramework.Network.protocol
  description: A - L4 context
  type: String
- contextPath: SOCFramework.Network.app
  description: A - L7 application
  type: String
- contextPath: SOCFramework.Network.action
  description: A - allow/deny/drop/reset
  type: String
- contextPath: SOCFramework.Network.direction
  description: A - inbound/outbound
  type: String
- contextPath: SOCFramework.Network.url
  description: A/C - soc-block-indicator URL
  type: String
- contextPath: SOCFramework.Network.domain
  description: A/C - soc-block-indicator domain
  type: String
- contextPath: SOCFramework.Network.bytes_sent
  description: A - exfil volume signal
  type: String
- contextPath: SOCFramework.Network.bytes_received
  description: A - download volume signal
  type: String
- contextPath: SOCFramework.Network.rule_name
  description: A - which policy triggered
  type: String
- contextPath: SOCFramework.Network.nat_src_ip
  description: A - pre-NAT source
  type: String
- contextPath: SOCFramework.Network.tactic
  description: A - MITRE tactic
  type: String
- contextPath: SOCFramework.Network.technique
  description: A - MITRE technique
  type: String
- contextPath: SOCFramework.Network.normalization_source
  description: Always 'network'
  type: String
