Packs/soc-optimization-unified/Playbooks/Foundation_-_Normalize_Email_V3.yml
adopted: true
fromversion: 5.0.0
id: Foundation - Normalize Email_V3
version: 1
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.5.0
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Normalize Email_V3
description: Normalizes Email alert fields into the SOCFramework.Email.* contract.
  Reads issue.* directly. Sequential chain — one connection per task.
tags:
- SOC
- SOC_Framework_Unified
- Foundation
- Email
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: b3cec5b5-2246-4c4c-a0bb-42c4bd0595c7
    type: start
    task:
      id: 953ea6b8-ee26-4689-95b6-47504aece27a
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: c985c90a-4e72-49d1-9f80-db7ea684ce5a
    type: title
    task:
      id: d44cb3c7-8d5a-4044-8f1a-0ab53924df9d
      version: -1
      name: Set SOCFramework.Email Fields
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 190}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '31':
    id: '31'
    taskid: 3bf8d129-1c6c-4542-9891-5d89d2c0b19f
    type: title
    task:
      id: b28d324f-fc86-49c4-b2c9-7d816315bdf0
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3760}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 80252570-03a5-4a71-a0a6-d55711e8029f
    type: regular
    task:
      id: f5d6ef13-4a6a-4469-bdf5-89e861e38329
      version: -1
      name: Set sender
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.sender
      value:
        simple: ${issue.fw_email_sender}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 360}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: d8bfa373-c621-4b7b-8b0b-25e81e769986
    type: regular
    task:
      id: bfa16d57-7c66-4f05-b2d6-b1533a1ac74a
      version: -1
      name: Set recipient
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.recipient
      value:
        simple: ${issue.fw_email_recipient}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 520}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 68230d51-9bf9-4002-90a2-604bdd7381e9
    type: regular
    task:
      id: 9f432db2-ed84-462b-a3d2-ed07ef2a05dd
      version: -1
      name: Set subject
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.subject
      value:
        simple: ${issue.fw_email_subject}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 680}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: cbacb5a6-26f3-45e3-b095-61b598fc0ef4
    type: regular
    task:
      id: 79579338-943e-4ef6-8628-b6f33af92372
      version: -1
      name: Set message_id
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.message_id
      value:
        simple: ${issue.emailmessageid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 840}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: 6cf22144-80d0-4b09-864a-0a254e540547
    type: regular
    task:
      id: 59474540-2433-46ce-9b29-52a496eb8969
      version: -1
      name: Set sender_ip
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.sender_ip
      value:
        simple: ${issue.emailsenderip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1000}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: e294a455-e7a2-4051-922e-eb4d3e573b26
    type: regular
    task:
      id: e9705879-d48e-4ca4-8797-ed4ac4fad569
      version: -1
      name: Set reported_by
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '16'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.reported_by
      value:
        simple: ${issue.reporteremailaddress}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1160}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: 9215f9f0-d92a-4c36-8289-8a24f16467d8
    type: regular
    task:
      id: df2a4c4f-bcb2-4b5c-9d9b-5fa581e8cf20
      version: -1
      name: Set threat_url
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '17'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.threat_url
      value:
        simple: ${issue.socfwemailthreaturl}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1320}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: cf4375bf-d39b-44d9-a49e-1c2dbd844a0a
    type: regular
    task:
      id: 2faa8f6a-3409-4f0d-a228-2016a82b1079
      version: -1
      name: Set threat_type
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '18'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.threat_type
      value:
        simple: ${issue.socfwemailthreattype}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1480}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: 803604a0-05a4-404d-a329-1e33e5d825a0
    type: regular
    task:
      id: 3d97f0de-b191-411e-b519-6f32b5a59758
      version: -1
      name: Set threat_status
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '19'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.threat_status
      value:
        simple: ${issue.socfwemailthreatstatus}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1640}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: c894d3f3-99db-43b3-9e13-953d443bdc98
    type: regular
    task:
      id: b8869d9e-2231-4d72-8a5a-5cfdf107b709
      version: -1
      name: Set threat_id
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.threat_id
      value:
        simple: ${issue.socfwemailthreatid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1800}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: 3bf3ba07-1ddd-4d02-9e4b-e6cc244a80f8
    type: regular
    task:
      id: 521073fb-9004-4919-9d94-8a6b57a482fb
      version: -1
      name: Set classification
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.classification
      value:
        simple: ${issue.socfwemailclassification}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1960}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: 92cfc241-a3ad-40ac-a38c-b15bd053cada
    type: regular
    task:
      id: 9eecbac3-834d-40ba-a60f-5dd8d5bb934c
      version: -1
      name: Set phish_score
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '22'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.phish_score
      value:
        simple: ${issue.socfwemailphishscore}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2120}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '22':
    id: '22'
    taskid: 7650dee6-cd46-4124-a546-453f313697f5
    type: regular
    task:
      id: 960b1635-ab00-4d99-a880-61618176357e
      version: -1
      name: Set malware_score
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '23'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.malware_score
      value:
        simple: ${issue.socfwemailmalwarescore}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2280}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '23':
    id: '23'
    taskid: f549b37c-4f57-4313-ae93-2f0891a9942c
    type: regular
    task:
      id: c840b5ef-3fe9-4e4a-9ca8-9b759f2ccb8c
      version: -1
      name: Set delivery_action
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '24'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.delivery_action
      value:
        simple: ${issue.socfwemaildeliveryaction}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2440}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '24':
    id: '24'
    taskid: ca5b35ef-def7-4e8b-8f1b-6301168c48af
    type: regular
    task:
      id: d0c5f4c6-8f40-4380-b780-57925fc098c0
      version: -1
      name: Set direction
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '25'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.direction
      value:
        simple: ${issue.socfwemaildirection}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2600}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '25':
    id: '25'
    taskid: d7e4a24e-f02f-4601-9ba2-9c27ec74e3d1
    type: regular
    task:
      id: bb60e6da-5c61-4ba3-94ed-1d2811c2ec94
      version: -1
      name: Set attachment_name
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '26'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.attachment_name
      value:
        simple: ${issue.action_file_name}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2760}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '26':
    id: '26'
    taskid: b7e4540d-b01f-4630-ac42-0af24fa855e6
    type: regular
    task:
      id: 213076ed-c21e-4c6b-9e15-a8fa56eb8128
      version: -1
      name: Set attachment_sha256
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '27'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.attachment_sha256
      value:
        simple: ${issue.action_file_sha256}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2920}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '27':
    id: '27'
    taskid: 119b44a1-ecfe-428c-bf0c-aabbaab92cb8
    type: regular
    task:
      id: f9647cc4-5870-494d-921d-7b3337d4bc43
      version: -1
      name: Set campaign_id
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '28'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.campaign_id
      value:
        simple: ${issue.socfwemailcampaignid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3080}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '28':
    id: '28'
    taskid: ea2cea35-098c-4feb-92c5-cc8eea2b9919
    type: regular
    task:
      id: 5880c5fd-450c-406b-b425-6fe0bbf62c2f
      version: -1
      name: Set click_ip
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '29'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.click_ip
      value:
        simple: ${issue.socfwemailclickip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3240}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '29':
    id: '29'
    taskid: f7f89946-8776-43c4-93d2-f08b72034f22
    type: regular
    task:
      id: 6e7ba831-35d5-4bc2-a755-98b1b8ea9636
      version: -1
      name: Set click_time
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '30'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.click_time
      value:
        simple: ${issue.socfwemailclicktime}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3400}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '30':
    id: '30'
    taskid: a2258e5b-2ccf-4cc5-828f-11bfbe745964
    type: regular
    task:
      id: f9196f93-6537-4647-b0db-9a3e756c5b64
      version: -1
      name: Set normalization_source
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '31'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Email.normalization_source
      value:
        simple: email
    separatecontext: false
    continueonerror: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3560}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 3860, "width":
  380, "x": 280, "y": 50}}}'
inputs: []
inputSections:
- inputs: []
  name: General (Inputs group)
  description: ''
outputSections:
- outputs:
  - SOCFramework.Email.sender
  - SOCFramework.Email.recipient
  - SOCFramework.Email.subject
  - SOCFramework.Email.message_id
  - SOCFramework.Email.sender_ip
  - SOCFramework.Email.reported_by
  - SOCFramework.Email.threat_url
  - SOCFramework.Email.threat_type
  - SOCFramework.Email.threat_status
  - SOCFramework.Email.threat_id
  - SOCFramework.Email.classification
  - SOCFramework.Email.phish_score
  - SOCFramework.Email.malware_score
  - SOCFramework.Email.delivery_action
  - SOCFramework.Email.direction
  - SOCFramework.Email.attachment_name
  - SOCFramework.Email.attachment_sha256
  - SOCFramework.Email.campaign_id
  - SOCFramework.Email.click_ip
  - SOCFramework.Email.click_time
  - SOCFramework.Email.normalization_source
  name: SOCFramework Email Contract
  description: SOCFramework.Email.* keys for downstream NIST IR lifecycle
outputs:
- contextPath: SOCFramework.Email.sender
  description: A/C/E - block-indicator, search-and-delete
  type: String
- contextPath: SOCFramework.Email.recipient
  description: A/E - search-and-delete scope
  type: String
- contextPath: SOCFramework.Email.subject
  description: A/E - search-and-delete targeting
  type: String
- contextPath: SOCFramework.Email.message_id
  description: A/E - dedup and search-and-delete
  type: String
- contextPath: SOCFramework.Email.sender_ip
  description: A/C - block-indicator
  type: String
- contextPath: SOCFramework.Email.reported_by
  description: A - user-reported flow only
  type: String
- contextPath: SOCFramework.Email.threat_url
  description: A/C - block-indicator target
  type: String
- contextPath: SOCFramework.Email.threat_type
  description: A - url/attachment/domain branch
  type: String
- contextPath: SOCFramework.Email.threat_status
  description: A - urgency gate
  type: String
- contextPath: SOCFramework.Email.threat_id
  description: A - vendor tracking ref
  type: String
- contextPath: SOCFramework.Email.classification
  description: A - phish/malware/spam/impostor
  type: String
- contextPath: SOCFramework.Email.phish_score
  description: A - feeds Analysis.confidence
  type: String
- contextPath: SOCFramework.Email.malware_score
  description: A - gates soc-detonate-file
  type: String
- contextPath: SOCFramework.Email.delivery_action
  description: A - routing gate
  type: String
- contextPath: SOCFramework.Email.direction
  description: C - containment scope
  type: String
- contextPath: SOCFramework.Email.attachment_name
  description: E - eradication reference
  type: String
- contextPath: SOCFramework.Email.attachment_sha256
  description: A/C - detonation + block
  type: String
- contextPath: SOCFramework.Email.campaign_id
  description: A - campaign grouping, blast radius
  type: String
- contextPath: SOCFramework.Email.click_ip
  description: A/C - lateral risk
  type: String
- contextPath: SOCFramework.Email.click_time
  description: A - timeline
  type: String
- contextPath: SOCFramework.Email.normalization_source
  description: Always 'email'
  type: String
