Packs/soc-optimization-unified/Playbooks/Foundation_-_Normalize_Identity_V3.yml
adopted: true
fromversion: 5.0.0
id: Foundation - Normalize Identity_V3
version: -1
contentitemexportablefields:
  '29':
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.5.0
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
name: Foundation - Normalize Identity_V3
description: Normalizes Identity alert fields into the SOCFramework.Identity.* contract.
  Reads issue.* directly. Sequential chain — one connection per task.
tags:
- SOC
- SOC_Framework_Unified
- Foundation
- Identity
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 7b37faf3-cac0-4dc7-93f9-cb5ba6487196
    type: start
    task:
      id: 7b37faf3-cac0-4dc7-93f9-cb5ba6487196
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 3ce73d72-97e4-429f-b995-2f973c9ca86d
    type: title
    task:
      id: 3ce73d72-97e4-429f-b995-2f973c9ca86d
      version: -1
      name: Set SOCFramework.Identity Fields
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 190}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '28':
    id: '28'
    taskid: 83a92d7b-c874-4dca-adbf-1eebe384d201
    type: title
    task:
      id: 83a92d7b-c874-4dca-adbf-1eebe384d201
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3280}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: e19ac918-7bb4-47a3-a8eb-04f3993e34d0
    type: regular
    task:
      id: e19ac918-7bb4-47a3-a8eb-04f3993e34d0
      version: -1
      name: Set username
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.username
      value:
        simple: ${issue.username}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 360}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: cc9548f8-58ce-4964-8649-2e62a4af0f78
    type: regular
    task:
      id: cc9548f8-58ce-4964-8649-2e62a4af0f78
      version: -1
      name: Set user_id
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.user_id
      value:
        simple: ${issue.userid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 520}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: f0c74f01-e998-4e58-986c-291a86a3a81f
    type: regular
    task:
      id: f0c74f01-e998-4e58-986c-291a86a3a81f
      version: -1
      name: Set user_email
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.user_email
      value:
        simple: ${issue.useremail}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 680}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: 00d9d9e5-a729-4ffb-a0ab-8b2c4c90e16b
    type: regular
    task:
      id: 00d9d9e5-a729-4ffb-a0ab-8b2c4c90e16b
      version: -1
      name: Set user_display_name
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.user_display_name
      value:
        simple: ${issue.userdisplayname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 840}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: 7fe91753-9d20-4827-b6c1-02517cdfa422
    type: regular
    task:
      id: 7fe91753-9d20-4827-b6c1-02517cdfa422
      version: -1
      name: Set auth_source
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.auth_source
      value:
        simple: ${issue.authsource}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1000}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: a694e927-cc78-4ac0-b394-2605664553d8
    type: regular
    task:
      id: a694e927-cc78-4ac0-b394-2605664553d8
      version: -1
      name: Set event_type
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '16'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.event_type
      value:
        simple: ${issue.eventtype}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1160}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: de6c2a7d-11a8-401a-809c-5d43f4bcb911
    type: regular
    task:
      id: de6c2a7d-11a8-401a-809c-5d43f4bcb911
      version: -1
      name: Set outcome
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '17'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.outcome
      value:
        simple: ${issue.eventoutcome}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1320}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: fecf5031-959f-4aa1-ba87-34c2e21d1122
    type: regular
    task:
      id: fecf5031-959f-4aa1-ba87-34c2e21d1122
      version: -1
      name: Set client_ip
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '18'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.client_ip
      value:
        simple: ${issue.sourceip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1480}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: 8409c731-b2c1-4b32-b730-b8fcdc8a4752
    type: regular
    task:
      id: 8409c731-b2c1-4b32-b730-b8fcdc8a4752
      version: -1
      name: Set country
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '19'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.country
      value:
        simple: ${issue.sourcecountry}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1640}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: 074e28a8-21ab-426b-9c72-a910bcfe7c35
    type: regular
    task:
      id: 074e28a8-21ab-426b-9c72-a910bcfe7c35
      version: -1
      name: Set user_agent
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.user_agent
      value:
        simple: ${issue.useragent}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1800}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: 75d81ee4-127d-4238-8b67-3541ec09517d
    type: regular
    task:
      id: 75d81ee4-127d-4238-8b67-3541ec09517d
      version: -1
      name: Set device_id
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.device_id
      value:
        simple: ${issue.deviceid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1960}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: 3b0c6524-d5cf-4f9c-84ea-7c4b964f001c
    type: regular
    task:
      id: 3b0c6524-d5cf-4f9c-84ea-7c4b964f001c
      version: -1
      name: Set session_id
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '22'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.session_id
      value:
        simple: ${issue.sessionid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2120}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '22':
    id: '22'
    taskid: 5a91c879-46f2-4ce8-9dae-fe2c5ed8abde
    type: regular
    task:
      id: 5a91c879-46f2-4ce8-9dae-fe2c5ed8abde
      version: -1
      name: Set mfa_method
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '23'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.mfa_method
      value:
        simple: ${issue.mfamethod}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2280}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '23':
    id: '23'
    taskid: abddd6d6-a913-4d68-adea-ac8288de7b7f
    type: regular
    task:
      id: abddd6d6-a913-4d68-adea-ac8288de7b7f
      version: -1
      name: Set risk_level
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '24'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.risk_level
      value:
        simple: ${issue.userrisk}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2440}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '24':
    id: '24'
    taskid: 7d0eed96-5249-461f-b45d-6c4a84f84461
    type: regular
    task:
      id: 7d0eed96-5249-461f-b45d-6c4a84f84461
      version: -1
      name: Set target_resource
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '25'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.target_resource
      value:
        simple: ${issue.targetresource}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2600}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '25':
    id: '25'
    taskid: f1040836-c01c-40ba-b1db-ef4d9ef00869
    type: regular
    task:
      id: f1040836-c01c-40ba-b1db-ef4d9ef00869
      version: -1
      name: Set source_hostname
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '26'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.source_hostname
      value:
        simple: ${issue.sourcehostname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2760}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '26':
    id: '26'
    taskid: a3c80a47-3bfc-4437-8c70-7f0de51e7c43
    type: regular
    task:
      id: a3c80a47-3bfc-4437-8c70-7f0de51e7c43
      version: -1
      name: Set logon_type
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '27'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.logon_type
      value:
        simple: ${issue.logontype}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2920}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '27':
    id: '27'
    taskid: 20a5a89b-d768-4ea4-aaa0-0af2b50c69c1
    type: regular
    task:
      id: 20a5a89b-d768-4ea4-aaa0-0af2b50c69c1
      version: -1
      name: Set normalization_source
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '28'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Identity.normalization_source
      value:
        simple: identity
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3080}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 3380, "width":
  380, "x": 280, "y": 50}}}'
inputs: []
outputs:
- contextPath: SOCFramework.Identity.username
  description: A/C/E/R - all actions target this
  type: String
- contextPath: SOCFramework.Identity.user_id
  description: C/E/R - disable/reset/enable target
  type: String
- contextPath: SOCFramework.Identity.user_email
  description: C/E - Comms + reset target
  type: String
- contextPath: SOCFramework.Identity.user_display_name
  description: A - warroom readability
  type: String
- contextPath: SOCFramework.Identity.auth_source
  description: A - which IdP (okta/azure_ad/o365)
  type: String
- contextPath: SOCFramework.Identity.event_type
  description: A - login/mfa/token/password_reset
  type: String
- contextPath: SOCFramework.Identity.outcome
  description: A - success/failure/denied
  type: String
- contextPath: SOCFramework.Identity.client_ip
  description: A/C - geo anomaly, block-indicator
  type: String
- contextPath: SOCFramework.Identity.country
  description: A - impossible travel
  type: String
- contextPath: SOCFramework.Identity.user_agent
  description: A - device fingerprint
  type: String
- contextPath: SOCFramework.Identity.device_id
  description: A - device trust context
  type: String
- contextPath: SOCFramework.Identity.session_id
  description: C/E - soc-revoke-tokens target
  type: String
- contextPath: SOCFramework.Identity.mfa_method
  description: A - MFA bypass detection
  type: String
- contextPath: SOCFramework.Identity.risk_level
  description: A - feeds Analysis.confidence
  type: String
- contextPath: SOCFramework.Identity.target_resource
  description: A - what was accessed
  type: String
- contextPath: SOCFramework.Identity.source_hostname
  description: A - links to Endpoint namespace
  type: String
- contextPath: SOCFramework.Identity.logon_type
  description: A - network/interactive/remote
  type: String
- contextPath: SOCFramework.Identity.normalization_source
  description: Always 'identity'
  type: String
