Packs/soc-optimization-unified/Playbooks/Foundation_-_Normalize_Generic_V3.yml
adopted: true
fromversion: 5.0.0
id: Foundation - Normalize Generic_V3
version: 1
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.5.0
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Normalize Generic_V3
description: Normalizes Generic alert fields into the SOCFramework.Generic.* contract.
  Reads issue.* directly. Sequential chain — one connection per task.
tags:
- SOC
- SOC_Framework_Unified
- Foundation
- Generic
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 68aeb78a-45fb-499f-a71d-7803d13a396c
    type: start
    task:
      id: 16ac951f-8a05-4e1b-9293-a602450102e2
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 15cd6078-5cf2-4765-b9b8-18ca32843eb7
    type: title
    task:
      id: 3e955890-7e8d-48af-aa06-bbc3d46e8b01
      version: -1
      name: Set SOCFramework.Generic Fields
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 190}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: 5252998f-4653-4db3-962f-4aeeb5599617
    type: title
    task:
      id: b45c8de3-32a3-410c-a179-411152b724fc
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2000}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: 4a930cb6-86d9-447b-84c9-a6f928d3c376
    type: regular
    task:
      id: 6f5a9af1-1d1c-4e09-9251-74ca88f074a3
      version: -1
      name: Set primary_entity_type
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Generic.primary_entity_type
      value:
        simple: ${issue.primaryusertype}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 360}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: 1177acee-4e67-4494-9c89-26879d742272
    type: regular
    task:
      id: c77e931f-6309-4d6d-b68d-06f2e6678d94
      version: -1
      name: Set primary_entity_value
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Generic.primary_entity_value
      value:
        simple: ${issue.username}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 520}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: 250df73d-ccd4-4cb6-ad34-7850f5ac377b
    type: regular
    task:
      id: 466da30c-01ff-4538-b8ad-b77c17317718
      version: -1
      name: Set hostname
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Generic.hostname
      value:
        simple: ${issue.agent_hostname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 680}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: 1c724a7d-15f6-4731-99d0-39762dba0969
    type: regular
    task:
      id: 797cfe0d-7ae5-4490-8907-60bfb9422965
      version: -1
      name: Set source_ip
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Generic.source_ip
      value:
        simple: ${issue.sourceip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 840}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: 7b1f922b-9530-41c3-8fd4-9b9a03f5e76a
    type: regular
    task:
      id: 421f2376-562e-4a8b-8720-3b250250f541
      version: -1
      name: Set username
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Generic.username
      value:
        simple: ${issue.username}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1000}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: 33d79d17-dfea-402a-8389-7e36ae4844f0
    type: regular
    task:
      id: d9beeedc-8080-4e86-8233-ac14480bcfc2
      version: -1
      name: Set tactic
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '16'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Generic.tactic
      value:
        simple: ${issue.mitretacticname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1160}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: 1e8257a6-a9ad-4b53-8862-19e2d2faa135
    type: regular
    task:
      id: b3918503-879f-408a-9f1a-a6f3b438fa3d
      version: -1
      name: Set technique
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '17'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Generic.technique
      value:
        simple: ${issue.mitretechniquename}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1320}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: 757d0736-b62a-4654-a2c2-2b208c4a210e
    type: regular
    task:
      id: 0224c02e-f80b-4701-9dc5-fcdc3b46ead7
      version: -1
      name: Set alert_name
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '18'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Generic.alert_name
      value:
        simple: ${issue.name}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1480}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: 9d1f25f9-c909-44d8-a333-a84b19b84958
    type: regular
    task:
      id: 6c491a9f-450b-4e63-81b7-eb290db5e817
      version: -1
      name: Set alert_source
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '19'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Generic.alert_source
      value:
        simple: ${issue.sourcebrand}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1640}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: 82cdd25e-feed-496f-87cf-cc450d8ed422
    type: regular
    task:
      id: 4887631e-cd4c-4ed5-b4d2-ceb768c04a7e
      version: -1
      name: Set normalization_source
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Generic.normalization_source
      value:
        simple: generic
    separatecontext: false
    continueonerror: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1800}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 2100, "width":
  380, "x": 280, "y": 50}}}'
inputs: []
inputSections:
- inputs: []
  name: General (Inputs group)
  description: ''
outputSections:
- outputs:
  - SOCFramework.Generic.primary_entity_type
  - SOCFramework.Generic.primary_entity_value
  - SOCFramework.Generic.hostname
  - SOCFramework.Generic.source_ip
  - SOCFramework.Generic.username
  - SOCFramework.Generic.tactic
  - SOCFramework.Generic.technique
  - SOCFramework.Generic.alert_name
  - SOCFramework.Generic.alert_source
  - SOCFramework.Generic.normalization_source
  name: SOCFramework Generic Contract
  description: SOCFramework.Generic.* keys for downstream NIST IR lifecycle
outputs:
- contextPath: SOCFramework.Generic.primary_entity_type
  description: A - primary entity type
  type: String
- contextPath: SOCFramework.Generic.primary_entity_value
  description: A - best-effort primary entity
  type: String
- contextPath: SOCFramework.Generic.hostname
  description: A - best-effort host
  type: String
- contextPath: SOCFramework.Generic.source_ip
  description: A - best-effort source IP
  type: String
- contextPath: SOCFramework.Generic.username
  description: A - best-effort username
  type: String
- contextPath: SOCFramework.Generic.tactic
  description: A - MITRE tactic
  type: String
- contextPath: SOCFramework.Generic.technique
  description: A - MITRE technique
  type: String
- contextPath: SOCFramework.Generic.alert_name
  description: A - alert name for warroom
  type: String
- contextPath: SOCFramework.Generic.alert_source
  description: A - source integration
  type: String
- contextPath: SOCFramework.Generic.normalization_source
  description: Fallback — minimal hydration
  type: String
