Packs/soc-optimization-unified/Playbooks/Foundation_-_Normalize_Endpoint_V3.yml
adopted: true
id: Foundation - Normalize Endpoint_V3
version: -1
fromversion: 5.0.0
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.7.23
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
name: Foundation - Normalize Endpoint_V3
description: Normalizes Endpoint alert fields into the SOCFramework.Endpoint.* contract.
  Reads issue.* directly. Sequential chain — one connection per task.
tags:
- SOC
- SOC_Framework_Unified
- Foundation
- Endpoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 4a635a08-9199-4952-acca-bdc3d92f5362
    type: start
    task:
      id: 4a635a08-9199-4952-acca-bdc3d92f5362
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 33898784-9d88-4562-8f7c-71b88bfc0837
    type: title
    task:
      id: 33898784-9d88-4562-8f7c-71b88bfc0837
      version: -1
      name: Set SOCFramework.Endpoint Fields
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: e54bcf4d-2ef6-407c-8e9f-972bd03a082f
    type: regular
    task:
      id: e54bcf4d-2ef6-407c-8e9f-972bd03a082f
      version: -1
      name: Set hostname
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.hostname
      value:
        simple: ${issue.agent_hostname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 1728e7da-a49c-495f-9c4a-651f3d325d4c
    type: regular
    task:
      id: 1728e7da-a49c-495f-9c4a-651f3d325d4c
      version: -1
      name: Set endpoint_id
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.endpoint_id
      value:
        simple: ${issue.agent_id}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 520
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: be84975e-3882-4ad2-ae98-05b08f097b74
    type: regular
    task:
      id: be84975e-3882-4ad2-ae98-05b08f097b74
      version: -1
      name: Set os
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.os
      value:
        simple: ${issue.ostype}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 680
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: bcfc4ae5-d9cf-47ac-bb6c-403eabe449f7
    type: regular
    task:
      id: bcfc4ae5-d9cf-47ac-bb6c-403eabe449f7
      version: -1
      name: Set ip_address
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "14"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.ip_address
      value:
        simple: ${issue.action_local_ip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 840
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 39ddeb5c-9a4c-42d6-a050-8c292ecf7370
    type: regular
    task:
      id: 39ddeb5c-9a4c-42d6-a050-8c292ecf7370
      version: -1
      name: Set external_ip
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.external_ip
      value:
        simple: ${issue.deviceexternalips}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1000
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 94db0245-28e4-4907-a2b3-762d61180d99
    type: regular
    task:
      id: 94db0245-28e4-4907-a2b3-762d61180d99
      version: -1
      name: Set mac_address
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.mac_address
      value:
        simple: ${issue.mac}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: f98f6b22-f54b-4414-b0c2-28ab247065bc
    type: regular
    task:
      id: f98f6b22-f54b-4414-b0c2-28ab247065bc
      version: -1
      name: Set domain
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.domain
      value:
        simple: ${issue.agent_device_domain}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1320
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: be667a38-2c06-4fc6-906b-94a0ee1dbdcf
    type: regular
    task:
      id: be667a38-2c06-4fc6-906b-94a0ee1dbdcf
      version: -1
      name: Set username
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "18"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.username
      value:
        simple: ${issue.actor_effective_username}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1480
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 40ac1098-6482-4d09-b298-596817667ae9
    type: regular
    task:
      id: 40ac1098-6482-4d09-b298-596817667ae9
      version: -1
      name: Set user_principal
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.user_principal
      value:
        simple: ${issue.user_principal}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: f5285642-57e7-4709-9ed0-0230ad73a3be
    type: regular
    task:
      id: f5285642-57e7-4709-9ed0-0230ad73a3be
      version: -1
      name: Set process_name
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "20"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.process_name
      value:
        simple: ${issue.actor_process_image_name}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1800
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: d2e3e5e3-fba0-4b3b-a4ef-7ce7b6791097
    type: regular
    task:
      id: d2e3e5e3-fba0-4b3b-a4ef-7ce7b6791097
      version: -1
      name: Set process_sha256
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "21"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.process_sha256
      value:
        simple: ${issue.actor_process_image_sha256}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 610a9786-8d1a-46c9-b65d-a904457cfbce
    type: regular
    task:
      id: 610a9786-8d1a-46c9-b65d-a904457cfbce
      version: -1
      name: Set process_cmd
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "22"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.process_cmd
      value:
        simple: ${issue.actor_process_command_line}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: d9d0c800-cb53-45cf-9157-cabd1b8a0518
    type: regular
    task:
      id: d9d0c800-cb53-45cf-9157-cabd1b8a0518
      version: -1
      name: Set process_path
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "23"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.process_path
      value:
        simple: ${issue.actor_process_image_path}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 83d9d1b2-16af-45de-bba9-5f790df5338a
    type: regular
    task:
      id: 83d9d1b2-16af-45de-bba9-5f790df5338a
      version: -1
      name: Set process_pid
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "24"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.process_pid
      value:
        simple: ${issue.actor_process_os_pid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "24":
    id: "24"
    taskid: 40de1fb9-9e1d-456a-b592-fc50df00116d
    type: regular
    task:
      id: 40de1fb9-9e1d-456a-b592-fc50df00116d
      version: -1
      name: Set parent_process_name
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.parent_process_name
      value:
        simple: ${issue.parentprocessname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2600
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 67876a83-7cfe-4d31-9c6d-ced0926f98ff
    type: regular
    task:
      id: 67876a83-7cfe-4d31-9c6d-ced0926f98ff
      version: -1
      name: Set parent_process_sha256
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "26"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.parent_process_sha256
      value:
        simple: ${issue.parentprocesssha256}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "26":
    id: "26"
    taskid: 1daf524c-126c-4b72-b3f2-8d538eae2cb7
    type: regular
    task:
      id: 1daf524c-126c-4b72-b3f2-8d538eae2cb7
      version: -1
      name: Set parent_process_cmd
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.parent_process_cmd
      value:
        simple: ${issue.parentprocesscmd}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2920
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: bc33c866-0b10-47ca-a610-7fc40ed87939
    type: regular
    task:
      id: bc33c866-0b10-47ca-a610-7fc40ed87939
      version: -1
      name: Set file_path
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "28"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.file_path
      value:
        simple: ${issue.action_file_path}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3080
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: 44981864-82b0-446f-8153-15753a837339
    type: regular
    task:
      id: 44981864-82b0-446f-8153-15753a837339
      version: -1
      name: Set file_sha256
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.file_sha256
      value:
        simple: ${issue.action_file_sha256}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3240
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "29":
    id: "29"
    taskid: 25fd7074-5498-40c6-aabd-ca5cad9e1895
    type: regular
    task:
      id: 25fd7074-5498-40c6-aabd-ca5cad9e1895
      version: -1
      name: Set network_accesses
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.network_accesses
      value:
        simple: ${issue.network_accesses}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: 3454aaad-269b-4a28-afcd-ce9b78da66eb
    type: regular
    task:
      id: 3454aaad-269b-4a28-afcd-ce9b78da66eb
      version: -1
      name: Set dns_queries
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "31"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.dns_queries
      value:
        simple: ${issue.dns_query_name}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: 04036c47-be8b-488a-83eb-032f8621c546
    type: regular
    task:
      id: 04036c47-be8b-488a-83eb-032f8621c546
      version: -1
      name: Set tactic
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.tactic
      value:
        simple: ${issue.mitretacticname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: db7b34d0-d3c5-4929-b1ae-a045bca10dbf
    type: regular
    task:
      id: db7b34d0-d3c5-4929-b1ae-a045bca10dbf
      version: -1
      name: Set technique
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "33"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.technique
      value:
        simple: ${issue.mitretechniquename}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3880
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: eb25785a-bde6-4a2e-8add-f721225542b1
    type: regular
    task:
      id: eb25785a-bde6-4a2e-8add-f721225542b1
      version: -1
      name: Set tactic_id
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "34"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.tactic_id
      value:
        simple: ${issue.mitretacticid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: ee0333ae-cb51-460b-b96a-dc84b28eb1b9
    type: regular
    task:
      id: ee0333ae-cb51-460b-b96a-dc84b28eb1b9
      version: -1
      name: Set technique_id
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "35"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.technique_id
      value:
        simple: ${issue.mitretechniqueid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: 2313c91f-7b5a-4854-b6a0-7f305727effe
    type: regular
    task:
      id: 2313c91f-7b5a-4854-b6a0-7f305727effe
      version: -1
      name: Set alert_action
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "36"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.alert_action
      value:
        simple: ${issue.alertaction}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: c8f18f80-0264-4322-a953-fde35a119878
    type: regular
    task:
      id: c8f18f80-0264-4322-a953-fde35a119878
      version: -1
      name: Set containment_status
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "37"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.containment_status
      value:
        simple: ${issue.endpointstatus}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4520
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "37":
    id: "37"
    taskid: 11665980-2bc9-47f2-bc7f-b282ebb6df5c
    type: regular
    task:
      id: 11665980-2bc9-47f2-bc7f-b282ebb6df5c
      version: -1
      name: Set normalization_source
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Endpoint.normalization_source
      value:
        simple: endpoint
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4680
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "38":
    id: "38"
    taskid: fe2331b9-c937-4769-9549-41d3414e6671
    type: title
    task:
      id: fe2331b9-c937-4769-9549-41d3414e6671
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 5320
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "39":
    id: "39"
    taskid: 8a94789a-7dcb-4f5d-ba93-549718a96c50
    type: regular
    task:
      id: 8a94789a-7dcb-4f5d-ba93-549718a96c50
      version: -1
      name: Set Artifacts.Hash alias
      description: Alias SOCFramework.Artifacts.Hash from issue.filesha256 (the target
        file hash, i.e. the malicious DLL/binary the process acted upon). Previously
        read from issue.initiatorsha256 which is the running process hash - wrong
        artifact for malware eradication. Consumed by SOCFrameworkActions_V3 soc-enrich-file
        and downstream UC actions that need the SHA256 of the actual malicious file.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "40"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Hash
      value:
        simple: ${issue.filesha256.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 4900
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: 234c25c4-25f3-4c2e-9a1f-5b1e8d54fec0
    type: regular
    task:
      id: 234c25c4-25f3-4c2e-9a1f-5b1e8d54fec0
      version: -1
      name: Set Artifacts.File alias
      description: Alias SOCFramework.Artifacts.File from issue.filesha256 (the target
        file hash). Previously read from issue.initiatorsha256 which is the running
        process hash - wrong artifact for malware eradication. Consumed by Foundation
        Enrichment gate and SOC EndPoint Spread Evaluation SHA256 input.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "41"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.File
      value:
        simple: ${issue.filesha256.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 5120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "41":
    id: "41"
    taskid: 00ca01f2-836e-40e1-8f09-311bdca47687
    type: regular
    task:
      id: 00ca01f2-836e-40e1-8f09-311bdca47687
      version: -1
      name: Set Artifacts.EndPointID alias
      description: Alias SOCFramework.Artifacts.EndPointID from SOCFramework.Endpoint.endpoint_id.
        Consumed by SOCFrameworkActions_V3 soc-file-exists, soc-isolate-endpoint, soc-kill-process,
        and other UC actions that require endpoint targeting.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "42"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.EndPointID
      value:
        simple: ${issue.agentid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 5280
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "42":
    id: "42"
    taskid: 7a9f6015-469f-4c3c-b7dd-eb3772db9a2e
    type: regular
    task:
      id: 7a9f6015-469f-4c3c-b7dd-eb3772db9a2e
      version: -1
      name: Set Artifacts.FilePath alias
      description: Alias SOCFramework.Artifacts.FilePath from issue.filepath (the
        target file path, i.e. the malicious DLL/binary location). Previously read
        from issue.initiatorpath which is the running process path - wrong artifact
        for malware eradication and dangerous when the initiator is a system binary
        like svchost.exe. Consumed by SOCFrameworkActions_V3 soc-file-exists, soc-quarantine-file,
        soc-detonate-file.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "50"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.FilePath
      value:
        simple: ${issue.filepath.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 5360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "50":
    id: "50"
    taskid: c3a1b0d5-aaaa-0050-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0050-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.PID alias
      description: PID of the initiator process. Required for soc-kill-process and for analyst approval prompt context.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "51"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.PID
      value:
        simple: ${issue.initiatorpid.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 5510
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "51":
    id: "51"
    taskid: c3a1b0d5-aaaa-0051-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0051-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.Name alias
      description: Image name of the initiator process. For analyst approval prompts and case story narrative.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "52"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.Name
      value:
        simple: ${issue.initiatedby.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 5660
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: c3a1b0d5-aaaa-0052-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0052-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.Path alias
      description: Full path of the initiator process executable.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "53"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.Path
      value:
        simple: ${issue.initiatorpath.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 5810
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "53":
    id: "53"
    taskid: c3a1b0d5-aaaa-0053-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0053-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.SHA256 alias
      description: SHA256 of the initiator process binary. Distinct from Artifacts.Target.SHA256 - process is what is running, target is what was acted upon.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "54"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.SHA256
      value:
        simple: ${issue.initiatorsha256.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 5960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "54":
    id: "54"
    taskid: c3a1b0d5-aaaa-0054-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0054-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.MD5 alias
      description: MD5 of the initiator process binary.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "55"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.MD5
      value:
        simple: ${issue.initiatormd5.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 6110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "55":
    id: "55"
    taskid: c3a1b0d5-aaaa-0055-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0055-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.CommandLine alias
      description: Full command line of the initiator process. Critical context for analyst approval - reveals service name, args, suspicious flags.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "56"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.CommandLine
      value:
        simple: ${issue.initiatorcmd.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 6260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "56":
    id: "56"
    taskid: c3a1b0d5-aaaa-0056-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0056-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.Signer alias
      description: Signing entity of the initiator binary. Legitimacy signal.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "57"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.Signer
      value:
        simple: ${issue.initiatorsigner.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 6410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "57":
    id: "57"
    taskid: c3a1b0d5-aaaa-0057-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0057-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.Signature alias
      description: Signature status of the initiator binary. Combined with Process.Signer, this is the legitimacy assessment.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "58"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.Signature
      value:
        simple: ${issue.initiatorsignature.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 6560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "58":
    id: "58"
    taskid: c3a1b0d5-aaaa-0058-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0058-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.Verdict alias (TBD)
      description: TODO - Per-artifact source verdict on the initiator binary. Field name in issue.* TBD - visible in layout. Investigate XDM verdict fields. Empty until source field confirmed.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "59"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.Verdict
      value:
        simple: ""
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 6710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "59":
    id: "59"
    taskid: c3a1b0d5-aaaa-0059-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0059-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.Parent.PID alias
      description: OS parent PID of the initiator process. Critical for legitimacy assessment - svchost-from-services-good vs svchost-from-winword-bad.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "60"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.Parent.PID
      value:
        simple: ${issue.osparentid.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 6860
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "60":
    id: "60"
    taskid: c3a1b0d5-aaaa-0060-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0060-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.Parent.Signature alias
      description: Signature status of the OS parent process.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "61"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.Parent.Signature
      value:
        simple: ${issue.osparentsignature.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 7010
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "61":
    id: "61"
    taskid: c3a1b0d5-aaaa-0061-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0061-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.Causality.ID alias
      description: Cortex causality root identifier - links all events in the same execution chain.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "62"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.Causality.ID
      value:
        simple: ${issue.xdmsourceprocesscausalityid.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 7160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "62":
    id: "62"
    taskid: c3a1b0d5-aaaa-0062-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0062-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Process.Causality.InstanceID alias
      description: Cortex actor process instance identifier.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "63"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Process.Causality.InstanceID
      value:
        simple: ${issue.actorprocessinstanceid.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 7310
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "63":
    id: "63"
    taskid: c3a1b0d5-aaaa-0063-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0063-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Target.File alias
      description: Filename of the target file the initiator process acted upon. This is the artifact malware eradication should target - NOT the initiator process.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "64"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Target.File
      value:
        simple: ${issue.filename.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 7460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "64":
    id: "64"
    taskid: c3a1b0d5-aaaa-0064-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0064-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Target.Path alias
      description: Full path of the target file. Consumed by soc-delete-file, soc-quarantine-files.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "65"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Target.Path
      value:
        simple: ${issue.filepath.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 7610
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "65":
    id: "65"
    taskid: c3a1b0d5-aaaa-0065-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0065-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Target.SHA256 alias
      description: SHA256 of the target file. This is the malicious hash - distinct from Process.SHA256 which is the running process binary.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "66"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Target.SHA256
      value:
        simple: ${issue.filesha256.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 7760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "66":
    id: "66"
    taskid: c3a1b0d5-aaaa-0066-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0066-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Target.SignatureStatus alias
      description: Signature status of the target file. SIGNATURE_UNAVAILABLE on the target combined with SIGNATURE_SIGNED on the initiator is the canonical Turla DLL-sideload pattern.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "67"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Target.SignatureStatus
      value:
        simple: ${issue.xdmtargetprocessexecutablesignaturestatus.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 7910
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "67":
    id: "67"
    taskid: c3a1b0d5-aaaa-0067-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0067-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Target.Verdict alias (TBD)
      description: TODO - Per-artifact source verdict on the target file. Field name in issue.* TBD - visible in layout. Investigate XDM verdict fields. Empty until source field confirmed.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "68"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Target.Verdict
      value:
        simple: ""
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 8060
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "68":
    id: "68"
    taskid: c3a1b0d5-aaaa-0068-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0068-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Endpoint.AgentID alias
      description: EDR agent identifier for the affected endpoint. Mirrors Artifacts.EndPointID for backward compat.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "69"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Endpoint.AgentID
      value:
        simple: ${issue.agentid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 8210
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "69":
    id: "69"
    taskid: c3a1b0d5-aaaa-0069-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0069-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Endpoint.Hostname alias
      description: Human-readable hostname. For layout display and approval prompt context.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "70"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Endpoint.Hostname
      value:
        simple: ${issue.hostname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 8360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "70":
    id: "70"
    taskid: c3a1b0d5-aaaa-0070-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0070-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Endpoint.FQDN alias
      description: Fully-qualified domain name.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "71"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Endpoint.FQDN
      value:
        simple: ${issue.hostfqdn}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 8510
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "71":
    id: "71"
    taskid: c3a1b0d5-aaaa-0071-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0071-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Endpoint.OS alias
      description: OS family. For vendor-command routing decisions.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "72"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Endpoint.OS
      value:
        simple: ${issue.hostos}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 8660
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "72":
    id: "72"
    taskid: c3a1b0d5-aaaa-0072-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0072-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Endpoint.OSVersion alias
      description: OS version string. Analyst context.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "73"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Endpoint.OSVersion
      value:
        simple: ${issue.agentossubtype}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 8810
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "73":
    id: "73"
    taskid: c3a1b0d5-aaaa-0073-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0073-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Endpoint.Domain alias
      description: AD domain the endpoint is joined to.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "74"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Endpoint.Domain
      value:
        simple: ${issue.domain}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 8960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "74":
    id: "74"
    taskid: c3a1b0d5-aaaa-0074-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0074-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Endpoint.MACAddress alias
      description: MAC address of the endpoint.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "75"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Endpoint.MACAddress
      value:
        simple: ${issue.hostmacaddress}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 9110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "75":
    id: "75"
    taskid: c3a1b0d5-aaaa-0075-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0075-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Network.IP alias
      description: IP address of the affected endpoint. New artifact - IP exists in the case but was not previously surfaced under Artifacts namespace.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "76"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Network.IP
      value:
        simple: ${issue.hostip.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 9260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "76":
    id: "76"
    taskid: c3a1b0d5-aaaa-0076-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0076-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.User alias
      description: Actor effective username. For Identity correlation and approval prompt actor context.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "77"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.User
      value:
        simple: ${issue.username.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 9410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "77":
    id: "77"
    taskid: c3a1b0d5-aaaa-0077-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0077-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Source.Module alias
      description: Detection module. Tells Analysis what kind of detection produced the alert.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "78"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Source.Module
      value:
        simple: ${issue.module.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 9560
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "78":
    id: "78"
    taskid: c3a1b0d5-aaaa-0078-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0078-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Source.AlertDomain alias
      description: Alert domain.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "79"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Source.AlertDomain
      value:
        simple: ${issue.alert_domain}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 9710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "79":
    id: "79"
    taskid: c3a1b0d5-aaaa-0079-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0079-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.Source.Action alias
      description: What the agent did natively. Important for understanding native response baseline before SOC Framework acts.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "80"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.Source.Action
      value:
        simple: ${issue.action.[0]}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 9860
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "80":
    id: "80"
    taskid: c3a1b0d5-aaaa-0080-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0080-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.MITRE.Tactic alias
      description: MITRE tactic name. Empty for XDR Agent native cases - XDR uses categoryname instead. See Artifacts.MITRE.Category for fallback.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "81"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.MITRE.Tactic
      value:
        simple: ${issue.mitretacticname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 10010
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "81":
    id: "81"
    taskid: c3a1b0d5-aaaa-0081-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0081-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.MITRE.TacticID alias
      description: MITRE tactic ID. Lifecycle gates may consume this.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "82"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.MITRE.TacticID
      value:
        simple: ${issue.mitretacticid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 10160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "82":
    id: "82"
    taskid: c3a1b0d5-aaaa-0082-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0082-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.MITRE.Technique alias
      description: MITRE technique name.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "83"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.MITRE.Technique
      value:
        simple: ${issue.mitretechniquename}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 10310
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "83":
    id: "83"
    taskid: c3a1b0d5-aaaa-0083-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0083-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.MITRE.TechniqueID alias
      description: MITRE technique ID. Existing Containment task 164/166 gates on this.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "84"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.MITRE.TechniqueID
      value:
        simple: ${issue.mitretechniqueid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 10460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "84":
    id: "84"
    taskid: c3a1b0d5-aaaa-0084-bbbb-aabbccddeeff
    type: regular
    task:
      id: c3a1b0d5-aaaa-0084-bbbb-aabbccddeeff
      version: -1
      name: Set Artifacts.MITRE.Category alias
      description: XDR-native category name. Fallback when MITRE Tactic/Technique are not populated - XDR Agent native cases use this.
      script: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "38"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: SOCFramework.Artifacts.MITRE.Category
      value:
        simple: ${issue.categoryname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 10610
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 11000,
        "width": 380,
        "x": 480,
        "y": 50
      }
    }
  }
inputs: []
outputs:
- contextPath: SOCFramework.Endpoint.hostname
  description: A/C/R - isolation target
  type: String
- contextPath: SOCFramework.Endpoint.endpoint_id
  description: C/R - soc-isolate-endpoint, soc-deisolate
  type: String
- contextPath: SOCFramework.Endpoint.os
  description: A - OS-specific eradication path
  type: String
- contextPath: SOCFramework.Endpoint.ip_address
  description: A/C - lateral scope
  type: String
- contextPath: SOCFramework.Endpoint.external_ip
  description: A - external exposure
  type: String
- contextPath: SOCFramework.Endpoint.mac_address
  description: A - asset identity
  type: String
- contextPath: SOCFramework.Endpoint.domain
  description: A - domain context
  type: String
- contextPath: SOCFramework.Endpoint.username
  description: A/C - identity pivot
  type: String
- contextPath: SOCFramework.Endpoint.user_principal
  description: A/C - UPN for disable-user
  type: String
- contextPath: SOCFramework.Endpoint.process_name
  description: A/E - malware process
  type: String
- contextPath: SOCFramework.Endpoint.process_sha256
  description: A/E - detonation + block + remove-file
  type: String
- contextPath: SOCFramework.Endpoint.process_cmd
  description: A - cmdline analysis
  type: String
- contextPath: SOCFramework.Endpoint.process_path
  description: E - file removal path
  type: String
- contextPath: SOCFramework.Endpoint.process_pid
  description: A - live process targeting
  type: String
- contextPath: SOCFramework.Endpoint.parent_process_name
  description: A - process tree
  type: String
- contextPath: SOCFramework.Endpoint.parent_process_sha256
  description: A - parent hash
  type: String
- contextPath: SOCFramework.Endpoint.parent_process_cmd
  description: A - parent cmdline
  type: String
- contextPath: SOCFramework.Endpoint.file_path
  description: E - soc-remove-file target
  type: String
- contextPath: SOCFramework.Endpoint.file_sha256
  description: E - file removal + block
  type: String
- contextPath: SOCFramework.Endpoint.network_accesses
  description: A - lateral movement detection
  type: String
- contextPath: SOCFramework.Endpoint.dns_queries
  description: A - C2 domain detection
  type: String
- contextPath: SOCFramework.Endpoint.tactic
  description: A - MITRE tactic routing
  type: String
- contextPath: SOCFramework.Endpoint.technique
  description: A - MITRE technique
  type: String
- contextPath: SOCFramework.Endpoint.tactic_id
  description: A - MITRE tactic ID
  type: String
- contextPath: SOCFramework.Endpoint.technique_id
  description: A - MITRE technique ID
  type: String
- contextPath: SOCFramework.Endpoint.alert_action
  description: A - prevented vs detected
  type: String
- contextPath: SOCFramework.Endpoint.containment_status
  description: A - pre-existing isolation check
  type: String
- contextPath: SOCFramework.Endpoint.normalization_source
  description: Always 'endpoint'
  type: String
- contextPath: SOCFramework.Artifacts.Hash
  description: A/C/E - file SHA256 consumed by SOCFrameworkActions_V3 soc-enrich-file
    (core-get-hash-analytics-prevalence sha256 argument)
  type: String
- contextPath: SOCFramework.Artifacts.File
  description: A - file SHA256 consumed by Foundation Enrichment gate and Spread Evaluation
    SHA256 input
  type: String
