Packs/soc-optimization-unified/Playbooks/Foundation_-_Normalize_Artifacts_V3.yml
fromversion: 5.0.0
id: Foundation - Normalize Artifacts_V3
version: 9
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.3.1
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Normalize Artifacts_V3
description: '

  '
tags:
  - SOC
  - SOC_Framework_Unified
  - Analysis
  - Foundation
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 8492b25a-a19c-4593-8191-9cb60e4d3007
    type: start
    task:
      id: 8492b25a-a19c-4593-8191-9cb60e4d3007
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '38'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": -30\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '4':
    id: '4'
    taskid: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
    type: title
    task:
      id: 6b3dbf1c-9a22-4bd4-8593-bc8d49dcc7c0
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 695,\n    \"y\": 1855\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '9':
    id: '9'
    taskid: 7bfadf59-61ee-41e6-b6db-3fcde1c95727
    type: title
    task:
      id: 7bfadf59-61ee-41e6-b6db-3fcde1c95727
      version: -1
      name: IP Artifacts
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '33'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 1492.5\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: 049bb235-0943-4db1-a4d1-d884e1b38460
    type: title
    task:
      id: 049bb235-0943-4db1-a4d1-d884e1b38460
      version: -1
      name: User Findings
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '32'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 1492.5\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: 38b6a1fa-dc59-43ae-8091-ff4c66c459be
    type: title
    task:
      id: 38b6a1fa-dc59-43ae-8091-ff4c66c459be
      version: -1
      name: File Enrichment
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '29'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1315\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '29':
    id: '29'
    taskid: 7f37bc21-a7aa-402b-bc75-f563fb6d649c
    type: regular
    task:
      id: 7f37bc21-a7aa-402b-bc75-f563fb6d649c
      version: -1
      name: Set File SHA256 SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '31'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.File
      value:
        simple: ${inputs.SHA256}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1485\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '30':
    id: '30'
    taskid: 62ba4236-a536-4eba-a750-e7be723b6e07
    type: regular
    task:
      id: 62ba4236-a536-4eba-a750-e7be723b6e07
      version: -1
      name: Set EndPoint ID SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '18'
        - '9'
        - '34'
        - '41'
        - '50'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.EndPointID
      value:
        simple: ${inputs.EndpointID}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '31':
    id: '31'
    taskid: b9da1344-05bb-40c9-82af-65506a6aad43
    type: regular
    task:
      id: b9da1344-05bb-40c9-82af-65506a6aad43
      version: -1
      name: Unit 42 File Verdict Name SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '46'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.Verdict
      value:
        complex:
          root: Unit42Intelligence.File
          filters:
            - - operator: in
                left:
                  value:
                    simple: Unit42Intelligence.File.Value
                  iscontext: true
                right:
                  value:
                    simple: inputs.SHA256
                  iscontext: true
          accessor: Verdict
          transformers:
            - operator: StringToArray
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1662.5\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '32':
    id: '32'
    taskid: 99ab1535-f684-4457-ad89-1eb430bdd8ed
    type: regular
    task:
      id: 99ab1535-f684-4457-ad89-1eb430bdd8ed
      version: -1
      name: Set User Name SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '46'
    scriptarguments:
      append:
        simple: 'true'
      key:
        simple: SOCFramework.Artifacts.UserName
      value:
        simple: ${inputs.UserName}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 1670\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '33':
    id: '33'
    taskid: 413a9a1b-01eb-43bb-96b1-b2cc830851b0
    type: regular
    task:
      id: 413a9a1b-01eb-43bb-96b1-b2cc830851b0
      version: -1
      name: Set IP SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '46'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.IP
      value:
        simple: ${inputs.SourceIP}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 910,\n    \"y\": 1670\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '34':
    id: '34'
    taskid: c990cbe2-c1cd-45fe-b3d9-e138e446e074
    type: title
    task:
      id: c990cbe2-c1cd-45fe-b3d9-e138e446e074
      version: -1
      name: Process Enrichment
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '40'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '35':
    id: '35'
    taskid: ed82c07b-fb09-4476-955d-f37c46f92c94
    type: regular
    task:
      id: ed82c07b-fb09-4476-955d-f37c46f92c94
      version: -1
      name: Set Process Name SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '36'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.ProcessName
      value:
        simple: ${inputs.ProcessName}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 945\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '36':
    id: '36'
    taskid: 966d8fc9-1c14-46a6-a320-fdfc15141a25
    type: regular
    task:
      id: 966d8fc9-1c14-46a6-a320-fdfc15141a25
      version: -1
      name: Set Process ID SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '19'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.PID
      value:
        simple: ${inputs.PID}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 1130\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '38':
    id: '38'
    taskid: 32bdf524-f0fd-4745-b9d4-603a133d8b3f
    type: regular
    task:
      id: 32bdf524-f0fd-4745-b9d4-603a133d8b3f
      version: -1
      name: Set HostName SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '30'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.HostName
      value:
        simple: ${inputs.HostName}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 480,\n    \"y\": 220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '40':
    id: '40'
    taskid: 4692c930-0d52-42be-b17f-65963c76b28c
    type: regular
    task:
      id: 4692c930-0d52-42be-b17f-65963c76b28c
      version: -1
      name: Set File Path SOCFramework Artifact
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '35'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.FilePath
      value:
        simple: ${inputs.FilePath}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 50,\n    \"y\": 760\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '41':
    id: '41'
    taskid: 16bd8e41-05dd-49b8-9b8c-aaca9a35aecf
    type: title
    task:
      id: 16bd8e41-05dd-49b8-9b8c-aaca9a35aecf
      version: -1
      name: MITRE Tacts & Techniques
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '42'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1200,\n    \"y\": 750\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '42':
    id: '42'
    taskid: a2938fe8-d460-4ee4-b9ff-ced5c501a57d
    type: regular
    task:
      id: a2938fe8-d460-4ee4-b9ff-ced5c501a57d
      version: -1
      name: Set MITRE Tactic ID
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '43'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Mitre.Tactic.ID
      value:
        simple: ${inputs.MitreTacticIDs}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1200,\n    \"y\": 890\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '43':
    id: '43'
    taskid: 9dbd92cf-8f42-4fd0-9beb-76520475698e
    type: regular
    task:
      id: 9dbd92cf-8f42-4fd0-9beb-76520475698e
      version: -1
      name: Set MITRE Technique IDs
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '44'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Mitre.Technique.ID
      value:
        simple: ${inputs.MitreTechniqueIDs}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1200,\n    \"y\": 1070\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '44':
    id: '44'
    taskid: 3395d8c5-fb53-45ee-8cfd-17bf18d37f5d
    type: regular
    task:
      id: 3395d8c5-fb53-45ee-8cfd-17bf18d37f5d
      version: -1
      name: Set MITRE Tactic
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '45'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Mitre.Tactic.Name
      value:
        simple: ${inputs.MitreTactics}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1200,\n    \"y\": 1220\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '45':
    id: '45'
    taskid: 7e35a088-67ec-4737-8e7e-20ac0fd1c5fc
    type: regular
    task:
      id: 7e35a088-67ec-4737-8e7e-20ac0fd1c5fc
      version: -1
      name: Set MITRE Technique
      description: "Set a value in context under the key you entered. If no value\
        \ is entered, the script doesn't do anything.\n\nThis automation runs using\
        \ the default Limited User role, unless you explicitly change the permissions.\n\
        For more information, see the section about permissions here:\n- For Cortex\
        \ XSOAR 6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations\
        \ \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n\
        - For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '46'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Mitre.Technique.Name
      value:
        simple: ${inputs.MitreTechniques}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1200,\n    \"y\": 1360\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '46':
    id: '46'
    taskid: 9e2137a7-f5a8-4b73-adb1-be4b6b012fca
    type: title
    task:
      id: bb085855-2df2-46f2-8ed4-b7a96fb980d8
      version: -1
      name: Domain Normalization
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '47'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1120,\n    \"y\": 1200\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '47':
    id: '47'
    taskid: cc2d2307-c8d1-485b-991b-813a428dba54
    type: regular
    task:
      id: a08c746a-89b0-4305-b127-8f76376b4b4a
      version: -1
      name: Set Domain SOCFramework Artifact
      description: Set SOCFramework.Artifacts.Domain from inputs.Domain
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '48'
    scriptarguments:
      key:
        simple: SOCFramework.Artifacts.Domain
      value:
        simple: ${inputs.Domain}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1120,\n    \"y\": 1370\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '48':
    id: '48'
    taskid: 1ffbc271-539c-4e05-a4f8-7036eccccd67
    type: title
    task:
      id: 5f3ab726-1eab-4059-b9e8-6868c12db70d
      version: -1
      name: URL Normalization
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '49'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1480,\n    \"y\": 1200\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '49':
    id: '49'
    taskid: 89995093-e27f-422e-b3c3-8eab070a7fb7
    type: regular
    task:
      id: 7ad755d9-5848-414f-9070-3166b4ab4040
      version: -1
      name: Set URL SOCFramework Artifact
      description: Set SOCFramework.Artifacts.URL from inputs.URL
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '4'
    scriptarguments:
      key:
        simple: SOCFramework.Artifacts.URL
      value:
        simple: ${inputs.URL}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1480,\n    \"y\": 1370\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '50':
    id: '50'
    taskid: 1566a237-0253-4d4c-8977-0066ce31ad47
    type: title
    task:
      id: 1566a237-0253-4d4c-8977-0066ce31ad47
      version: -1
      name: Email Normalization
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '51'
    separatecontext: false
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1750,\n    \"y\": 405\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '51':
    id: '51'
    taskid: 97d66e9d-31c6-402c-80c2-75ae4fbe6221
    type: regular
    task:
      id: 97d66e9d-31c6-402c-80c2-75ae4fbe6221
      version: -1
      name: Set Email From SOCFramework Artifact
      description: 'Sender address from Proofpoint TAP alert. Source: issue.proofpointtapsmtpsender'
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '52'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.Email.From
      value:
        simple: ${inputs.EmailFrom}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1750,\n    \"y\": 590\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '52':
    id: '52'
    taskid: c9d1f075-4653-4be6-a6a7-c8a2c5f17c8a
    type: regular
    task:
      id: c9d1f075-4653-4be6-a6a7-c8a2c5f17c8a
      version: -1
      name: Set Email To SOCFramework Artifact
      description: 'Recipient address from Proofpoint TAP alert. Source: issue.emailrecipient'
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '53'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.Email.To
      value:
        simple: ${inputs.EmailTo}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1750,\n    \"y\": 760\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '53':
    id: '53'
    taskid: f7337939-040a-4ff0-b810-e8a69d595269
    type: regular
    task:
      id: f7337939-040a-4ff0-b810-e8a69d595269
      version: -1
      name: Set Email Subject SOCFramework Artifact
      description: 'Email subject line from Proofpoint TAP alert. Source: issue.proofpointtapsubject'
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '54'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.Email.Subject
      value:
        simple: ${inputs.EmailSubject}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1750,\n    \"y\": 930\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '54':
    id: '54'
    taskid: b8d7cb2a-ec57-4503-a71b-811d4707177a
    type: regular
    task:
      id: b8d7cb2a-ec57-4503-a71b-811d4707177a
      version: -1
      name: Set Email Timestamp SOCFramework Artifact
      description: 'Threat detection timestamp. Source: issue.proofpointtapthreatinfomap
        (accessor: threatTime)'
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '55'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.Email.Timestamp
      value:
        simple: ${inputs.EmailTimestamp}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1750,\n    \"y\": 1100\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '55':
    id: '55'
    taskid: 527e8984-82ba-4c0f-96e3-4798040a1885
    type: regular
    task:
      id: 527e8984-82ba-4c0f-96e3-4798040a1885
      version: -1
      name: Set Email ThreatURL SOCFramework Artifact
      description: 'Threat URL from Proofpoint TAP alert. Source: issue.proofpointtapthreaturl'
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '56'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.Email.ThreatURL
      value:
        simple: ${inputs.EmailThreatURL}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1750,\n    \"y\": 1270\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '56':
    id: '56'
    taskid: b3b39cdb-20e2-40f1-8412-275ec7109c50
    type: regular
    task:
      id: b3b39cdb-20e2-40f1-8412-275ec7109c50
      version: -1
      name: Set Email ThreatType SOCFramework Artifact
      description: 'Threat type (url / attachment). Source: alert.proofpointtapthreatinfomap.threattype'
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
        - '4'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Artifacts.Email.ThreatType
      value:
        simple: ${inputs.EmailThreatType}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\n  \"position\": {\n    \"x\": 1750,\n    \"y\": 1440\n  }\n}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: "{\n  \"linkLabelsPosition\": {},\n  \"paper\": {\n    \"dimensions\": {\n \
  \     \"height\": 1945,\n      \"width\": 2050,\n      \"x\": 50,\n      \"y\":\
  \ -30\n    }\n  }\n}"
inputs:
  - key: HostName
    value:
      complex:
        root: ${issue
        accessor: xdmsourcehosthostname}
        transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: ${issue.hostname}
    required: false
    description: ''
    playbookInputQuery: null
  - key: EndpointID
    value:
      complex:
        root: ${issue
        accessor: xdmsourceagentidentifier}
        transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: ${issue.agentid}
    required: false
    description: ''
    playbookInputQuery: null
  - key: FilePath
    value:
      complex:
        root: ${issue
        accessor: xdmsourceprocessexecutablepath}
        transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: ${issue.initiatorpath}
    required: false
    description: ''
    playbookInputQuery: null
  - key: ProcessName
    value:
      complex:
        root: ${issue
        accessor: xdmsourceprocessname}
        transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: ${issue.initiatedby}
    required: false
    description: ''
    playbookInputQuery: null
  - key: PID
    value:
      simple: ${issue.initiatorpid}
    required: false
    description: ''
    playbookInputQuery: null
  - key: SHA256
    value:
      complex:
        root: ${issue
        accessor: xdmsourceprocessexecutablesha256}
        transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: ${issue.initiatorsha256}
    required: false
    description: ''
    playbookInputQuery: null
  - key: Verdict
    value:
      complex:
        root: Unit42Intelligence.File
        filters:
          - - operator: isEqualString
              left:
                value:
                  simple: Unit42Intelligence.File.Value
                iscontext: true
              right:
                value:
                  simple: inputs.SHA256
                iscontext: true
        accessor: Verdict
        transformers:
          - operator: StringToArray
    required: false
    description: ''
    playbookInputQuery: null
  - key: SourceIP
    value:
      complex:
        root: ${issue
        accessor: xdmsourcehostipv4addresses}
        transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: ${issue.hostip}
    required: false
    description: ''
    playbookInputQuery: null
  - key: UserName
    value:
      complex:
        root: ${issue
        accessor: xdmsourceuserusername}
        transformers:
          - operator: SetIfEmpty
            args:
              applyIfEmpty: {}
              defaultValue:
                value:
                  simple: ${issue.username}
    required: false
    description: ''
    playbookInputQuery: null
  - key: MitreTacticIDs
    value:
      simple: ${issue.mitretacticid}
    required: false
    description: ''
    playbookInputQuery: null
  - key: MitreTechniqueIDs
    value:
      simple: ${issue.mitretechniqueid}
    required: false
    description: ''
    playbookInputQuery: null
  - key: MitreTactics
    value:
      simple: ${issue.mitretacticname}
    required: false
    description: ''
    playbookInputQuery: null
  - key: MitreTechniques
    value:
      simple: ${issue.mitretechniquename}
    required: false
    description: ''
    playbookInputQuery: null
  - key: Domain
    value:
      simple: ${SOCFramework.Artifacts.Domain}
    required: false
    description: Domain artifact to normalize
    playbookInputQuery: null
  - key: URL
    value:
      simple: ${SOCFramework.Artifacts.URL}
    required: false
    description: URL artifact to normalize
    playbookInputQuery: null
  - key: EmailFrom
    value:
      complex:
        root: ${issue
        accessor: proofpointtapsmtpsender}
        transformers:
          - operator: uniq
    required: false
    description: Sender email address from Proofpoint TAP alert (issue.proofpointtapsmtpsender)
    playbookInputQuery: null
  - key: EmailTo
    value:
      complex:
        root: ${issue
        accessor: emailrecipient}
        transformers:
          - operator: uniq
    required: false
    description: Recipient email address (issue.emailrecipient)
    playbookInputQuery: null
  - key: EmailSubject
    value:
      complex:
        root: ${issue
        accessor: proofpointtapsubject}
        transformers:
          - operator: uniq
    required: false
    description: Email subject line (issue.proofpointtapsubject)
    playbookInputQuery: null
  - key: EmailTimestamp
    value:
      complex:
        root: ${issue.proofpointtapthreatinfomap
        accessor: threatTime}
        transformers:
          - operator: uniq
    required: false
    description: Threat detection time (issue.proofpointtapthreatinfomap.threatTime)
    playbookInputQuery: null
  - key: EmailThreatURL
    value:
      complex:
        root: ${issue
        accessor: proofpointtapthreaturl}
        transformers:
          - operator: uniq
    required: false
    description: Threat URL from Proofpoint TAP (issue.proofpointtapthreaturl)
    playbookInputQuery: null
  - key: EmailThreatType
    value:
      complex:
        root: issue.proofpointtapthreatinfomap
        accessor: threatType
        transformers:
          - operator: FirstArrayElement
          - operator: toLowerCase
    required: false
    description: 'Threat type: url or attachment. Source: issue.proofpointtapthreatinfomap[0].threatType
    (array, FirstArrayElement). Confirmed via live debugger line 976.'
    playbookInputQuery: null
inputSections:
  - inputs:
      - HostName
      - EndpointID
      - FilePath
      - ProcessName
      - PID
      - SHA256
      - Verdict
      - SourceIP
      - UserName
      - MitreTacticIDs
      - MitreTechniqueIDs
      - MitreTactics
      - MitreTechniques
    name: General (Inputs group)
    description: Generic group for inputs
  - inputs:
      - EmailFrom
      - EmailTo
      - EmailSubject
      - EmailTimestamp
      - EmailThreatURL
      - EmailThreatType
    name: Email Artifacts
    description: Email artifact inputs — populated from issue.* fields set by Proofpoint
      TAP alerts
outputSections:
  - outputs:
      - SOCFramework.Artifacts.HostName
      - SOCFramework.Artifacts.EndPointID
      - SOCFramework.Artifacts.FilePath
      - SOCFramework.Artifacts.ProcessName
      - SOCFramework.Artifacts.PID
      - SOCFramework.Artifacts.File
      - SOCFramework.Artifacts.Verdict
      - SOCFramework.Artifacts.UserName
      - SOCFramework.Artifacts.IP
      - SOCFramework.Mitre.Tactic.ID
      - SOCFramework.Mitre.Technique.ID
      - SOCFramework.Mitre.Tactic
      - SOCFramework.Mitre.Technique
      - SOCFramework.Artifacts.Email.From
      - SOCFramework.Artifacts.Email.To
      - SOCFramework.Artifacts.Email.Subject
      - SOCFramework.Artifacts.Email.Timestamp
      - SOCFramework.Artifacts.Email.ThreatURL
      - SOCFramework.Artifacts.Email.ThreatType
    name: General (Outputs group)
    description: Generic group for outputs
outputs:
  - contextPath: SOCFramework.Artifacts.HostName
    type: unknown
  - contextPath: SOCFramework.Artifacts.EndPointID
    type: unknown
  - contextPath: SOCFramework.Artifacts.FilePath
    type: unknown
  - contextPath: SOCFramework.Artifacts.ProcessName
    type: unknown
  - contextPath: SOCFramework.Artifacts.PID
    type: unknown
  - contextPath: SOCFramework.Artifacts.File
    type: unknown
  - contextPath: SOCFramework.Artifacts.Verdict
    type: unknown
  - contextPath: SOCFramework.Artifacts.UserName
    type: unknown
  - contextPath: SOCFramework.Artifacts.IP
    type: unknown
  - contextPath: SOCFramework.Mitre.Tactic.ID
    type: unknown
  - contextPath: SOCFramework.Mitre.Technique.ID
    type: unknown
  - contextPath: SOCFramework.Mitre.Tactic
    type: unknown
  - contextPath: SOCFramework.Mitre.Technique
    type: unknown
  - contextPath: SOCFramework.Artifacts.Email.From
    type: string
  - contextPath: SOCFramework.Artifacts.Email.To
    type: string
  - contextPath: SOCFramework.Artifacts.Email.Subject
    type: string
  - contextPath: SOCFramework.Artifacts.Email.Timestamp
    type: string
  - contextPath: SOCFramework.Artifacts.Email.ThreatURL
    type: string
  - contextPath: SOCFramework.Artifacts.Email.ThreatType
    type: string
sourceplaybookid: Foundation - Enrichment_V3
dirtyInputs: true
adopted: true
