Packs/soc-optimization-unified/Playbooks/Foundation_-_Normalize_Endpoint_V3.yml
adopted: true
fromversion: 5.0.0
id: Foundation - Normalize Endpoint_V3
version: 1
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.5.0
    fromServerVersion: 5.0.0
    toServerVersion: ''
    definitionid: ''
    prevname: ''
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Normalize Endpoint_V3
description: Normalizes Endpoint alert fields into the SOCFramework.Endpoint.* contract.
  Reads issue.* directly. Sequential chain — one connection per task.
tags:
- SOC
- SOC_Framework_Unified
- Foundation
- Endpoint
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: 4a635a08-9199-4952-acca-bdc3d92f5362
    type: start
    task:
      id: d2187681-89f6-4847-9698-a21ffb690efa
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 50}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '1':
    id: '1'
    taskid: 33898784-9d88-4562-8f7c-71b88bfc0837
    type: title
    task:
      id: 20c02f99-026b-4829-a2eb-14cb9cc91b61
      version: -1
      name: Set SOCFramework.Endpoint Fields
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '10'
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 190}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '38':
    id: '38'
    taskid: fe2331b9-c937-4769-9549-41d3414e6671
    type: title
    task:
      id: 2aef31ae-1c2b-4a88-8be6-0070d7778a5c
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 4880}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '10':
    id: '10'
    taskid: e54bcf4d-2ef6-407c-8e9f-972bd03a082f
    type: regular
    task:
      id: 12108da5-13bc-4fd1-9ef9-9b5dcc6e21d7
      version: -1
      name: Set hostname
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '11'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.hostname
      value:
        simple: ${issue.agent_hostname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 360}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '11':
    id: '11'
    taskid: 1728e7da-a49c-495f-9c4a-651f3d325d4c
    type: regular
    task:
      id: 7b198c88-f9a1-4d90-9d9e-bad9b5e67c3e
      version: -1
      name: Set endpoint_id
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '12'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.endpoint_id
      value:
        simple: ${issue.agent_id}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 520}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '12':
    id: '12'
    taskid: be84975e-3882-4ad2-ae98-05b08f097b74
    type: regular
    task:
      id: fdbd44d9-6c57-4923-ba22-65b6da368954
      version: -1
      name: Set os
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '13'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.os
      value:
        simple: ${issue.ostype}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 680}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '13':
    id: '13'
    taskid: bcfc4ae5-d9cf-47ac-bb6c-403eabe449f7
    type: regular
    task:
      id: e2eb7fda-794a-4b51-8c0f-05beb1d78fb9
      version: -1
      name: Set ip_address
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '14'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.ip_address
      value:
        simple: ${issue.action_local_ip}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 840}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '14':
    id: '14'
    taskid: 39ddeb5c-9a4c-42d6-a050-8c292ecf7370
    type: regular
    task:
      id: ae3c4682-a5d6-442a-aa9b-0f970844d495
      version: -1
      name: Set external_ip
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '15'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.external_ip
      value:
        simple: ${issue.deviceexternalips}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1000}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '15':
    id: '15'
    taskid: 94db0245-28e4-4907-a2b3-762d61180d99
    type: regular
    task:
      id: 3da81239-0044-4d26-a716-ec836692f426
      version: -1
      name: Set mac_address
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '16'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.mac_address
      value:
        simple: ${issue.mac}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1160}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '16':
    id: '16'
    taskid: f98f6b22-f54b-4414-b0c2-28ab247065bc
    type: regular
    task:
      id: b219fbc7-460c-4c6f-ac6e-bfff977e778d
      version: -1
      name: Set domain
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '17'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.domain
      value:
        simple: ${issue.agent_device_domain}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1320}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '17':
    id: '17'
    taskid: be667a38-2c06-4fc6-906b-94a0ee1dbdcf
    type: regular
    task:
      id: 49ccfef3-5295-4299-a568-d46e891cde57
      version: -1
      name: Set username
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '18'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.username
      value:
        simple: ${issue.actor_effective_username}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1480}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '18':
    id: '18'
    taskid: 40ac1098-6482-4d09-b298-596817667ae9
    type: regular
    task:
      id: c73cc2ac-7da1-4562-86b2-cd0361517a11
      version: -1
      name: Set user_principal
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '19'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.user_principal
      value:
        simple: ${issue.user_principal}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1640}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '19':
    id: '19'
    taskid: f5285642-57e7-4709-9ed0-0230ad73a3be
    type: regular
    task:
      id: 75e1ca8c-b71f-4b99-a33f-cfe0f4f63658
      version: -1
      name: Set process_name
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '20'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.process_name
      value:
        simple: ${issue.actor_process_image_name}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1800}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '20':
    id: '20'
    taskid: d2e3e5e3-fba0-4b3b-a4ef-7ce7b6791097
    type: regular
    task:
      id: 89757f63-d540-4174-8281-8a283d816733
      version: -1
      name: Set process_sha256
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '21'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.process_sha256
      value:
        simple: ${issue.actor_process_image_sha256}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 1960}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '21':
    id: '21'
    taskid: 610a9786-8d1a-46c9-b65d-a904457cfbce
    type: regular
    task:
      id: 2f49c655-012a-4aba-ba42-1ccad79381e1
      version: -1
      name: Set process_cmd
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '22'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.process_cmd
      value:
        simple: ${issue.actor_process_command_line}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2120}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '22':
    id: '22'
    taskid: d9d0c800-cb53-45cf-9157-cabd1b8a0518
    type: regular
    task:
      id: 32fb3f67-5922-431e-a582-5d8dcae4c503
      version: -1
      name: Set process_path
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '23'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.process_path
      value:
        simple: ${issue.actor_process_image_path}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2280}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '23':
    id: '23'
    taskid: 83d9d1b2-16af-45de-bba9-5f790df5338a
    type: regular
    task:
      id: d9d21d87-5d4d-4356-ab85-6ae4cb33bd5e
      version: -1
      name: Set process_pid
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '24'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.process_pid
      value:
        simple: ${issue.actor_process_os_pid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2440}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '24':
    id: '24'
    taskid: 40de1fb9-9e1d-456a-b592-fc50df00116d
    type: regular
    task:
      id: 7e77846d-7b66-4f85-9bfe-1bbcdae68dbc
      version: -1
      name: Set parent_process_name
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '25'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.parent_process_name
      value:
        simple: ${issue.parentprocessname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2600}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '25':
    id: '25'
    taskid: 67876a83-7cfe-4d31-9c6d-ced0926f98ff
    type: regular
    task:
      id: a8d520fc-0997-4bf5-827e-03f26ecc5696
      version: -1
      name: Set parent_process_sha256
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '26'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.parent_process_sha256
      value:
        simple: ${issue.parentprocesssha256}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2760}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '26':
    id: '26'
    taskid: 1daf524c-126c-4b72-b3f2-8d538eae2cb7
    type: regular
    task:
      id: 2abe04ac-dca6-4626-911e-40a119f6cf8d
      version: -1
      name: Set parent_process_cmd
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '27'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.parent_process_cmd
      value:
        simple: ${issue.parentprocesscmd}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 2920}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '27':
    id: '27'
    taskid: bc33c866-0b10-47ca-a610-7fc40ed87939
    type: regular
    task:
      id: 6f2b1288-ea48-46f1-b17b-e2585f1fe499
      version: -1
      name: Set file_path
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '28'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.file_path
      value:
        simple: ${issue.action_file_path}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3080}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '28':
    id: '28'
    taskid: 44981864-82b0-446f-8153-15753a837339
    type: regular
    task:
      id: 1829f8ed-36ad-43c4-8e41-b8642169c586
      version: -1
      name: Set file_sha256
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '29'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.file_sha256
      value:
        simple: ${issue.action_file_sha256}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3240}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '29':
    id: '29'
    taskid: 25fd7074-5498-40c6-aabd-ca5cad9e1895
    type: regular
    task:
      id: 1b6a81a8-d79d-468f-a77b-70bee2c9e205
      version: -1
      name: Set network_accesses
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '30'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.network_accesses
      value:
        simple: ${issue.network_accesses}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3400}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '30':
    id: '30'
    taskid: 3454aaad-269b-4a28-afcd-ce9b78da66eb
    type: regular
    task:
      id: c381f34d-9b40-4692-b2b2-7238833aa71f
      version: -1
      name: Set dns_queries
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '31'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.dns_queries
      value:
        simple: ${issue.dns_query_name}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3560}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '31':
    id: '31'
    taskid: 04036c47-be8b-488a-83eb-032f8621c546
    type: regular
    task:
      id: d4962e68-c9ec-4514-877e-57324c744e8c
      version: -1
      name: Set tactic
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '32'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.tactic
      value:
        simple: ${issue.mitretacticname}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3720}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '32':
    id: '32'
    taskid: db7b34d0-d3c5-4929-b1ae-a045bca10dbf
    type: regular
    task:
      id: b702b07b-0c3d-43d9-8b9f-fd782b1bb81b
      version: -1
      name: Set technique
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '33'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.technique
      value:
        simple: ${issue.mitretechniquename}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 3880}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '33':
    id: '33'
    taskid: eb25785a-bde6-4a2e-8add-f721225542b1
    type: regular
    task:
      id: 3e252f2c-4e4d-4031-8623-46ae81cc1320
      version: -1
      name: Set tactic_id
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '34'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.tactic_id
      value:
        simple: ${issue.mitretacticid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 4040}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '34':
    id: '34'
    taskid: ee0333ae-cb51-460b-b96a-dc84b28eb1b9
    type: regular
    task:
      id: 7f667e8e-ac32-4e35-baf9-c175f720873e
      version: -1
      name: Set technique_id
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '35'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.technique_id
      value:
        simple: ${issue.mitretechniqueid}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 4200}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '35':
    id: '35'
    taskid: 2313c91f-7b5a-4854-b6a0-7f305727effe
    type: regular
    task:
      id: b97739b6-84be-489d-bb61-28bf7823da73
      version: -1
      name: Set alert_action
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '36'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.alert_action
      value:
        simple: ${issue.alertaction}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 4360}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '36':
    id: '36'
    taskid: c8f18f80-0264-4322-a953-fde35a119878
    type: regular
    task:
      id: c1379b71-c8e8-4da2-b4f0-52e7ad3aa120
      version: -1
      name: Set containment_status
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '37'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.containment_status
      value:
        simple: ${issue.endpointstatus}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 4520}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  '37':
    id: '37'
    taskid: 11665980-2bc9-47f2-bc7f-b282ebb6df5c
    type: regular
    task:
      id: f9c3d3a0-bfb3-4c81-a18f-47476cf74b16
      version: -1
      name: Set normalization_source
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '38'
    scriptarguments:
      append:
        simple: 'false'
      key:
        simple: SOCFramework.Endpoint.normalization_source
      value:
        simple: endpoint
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: '{"position": {"x": 480, "y": 4680}}'
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
view: '{"linkLabelsPosition": {}, "paper": {"dimensions": {"height": 4980, "width":
  380, "x": 280, "y": 50}}}'
inputs: []
inputSections:
- inputs: []
  name: General (Inputs group)
  description: ''
outputSections:
- outputs:
  - SOCFramework.Endpoint.hostname
  - SOCFramework.Endpoint.endpoint_id
  - SOCFramework.Endpoint.os
  - SOCFramework.Endpoint.ip_address
  - SOCFramework.Endpoint.external_ip
  - SOCFramework.Endpoint.mac_address
  - SOCFramework.Endpoint.domain
  - SOCFramework.Endpoint.username
  - SOCFramework.Endpoint.user_principal
  - SOCFramework.Endpoint.process_name
  - SOCFramework.Endpoint.process_sha256
  - SOCFramework.Endpoint.process_cmd
  - SOCFramework.Endpoint.process_path
  - SOCFramework.Endpoint.process_pid
  - SOCFramework.Endpoint.parent_process_name
  - SOCFramework.Endpoint.parent_process_sha256
  - SOCFramework.Endpoint.parent_process_cmd
  - SOCFramework.Endpoint.file_path
  - SOCFramework.Endpoint.file_sha256
  - SOCFramework.Endpoint.network_accesses
  - SOCFramework.Endpoint.dns_queries
  - SOCFramework.Endpoint.tactic
  - SOCFramework.Endpoint.technique
  - SOCFramework.Endpoint.tactic_id
  - SOCFramework.Endpoint.technique_id
  - SOCFramework.Endpoint.alert_action
  - SOCFramework.Endpoint.containment_status
  - SOCFramework.Endpoint.normalization_source
  name: SOCFramework Endpoint Contract
  description: SOCFramework.Endpoint.* keys for downstream NIST IR lifecycle
outputs:
- contextPath: SOCFramework.Endpoint.hostname
  description: A/C/R - isolation target
  type: String
- contextPath: SOCFramework.Endpoint.endpoint_id
  description: C/R - soc-isolate-endpoint, soc-deisolate
  type: String
- contextPath: SOCFramework.Endpoint.os
  description: A - OS-specific eradication path
  type: String
- contextPath: SOCFramework.Endpoint.ip_address
  description: A/C - lateral scope
  type: String
- contextPath: SOCFramework.Endpoint.external_ip
  description: A - external exposure
  type: String
- contextPath: SOCFramework.Endpoint.mac_address
  description: A - asset identity
  type: String
- contextPath: SOCFramework.Endpoint.domain
  description: A - domain context
  type: String
- contextPath: SOCFramework.Endpoint.username
  description: A/C - identity pivot
  type: String
- contextPath: SOCFramework.Endpoint.user_principal
  description: A/C - UPN for disable-user
  type: String
- contextPath: SOCFramework.Endpoint.process_name
  description: A/E - malware process
  type: String
- contextPath: SOCFramework.Endpoint.process_sha256
  description: A/E - detonation + block + remove-file
  type: String
- contextPath: SOCFramework.Endpoint.process_cmd
  description: A - cmdline analysis
  type: String
- contextPath: SOCFramework.Endpoint.process_path
  description: E - file removal path
  type: String
- contextPath: SOCFramework.Endpoint.process_pid
  description: A - live process targeting
  type: String
- contextPath: SOCFramework.Endpoint.parent_process_name
  description: A - process tree
  type: String
- contextPath: SOCFramework.Endpoint.parent_process_sha256
  description: A - parent hash
  type: String
- contextPath: SOCFramework.Endpoint.parent_process_cmd
  description: A - parent cmdline
  type: String
- contextPath: SOCFramework.Endpoint.file_path
  description: E - soc-remove-file target
  type: String
- contextPath: SOCFramework.Endpoint.file_sha256
  description: E - file removal + block
  type: String
- contextPath: SOCFramework.Endpoint.network_accesses
  description: A - lateral movement detection
  type: String
- contextPath: SOCFramework.Endpoint.dns_queries
  description: A - C2 domain detection
  type: String
- contextPath: SOCFramework.Endpoint.tactic
  description: A - MITRE tactic routing
  type: String
- contextPath: SOCFramework.Endpoint.technique
  description: A - MITRE technique
  type: String
- contextPath: SOCFramework.Endpoint.tactic_id
  description: A - MITRE tactic ID
  type: String
- contextPath: SOCFramework.Endpoint.technique_id
  description: A - MITRE technique ID
  type: String
- contextPath: SOCFramework.Endpoint.alert_action
  description: A - prevented vs detected
  type: String
- contextPath: SOCFramework.Endpoint.containment_status
  description: A - pre-existing isolation check
  type: String
- contextPath: SOCFramework.Endpoint.normalization_source
  description: Always 'endpoint'
  type: String
