Packs/soc-optimization-unified/Playbooks/Foundation_-_Upon_Trigger_V3.yml
fromversion: 5.0.0
id: Foundation - Upon Trigger V3
version: 3
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.0.17
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: Foundation - Upon Trigger V3
tags:
- SOC
- SOC_Framework_Unified
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 5206068f-fdf3-4829-8cc2-c3ada7b5516b
    type: start
    task:
      id: 5206068f-fdf3-4829-8cc2-c3ada7b5516b
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: cd6cbd33-49b9-4c0e-8c76-12c43c541cb5
    type: title
    task:
      id: cd6cbd33-49b9-4c0e-8c76-12c43c541cb5
      version: -1
      name: Environment Detection
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "27"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: eaffbc30-3533-483b-80c1-82bdd0e73dd3
    type: title
    task:
      id: eaffbc30-3533-483b-80c1-82bdd0e73dd3
      version: -1
      name: Data Integrity
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "28"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 2b3a538a-4c64-408a-86b2-74cd81484c7f
    type: title
    task:
      id: 2b3a538a-4c64-408a-86b2-74cd81484c7f
      version: -1
      name: Alert Sync (Ledger / Owner Notification)
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "32"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 930
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 4bc7c9d9-c8d2-4e49-8f24-1e964e9ad270
    type: title
    task:
      id: 4bc7c9d9-c8d2-4e49-8f24-1e964e9ad270
      version: -1
      name: Dedup
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "35"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: a4730ca6-80a0-4fb3-80d3-9a2e6e1f964c
    type: title
    task:
      id: a4730ca6-80a0-4fb3-80d3-9a2e6e1f964c
      version: -1
      name: Enrichment (User, IP, Hash, Domain)
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "23"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1285
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 35c54f0f-e1e7-48a9-8aed-57d322ddf9c7
    type: title
    task:
      id: 35c54f0f-e1e7-48a9-8aed-57d322ddf9c7
      version: -1
      name: Assessment
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "30"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1995
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 76dd4bf8-4839-4846-8cc2-95492ce2721a
    type: title
    task:
      id: 76dd4bf8-4839-4846-8cc2-95492ce2721a
      version: -1
      name: Escalation
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "31"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2350
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: d6a23a94-520a-4ff6-8146-c309f064e6ed
    type: title
    task:
      id: d6a23a94-520a-4ff6-8146-c309f064e6ed
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3060
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: c5f48fdf-5a69-4392-8a11-332b1ddef033
    type: playbook
    task:
      id: c5f48fdf-5a69-4392-8a11-332b1ddef033
      version: -1
      name: Foundation - Enrichment_V3
      description: |
        Identifies the core fields present and starts tailored enrichment pipelines
        Generates threat flags based on findings (ex: if we identify a domain controller or admin account)
      playbookName: Foundation - Enrichment_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "4"
    scriptarguments:
      Domain:
        simple: ${inputs.Domain}
      Email:
        simple: ${inputs.Email}
      EndpointID:
        simple: ${inputs.EndpointID}
      File_Hash:
        simple: ${inputs.File_Hash}
      Hostname:
        simple: ${inputs.Hostname}
      MD5:
        simple: ${inputs.MD5}
      Remote_IP:
        simple: ${inputs.Remote_IP}
      SHA256:
        simple: ${inputs.SHA256}
      Source_IP:
        simple: ${inputs.Source_IP}
      UserName:
        simple: ${inputs.UserName}
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1455
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "27":
    id: "27"
    taskid: e7fb3a47-a406-4aae-8dc2-db183be1d0a7
    type: playbook
    task:
      id: e7fb3a47-a406-4aae-8dc2-db183be1d0a7
      version: -1
      name: Foundation - Environment Detection_V3
      description: |
        Identify Non-Production Use Cases
        Keeps downstream playbooks from performing ‘hazardous tasks’
      playbookName: Foundation - Environment Detection_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 50,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "28":
    id: "28"
    taskid: a659e0eb-4d52-4b3d-bfca-d072c8b33d04
    type: playbook
    task:
      id: a659e0eb-4d52-4b3d-bfca-d072c8b33d04
      version: -1
      name: Foundation - Data Integrity_V3
      description: |
        Core fields are evaluated
        Unpopulated core fields refer to alternatives for values
        Field values are evaluated for formatting and syntax
      playbookName: Foundation - Data Integrity_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "3"
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 50,
          "y": 745
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "30":
    id: "30"
    taskid: 0b8ac779-46fc-4fd0-81f7-b353236b24c3
    type: playbook
    task:
      id: 0b8ac779-46fc-4fd0-81f7-b353236b24c3
      version: -1
      name: Foundation - Assessment_V3
      description: |+
        Evaluates our enrichment flags, and severity value(s) to formalize a final severity score
        Creates human readable summary of severity assessment reasoning

      playbookName: Foundation - Assessment_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "7"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2165
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "31":
    id: "31"
    taskid: 11861ffc-38b6-4bda-8a82-4657bd1ceeff
    type: playbook
    task:
      id: 11861ffc-38b6-4bda-8a82-4657bd1ceeff
      version: -1
      name: Foundation - Escalation_V3
      description: |
        Handles dispatching pagerduty alert / SOC email
        Identifies if another alert within the alert already paged
      playbookName: Foundation - Escalation_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "33"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2520
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "32":
    id: "32"
    taskid: f21ef304-0199-4462-b3f9-2a67cb579af3
    type: playbook
    task:
      id: f21ef304-0199-4462-b3f9-2a67cb579af3
      version: -1
      name: Foundation - Case Sync_V3
      description: |+
        Generates/Updates the Case Alert Ledger
        Notifies alert owner of new issue addition

      playbookName: Foundation - Case Sync_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "5"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "33":
    id: "33"
    taskid: 53a0a8d4-f046-4bf1-bd2e-d86e6e5b5cea
    type: title
    task:
      id: 53a0a8d4-f046-4bf1-bd2e-d86e6e5b5cea
      version: -1
      name: Performance Capture
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "34"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2705
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: 75031272-0824-439f-8219-be2a80c0186e
    type: playbook
    task:
      id: 75031272-0824-439f-8219-be2a80c0186e
      version: -1
      name: Foundation - Performance Capture_V3
      playbookName: Foundation - Performance Capture_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2875
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: 1d4e4498-5b23-4b7f-89ba-646cd8f33034
    type: playbook
    task:
      id: 1d4e4498-5b23-4b7f-89ba-646cd8f33034
      version: -1
      name: Foundation - Dedup_V3
      playbookName: Foundation - Dedup_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1802.20703125
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3070,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: Source_IP
  value:
    simple: ${issue.localip}
  required: false
  description: ""
  playbookInputQuery: null
- key: File_Hash
  value:
    simple: ${issue.filesha256}
  required: false
  description: ""
  playbookInputQuery: null
- key: Remote_IP
  value:
    simple: ${issue.remoteip}
  required: false
  description: ""
  playbookInputQuery: null
- key: UserName
  value:
    simple: ${issue.username}
  required: false
  description: ""
  playbookInputQuery: null
- key: Email
  value:
    simple: ${issue.email}
  required: false
  description: ""
  playbookInputQuery: null
- key: EndpointID
  value:
    simple: ${issue.agentid}
  required: false
  description: ""
  playbookInputQuery: null
- key: Hostname
  value:
    simple: ${issue.hostname}
  required: false
  description: ""
  playbookInputQuery: null
- key: Domain
  value:
    simple: ${issue.domain}
  required: false
  description: ""
  playbookInputQuery: null
- key: MD5
  value:
    simple: ${issue.filemd5}
  required: false
  description: ""
  playbookInputQuery: null
- key: SHA256
  value:
    simple: ${issue.filesha256}
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - Source_IP
  - File_Hash
  - Remote_IP
  - UserName
  - Email
  - EndpointID
  - Hostname
  - Domain
  - MD5
  - SHA256
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs: []
  name: General (Outputs group)
  description: Generic group for outputs
outputs: []
sourceplaybookid: Foundation - Upon Trigger
quiet: true
dirtyInputs: true
adopted: true
