Packs/soc-optimization-unified/Playbooks/JOB_-_Triage_Alerts_V3.yml
fromversion: 5.0.0
id: JOB - Auto Triage V3
version: 7
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.7.3
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: JOB - Auto Triage V3
tags:
- SOC
- SOC_Framework_Unified
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: dc73a190-a2e4-4e6e-8a57-badb11c62e1b
    type: start
    task:
      id: dc73a190-a2e4-4e6e-8a57-badb11c62e1b
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: 993570fa-2548-4e9c-af63-478189b6c22b
    type: regular
    task:
      id: 993570fa-2548-4e9c-af63-478189b6c22b
      version: -1
      name: Get Unstarred Open Cases
      description: Queries get_incidents — starred=false, status new. Age window filtering
        handled in SOCAutoTriageScoreFilter using Python time.time() ms comparison.
      script: '|||core-api-post'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "12"
    scriptarguments:
      body:
        simple: '{"request_data":{"filters":[{"field":"status","operator":"eq","value":"new"},{"field":"starred","operator":"eq","value":false}]}}'
      extend-context:
        simple: Found=.
      uri:
        simple: /public_api/v1/incidents/get_incidents
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

  "5":
    id: "5"
    taskid: 11786de0-5a13-412d-8a8a-1ab69922d510
    type: condition
    task:
      id: 11786de0-5a13-412d-8a8a-1ab69922d510
      version: -1
      name: Cases to Triage?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "8"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: AutoTriage.filtered_incidents.incident_id
            iscontext: true
          right:
            value: {}
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 775
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 6ae6dff9-3719-4b2e-8758-d1cf54a24c13
    type: title
    task:
      id: 6ae6dff9-3719-4b2e-8758-d1cf54a24c13
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1515
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: 481cd8d5-7bca-4923-8cd0-77d48d883e8f
    type: playbook
    task:
      id: 481cd8d5-7bca-4923-8cd0-77d48d883e8f
      version: -1
      name: SOC Close Cases_V3
      playbookName: SOC Close Cases_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "13"
    scriptarguments:
      incident_id:
        simple: ${AutoTriage.filtered_incidents.incident_id}
      resolve_comment:
        simple: 'SOC Framework Auto Triage: case exceeded age threshold, aggregated_score
          below threshold, no analyst activity detected. Auto-closed by JOB.'
    separatecontext: true
    continueonerror: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
      forEach: true
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: ecad854e-0b30-4494-8c61-183d70ee7952
    type: regular
    task:
      id: ecad854e-0b30-4494-8c61-183d70ee7952
      version: -1
      name: Close Job
      description: commands.local.cmd.close.inv
      script: Builtin|||closeInvestigation
      type: regular
      iscommand: true
      brand: Builtin
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "7"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: ba55380b-2e2c-44ef-8fcf-d828bfbfa09a
    type: regular
    task:
      id: ba55380b-2e2c-44ef-8fcf-d828bfbfa09a
      version: -1
      name: Filter Cases by Score Threshold
      description: Filters API response by aggregated_score <= TriageScoreThreshold
        and manual_score is null. Cases above threshold or analyst-touched are skipped.
        Passes only eligible cases to the close loop.
      scriptName: SOCAutoTriageScoreFilter
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      incidents:
        complex:
          root: Found.response.reply
          accessor: incidents
      score_threshold:
        complex:
          root: lists
          accessor: SOCOptimizationConfig_V3
          transformers:
          - operator: getField
            args:
              field:
                value:
                  simple: Triage Incidents JOB
          - operator: getField
            args:
              field:
                value:
                  simple: fields
          - operator: getField
            args:
              field:
                value:
                  simple: TriageScoreThreshold
      window_hours:
        complex:
          root: lists
          accessor: SOCOptimizationConfig_V3
          transformers:
          - operator: getField
            args:
              field:
                value:
                  simple: Triage Incidents JOB
          - operator: getField
            args:
              field:
                value:
                  simple: fields
          - operator: getField
            args:
              field:
                value:
                  simple: TriageWindowHours
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 060002f1-d895-4042-9808-1ba178cd5be5
    type: regular
    task:
      id: 060002f1-d895-4042-9808-1ba178cd5be5
      version: -1
      name: Write Closed Cases to Dataset
      description: Writes one row per auto-closed case to xsiam_socfw_ir_execution_raw
        via socfw_ir_execution instance. Tags auto_triage_closed for Value Metrics
        Dashboard join. VD3 metric — analyst hours saved by auto-close.
      script: '|||xql-post-to-dataset'
      type: regular
      iscommand: true
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "9"
    scriptarguments:
      JSON:
        simple: '[{"timestamp":"${TimeNowUnix}","event_type":"auto_triage","universal_command":"auto_close_incident","action_taken":"auto_triage_closed","action_status":"success","execution_mode":"production","shadow_mode_state":"not_applicable","lifecycle":"AUTO_TRIAGE","phase":"triage","incident_id":"${AutoTriage.filtered_incidents.incident_id}","aggregated_score":"${AutoTriage.filtered_incidents.aggregated_score}","tags":["auto_triage_closed"],"has_error":false,"error_type":"","error_message":""}]'
      using:
        simple: socfw_ir_execution
    separatecontext: false
    continueonerror: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
      forEach: true
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 1145
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {
      "5_9_#default#": 0.82
    },
    "paper": {
      "dimensions": {
        "height": 1525,
        "width": 492.5,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs: []
dirtyInputs: true
adopted: true
