Packs/soc-optimization-unified/Playbooks/SOC_Comms_Email_V3.yml
adopted: true
id: SOC Comms Email_V3
name: SOC Comms Email_V3
version: -1
fromversion: 6.10.0
description: "NIST IR 800-61  - Communications  - Email Verdict Notification\n\nFire-and-forget\
  \ Comms playbook. Notifies the person who reported the phishing email of the\n\
  verdict. Never blocks the main NIST IR flow.\n\nBehavior:\n  - If Verdict = malicious\
  \ AND PartOfCampaign: sends campaign-specific message\n  - If Verdict = malicious:\
  \ sends malicious verdict message\n  - If Verdict = benign: sends safe/cleared message\n\
  \  - If UserEngagement = false OR no ReporterEmail: skips silently\n\nValue Driver:\
  \ VD3 (Operational Efficiency)  - closes the loop with the reporter automatically,\n\
  eliminating the manual analyst step of composing verdict emails.\nValue Driver:\
  \ VD2 (Simplify Ops)  - removes per-alert manual communication from analyst workload.\n\
  \nRAF Phishing capabilities integrated:\n  - Reporter verdict email (benign/malicious/campaign)\
  \ from SOC - Email Containment - RAF\n    (tasks 16, 148, 150  - send-mail to reporteremailaddress)\n\
  \  - Campaign-aware message body (PartOfCampaign context check)\n  - User engagement\
  \ toggle (UserEngagement input gate)\n\nCallers:\n  SOC Email Analysis_V3 (task\
  \ 24  - Comms title -> this playbook)"
tags:
- SOC
- SOC_Framework_Unified
- Comms
- Email
- NIST 800-61
starttaskid: '0'
tasks:
  '0':
    id: '0'
    taskid: ba29e68e-0d9f-4811-857e-00fa7d9bed30
    type: start
    task:
      id: ba29e68e-0d9f-4811-857e-00fa7d9bed30
      version: -1
      name: ''
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '1'
    separatecontext: false
    continueonerrortype: ''
    view: "{\"position\": {\"x\": 500, \"y\": 50}}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

  '1':
    id: '1'
    taskid: f3431540-d71d-49e8-b2a4-7ea4ac592bf6
    type: condition
    task:
      id: f3431540-d71d-49e8-b2a4-7ea4ac592bf6
      version: -1
      name: User Engagement Enabled and Reporter Available?
      type: condition
      description: 'Gate: only proceed if UserEngagement = true AND a reporter email
        address is available. If either is missing, skip all notification tasks silently.'
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '9'
      'yes':
      - '2'
    conditions:
    - label: 'yes'
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.UserEngagement
            iscontext: true
          right:
            value:
              simple: 'true'
          ignorecase: true
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.ReporterEmail
            iscontext: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\"position\": {\"x\": 500, \"y\": 220}}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

  '2':
    id: '2'
    taskid: 1efa1c01-1274-45a7-b6b1-eb8697943995
    type: title
    task:
      id: 1efa1c01-1274-45a7-b6b1-eb8697943995
      version: -1
      name: Route by Verdict
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '3'
    separatecontext: false
    continueonerrortype: ''
    view: "{\"position\": {\"x\": 500, \"y\": 440}}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

  '3':
    id: '3'
    taskid: ee1755a8-949b-45ed-9da3-7f418b8ef457
    type: condition
    task:
      id: ee1755a8-949b-45ed-9da3-7f418b8ef457
      version: -1
      name: Verdict and Campaign Check
      type: condition
      description: 'Routes to the appropriate notification message. Campaign check
        takes priority over plain malicious  - if PartOfCampaign is set, the reporter
        gets the campaign-specific message. Benign verdict sends the safe/cleared
        message. Suspicious or unknown verdicts skip notification to avoid confusing
        the reporter.'
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - '9'
      malicious_campaign:
      - '6'
      malicious:
      - '5'
      benign:
      - '4'
    conditions:
    - label: malicious_campaign
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.Verdict
            iscontext: true
          right:
            value:
              simple: malicious
          ignorecase: true
      - - operator: isNotEmpty
          left:
            value:
              simple: inputs.PartOfCampaign
            iscontext: true
    - label: malicious
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.Verdict
            iscontext: true
          right:
            value:
              simple: malicious
          ignorecase: true
    - label: benign
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: inputs.Verdict
            iscontext: true
          right:
            value:
              simple: benign
          ignorecase: true
    separatecontext: false
    continueonerrortype: ''
    view: "{\"position\": {\"x\": 500, \"y\": 610}}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

  # ── Benign notification ────────────────────────────────────────────────────────
  '4':
    id: '4'
    taskid: a793c2e6-b7e9-423d-a340-d6f22f20aa40
    type: regular
    task:
      id: a793c2e6-b7e9-423d-a340-d6f22f20aa40
      version: -1
      name: Notify Reporter  - Email Is Safe
      description: 'Sends verdict notification email to the reporter. Message body:
        email reviewed and found safe. Fires directly via send-mail  - this is a communication
        action, not a security enforcement action, so Universal Command gating is
        not applied.'
      script: '|||send-mail'
      type: regular
      iscommand: true
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    scriptarguments:
      to:
        simple: ${inputs.ReporterEmail}
      subject:
        simple: "Re: Phishing Report - ${inputs.AlertName}"
      body:
        simple: "Hi,\n\nWe've reviewed the email you forwarded to us and concluded\
          \ that it is safe. No further action is required on your part.\n\nIf you\
          \ believe this assessment is incorrect and the email is still suspicious,\
          \ please contact our SOC team directly.\n\nThank you for your vigilance\
          \ and for helping keep our organization secure.\n\nBest regards,\nYour Security\
          \ Team"
      using:
        simple: ${inputs.SendMailInstance}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\"position\": {\"x\": 950, \"y\": 830}}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

  # ── Malicious notification ─────────────────────────────────────────────────────
  '5':
    id: '5'
    taskid: 85df21f8-aa34-45e6-b16a-044dd5db1ba2
    type: regular
    task:
      id: 85df21f8-aa34-45e6-b16a-044dd5db1ba2
      version: -1
      name: Notify Reporter  - Email Is Malicious
      description: 'Sends verdict notification email to the reporter. Message body:
        email confirmed malicious, no further action required from reporter.'
      script: '|||send-mail'
      type: regular
      iscommand: true
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    scriptarguments:
      to:
        simple: ${inputs.ReporterEmail}
      subject:
        simple: "Re: Phishing Report - ${inputs.AlertName}"
      body:
        simple: "Hi,\n\nWe've reviewed the email you forwarded to us and confirmed\
          \ it is malicious. No further action is required on your part  - our security\
          \ team is handling the remediation.\n\nGreat work detecting and reporting\
          \ this. Your vigilance helps protect the entire organization.\n\nBest regards,\n\
          Your Security Team"
      using:
        simple: ${inputs.SendMailInstance}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\"position\": {\"x\": 500, \"y\": 830}}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

  # ── Campaign notification ──────────────────────────────────────────────────────
  '6':
    id: '6'
    taskid: 78fee5c3-42b4-4d27-91ed-f4f9873b3864
    type: regular
    task:
      id: 78fee5c3-42b4-4d27-91ed-f4f9873b3864
      version: -1
      name: Notify Reporter  - Part of Phishing Campaign
      description: 'Sends campaign-aware verdict notification. Reporter gets additional
        context that this was part of a broader campaign targeting the organization.
        Campaign ID sourced from inputs.PartOfCampaign.'
      script: '|||send-mail'
      type: regular
      iscommand: true
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - '9'
    scriptarguments:
      to:
        simple: ${inputs.ReporterEmail}
      subject:
        simple: "Re: Phishing Report - ${inputs.AlertName}"
      body:
        simple: "Hi,\n\nWe've reviewed the email you forwarded to us. It is part\
          \ of a broader phishing campaign targeting our organization (Campaign ID:\
          \ ${inputs.PartOfCampaign}). Our security team is actively remediating across\
          \ all affected mailboxes  - no further action is required on your part.\n\
          \nExcellent work detecting and reporting this. Your report directly contributed\
          \ to identifying the campaign scope.\n\nBest regards,\nYour Security Team"
      using:
        simple: ${inputs.SendMailInstance}
    separatecontext: false
    continueonerror: true
    continueonerrortype: ''
    view: "{\"position\": {\"x\": 50, \"y\": 830}}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

  '9':
    id: '9'
    taskid: 87254b98-c4a4-40d2-90b8-0e2db06e964a
    type: title
    task:
      id: 87254b98-c4a4-40d2-90b8-0e2db06e964a
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ''
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks: {}
    separatecontext: false
    continueonerrortype: ''
    view: "{\"position\": {\"x\": 500, \"y\": 1060}}"
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false

inputs:
- key: Verdict
  '10':
    simple: ${Analysis.Email.verdict}
  required: false
  description: Analysis.Email.verdict  - malicious / benign. Drives notification routing.
  playbookInputQuery: null
- key: UserEngagement
  '10':
    simple: 'false'
  required: false
  description: Set to true to enable reporter notification. Default false  - analyst
    must explicitly enable per-deployment. Matches inputs.UserEngagement from RAF
    Containment playbook.
  playbookInputQuery: null
- key: ReporterEmail
  '10':
    simple: ${alert.reporteremailaddress}
  required: false
  description: Email address of the person who reported the phishing. Sourced from
    alert.reporteremailaddress (XSIAM native field set by Proofpoint TAP or user-reported
    phishing alert type).
  playbookInputQuery: null
- key: PartOfCampaign
  '10':
    simple: ${PartOfCampaign}
  required: false
  description: Campaign ID if this alert is part of a detected phishing campaign.
    Non-empty value triggers campaign-specific notification body.
  playbookInputQuery: null
- key: AlertName
  '10':
    simple: ${alert.name}
  required: false
  description: Alert name for email subject line.
  playbookInputQuery: null
- key: SendMailInstance
  '10': {}
  required: false
  description: Mail integration instance to use for send-mail commands. Leave empty
    to use the default instance.
  playbookInputQuery: null
outputs: []
view: "{\"linkLabelsPosition\": {}, \"paper\": {\"dimensions\": {\"height\": 1120,\
  \ \"width\": 1200, \"x\": 50, \"y\": 50}}}"
contentitemexportablefields:
  '11':
    definitionid: ''
    fromServerVersion: 6.10.0
    isoverridable: false
    itemVersion: 1.0.0
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    prevname: ''
    supportedModules: []
    toServerVersion: ''
