Packs/soc-optimization-unified/Playbooks/SOC_Analysis_V3.yml
fromversion: 5.0.0
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 3.0.29
    packID: ""
    packName: SOC Framework Unified
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: |-
  Identify potential security events, determine whether they represent true alerts, understand their scope and impact, and establish the actionable context needed to respond effectively.

  What this phase includes:

  Monitoring security telemetry from logs, alerts, sensors, EDR, SIEM/XSIAM analytics, threat intel, and user reports.

  Triaging events to distinguish benign activity, false positives, and true security alerts.

  Enriching indicators and artifacts (e.g., IPs, hashes, domains, user accounts, processes, network connections) using internal data and external threat intelligence.

  Correlating events across systems to understand the timeline, root cause, attack vector, and potential lateral movement.

  Assigning alert classification, severity, priority, and category for consistent response.

  Documenting findings, evidence, and hypotheses while preserving forensic integrity.

  Determining the initial scope and business impact to decide how aggressive containment must be.

  Outcome:
  A validated and well-understood security alert with clear context, severity, indicators, and scope—enabling the organization to transition into Containment with confidence and accuracy.
dirtyInputs: true
id: 'SOC Analysis_V3'
inputSections:
- description: Generic group for inputs
  inputs:
  - ExecutionBranch
  - ProductCategory
  name: General (Inputs group)
inputs:
- description: ""
  key: ExecutionBranch
  playbookInputQuery: null
  required: false
  value:
    simple: ${lists.SOCExecutionList_V3}
- description: Get The Product Category
  key: ProductCategory
  playbookInputQuery: null
  required: false
  value:
    simple: ${SOCFramework.Product.category}
name: SOC Analysis_V3
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
sourceplaybookid: SOC Containment_V3
starttaskid: "0"
tags:
- SOC
- SOC_Framework_Unified
- NIST 800-61
- Analysis
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1175,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 57a5da65-400a-4cd5-826c-3436a01618f8
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Data Analysis_V3
      playbookId: SOC Data Analysis_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 57a5da65-400a-4cd5-826c-3436a01618f8
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 590
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      IPAddress:
        simple: ${issue.hostip}
      ListernerMailbox:
        simple: ${issue.xdmemailmailboxowner}
      MessageID:
        simple: ${issue.emailmessageid}
      SHA256:
        simple: ${issue.xdmsourceprocessexecutablesha256}
      alert_id:
        simple: ${issue.internal_id}
      case_category:
        complex:
          accessor: CategoryType
          root: SOCFramework.Artifacts
          transformers:
          - operator: toLowerCase
      endpoint_id:
        simple: ${issue.agentid}
      entity_type:
        complex:
          accessor: category
          root: SOCFramework.Product
          transformers:
          - operator: toLowerCase
      file_name:
        simple: ${issue.xdmsourceprocessname}
      file_path:
        simple: ${issue.initiatorpath}
      pid:
        simple: ${SOCFramework.Artifacts.PID}
      process_name:
        simple: ${SOCFramework.Artifacts.ProcessName}
      user_name:
        simple: ${SOCFramework.Artifacts.UserName}
      verdict:
        simple: ${SOCFramework.Artifacts.Verdict}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This is the analyst’s core domain.

        Key tasks:

        Investigate alerts and anomalies.

        Validate true/false positives.

        Perform triage, correlation, and root cause analysis.

        Classify the alert (category, severity, impact).

        Document findings and escalate confirmed alerts.

        Outcome: Determine whether an event is a legitimate alert and assess its scope.

        This phase measures alert fidelity, investigation efficiency, and time to validate — all analyst performance metrics.
      id: 08c656f1-230f-4f60-86ee-662640e2c54b
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC EndPoint Analysis_V3
      playbookId: SOC EndPoint Analysis_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 08c656f1-230f-4f60-86ee-662640e2c54b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1062.5,
          "y": 590
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: d7385c3a-2283-4938-81b3-58ea63cc75f2
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Identity Analysis_V3
      playbookId: SOC Identity Analysis_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: d7385c3a-2283-4938-81b3-58ea63cc75f2
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1512.5,
          "y": 590
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: e2089744-16e7-4227-8a13-0c65f8278895
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Network Analysis_V3
      playbookId: SOC Network Analysis_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: e2089744-16e7-4227-8a13-0c65f8278895
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1962.5,
          "y": 590
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 4b7573be-bd91-4fe6-8959-2bc5d4aaa78c
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC SaaS Analysis_V3
      playbookId: SOC SaaS Analysis_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 4b7573be-bd91-4fe6-8959-2bc5d4aaa78c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2412.5,
          "y": 590
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 3d8bf25e-863c-4ee5-8a18-47d621adbc11
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Workload Analysis_V3
      playbookId: SOC Workload Analysis_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 3d8bf25e-863c-4ee5-8a18-47d621adbc11
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2862.5,
          "y": 590
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8ceb5aed-c39b-452d-8fd8-f5f2ed8eb896
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 8ceb5aed-c39b-452d-8fd8-f5f2ed8eb896
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1287.5,
          "y": 775
        }
      }
  "10":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: Data
      label: Data
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: Workload
      label: Workload
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: Identity
      label: Identity
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: SaaS
      label: SaaS
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: Endpoint
      label: Endpoint
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: Email
      label: Email
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: Network
      label: Network
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      Data:
      - "13"
      Email:
      - "18"
      Endpoint:
      - "12"
      Identity:
      - "14"
      Network:
      - "15"
      SaaS:
      - "16"
      Workload:
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 92178e4d-7444-47c9-8229-cca9ce09d331
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Product Category
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 92178e4d-7444-47c9-8229-cca9ce09d331
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1175,
          "y": 220
        }
      }
  "12":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Endpoint Analysis
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Endpoint Analysis
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      Default:
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 479c410e-067c-44a3-8744-28453f704ad2
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Endpoint Analysis Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 479c410e-067c-44a3-8744-28453f704ad2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 950,
          "y": 405
        }
      }
  "13":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Data Analysis_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Data Analysis_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      Default:
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bdabddaf-0b19-4e96-971a-d3f85479805e
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Data Analysis Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: bdabddaf-0b19-4e96-971a-d3f85479805e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 405
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Identity Analysis_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Identity Analysis_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      Default:
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1333bc58-8ac4-4522-b913-52c76f5cc116
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Identity Analysis Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 1333bc58-8ac4-4522-b913-52c76f5cc116
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1400,
          "y": 405
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Network Analysis_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Network Analysis_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      Default:
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: dca31f2e-7363-4767-bfdd-42af9b9a5066
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Network Analysis Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: dca31f2e-7363-4767-bfdd-42af9b9a5066
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1850,
          "y": 405
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC SaaS Analysis_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC SaaS Analysis_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      Default:
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 419f92e1-5c35-47f4-ae4e-8b75acf42e57
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SaaS Analysis Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 419f92e1-5c35-47f4-ae4e-8b75acf42e57
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2300,
          "y": 405
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Workload Analysis_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Workload Analysis_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      Default:
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 866225a9-2ae1-434f-b042-8907793f102f
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Workload Analysis Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 866225a9-2ae1-434f-b042-8907793f102f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2750,
          "y": 405
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Email Analysis_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Email Analysis_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      Default:
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: e96a6c41-f225-4ae6-9939-0bb1639cdecb
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Email Analysis Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: e96a6c41-f225-4ae6-9939-0bb1639cdecb
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 500,
          "y": 405
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        This is the analyst’s core domain.

        Key tasks:

        Investigate alerts and anomalies.

        Validate true/false positives.

        Perform triage, correlation, and root cause analysis.

        Classify the alert (category, severity, impact).

        Document findings and escalate confirmed alerts.

        Outcome: Determine whether an event is a legitimate alert and assess its scope.

        This phase measures alert fidelity, investigation efficiency, and time to validate — all analyst performance metrics.
      id: 8d429896-10a1-417b-8289-dbaeb060bcce
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Email Analysis_V3
      playbookId: SOC Email Analysis_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 8d429896-10a1-417b-8289-dbaeb060bcce
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 612.5,
          "y": 590
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "10_14_Identity": 0.88,
      "10_16_SaaS": 0.82,
      "10_17_Workload": 0.9,
      "18_19_Default": 0.8
    },
    "paper": {
      "dimensions": {
        "height": 785,
        "width": 3192.5,
        "x": 50,
        "y": 50
      }
    }
  }
