Packs/soc-optimization-unified/Playbooks/SOC_EndPoint_Analysis_V3.yml
id: SOC EndPoint Analysis_V3
version: 287
contentitemexportablefields:
  contentitemfields:
    packID: ""
    packName: SOC Framework Unified
    itemVersion: 3.0.30
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC EndPoint Analysis_V3
description: |-
  This is the analyst’s core domain.

  Key tasks:

  Investigate alerts and anomalies.

  Validate true/false positives.

  Perform triage, correlation, and root cause analysis.

  Classify the alert (category, severity, impact).

  Document findings and escalate confirmed alerts.

  Outcome: Determine whether an event is a legitimate alert and assess its scope.

  This phase measures alert fidelity, investigation efficiency, and time to validate — all analyst performance metrics.
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- EndPoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 27ca4564-aefc-483e-8598-fa04dbefbf2e
    type: start
    task:
      id: 27ca4564-aefc-483e-8598-fa04dbefbf2e
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "59"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: eacb150f-a5d1-4b77-8945-e7f68a68424d
    type: title
    task:
      id: eacb150f-a5d1-4b77-8945-e7f68a68424d
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: dfb1f62b-258e-4e82-8f1c-b14f17ea13e4
    type: title
    task:
      id: dfb1f62b-258e-4e82-8f1c-b14f17ea13e4
      version: -1
      name: Define Attack Vector
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "66"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: 61337536-2acd-4281-af6c-6da3a9a6ec8c
    type: title
    task:
      id: 61337536-2acd-4281-af6c-6da3a9a6ec8c
      version: -1
      name: Investigate Artifacts
      description: |-
        This captures:
        WildFire Malware
        Malware Activity
        Known Malicious File
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "67"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 930
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 1e3625cf-1808-4765-8323-46f42118c05d
    type: title
    task:
      id: 1e3625cf-1808-4765-8323-46f42118c05d
      version: -1
      name: Make Recommendations
      description: |-
        What should an analysis or automation do?
        What is our level of confidence?
        i.e. Is Containment Justified?
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "41"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2180
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "34":
    id: "34"
    taskid: 4383999e-470a-4a16-b6fc-54499324cfa9
    type: playbook
    task:
      id: 4383999e-470a-4a16-b6fc-54499324cfa9
      version: -1
      name: SOC Analysis Evaluation
      playbookId: 1d9c5562-ecce-4180-8c19-4ffdc4ba90fa
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      case_category:
        complex:
          root: inputs.case_category
          transformers:
          - operator: toLowerCase
      case_host_count:
        simple: ${Investigation.findings.host_count}
      case_issue_count:
        simple: ${Investigation.findings.issue_count}
      case_score:
        simple: ${Investigation.findings.case_score}
      compromise_level:
        simple: ${Investigation.findings.compromise_level}
      confidence:
        simple: ${Investigation.findings.confidence}
      hash_prevalence_count:
        simple: ${Investigation.findings.hash_prevalence_count}
      primary_entity_id:
        simple: ${inputs.endpoint_id}
      primary_entity_type:
        simple: ${inputs.entity_type}
      response_recommended:
        simple: ${Investigation.findings.response_recommended}
      spread_level:
        simple: ${Investigation.findings.spread_level}
      verdict:
        simple: ${Investigation.findings.verdict}
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2905
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "41":
    id: "41"
    taskid: 41e6de8c-1e8e-430b-a6ce-bee6bb3fd633
    type: condition
    task:
      id: 41e6de8c-1e8e-430b-a6ce-bee6bb3fd633
      version: -1
      name: Analysis Confidence
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "44"
      high:
      - "42"
      medium:
      - "43"
    separatecontext: false
    conditions:
    - label: high
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${Investigation.findings.compromise_level}
            iscontext: true
          right:
            value:
              simple: likely_compromised
      - - operator: isEqualString
          left:
            value:
              simple: Investigation.findings.spread_level
            iscontext: true
          right:
            value:
              simple: multi_entity
        - operator: greaterThanOrEqual
          left:
            value:
              simple: Investigation.findings.issue_count
            iscontext: true
          right:
            value:
              simple: "3"
    - label: medium
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${Investigation.findings.compromise_level}
            iscontext: true
          right:
            value:
              simple: suspicious
        - operator: greaterThanOrEqual
          left:
            value:
              simple: ${Investigation.findings.issue_count}
            iscontext: true
          right:
            value:
              simple: inputs.host_high_issue_count
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2350
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "42":
    id: "42"
    taskid: 03ffec5b-25f2-4610-816b-e988acd1c518
    type: regular
    task:
      id: 03ffec5b-25f2-4610-816b-e988acd1c518
      version: -1
      name: Investigation Confidence High
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.confidence
      value:
        simple: high
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2535
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "43":
    id: "43"
    taskid: 0f08ef52-69b0-4947-8550-0ed220208608
    type: regular
    task:
      id: 0f08ef52-69b0-4947-8550-0ed220208608
      version: -1
      name: Investigation Confidence Medium
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "45"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.confidence
      value:
        simple: medium
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2535
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "44":
    id: "44"
    taskid: 4b9c3d18-0eb9-4193-82e4-144f9cf2f714
    type: regular
    task:
      id: 4b9c3d18-0eb9-4193-82e4-144f9cf2f714
      version: -1
      name: Investigation Confidence Low
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "46"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.confidence
      value:
        simple: low
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2535
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "45":
    id: "45"
    taskid: 369b4d28-ffb1-40f8-88cf-dd311fda4b65
    type: regular
    task:
      id: 369b4d28-ffb1-40f8-88cf-dd311fda4b65
      version: -1
      name: Analysis Response Recommended
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "34"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.response_recommended
      value:
        simple: "true"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "46":
    id: "46"
    taskid: 2804eb79-4c2d-4438-8d29-214a78cbcf92
    type: regular
    task:
      id: 2804eb79-4c2d-4438-8d29-214a78cbcf92
      version: -1
      name: Analysis Response NOT Recommended
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "34"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.response_recommended
      value:
        simple: "false"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 910,
          "y": 2720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "52":
    id: "52"
    taskid: 2fd935ad-6e86-4bfc-8078-7c81b439bbfd
    type: title
    task:
      id: 2fd935ad-6e86-4bfc-8078-7c81b439bbfd
      version: -1
      name: Evaluate Spread Level
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "71"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1825
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "59":
    id: "59"
    taskid: 83d2afba-5835-433d-8516-ca98aa42357d
    type: title
    task:
      id: 83d2afba-5835-433d-8516-ca98aa42357d
      version: -1
      name: Preparation
      description: Clean Out Keys for the Investigation and Analysis
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "65"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "65":
    id: "65"
    taskid: fcca66b9-eaef-4535-b635-113800c02885
    type: playbook
    task:
      id: fcca66b9-eaef-4535-b635-113800c02885
      version: -1
      name: SOC Initialize Investigation Context
      description: Clean up the data context and prepare to perform the investigation.
      playbookId: 57fa5657-e48d-444e-88e1-aae2d61fe6ab
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      reset_keys:
        simple: Investigation,Analysis
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 480,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "66":
    id: "66"
    taskid: e6069e69-8290-4781-aa2b-5a843821676d
    type: playbook
    task:
      id: e6069e69-8290-4781-aa2b-5a843821676d
      version: -1
      name: SOC Endpoint Signal Characterization_V3
      description: "Purpose\nDetermine what type of endpoint behavior this is.\nThis
        is not attack vector.\nThis is behavioral class.\nCurrent Tasks:\n\nDefine
        Attack Vector\nIs Malware? \nIs Injection / Shellcode? \nDoes CGO CMD Exist?
        \nSet Endpoint Path "
      playbookId: d0f0cc7a-29d9-478f-867d-eccf2433e067
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      case_name:
        complex:
          root: issue
          accessor: name
          transformers:
          - operator: toLowerCase
      cgo_name:
        simple: ${issue.cgocmd}
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 480,
          "y": 745
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "67":
    id: "67"
    taskid: c1ec1fe9-6a9f-4704-a22c-768fabd25945
    type: playbook
    task:
      id: c1ec1fe9-6a9f-4704-a22c-768fabd25945
      version: -1
      name: SOC Endpoint Verdict Resolution
      description: "Purpose: Is the artifact malicious, suspicious, benign, or unknown?\n\nCurrent
        Tasks\nWhat is Current File Verdict \nCan We Get the Verdict\nWildFire Detonate
        \nDBot Score \nDoes DBot Think It’s Malicious? \nSet Verdict "
      playbookId: 0a473076-9811-4d85-8f15-71b662739783
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "68"
    scriptarguments:
      SHA256:
        simple: ${SOCFramework.Artifacts.File}
      verdict:
        simple: ${SOCFramework.Artifacts.Verdict}
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 0
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "68":
    id: "68"
    taskid: 7931e941-7495-4368-a91c-521cf74d9071
    type: condition
    task:
      id: 7931e941-7495-4368-a91c-521cf74d9071
      version: -1
      name: What is File Verdict
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      Malicious or Suspicious:
      - "69"
    separatecontext: false
    conditions:
    - label: Malicious or Suspicious
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: Investigation.findings
                accessor: verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: malicious
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1285
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "69":
    id: "69"
    taskid: bf19e707-75b4-455c-b713-3ccd9731a059
    type: title
    task:
      id: bf19e707-75b4-455c-b713-3ccd9731a059
      version: -1
      name: Investigate Case & Issues
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "70"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "70":
    id: "70"
    taskid: b339e58f-a64b-4030-8caf-cb98ce8dd6fe
    type: playbook
    task:
      id: b339e58f-a64b-4030-8caf-cb98ce8dd6fe
      version: -1
      name: SOC Endpoint Compromise Evaluation_V3
      description: |-
        It evaluates three signals:

        File verdict (malicious / suspicious / benign)

        Execution evidence (file SHA256 matches executed process hashes in the issue context)

        Behavioral indicators (MITRE tactics/techniques such as Persistence, Command & Control, Privilege Escalation, Process Injection)

        Outputs

        likely_compromised
        Malicious file executed or strong post-exploitation behavior observed.

        suspicious
        Malicious or suspicious activity present but no definitive execution or compromise proof.

        isolated_signal
        Single weak signal with no execution or strong behavioral indicators.

        no_evidence
        Benign verdict and no supporting compromise indicators.

        The playbook does not use case risk score or alert volume; it focuses strictly on endpoint-level forensic evidence.
      playbookId: 8311b321-3054-43fd-8952-44cce15841c4
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "52"
    scriptarguments:
      SHA256:
        simple: ${SOCFramework.Artifacts.File}
      cgo_sha256:
        simple: ${issue.initiatorsha256.[0]}
      host_high_issue_count:
        simple: "3"
      host_isolated_signal:
        simple: "40"
      host_likely_compromised:
        simple: "70"
      host_suspicious:
        simple: "40"
      initiator_sha256:
        simple: ${issue.initiatorsha256}
      verdict:
        simple: ${SOCFramework.Artifacts.Verdict}
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1640
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "71":
    id: "71"
    taskid: ae300369-1218-4032-9c7d-ac5837a06f8c
    type: playbook
    task:
      id: ae300369-1218-4032-9c7d-ac5837a06f8c
      version: -1
      name: SOC EndPoint Spread Evaluation_V3
      playbookId: 4a0174a0-76d3-438e-8d13-c3dd3dc4f0d1
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "17"
    scriptarguments:
      SHA256:
        simple: ${SOCFramework.Artifacts.File}
      case_host_count:
        simple: ${Investigation.findings.host_count}
      case_tactics:
        simple: ${parentIncidentFields.mitre_tactics_ids_and_names}
      case_user_count:
        simple: ${Investigation.findings.user_count}
      high_hash_count_per_case:
        simple: "3"
      high_host_count_per_case:
        simple: "3"
      limited_hash_count_per_case:
        simple: "2"
      limited_host_count_per_case:
        simple: "2"
      limited_user_count_per_case:
        simple: "2"
    separatecontext: false
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1995
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3100,
        "width": 1240,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: entity_id
  value:
    simple: ${SOCFramework.Artifacts.EndPointID}
  required: false
  description: Often Endpoint ID
  playbookInputQuery: null
- key: case_category
  value:
    simple: ${issue.categoryname}
  required: false
  description: ""
  playbookInputQuery: null
- key: entity_type
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: ""
  playbookInputQuery: null
- key: SHA256
  value:
    simple: ${SOCFramework.Artifacts.File}
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - entity_id
  - case_category
  - entity_type
  - SHA256
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - SOCFramework.Analysis.Story
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: SOCFramework.Analysis.Story
  description: What did Analysis Find?
  type: string
sourceplaybookid: SOC Data Analysis_V3
dirtyInputs: true
adopted: true
