Packs/soc-optimization-unified/Playbooks/SOC_Analysis_Evaluation_V3.yml
fromversion: 5.0.0
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 3.0.30
    packID: ""
    packName: SOC Framework Unified
    prevname: ""
    supportedModules: []
    toServerVersion: ""
dirtyInputs: true
id: SOC Analysis Evaluation_V3
inputSections:
- description: Generic group for inputs
  inputs:
  - case_score
  - compromise_level
  - verdict
  - confidence
  - response_recommended
  - case_category
  - primary_entity_type
  - primary_entity_id
  - spread_level
  - hash_prevalence_count
  - story
  - case_host_count
  - case_issue_count
  name: General (Inputs group)
inputs:
- description: ""
  key: case_score
  playbookInputQuery: null
  required: false
  value:
    simple: ${parentIncidentFields.predicted_score}
- description: ""
  key: compromise_level
  playbookInputQuery: null
  required: false
  value:
    simple: ${Investigation.findings.compromise_level]
- description: ""
  key: verdict
  playbookInputQuery: null
  required: false
  value:
    simple: ${Investigation.findings.verdict}
- description: ""
  key: confidence
  playbookInputQuery: null
  required: false
  value:
    simple: ${Investigation.findings.confidence}
- description: ""
  key: response_recommended
  playbookInputQuery: null
  required: false
  value:
    simple: ${Investigation.findings.response_recommended}
- description: ""
  key: case_category
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: CategoryType}
      root: ${SOCFramework.Artifacts
      transformers:
      - operator: toLowerCase
- description: ""
  key: primary_entity_type
  playbookInputQuery: null
  required: false
  value:
    simple: ${SOCFramework.Product.category}
- description: ""
  key: primary_entity_id
  playbookInputQuery: null
  required: false
  value:
    simple: ${SOCFramework.Artifacts.EndPointID}
- description: ""
  key: spread_level
  playbookInputQuery: null
  required: false
  value:
    simple: ${Investigation.findings.spread_level}
- description: ""
  key: hash_prevalence_count
  playbookInputQuery: null
  required: false
  value:
    simple: ${Core.AnalyticsPrevalence.Hash.[0].data.global_prevalence.value}
- description: ""
  key: story
  playbookInputQuery: null
  required: false
  value:
    simple: "Endpoint Analysis Summary\n\nA file with verdict \"${Investigation.findings.verdict}\"
      was observed in this case.\n\nThe endpoint compromise level has been assessed
      as \"${Investigation.findings.compromise_level}\", based on execution correlation
      and observed MITRE ATT&CK behavioral patterns.\n\nActivity scope:\n• Hosts involved:
      ${Investigation.findings.host_count}\n• Users involved: ${Investigation.findings.user_count}\n•
      Environmental hash prevalence: ${Investigation.findings.hash_prevalence_count}\n•
      Spread level: ${Investigation.findings.spread_level}\n\nInvestigation confidence
      is \"${Investigation.findings.confidence}\". \nResponse recommendation: ${Investigation.findings.response_recommended}."
- description: ""
  key: case_host_count
  playbookInputQuery: null
  required: false
  value:
    simple: ${Investigation.findings.host_count}
- description: ""
  key: case_issue_count
  playbookInputQuery: null
  required: false
  value:
    simple: ${Investigation.findings.issue_count}
name: SOC Analysis Evaluation_V3
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs:
  - parentIncidentContext.Analysis.incident_score
  - parentIncidentContext.Analysis.compromise_level
  - parentIncidentContext.Analysis.verdict
  - parentIncidentContext.Analysis.confidence
  - parentIncidentContext.Analysis.response_recommended
  - parentIncidentContext.Analysis.case_category
  - parentIncidentContext.Analysis.primary_entity_type
  - parentIncidentContext.Analysis.primary_entity_id
  - parentIncidentContext.Analysis.spread_level
  - parentIncidentContext.Analysis.hash_prevalence_count
  - parentIncidentContext.Analysis.story
outputs:
- contextPath: parentIncidentContext.Analysis.incident_score
  type: string
- contextPath: parentIncidentContext.Analysis.compromise_level
  type: unknown
- contextPath: parentIncidentContext.Analysis.verdict
  type: unknown
- contextPath: parentIncidentContext.Analysis.confidence
  type: unknown
- contextPath: parentIncidentContext.Analysis.response_recommended
  type: unknown
- contextPath: parentIncidentContext.Analysis.case_category
  type: unknown
- contextPath: parentIncidentContext.Analysis.primary_entity_type
  type: unknown
- contextPath: parentIncidentContext.Analysis.primary_entity_id
  type: unknown
- contextPath: parentIncidentContext.Analysis.spread_level
  type: unknown
- contextPath: parentIncidentContext.Analysis.hash_prevalence_count
  type: unknown
- contextPath: parentIncidentContext.Analysis.story
  type: unknown
sourceplaybookid: SOC Data Analysis_V3
starttaskid: "0"
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7e6a701e-667b-4a70-8a74-14564da75fc7
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 7e6a701e-667b-4a70-8a74-14564da75fc7
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 50,
          "y": 50
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6944e944-2ade-4f6d-b6e0-0f6b8e2c3253
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 6944e944-2ade-4f6d-b6e0-0f6b8e2c3253
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2255
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.incident_score
      value:
        simple: ${inputs.case_score}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 4785b0d7-1d5e-46c5-ac0f-fb2068dff7aa
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Case Risk Score
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 4785b0d7-1d5e-46c5-ac0f-fb2068dff7aa
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 220
        }
      }
  "32":
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "35"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.compromise_level
      value:
        simple: ${inputs.compromise_level}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 70bb5690-7d22-4b90-9db6-5ea5b648fa19
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Compromise Suspicious
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 70bb5690-7d22-4b90-9db6-5ea5b648fa19
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 405
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.verdict
      value:
        simple: ${inputs.verdict}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: d728a61c-7878-4595-96ff-4f232562b11f
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Verdict
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: d728a61c-7878-4595-96ff-4f232562b11f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 590
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "37"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.confidence
      value:
        simple: ${inputs.confidence}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 4b196648-dc8d-42be-919c-389ebfb9f200
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Confidence
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 4b196648-dc8d-42be-919c-389ebfb9f200
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 775
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: parentIncidentContext.Analysis.response_recommended
      value:
        simple: ${inputs.response_recommended}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 4fb186c7-0239-417c-8d78-1e758940a00c
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Response Recommendation
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 4fb186c7-0239-417c-8d78-1e758940a00c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 960
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.case_category
      value:
        simple: ${inputs.case_category}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 5b48fa18-6d81-467c-83e5-3c0982ec5cc1
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Case Category
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 5b48fa18-6d81-467c-83e5-3c0982ec5cc1
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1145
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.primary_entity_type
      value:
        simple: ${inputs.primary_entity_type}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: d5f28fc2-d810-4113-9f1e-073ff60df0c3
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Primary Entity Type
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: d5f28fc2-d810-4113-9f1e-073ff60df0c3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1330
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "41"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.primary_entity_id
      value:
        simple: ${inputs.primary_entity_id}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 78a888ad-967f-4b92-a8ec-09c9f9fda1c2
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Primary Entity  ID
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 78a888ad-967f-4b92-a8ec-09c9f9fda1c2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1515
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.spread_level
      value:
        simple: ${inputs.spread_level}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 4297d1f6-862f-4fa6-bcfb-a0d33a48eb3e
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Spread Level
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 4297d1f6-862f-4fa6-bcfb-a0d33a48eb3e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1700
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "43"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.hash_prevalence_count
      value:
        simple: ${inputs.hash_prevalence_count}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 3b60023e-fbc2-40ac-bfe7-6cb3f34133ea
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Hash Prevalence Count
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 3b60023e-fbc2-40ac-bfe7-6cb3f34133ea
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1885
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Analysis.story
      value:
        simple: ${inputs.story}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      id: 4d6586b8-afbd-4b43-acd7-4bb47c0738ff
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Set Story
      playbooktaskmissingcomponent: null
      script: SetAndHandleEmpty
      type: regular
      version: -1
    taskid: 4d6586b8-afbd-4b43-acd7-4bb47c0738ff
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2070
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2265,
        "width": 380,
        "x": 50,
        "y": 50
      }
    }
  }
