Packs/soc-optimization-unified/Playbooks/SOC_Containment_V3.yml
fromversion: 5.0.0
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 3.1.3
    packID: ""
    packName: SOC Framework Unified
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: |-
  Limit the damage, stop the attacker’s ability to continue harmful activity, and prevent the alert from spreading while preserving evidence and keeping essential business operations running.

  What this phase includes:

  Isolating affected systems, users, networks, or applications to prevent lateral movement or continued exploitation.

  Applying short-term tactical controls (e.g., block IPs, disable accounts, quarantine hosts, isolate network segments).

  Implementing longer-term containment strategies where immediate eradication is not feasible (e.g., temporary config changes, firewall rules, forced MFA resets).

  Capturing forensic data before making changes that would alter volatile evidence (memory, network traffic, logs, etc.).

  Ensuring containment actions do not disrupt critical business processes unless absolutely necessary.

  Coordinating with stakeholders to select the right containment strategy (e.g., monitor, disconnect, shutdown, or redirect).

  Outcome:
  The alert is stabilized, the attacker’s ability to cause further harm is limited, and the environment is safe enough to begin eradication and recovery without losing essential evidence.
dirtyInputs: true
id: 'SOC Containment_V3'
inputSections:
- description: Generic group for inputs
  inputs:
  - ProductCategory
  - ExecutionBranch
  name: General (Inputs group)
inputs:
- description: 'Get the Product Category '
  key: ProductCategory
  playbookInputQuery: null
  required: false
  value:
    simple: ${SOCFramework.Product.category}
- description: ""
  key: ExecutionBranch
  playbookInputQuery: null
  required: false
  value:
    simple: ${lists.SOCExecutionList_V3}
name: SOC Containment_V3
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs: []
outputs: []
sourceplaybookid: SOC Containment_V3
starttaskid: "0"
tags:
- SOC
- SOC_Framework_Unified
- Containment
- NIST 800-61
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1250,
          "y": -100
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 0
      wait: 1
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      ShadowMode:
        simple: SOCFramework.shadow_mode
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Primary owners: Alert responders, automation, endpoint/network teams.

        Analyst role: May initiate or recommend containment actions (isolate host, disable account, block IP), often via playbook automation or escalation.
      id: 0663ed94-0870-46de-9b69-b7b89f98aecd
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Data Containment_V3
      playbookId: SOC Data Containment_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 0663ed94-0870-46de-9b69-b7b89f98aecd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1145,
          "y": 590
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: a2786a59-ca22-439f-8b0e-95768261ab21
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Email Containment_V3
      playbookId: SOC Email Containment_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: a2786a59-ca22-439f-8b0e-95768261ab21
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2025,
          "y": 590
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      ShadowMode:
        simple: SOCFramework.shadow_mode
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Primary owners: Alert responders, automation, endpoint/network teams.

        Analyst role: May initiate or recommend containment actions (isolate host, disable account, block IP), often via playbook automation or escalation.
      id: 9ba85669-25b5-4ecd-903a-93c19eb1715b
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC SaaS Containment_V3
      playbookId: SOC SaaS Containment_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 9ba85669-25b5-4ecd-903a-93c19eb1715b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 590
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 8b26a6cf-2770-48b7-8e1e-c82c86e12557
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Workload Containment_V3
      playbookId: SOC Workload Containment_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 8b26a6cf-2770-48b7-8e1e-c82c86e12557
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 590
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 65f28176-2b84-4727-961b-54aaae7a2dd7
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 65f28176-2b84-4727-961b-54aaae7a2dd7
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1595,
          "y": 775
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: Email
      label: Email
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: Endpoint
      label: Endpoint
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: Identity
      label: Identity
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: Data
      label: Data
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: Network
      label: Network
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: SaaS
      label: Cloud SaaS
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.ProductCategory
          operator: isEqualString
          right:
            value:
              simple: Workload
      label: Cloud Workload
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      Cloud SaaS:
      - "18"
      Cloud Workload:
      - "19"
      Data:
      - "15"
      Email:
      - "14"
      Endpoint:
      - "16"
      Identity:
      - "20"
      Network:
      - "17"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f9c4e418-5629-4e5b-b368-9e1ff70a4d10
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Product Category?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: f9c4e418-5629-4e5b-b368-9e1ff70a4d10
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1257.5,
          "y": 220
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        simple: "False"
      ClearUserSessions:
        simple: "True"
      FeaturedAD:
        simple: "False"
      FeaturedUser:
        simple: "False"
      IAMUserDomain:
        complex:
          accessor: domain
          filters:
          - - left:
                iscontext: true
                value:
                  simple: issue
              operator: containsGeneral
              right:
                value:
                  simple: '@'
          root: Issue
          transformers:
          - args:
              error_if_no_match: {}
              ignore_case: {}
              multi_line: {}
              period_matches_newline: {}
              regex:
                value:
                  simple: ^([^@]+)
              unpack_matches: {}
            operator: RegexExtractAll
      ShadowMode:
        simple: SOCFramework.shadow_mode
      UserContainment:
        simple: "True"
      Username:
        simple: ${issue.username}
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: "This playbook handles the main containment actions available with
        Cortex XSIAM, including the following sub-playbooks:  \n* Containment Plan
        - Isolate endpoint\n * Containment Plan - Disable account\n* Containment Plan
        - Quarantine file\n* Containment Plan - Block indicators\n* Containment Plan
        - Clear user session (currently, the playbook supports only Okta)\n\nNote:
        The playbook inputs enable manipulating the execution flow. Read the input
        descriptions for details."
      id: c2fbd89c-6b97-49e2-b4ae-5f9b4fffcec6
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Identity Containment_V3
      playbookId: SOC Identity Containment_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: c2fbd89c-6b97-49e2-b4ae-5f9b4fffcec6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2925,
          "y": 590
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    scriptarguments:
      AutoContainment:
        simple: "False"
      CaseScore:
        simple: ${Analysis.incident_score}
      CompromiseLevel:
        complex:
          accessor: compromise_level}
          root: ${Analysis
          transformers:
          - operator: toLowerCase
      Confidence:
        complex:
          accessor: confidence}
          root: ${Analysis
          transformers:
          - operator: toLowerCase
      ExecutionConfirmed:
        complex:
          accessor: compromise_decision}
          root: ${Investigation.findings
          transformers:
          - operator: toLowerCase
      FeaturedHost:
        simple: "False"
      FileRemediation:
        simple: Quarantine
      ShadowMode:
        simple: "False"
      SourceBrand:
        simple: ${SOCFramework.Product.response}
      Verdict:
        complex:
          accessor: verdict}
          root: ${Analysis
          transformers:
          - operator: toLowerCase
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Primary owners: Alert responders, automation, endpoint/network teams.

        Analyst role: May initiate or recommend containment actions (isolate host, disable account, block IP), often via playbook automation or escalation.
      id: 0eeeb472-55b3-49dc-875f-89eebf72d33b
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Endpoint Containment_V3
      playbookId: SOC Endpoint Containment_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 0eeeb472-55b3-49dc-875f-89eebf72d33b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2475,
          "y": 590
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Primary owners: Alert responders, automation, endpoint/network teams.

        Analyst role: May initiate or recommend containment actions (isolate host, disable account, block IP), often via playbook automation or escalation.
      id: 2e54d1f4-9515-4f99-a815-0030c6b2799c
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SOC Network Containment_V3
      playbookId: SOC Network Containment_V3
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 2e54d1f4-9515-4f99-a815-0030c6b2799c
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3375,
          "y": 590
        }
      }
  "14":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Email Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Email Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      Custom:
      - "22"
      Default:
      - "2"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d86f9961-8748-4ada-a6ea-fbc465ca239b
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Email Containment Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: d86f9961-8748-4ada-a6ea-fbc465ca239b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1687.5,
          "y": 405
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Data Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Data Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bea5ec66-6bc4-4d50-b53a-630f4942eb1c
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Data Containment Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: bea5ec66-6bc4-4d50-b53a-630f4942eb1c
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1032.5,
          "y": 405
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Endpoint Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Endpoint Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "11"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: bfa559df-b0f4-4744-99da-a78ded4ffd81
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Endpoint Containment Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: bfa559df-b0f4-4744-99da-a78ded4ffd81
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2362.5,
          "y": 405
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Network Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Network Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: a06f2bee-8b17-4710-af3f-17e8b48f20a7
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Network Containment Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: a06f2bee-8b17-4710-af3f-17e8b48f20a7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3262.5,
          "y": 405
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC SaaS Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC SaaS Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "6"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8c74e1e1-fe1c-4572-9ebf-5608a6450fb2
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: SaaS Containment Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 8c74e1e1-fe1c-4572-9ebf-5608a6450fb2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 405
        }
      }
  "19":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Workload Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Workload Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      Default:
      - "7"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c44e25f5-eea2-41bf-93ca-e8a97a3b6e86
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Workload Containment Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: c44e25f5-eea2-41bf-93ca-e8a97a3b6e86
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 405
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Identity Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: default
      label: Default
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - args:
                    field:
                      value:
                        simple: SOC Identity Containment_V3
                  operator: getField
                - args:
                    field:
                      value:
                        simple: execute_branch
                  operator: getField
          operator: isEqualString
          right:
            value:
              simple: custom
      label: Custom
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f4dc5700-dd72-4a7d-bd48-3197f138f8d2
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Identity Containment Execution Branch
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: f4dc5700-dd72-4a7d-bd48-3197f138f8d2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2812.5,
          "y": 405
        }
      }
  "21":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${Analysis.response_recommended}
          operator: isTrue
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 397dbcbf-92af-4c92-a4b5-a19df7425484
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Analysis Recommended an Action
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 397dbcbf-92af-4c92-a4b5-a19df7425484
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1250,
          "y": 30
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7e6cdde3-d33e-4a52-af1c-d50541fd4b6b
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Example of a Custom Branch
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 7e6cdde3-d33e-4a52-af1c-d50541fd4b6b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1595,
          "y": 597.5
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "9_16_Endpoint": 0.9,
      "9_17_Network": 0.3,
      "9_20_Identity": 0.9
    },
    "paper": {
      "dimensions": {
        "height": 935,
        "width": 3705,
        "x": 50,
        "y": -100
      }
    }
  }
