Packs/soc-optimization-unified/Playbooks/SOC_Eradication.yml
id: SOC Eradication_V3
version: 8
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization
    _packName: SOC Framework Unified
    itemVersion: 2.1.19
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Eradication_V3
description: |-
  Remove the root cause of the alert, eliminate the attacker’s foothold, and ensure no additional malicious components remain in the environment.

  What this phase includes:

  Identifying and removing malware, malicious code, unauthorized user accounts, persistence mechanisms, and compromised artifacts.

  Disabling or removing compromised services, processes, or software.

  Applying patches, hotfixes, configuration changes, or control improvements that eliminate the vulnerability or weakness exploited.

  Hardening systems to prevent reinfection (e.g., secure configuration, MFA enforcement, disabling unnecessary services).

  Validating that no traces of the attacker’s presence remain (malware scans, script-based checks, log analysis).

  Outcome:
  The environment is clean, the attack vector is neutralized, and systems are prepared for restoration and safe reintroduction into production.
tags:
- SOC
- SOC_Framework_Unified
- NIST 800-61
- Eradication
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
    type: start
    task:
      id: 2d9b464e-b61d-4ff1-8425-1dec11c5d731
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "9"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1175,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "1":
    id: "1"
    taskid: c967b414-b9d5-484f-8f2a-ca7b6a89605f
    type: playbook
    task:
      id: c967b414-b9d5-484f-8f2a-ca7b6a89605f
      version: -1
      name: SOC Data Eradication_V3
      playbookName: SOC Data Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: 092a1375-c25a-45bb-8bf9-ab5184bbb6a0
    type: playbook
    task:
      id: 092a1375-c25a-45bb-8bf9-ab5184bbb6a0
      version: -1
      name: SOC Email Eradication_V3
      playbookName: SOC Email Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 612.5,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: f9783e26-0b62-4b32-8789-d9dfda18f227
    type: playbook
    task:
      id: f9783e26-0b62-4b32-8789-d9dfda18f227
      version: -1
      name: SOC EndPoint Eradication_V3
      playbookName: SOC EndPoint Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1062.5,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "4":
    id: "4"
    taskid: 61cdb2a0-1b19-4dbf-8f6c-891b5bd77328
    type: playbook
    task:
      id: 61cdb2a0-1b19-4dbf-8f6c-891b5bd77328
      version: -1
      name: SOC Identity Eradication_V3
      playbookName: SOC Identity Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1512.5,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "5":
    id: "5"
    taskid: e8ef2e8c-0829-4068-84ad-7621843a6925
    type: playbook
    task:
      id: e8ef2e8c-0829-4068-84ad-7621843a6925
      version: -1
      name: SOC Network Eradication_V3
      playbookName: SOC Network Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1962.5,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: f938f343-8542-44c0-8400-06efc699913f
    type: playbook
    task:
      id: f938f343-8542-44c0-8400-06efc699913f
      version: -1
      name: SOC SaaS Eradication_V3
      playbookName: SOC SaaS Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2412.5,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: da3a7549-7dff-43c5-819e-0c6fdda9e224
    type: playbook
    task:
      id: da3a7549-7dff-43c5-819e-0c6fdda9e224
      version: -1
      name: SOC Workload Eradication_V3
      playbookName: SOC Workload Eradication_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "8"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2862.5,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: befba2d4-ec6a-4f2a-9ac0-efc5ab4bea3e
    type: title
    task:
      id: befba2d4-ec6a-4f2a-9ac0-efc5ab4bea3e
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1287.5,
          "y": 775
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 58ddef46-fd19-436e-99cb-d4a4e2389bbf
    type: condition
    task:
      id: 58ddef46-fd19-436e-99cb-d4a4e2389bbf
      version: -1
      name: Product Category
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Data:
      - "12"
      Email:
      - "11"
      Endpoint:
      - "13"
      Identity:
      - "14"
      Network:
      - "15"
      SaaS:
      - "16"
      Workload:
      - "17"
    separatecontext: false
    conditions:
    - label: SaaS
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: SaaS
    - label: Workload
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Workload
    - label: Identity
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Identity
    - label: Network
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Network
    - label: Email
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Email
    - label: Endpoint
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Endpoint
    - label: Data
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: ${SOCFramework.Product.category}
            iscontext: true
          right:
            value:
              simple: Data
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1175,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "11":
    id: "11"
    taskid: 74b98d2e-1540-48dc-8b9b-e039d18c436d
    type: condition
    task:
      id: 74b98d2e-1540-48dc-8b9b-e039d18c436d
      version: -1
      name: Email Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "2"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Email Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Email Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 500,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: 127597aa-fd4d-4002-bb41-3925f8411103
    type: condition
    task:
      id: 127597aa-fd4d-4002-bb41-3925f8411103
      version: -1
      name: Data Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "1"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Data Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Data Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 50,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: d969afd6-754f-4653-959c-a042846f95f8
    type: condition
    task:
      id: d969afd6-754f-4653-959c-a042846f95f8
      version: -1
      name: Endpoint Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "3"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Endpoint Eradication
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Endpoint Eradication
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 950,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: 69578c09-375b-4ed1-b8ac-f8c7b3f57175
    type: condition
    task:
      id: 69578c09-375b-4ed1-b8ac-f8c7b3f57175
      version: -1
      name: Identity Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "4"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Identity Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Identity Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1400,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: fcd4c17f-9cc5-42cb-a21b-f637a1c1144e
    type: condition
    task:
      id: fcd4c17f-9cc5-42cb-a21b-f637a1c1144e
      version: -1
      name: Network Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "5"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Network Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Network Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1850,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 59ff66e2-351e-4fb8-9a36-d486b635a998
    type: condition
    task:
      id: 59ff66e2-351e-4fb8-9a36-d486b635a998
      version: -1
      name: SaaS Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "6"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC SaaS Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC SaaS Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2300,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: 702a8d9a-cee8-454c-93cc-97e0ef145a81
    type: condition
    task:
      id: 702a8d9a-cee8-454c-93cc-97e0ef145a81
      version: -1
      name: Workload Eradication Execution Branch
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent:
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "8"
      Default:
      - "7"
    separatecontext: false
    conditions:
    - label: Default
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Workload Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: default
    - label: Custom
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.ExecutionBranch
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: SOC Workload Eradication_V3
                - operator: getField
                  args:
                    field:
                      value:
                        simple: execute_branch
            iscontext: true
          right:
            value:
              simple: custom
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 2750,
          "y": 405
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {
      "9_13_Endpoint": 0.89,
      "9_14_Identity": 0.9,
      "9_15_Network": 0.79,
      "9_16_SaaS": 0.86
    },
    "paper": {
      "dimensions": {
        "height": 785,
        "width": 3192.5,
        "x": 50,
        "y": 50
      }
    }
  }
inputs:
- key: ProductCategory
  value:
    simple: ${SOCFramework.Product.category}
  required: false
  description: ""
  playbookInputQuery:
- key: ExecutionBranch
  value:
    simple: ${lists.SOCExecutionList_V3}
  required: false
  description: ""
  playbookInputQuery:
inputSections:
- inputs:
  - ProductCategory
  - ExecutionBranch
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs: []
  name: General (Outputs group)
  description: Generic group for outputs
outputs: []
sourceplaybookid: SOC Containment_V3
dirtyInputs: true
adopted: true
fromversion: 5.0.0
