Packs/soc-optimization-unified/Playbooks/SOC_Endpoint_Containment_V3.yml
fromversion: 5.0.0
adopted: true
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    isoverridable: false
    itemVersion: 3.1.3
    packID: ""
    packName: SOC Framework Unified
    prevname: ""
    supportedModules: []
    toServerVersion: ""
description: |-
  Primary owners: Alert responders, automation, endpoint/network teams.

  Analyst role: May initiate or recommend containment actions (isolate host, disable account, block IP), often via playbook automation or escalation.
dirtyInputs: true
id: 'SOC Endpoint Containment_V3'
inputSections:
- description: Generic group for inputs
  inputs:
  - AutoContainment
  - FileRemediation
  - FeaturedHost
  - Verdict
  - SourceBrand
  - Confidence
  - ExecutionConfirmed
  - CompromiseLevel
  - CaseScore
  - ShadowMode
  name: General (Inputs group)
inputs:
- description: |-
    Whether to execute containment plan (except isolation) automatically.
    The specific containment playbook inputs should also be set to 'True'.
  key: AutoContainment
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: "Choose 'Quarantine' or 'Delete'  to avoid file remediation conflicts.
    \nFor example, choosing 'Quarantine' ignores the 'Delete file' task under the
    eradication playbook and will execute only file quarantine."
  key: FileRemediation
  playbookInputQuery: null
  required: false
  value:
    simple: Quarantine
- description: Is this a Featured Host?
  key: FeaturedHost
  playbookInputQuery: null
  required: false
  value:
    simple: "False"
- description: File Verdict from Enrichment
  key: Verdict
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: verdict}
      root: ${Analysis
      transformers:
      - operator: toLowerCase
- description: This is the Source Brand for the Integration.  Set in the SOCProductCategoryMap_V3
    List.
  key: SourceBrand
  playbookInputQuery: null
  required: false
  value:
    simple: ${SOCFramework.Product.response}
- description: ""
  key: Confidence
  playbookInputQuery: null
  required: false
  value:
    simple: ${Analysis.confidence}
- description: ""
  key: ExecutionConfirmed
  playbookInputQuery: null
  required: false
  value:
    simple: ${Analysis.compromise_decision.[0]}
- description: ""
  key: CompromiseLevel
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: compromise_level}
      root: ${Analysis
      transformers:
      - operator: toLowerCase
- description: ""
  key: CaseScore
  playbookInputQuery: null
  required: false
  value:
    simple: ${Analysis.incident_score}
- description: ""
  key: ShadowMode
  playbookInputQuery: null
  required: false
  value:
    simple: ${SOCFramework.shadow_mode}
name: SOC Endpoint Containment_V3
outputSections:
- description: Generic group for outputs
  name: General (Outputs group)
  outputs:
  - Blocklist.Final
  - QuarantinedFilesFromEndpoints
  - Core.blocklist.added_hashes
  - Core.Isolation.endpoint_id
outputs:
- contextPath: Blocklist.Final
  description: The blocked accounts.
  type: unknown
- contextPath: QuarantinedFilesFromEndpoints
  description: The quarantined files from endpoint.
  type: unknown
- contextPath: Core.blocklist.added_hashes
  description: The file Hash that was added to the blocklist.
- contextPath: Core.Isolation.endpoint_id
  description: The isolated endpoint ID.
sourceplaybookid: Containment Plan
starttaskid: "0"
tags:
- SOC
- SOC_Framework_Unified
- Containment
- NIST 800-61
- EndPoint
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "147"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8b859cdc-d653-40d8-88b5-856b497221a5
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: ""
      playbooktaskmissingcomponent: null
      version: -1
    taskid: 8b859cdc-d653-40d8-88b5-856b497221a5
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 50
        }
      }
  "48":
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "172"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 8045b57e-2682-498b-a1a2-a0d9834b52a2
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Immediate Isolation
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 8045b57e-2682-498b-a1a2-a0d9834b52a2
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 910,
          "y": 745
        }
      }
  "50":
    continueonerrortype: ""
    id: "50"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1cc8a082-9506-43d3-86ed-50836d2be721
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Quarantine File
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 1cc8a082-9506-43d3-86ed-50836d2be721
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 367.5,
          "y": 390
        }
      }
  "147":
    continueonerrortype: ""
    id: "147"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "50"
      - "184"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2650e088-8043-49d8-8db8-4d7e66d31ce9
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Prepare
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 2650e088-8043-49d8-8db8-4d7e66d31ce9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 582.5,
          "y": 220
        }
      }
  "148":
    continueonerrortype: ""
    id: "148"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 48ad472b-5301-4524-899a-41e29d38151d
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Done
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 48ad472b-5301-4524-899a-41e29d38151d
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 2365
        }
      }
  "171":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Verdict
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: malicious
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.Verdict
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: suspicious
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: high
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: medium
      label: Potentially Contain
    continueonerrortype: ""
    id: "171"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "148"
      Potentially Contain:
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7089d969-7dfa-45b2-9ef6-6cb4efd4d61f
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Should we Contain (Verdict + Confidence)?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 7089d969-7dfa-45b2-9ef6-6cb4efd4d61f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 797.5,
          "y": 560
        }
      }
  "172":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Verdict
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: malicious
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: high
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.ExecutionConfirmed
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: malicious_and_executed
      label: Isolate Now
    continueonerrortype: ""
    id: "172"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "174"
      Isolate Now:
      - "173"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 315caf83-ff56-4690-8f3d-fd69dc886af1
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Should This Be Isolated Immediately?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 315caf83-ff56-4690-8f3d-fd69dc886af1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 910,
          "y": 915
        }
      }
  "173":
    continueonerrortype: ""
    id: "173"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
      framework_actions_listname:
        simple: SOCFrameworkActions_V3
      universal_cmd:
        simple: soc-isolate-endpoint
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This is designed to use the List SOCFrameworkActions_V3 as a list
        of universal commands that match to specific vendors and artifacts.
      id: 7ac5c44d-80fa-4c60-a748-0e89f5a923e6
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Isolate EndPoint - Universal Cmd
      playbookId: SOCUniversalCommand
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 7ac5c44d-80fa-4c60-a748-0e89f5a923e6
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1882.5,
          "y": 2180
        }
      }
  "174":
    continueonerrortype: ""
    id: "174"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "175"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: f3bdafbd-f638-4fd7-8a33-f09a43af388c
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Isolate (High Confidence Compromise)
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: f3bdafbd-f638-4fd7-8a33-f09a43af388c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1100
        }
      }
  "175":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.CompromiseLevel
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: likely_compromised
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: high
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: medium
      label: Isolate
    continueonerrortype: ""
    id: "175"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "177"
      Isolate:
      - "176"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1bf1230a-4efc-4b7c-b398-deddc4cc105e
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Isolate (high confidence compromise)?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 1bf1230a-4efc-4b7c-b398-deddc4cc105e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1270
        }
      }
  "176":
    continueonerrortype: ""
    id: "176"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
      framework_actions_listname:
        simple: SOCFrameworkActions_V3
      universal_cmd:
        simple: soc-isolate-endpoint
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This is designed to use the List SOCFrameworkActions_V3 as a list
        of universal commands that match to specific vendors and artifacts.
      id: 66125192-23f6-4742-b0ad-041efdf086bd
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Isolate EndPoint - Universal Cmd
      playbookId: SOCUniversalCommand
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 66125192-23f6-4742-b0ad-041efdf086bd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 2180
        }
      }
  "177":
    continueonerrortype: ""
    id: "177"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "178"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 803d08f5-8bcf-45e7-8885-78d6b4b06645
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Escalate Containment
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: 803d08f5-8bcf-45e7-8885-78d6b4b06645
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1455
        }
      }
  "178":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
          operator: greaterThanOrEqual
          right:
            value:
              simple: "70"
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: high
        - left:
            iscontext: true
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: medium
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.CompromiseLevel
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: not_compromised
      label: Isolate
    continueonerrortype: ""
    id: "178"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "180"
      Isolate:
      - "179"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eddf5636-2d53-48cb-9ef6-caa8e7e0cad0
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Escalate containment due to blast radius?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: eddf5636-2d53-48cb-9ef6-caa8e7e0cad0
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1625
        }
      }
  "179":
    continueonerrortype: ""
    id: "179"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
      framework_actions_listname:
        simple: SOCFrameworkActions_V3
      universal_cmd:
        simple: soc-isolate-endpoint
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This is designed to use the List SOCFrameworkActions_V3 as a list
        of universal commands that match to specific vendors and artifacts.
      id: 25bd03ce-1f42-4cd7-b977-ee5d35d06585
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Isolate EndPoint - Universal Cmd
      playbookId: SOCUniversalCommand
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 25bd03ce-1f42-4cd7-b977-ee5d35d06585
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2180
        }
      }
  "180":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: medium
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.CompromiseLevel
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: suspicious
      label: Isolate
    continueonerrortype: ""
    id: "180"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "182"
      Isolate:
      - "181"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0551bf7e-f219-4369-9d43-8f25a6e5f074
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Soft containment / monitor?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: 0551bf7e-f219-4369-9d43-8f25a6e5f074
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 270,
          "y": 1810
        }
      }
  "181":
    continueonerrortype: ""
    id: "181"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      ShadowMode:
        simple: ${inputs.ShadowMode}
      framework_actions_listname:
        simple: SOCFrameworkActions_V3
      universal_cmd:
        simple: soc-isolate-endpoint
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: This is designed to use the List SOCFrameworkActions_V3 as a list
        of universal commands that match to specific vendors and artifacts.
      id: 72619e49-7951-4866-9672-686311626399
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Isolate EndPoint - Universal Cmd
      playbookId: SOCUniversalCommand
      playbooktaskmissingcomponent: null
      type: playbook
      version: -1
    taskid: 72619e49-7951-4866-9672-686311626399
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 2180
        }
      }
  "182":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Confidence
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: low
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.CompromiseLevel
                transformers:
                - operator: toLowerCase
          operator: isEqualString
          right:
            value:
              simple: not_compromised
      label: No Containment
    continueonerrortype: ""
    id: "182"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "148"
      No Containment:
      - "183"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: b810b967-a2e1-46d5-a23a-236ff88632f6
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: No containment?
      playbooktaskmissingcomponent: null
      type: condition
      version: -1
    taskid: b810b967-a2e1-46d5-a23a-236ff88632f6
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1995
        }
      }
  "183":
    continueonerror: true
    continueonerrortype: ""
    id: "183"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "148"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: 'No Containment: Low confidence and No Compromise detected.'
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: afacaf73-800e-49f3-966a-fb867c4a4367
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Print No Containment Message
      playbooktaskmissingcomponent: null
      script: Print
      type: regular
      version: -1
    taskid: afacaf73-800e-49f3-966a-fb867c4a4367
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 2180
        }
      }
  "184":
    continueonerrortype: ""
    id: "184"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "171"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d8369b56-d30c-4849-ba6b-be5f853a3cba
      iscommand: false
      istaskmissingcomponenterrordismissed: false
      name: Isolate EndPoint
      playbooktaskmissingcomponent: null
      type: title
      version: -1
    taskid: d8369b56-d30c-4849-ba6b-be5f853a3cba
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 797.5,
          "y": 390
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "172_173_Isolate Now": 0.14
    },
    "paper": {
      "dimensions": {
        "height": 2375,
        "width": 2212.5,
        "x": 50,
        "y": 50
      }
    }
  }
