Packs/soc-optimization-unified/Playbooks/SOCUniversalCommand.yml
id: SOCUniversalCommand
fromversion: 5.0.0
version: 23
fromVersion: 5.0.0
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.1.4
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOCUniversalCommand
description: This is designed to use the List SOCFrameworkActions_V3 as a list of
  universal commands that match to specific vendors and artifacts.
tags:
- SOC
- SOC_Framework
- SOC_Framework_Unified
- Actions
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: f3eb8178-e23e-4292-8186-ab49bb200b0b
    type: start
    task:
      id: f3eb8178-e23e-4292-8186-ab49bb200b0b
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "6"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -320,
          "y": -700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "3":
    id: "3"
    taskid: 90ad1b2f-91bf-41c3-a1a5-30c1dbdd28ca
    type: regular
    task:
      id: 90ad1b2f-91bf-41c3-a1a5-30c1dbdd28ca
      version: -1
      name: Command Wrapper
      scriptName: SOCCommandWrapper
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "9"
      '#none#':
      - "10"
    scriptarguments:
      command:
        simple: ${SOCFramework.UniversalCommand.VendorCmd}
      inline_args:
        simple: ${SOCFramework.UniversalCommand.VendorArgs}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 480,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "6":
    id: "6"
    taskid: dba619f6-c5f1-4e50-9c36-70fbfe2eb284
    type: regular
    task:
      id: dba619f6-c5f1-4e50-9c36-70fbfe2eb284
      version: -1
      name: Set Universal Command
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "9"
      '#none#':
      - "14"
    scriptarguments:
      append:
        simple: "false"
      extend-context:
        simple: SOCFramework.UniversalCommand.UC
      force:
        simple: "true"
      key:
        simple: SOCFramework.UniversalCommand.UC
      value:
        simple: ${inputs.universal_cmd}
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": -320,
          "y": -550
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "7":
    id: "7"
    taskid: 056a6afe-578f-4a39-8d7f-e8acdd27b4eb
    type: regular
    task:
      id: 056a6afe-578f-4a39-8d7f-e8acdd27b4eb
      version: -1
      name: Set Universal Command
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "9"
      '#none#':
      - "8"
    scriptarguments:
      append:
        simple: "false"
      extend-context:
        simple: SOCFramework.UniversalCommand.UC
      force:
        simple: "true"
      key:
        simple: SOCFramework.UniversalCommand.VendorCmd
      value:
        complex:
          root: lists
          accessor: SOCFrameworkActions_V3
          transformers:
          - operator: getField
            args:
              field:
                value:
                  simple: ${SOCFramework.UniversalCommand.UC.[0]}
          - operator: getField
            args:
              field:
                value:
                  simple: responses
          - operator: getField
            args:
              field:
                value:
                  simple: ${SOCFramework.Product.response}
          - operator: getField
            args:
              field:
                value:
                  simple: command
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 277.5,
          "y": 450
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "8":
    id: "8"
    taskid: c2bfe76f-3f45-4adc-8268-e054c0576cd8
    type: regular
    task:
      id: c2bfe76f-3f45-4adc-8268-e054c0576cd8
      version: -1
      name: Set Universal Command Args
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#error#':
      - "9"
      '#none#':
      - "13"
    scriptarguments:
      append:
        simple: "false"
      extend-context:
        simple: SOCFramework.UniversalCommand.UC
      force:
        simple: "true"
      key:
        simple: SOCFramework.UniversalCommand.VendorArgs
      value:
        complex:
          root: lists
          accessor: SOCFrameworkActions_V3
          transformers:
          - operator: getField
            args:
              field:
                value:
                  simple: ${SOCFramework.UniversalCommand.UC.[0]}
          - operator: getField
            args:
              field:
                value:
                  simple: responses
          - operator: getField
            args:
              field:
                value:
                  simple: ${SOCFramework.Product.response}
          - operator: getField
            args:
              field:
                value:
                  simple: inline_args
    separatecontext: false
    continueonerror: true
    continueonerrortype: errorPath
    view: |-
      {
        "position": {
          "x": 480,
          "y": 590
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "9":
    id: "9"
    taskid: 9be7281e-9ddb-4e35-8eb5-98afb3bd055c
    type: playbook
    task:
      id: 9be7281e-9ddb-4e35-8eb5-98afb3bd055c
      version: -1
      name: Foundation - Error Handling_V3
      playbookName: Foundation - Error Handling_V3
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "10"
    separatecontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -770,
          "y": 1090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "10":
    id: "10"
    taskid: 8857f596-f3b2-4830-a0fd-512c668f4c91
    type: title
    task:
      id: 8857f596-f3b2-4830-a0fd-512c668f4c91
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 387.5,
          "y": 1330
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "12":
    id: "12"
    taskid: c8a5245f-4ab0-4e57-9526-2c91a51f58a6
    type: regular
    task:
      id: c8a5245f-4ab0-4e57-9526-2c91a51f58a6
      version: -1
      name: Print Command To War Room
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      value:
        simple: |-
          Shadow Mode: ${inputs.shadow_mode}
          Command: ${SOCFramework.UniversalCommand.VendorCmd}
          Args: ${SOCFramework.UniversalCommand.VendorArgs}
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 715,
          "y": 1145
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "13":
    id: "13"
    taskid: 5ab38983-4309-4bae-af39-6a11107f6695
    type: condition
    task:
      id: 5ab38983-4309-4bae-af39-6a11107f6695
      version: -1
      name: Shadow Mode or Full Run
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      Full Run:
      - "3"
      Shadow Mode:
      - "12"
    separatecontext: false
    conditions:
    - label: Shadow Mode
      condition:
      - - operator: isTrue
          left:
            value:
              complex:
                root: inputs.ShadowMode
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value: {}
    - label: Full Run
      condition:
      - - operator: isFalse
          left:
            value:
              complex:
                root: inputs.ShadowMode
                transformers:
                - operator: toLowerCase
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 775
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "14":
    id: "14"
    taskid: a29ee0ee-1d61-4314-9697-bd1918306bca
    type: condition
    task:
      id: a29ee0ee-1d61-4314-9697-bd1918306bca
      version: -1
      name: Does Universal Command Exist in List?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "15"
      "Yes":
      - "16"
    separatecontext: false
    conditions:
    - label: "Yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              complex:
                root: lists
                accessor: SOCFrameworkActions_V3
                transformers:
                - operator: Stringify
            iscontext: true
          right:
            value:
              simple: ${SOCFramework.UniversalCommand.UC.[0]}
            iscontext: true
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -70,
          "y": -400
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "15":
    id: "15"
    taskid: 588df8cc-001b-49aa-88f4-418ce557a3a7
    type: regular
    task:
      id: 588df8cc-001b-49aa-88f4-418ce557a3a7
      version: -1
      name: Error Universal Command Does Not Exist
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      value:
        simple: |-
          Command ${inputs.universal_cmd} does not exist in the List ${inputs.framework_actions_listname}.

          Example:
            "soc-isolate-endpoint": {
              "responses": {
                "Cortex Core - IR": {
                  "command": "core-isolate-endpoint",
                  "inline_args": {
                    "endpoint_id": "SOCFramework.Artifacts.EndPointID"
                  }
                }

          soc-isolate-endpoint: A system unique global command
          Cortex Core - IR: The Source Brand for the Vendor Integration.
          command: The vendor command from the integration.
          endpoint_id: Is the SOCFramework.Artifacts Key set in the Upon Trigger in the Normalize Task.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -580,
          "y": -250
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    formDisplay:
      headerbackgroundcolor: ""
      headerfontcolor: ""
      sender: ""
      bodybackgroundcolor: ""
      bodyfontcolor: ""
      submitbuttonbackgroundcolor: ""
      submitbuttonfontcolor: ""
      submittext: ""
      isexternalrtl: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "16":
    id: "16"
    taskid: 7d58d03d-59ae-4fa2-8f08-b2bfabff3c1c
    type: condition
    task:
      id: 7d58d03d-59ae-4fa2-8f08-b2bfabff3c1c
      version: -1
      name: Does Response Section in List Exist??
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "17"
      "yes":
      - "22"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              complex:
                root: lists
                accessor: SOCFrameworkActions_V3
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: ${SOCFramework.UniversalCommand.UC.[0]}
                - operator: Stringify
            iscontext: true
          right:
            value:
              simple: responses
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 20,
          "y": -190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "17":
    id: "17"
    taskid: d046da46-4e3c-4a80-bb83-9fa7d4a02f74
    type: regular
    task:
      id: d046da46-4e3c-4a80-bb83-9fa7d4a02f74
      version: -1
      name: Error Response Section Does Not Exist
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      value:
        simple: |-
          Command responses section does not exist in the List ${inputs.framework_actions_listname}.

          Example:
            "soc-isolate-endpoint": {
              "responses": {
                "Cortex Core - IR": {
                  "command": "core-isolate-endpoint",
                  "inline_args": {
                    "endpoint_id": "SOCFramework.Artifacts.EndPointID"
                  }
                }

          soc-isolate-endpoint: A system unique global command
          Cortex Core - IR: The Source Brand for the Vendor Integration.
          command: The vendor command from the integration.
          endpoint_id: Is the SOCFramework.Artifacts Key set in the Upon Trigger in the Normalize Task.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -580,
          "y": -75
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    formDisplay:
      headerbackgroundcolor: ""
      headerfontcolor: ""
      sender: ""
      bodybackgroundcolor: ""
      bodyfontcolor: ""
      submitbuttonbackgroundcolor: ""
      submitbuttonfontcolor: ""
      submittext: ""
      isexternalrtl: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: e8fea832-1cc3-4e11-af0d-6bd29c528b21
    type: regular
    task:
      id: e8fea832-1cc3-4e11-af0d-6bd29c528b21
      version: -1
      name: Error Vendor Command Does Not Exist
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      value:
        simple: |-
          Command does not exist in the List ${inputs.framework_actions_listname}.

          Example:
            "soc-isolate-endpoint": {
              "responses": {
                "Cortex Core - IR": {
                  "command": "core-isolate-endpoint",
                  "inline_args": {
                    "endpoint_id": "SOCFramework.Artifacts.EndPointID"
                  }
                }

          soc-isolate-endpoint: A system unique global command
          Cortex Core - IR: The Source Brand for the Vendor Integration.
          command: The vendor command from the integration.
          endpoint_id: Is the SOCFramework.Artifacts Key set in the Upon Trigger in the Normalize Task.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -580,
          "y": 160
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    formDisplay:
      headerbackgroundcolor: ""
      headerfontcolor: ""
      sender: ""
      bodybackgroundcolor: ""
      bodyfontcolor: ""
      submitbuttonbackgroundcolor: ""
      submitbuttonfontcolor: ""
      submittext: ""
      isexternalrtl: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: 092c4f22-e744-4b5f-95a9-aa62c366a9af
    type: regular
    task:
      id: 092c4f22-e744-4b5f-95a9-aa62c366a9af
      version: -1
      name: Error Vendor Args Does Not Exist
      description: Prints text to war room (Markdown supported)
      scriptName: Print
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "10"
    scriptarguments:
      value:
        simple: |-
          Command does not exist in the List ${inputs.framework_actions_listname}.

          Example:
            "soc-isolate-endpoint": {
              "responses": {
                "Cortex Core - IR": {
                  "command": "core-isolate-endpoint",
                  "inline_args": {
                    "endpoint_id": "SOCFramework.Artifacts.EndPointID"
                  }
                }

          soc-isolate-endpoint: A system unique global command
          Cortex Core - IR: The Source Brand for the Vendor Integration.
          command: The vendor command from the integration.
          endpoint_id: Is the SOCFramework.Artifacts Key set in the Upon Trigger in the Normalize Task.
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": -580,
          "y": 340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    formDisplay:
      headerbackgroundcolor: ""
      headerfontcolor: ""
      sender: ""
      bodybackgroundcolor: ""
      bodyfontcolor: ""
      submitbuttonbackgroundcolor: ""
      submitbuttonfontcolor: ""
      submittext: ""
      isexternalrtl: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: ed99a4b6-ddf7-462e-b2a8-51f23433d5f0
    type: condition
    task:
      id: ed99a4b6-ddf7-462e-b2a8-51f23433d5f0
      version: -1
      name: Does Vendor Cmd Exist in List?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "23"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              complex:
                root: lists
                accessor: SOCFrameworkActions_V3
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: ${SOCFramework.UniversalCommand.UC.[0]}
                - operator: getField
                  args:
                    field:
                      value:
                        simple: responses
                - operator: getField
                  args:
                    field:
                      value:
                        simple: ${SOCFramework.Product.response}
                - operator: Stringify
            iscontext: true
          right:
            value:
              simple: command
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 150,
          "y": -20
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: a31032c7-bb6f-4fc6-bf54-7e13a941112f
    type: condition
    task:
      id: a31032c7-bb6f-4fc6-bf54-7e13a941112f
      version: -1
      name: Does Vendor Args Exist in List?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "7"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: containsGeneral
          left:
            value:
              complex:
                root: lists
                accessor: SOCFrameworkActions_V3
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: ${SOCFramework.UniversalCommand.UC.[0]}
                - operator: getField
                  args:
                    field:
                      value:
                        simple: responses
                - operator: getField
                  args:
                    field:
                      value:
                        simple: ${SOCFramework.Product.response}
                - operator: Stringify
            iscontext: true
          right:
            value:
              simple: inline_args
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 230,
          "y": 190
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 2090,
        "width": 1865,
        "x": -770,
        "y": -700
      }
    }
  }
inputs:
- key: universal_cmd
  value:
    simple: soc-isolate-endpoint
  required: true
  description: ""
  playbookInputQuery: null
- key: framework_actions_listname
  value:
    simple: SOCFrameworkActions_V3
  required: true
  description: ""
  playbookInputQuery: null
- key: ShadowMode
  value:
    simple: "False"
  required: true
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - universal_cmd
  - framework_actions_listname
  - ShadowMode
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs: []
  name: General (Outputs group)
  description: Generic group for outputs
outputs: []
sourceplaybookid: SOCUniversalCommand
dirtyInputs: true
adopted: true
