Packs/soc-optimization-unified_ingest/Playbooks/SOC_Endpoint_Verdict_Resolution_V3.yml
id: SOC Endpoint Verdict Resolution_V3
version: 14
contentitemexportablefields:
  contentitemfields:
    packID: soc-optimization-unified
    packName: SOC Framework Unified
    itemVersion: 3.1.4
    fromServerVersion: 5.0.0
    toServerVersion: ""
    definitionid: ""
    prevname: ""
    isoverridable: false
    supportedModules: []
vcShouldKeepItemLegacyProdMachine: false
name: SOC Endpoint Verdict Resolution_V3
description: "Purpose: Is the artifact malicious, suspicious, benign, or unknown?\n\nCurrent
  Tasks\nWhat is Current File Verdict \nCan We Get the Verdict\nWildFire Detonate
  \nDBot Score \nDoes DBot Think It’s Malicious? \nSet Verdict "
tags:
- SOC
- SOC_Framework_Unified
- Detection & Analysis
- NIST 800-61
- EndPoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 27ca4564-aefc-483e-8598-fa04dbefbf2e
    type: start
    task:
      id: 27ca4564-aefc-483e-8598-fa04dbefbf2e
      version: -1
      name: ""
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "19"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 817.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "2":
    id: "2"
    taskid: eacb150f-a5d1-4b77-8945-e7f68a68424d
    type: title
    task:
      id: eacb150f-a5d1-4b77-8945-e7f68a68424d
      version: -1
      name: Done
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 830,
          "y": 1680
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "18":
    id: "18"
    taskid: 1f2777b4-95d9-4165-bb28-a2058dfb0f76
    type: playbook
    task:
      id: 1f2777b4-95d9-4165-bb28-a2058dfb0f76
      version: -1
      name: WildFire - Detonate file v2
      description: |-
        Detonate one or more files using the Wildfire v2 integration. This playbook
        returns relevant reports to the War Room and file reputations to the context data.
        The detonation supports the following file types -
        APK, JAR, DOC, DOCX, RTF, XLS, XLSX, PPT, PPTX, OOXML, PE32, PE, PDF, DMG, PKG, RAR, 7Z, JS, ELF, HTA, LNK, VBS, PS1, PERL, PYTHON, SHELL.

        Note: Base64 encoded files are currently not supported.
      playbookName: WildFire - Detonate file v2
      type: playbook
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      File:
        complex:
          root: inputs.SHA256
          transformers:
          - operator: uniq
      Interval:
        simple: "60"
      Timeout:
        simple: "480"
    separatecontext: true
    continueonerrortype: ""
    loop:
      iscommand: false
      exitCondition: ""
      wait: 1
      max: 100
    view: |-
      {
        "position": {
          "x": 817.5,
          "y": 745
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "19":
    id: "19"
    taskid: 7c3df4a3-1562-46ad-92e2-4696953f00da
    type: condition
    task:
      id: 7c3df4a3-1562-46ad-92e2-4696953f00da
      version: -1
      name: What is the Current File Verdict
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "47"
      Suspicious:
      - "21"
      benign:
      - "40"
      malicious:
      - "20"
      unknown:
      - "22"
    scriptarguments:
      key:
        simple: Investigation.findings.verdict
      value:
        simple: malicious
    separatecontext: false
    conditions:
    - label: malicious
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: malicious
    - label: suspicious
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: suspicious
    - label: benign
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: benign
    - label: unknown
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: inputs.verdict
                transformers:
                - operator: toLowerCase
            iscontext: true
          right:
            value:
              simple: unknown
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 817.5,
          "y": 220
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "20":
    id: "20"
    taskid: 88286b96-3bca-4b61-8359-e1ac95b90d0f
    type: title
    task:
      id: 88286b96-3bca-4b61-8359-e1ac95b90d0f
      version: -1
      name: Malicious File
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "35"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 200,
          "y": 830
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "21":
    id: "21"
    taskid: bcaabc3e-cf4a-4a4c-8fac-eae176d545a3
    type: title
    task:
      id: bcaabc3e-cf4a-4a4c-8fac-eae176d545a3
      version: -1
      name: Suspicious
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "47"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 317.5,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "22":
    id: "22"
    taskid: 2e769790-ec73-47ce-8b2a-1583f0ea7cdd
    type: title
    task:
      id: 2e769790-ec73-47ce-8b2a-1583f0ea7cdd
      version: -1
      name: Unknown
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "47"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1257.5,
          "y": 390
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "23":
    id: "23"
    taskid: 467fab7a-e59e-42c5-9a03-b59e295edd5a
    type: condition
    task:
      id: 467fab7a-e59e-42c5-9a03-b59e295edd5a
      version: -1
      name: Does DBot Think It's Malicious?
      type: condition
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#default#':
      - "2"
      Benign:
      - "65"
      Malicious:
      - "35"
      Suspicious:
      - "36"
      Unknown:
      - "39"
    separatecontext: false
    conditions:
    - label: Malicious
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: DBotAvgScore
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: DBotAvgScore.Indicator
                      iscontext: true
                    right:
                      value:
                        simple: inputs.SHA256
                      iscontext: true
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: Score
            iscontext: true
          right:
            value:
              simple: "3"
    - label: Suspicious
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: DBotAvgScore
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: DBotAvgScore.Indicator
                      iscontext: true
                    right:
                      value:
                        simple: inputs.SHA256
                      iscontext: true
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: Score
            iscontext: true
          right:
            value:
              simple: "2"
    - label: Benign
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: DBotAvgScore
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: DBotAvgScore.Indicator
                      iscontext: true
                    right:
                      value:
                        simple: inputs.SHA256
                      iscontext: true
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: Score
            iscontext: true
          right:
            value:
              simple: "1"
    - label: Unknown
      condition:
      - - operator: isEqualString
          left:
            value:
              complex:
                root: DBotAvgScore
                filters:
                - - operator: isEqualString
                    left:
                      value:
                        simple: DBotAvgScore.Indicator
                      iscontext: true
                    right:
                      value:
                        simple: inputs.SHA256
                      iscontext: true
                transformers:
                - operator: getField
                  args:
                    field:
                      value:
                        simple: Score
            iscontext: true
          right:
            value:
              simple: "0"
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 817.5,
          "y": 1025
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "25":
    id: "25"
    taskid: 18476c9f-e302-479f-812c-0ff30a09de78
    type: regular
    task:
      id: 18476c9f-e302-479f-812c-0ff30a09de78
      version: -1
      name: Get Dbot Indicator Score
      description: The script calculates the average DBot score for each indicator
        in the context.
      scriptName: DBotAverageScore
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "23"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 817.5,
          "y": 900
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "35":
    id: "35"
    taskid: 2d37c317-fbcc-47c3-93bf-f8872db22468
    type: regular
    task:
      id: 2d37c317-fbcc-47c3-93bf-f8872db22468
      version: -1
      name: Set Verdict Malicious
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.verdict
      value:
        simple: malicious
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 450,
          "y": 1200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "36":
    id: "36"
    taskid: bc349f0b-d8ec-4dd4-b6ea-578509e2b929
    type: regular
    task:
      id: bc349f0b-d8ec-4dd4-b6ea-578509e2b929
      version: -1
      name: Set Verdict Suspicious
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.verdict
      value:
        simple: suspicious
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1610,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "39":
    id: "39"
    taskid: 844144f5-b61a-45f0-8e9e-739511f2b43f
    type: regular
    task:
      id: 844144f5-b61a-45f0-8e9e-739511f2b43f
      version: -1
      name: Set Verdict Unknown
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.verdict
      value:
        simple: unknown
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 80,
          "y": 1410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "40":
    id: "40"
    taskid: 791f05cc-947e-4163-86ab-cc10f71b1978
    type: title
    task:
      id: 791f05cc-947e-4163-86ab-cc10f71b1978
      version: -1
      name: Benign
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "65"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1342.5,
          "y": 820
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "47":
    id: "47"
    taskid: 1e247678-4bf2-41a0-81b9-bda992f12bc7
    type: title
    task:
      id: 1e247678-4bf2-41a0-81b9-bda992f12bc7
      version: -1
      name: Can We Get the Verdict?
      type: title
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "18"
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 817.5,
          "y": 575
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
  "65":
    id: "65"
    taskid: 05b85087-43b9-4d28-94c9-8ad2c98db66b
    type: regular
    task:
      id: 05b85087-43b9-4d28-94c9-8ad2c98db66b
      version: -1
      name: Set Verdict Benign
      description: "Set a value in context under the key you entered. If no value
        is entered, the script doesn't do anything.\n\nThis automation runs using
        the default Limited User role, unless you explicitly change the permissions.\nFor
        more information, see the section about permissions here:\n- For Cortex XSOAR
        6 see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.x/Cortex-XSOAR-Playbook-Design-Guide/Automations
        \n- For Cortex XSOAR 8 Cloud see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8/Cortex-XSOAR-Cloud-Documentation/Create-a-script\n-
        For Cortex XSOAR 8.7 On-prem see https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/8.7/Cortex-XSOAR-On-prem-Documentation/Create-a-script"
      scriptName: SetAndHandleEmpty
      type: regular
      iscommand: false
      brand: ""
      playbooktaskmissingcomponent: null
      istaskmissingcomponenterrordismissed: false
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      append:
        simple: "false"
      force:
        simple: "true"
      key:
        simple: Investigation.findings.verdict
      value:
        simple: benign
    separatecontext: false
    continueonerrortype: ""
    view: |-
      {
        "position": {
          "x": 1230,
          "y": 1200
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    skipunavailable: false
    quietmode: 0
    isoversize: false
    isautoswitchedtoquietmode: false
system: true
view: |-
  {
    "linkLabelsPosition": {
      "19_21_Suspicious": 0.56
    },
    "paper": {
      "dimensions": {
        "height": 1690,
        "width": 1910,
        "x": 80,
        "y": 50
      }
    }
  }
inputs:
- key: SHA256
  value:
    simple: ${SOCFramework.Artifacts.File}
  required: false
  description: ""
  playbookInputQuery: null
- key: verdict
  value:
    simple: ${SOCFramework.Artifacts.Verdict}
  required: false
  description: ""
  playbookInputQuery: null
inputSections:
- inputs:
  - SHA256
  - verdict
  name: General (Inputs group)
  description: Generic group for inputs
outputSections:
- outputs:
  - Investigation.findings.verdict
  name: General (Outputs group)
  description: Generic group for outputs
outputs:
- contextPath: Investigation.findings.verdict
  description: What did Analysis Find?
  type: string
sourceplaybookid: SOC Data Analysis_V3
dirtyInputs: true
adopted: true
